Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

test: add broken closure case
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/html.expected/components/hello/index.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/template.marko
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: for loop closures
  .sizes.json
  packages/runtime-tags/src/dom/control-flow.ts
  packages/translator-tags/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected/components/comments.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/resume.expected.md
  packages/translator-tags/src/core/for.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Create grumpy-garlics-cough.md
  .changeset/grumpy-garlics-cough.md
Due: prettier --write, prettier --write --with-node-modules

Stale closure bug (#2240)
  .changeset/grumpy-garlics-cough.md
  .sizes.json
  packages/runtime-tags/src/dom/control-flow.ts
  packages/translator-tags/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected/components/comments.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/html.expected/components/hello/index.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/template.marko
  packages/translator-tags/src/__tests__/fixtures/for-event-handler/test.ts
  packages/translator-tags/src/core/for.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: precommit script tracks size snapshots
  .husky/pre-commit
  .sizes/comments.csr/entry.js
  .sizes/comments.ssr/entry.js
  .sizes/dom.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: allow mixing comments with attr tags
  packages/translator-default/src/tag/attribute-tag.js
  packages/translator-default/test/fixtures/at-tag-inside-if-tag/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/at-tag-inside-if-tag/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/perfect-schools-kneel.md
Due: prettier --write, prettier --write --with-node-modules

fix: allow mixing comments with attr tags (#2244)
  .changeset/perfect-schools-kneel.md
  packages/translator-default/src/tag/attribute-tag.js
  packages/translator-default/test/fixtures/at-tag-inside-if-tag/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/at-tag-inside-if-tag/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: misc compat improvments
  .changeset/ten-carpets-attend.md
  packages/compiler/index.d.ts
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/index.js
  packages/marko/docs/marko-5-upgrade.md
  packages/marko/package.json
  packages/marko/src/node-require/index.js
  packages/translator-default/index.d.ts
  packages/translator-default/src/index.js
  packages/translator-default/src/tag/macro-tag.js
  packages/translator-default/src/taglib/index.js
  packages/translator-interop/src/index.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: misc compat improvments (#2246)
  .changeset/ten-carpets-attend.md
  packages/compiler/index.d.ts
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/index.js
  packages/marko/docs/marko-5-upgrade.md
  packages/marko/package.json
  packages/marko/src/node-require/index.js
  packages/translator-default/index.d.ts
  packages/translator-default/src/index.js
  packages/translator-default/src/tag/macro-tag.js
  packages/translator-default/src/taglib/index.js
  packages/translator-interop/src/index.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: compat improvements
  .changeset/four-beers-build.md
  packages/marko/browser-refresh.js
  packages/marko/docs/marko-5-upgrade.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: compat improvements (#2248)
  .changeset/four-beers-build.md
  packages/marko/browser-refresh.js
  packages/marko/docs/marko-5-upgrade.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: allow lazy/pending hydration after browser has finished loading
  .changeset/thirty-lamps-notice.md
  packages/marko/src/node_modules/@internal/components-registry/index-browser.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: allow lazy/pending hydration after browser has finished loading (#2250)
  .changeset/thirty-lamps-notice.md
  packages/marko/src/node_modules/@internal/components-registry/index-browser.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: allow duplicate macros with a warning instead of an error
  .changeset/nice-eels-study.md
  .changeset/old-doors-nail.md
  .changeset/real-apes-doubt.md
  packages/babel-utils/src/diagnostics.js
  packages/babel-utils/src/tags.js
  packages/translator-default/src/taglib/core/parse-class.js
  packages/translator-default/test/fixtures/error-class-with-name/snapshots/generated-expected.diagnostics.txt
  packages/translator-default/test/fixtures/error-macro-duplicate/snapshots/cjs-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-duplicate/snapshots/generated-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-duplicate/snapshots/html-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-duplicate/snapshots/htmlProduction-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-duplicate/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-duplicate/snapshots/vdom-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-duplicate/snapshots/vdomProduction-error-expected.txt
  packages/translator-default/test/fixtures/warn-macro-duplicate/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/warn-macro-duplicate/snapshots/generated-expected.diagnostics.txt
  packages/translator-default/test/fixtures/warn-macro-duplicate/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/warn-macro-duplicate/snapshots/html-expected.js
  packages/translator-default/test/fixtures/warn-macro-duplicate/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/warn-macro-duplicate/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/warn-macro-duplicate/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/warn-macro-duplicate/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/warn-macro-duplicate/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ensure exports loaded when in node_modules folder
  .changeset/moody-spoons-sin.md
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(attr-tags): naive rendering, no conditionals
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/dom.expected/components/hello/index.js
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/html.expected/components/hello/index.js
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/ssr.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/at-tags/components/hello/index.marko
  packages/translator-tags/src/__tests__/fixtures/at-tags/test.ts
  packages/translator-tags/src/__tests__/fixtures/attr-class/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/attr-style/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/visitors/tag/attribute-tag.ts
  packages/translator-tags/src/visitors/tag/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: update tests
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/dom.expected/components/hello/index.js
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/ssr.expected.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: for loop by attribute support property string + fixes
  .sizes.json
  .sizes/comments.csr/entry.js
  .sizes/comments.ssr/entry.js
  .sizes/dom.js
  packages/runtime-tags/src/dom/control-flow.ts
  packages/translator-tags/src/__tests__/fixtures/for-by-string/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by-string/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by-string/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/for-by-string/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-by-string/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-by-string/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by-string/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by-string/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by-string/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by-string/template.marko
  packages/translator-tags/src/__tests__/fixtures/for-by-string/test.ts
  packages/translator-tags/src/core/for.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add popover attribute
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/three-students-refuse.md
Due: prettier --write, prettier --write --with-node-modules

chore: add popover attribute (#2261)
  .changeset/three-students-refuse.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: sourcemaps in for loops
  packages/marko/src/runtime/helpers/of-fallback.js
  packages/translator-default/src/index.js
  packages/translator-default/src/taglib/core/translate-for.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/html-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-repeated-longhand/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/at-tags-repeated-longhand/snapshots/html-expected.js
  packages/translator-default/test/fixtures/at-tags-repeated-longhand/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-repeated-longhand/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/at-tags-repeated-longhand/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/for-tag/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/for-tag/snapshots/html-expected.js
  packages/translator-default/test/fixtures/for-tag/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/for-tag/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/for-tag/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/macros/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/macros/snapshots/html-expected.js
  packages/translator-default/test/fixtures/macros/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/macros/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/macros/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/simple/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/simple/snapshots/html-expected.js
  packages/translator-default/test/fixtures/simple/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/simple/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/simple/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/slow-insects-sparkle.md
Due: prettier --write, prettier --write --with-node-modules

fix: code coverage in for-of loops (#2264)
  .changeset/slow-insects-sparkle.md
  packages/marko/src/runtime/helpers/of-fallback.js
  packages/translator-default/src/index.js
  packages/translator-default/src/taglib/core/translate-for.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/html-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-repeated-longhand/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/at-tags-repeated-longhand/snapshots/html-expected.js
  packages/translator-default/test/fixtures/at-tags-repeated-longhand/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-repeated-longhand/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/at-tags-repeated-longhand/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/for-tag/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/for-tag/snapshots/html-expected.js
  packages/translator-default/test/fixtures/for-tag/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/for-tag/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/for-tag/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/macros/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/macros/snapshots/html-expected.js
  packages/translator-default/test/fixtures/macros/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/macros/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/macros/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/simple/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/simple/snapshots/html-expected.js
  packages/translator-default/test/fixtures/simple/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/simple/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/simple/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Add open graph attributes to type defs
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Create curly-cameras-move.md
  .changeset/curly-cameras-move.md
Due: prettier --write, prettier --write --with-node-modules

fix: prefer .marko.js precompiled files when using load api
  packages/marko/src/node_modules/@internal/loader/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore(release): 4.28.5
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
