Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

refactor: use includes api to check for invalid attr name char
  packages/runtime-tags/src/html/attrs.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: improve ssr dynamic tag runtime
  packages/runtime-tags/src/html/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: improve class/style value helpers and add tests
  .sizes.json
  packages/runtime-tags/src/__tests__/common-helpers.test.ts
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/common/helpers.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: improve html attrs helpers and add tests
  .sizes.json
  packages/runtime-tags/src/__tests__/html-attrs.test.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/html/attrs.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: improve html content runtime and add tests
  packages/runtime-tags/src/__tests__/html-content.test.ts
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/html/content.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: avoid object assign for signal methods
  .sizes.json
  packages/runtime-tags/src/dom/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: use analyze shorthand where possible
  packages/translator-tags/src/core/const.ts
  packages/translator-tags/src/core/html-comment.ts
  packages/translator-tags/src/core/let.ts
  packages/translator-tags/src/visitors/function.ts
  packages/translator-tags/src/visitors/scriptlet.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: improve/simplify ssr escape logic
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/html/content.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add warnings for invalid runtimeId or multiple init calls
  packages/runtime-tags/src/dom/resume.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: initialize client scope with default properties
  .sizes.json
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/dom/scope.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: avoid unecessary analyze exit analysis
  packages/translator-tags/src/core/condition/else-if.ts
  packages/translator-tags/src/core/condition/else.ts
  packages/translator-tags/src/core/condition/if.ts
  packages/translator-tags/src/core/define.ts
  packages/translator-tags/src/core/for.ts
  packages/translator-tags/src/core/lifecycle.ts
  packages/translator-tags/src/visitors/tag/attribute-tag.ts
  packages/translator-tags/src/visitors/tag/custom-tag.ts
  packages/translator-tags/src/visitors/tag/dynamic-tag.ts
  packages/translator-tags/src/visitors/tag/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: simplify shared runtime helpers
  .sizes.json
  packages/runtime-tags/src/common/helpers.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: remove dom write helper, simplify dynamic html helper
  .sizes.json
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/dom/scope.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: cleanup dynamic tag runtime
  packages/runtime-tags/src/html/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: avoid mutating param in control flow runtime
  .sizes.json
  packages/runtime-tags/src/dom/control-flow.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf: improve html body content escaping
  .changeset/serious-phones-burn.md
  packages/marko/src/runtime/html/helpers/escape-script-placeholder.js
  packages/marko/src/runtime/html/helpers/escape-style-placeholder.js
  packages/marko/src/runtime/html/helpers/escape-xml.js
  packages/marko/test/render/fixtures/escape-script/expected.html
  packages/marko/test/render/fixtures/escape-style/expected.html
  packages/marko/test/render/fixtures/script-tag-entities/expected.html
  packages/translator-default/test/fixtures/placeholders/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/placeholders/snapshots/html-expected.js
  packages/translator-default/test/fixtures/placeholders/snapshots/htmlProduction-expected.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf: update xml escape helpers to be closer to Marko 5
  packages/runtime-tags/src/__tests__/html-content.test.ts
  packages/runtime-tags/src/html/content.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf: improve attr escape helper
  packages/runtime-tags/src/html/attrs.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid normalizing nullish values for script/style interpolation
  .changeset/rotten-months-cheat.md
  packages/marko/src/runtime/html/helpers/escape-script-placeholder.js
  packages/marko/src/runtime/html/helpers/escape-style-placeholder.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: hydration native tag no-update issue
  .changeset/grumpy-shirts-cross.md
Due: prettier --write, prettier --write --with-node-modules

fix
  packages/marko/docs/fastify.md
Due: prettier --write, prettier --write --with-node-modules

chore: linked the document about sending global data to browsers.
  packages/marko/docs/fastify.md
Due: prettier --write, prettier --write --with-node-modules

Update fastify.md
  packages/marko/docs/fastify.md
Due: prettier --write, prettier --write --with-node-modules

chore: made suggested change.
  packages/marko/docs/fastify.md
Due: prettier --write, prettier --write --with-node-modules

chore: update gh actions to format on release commits
  .github/workflows/ci.yml
  package.json
  packages/marko/docs/fastify.md
Due: prettier --write, fixpack, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
