Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

chore: switch to patch-package for @babel/types patching
  packages/compiler/babel-types.d.ts
  packages/compiler/scripts/types.js
  packages/compiler/scripts/types/babel-types.js
  patches/@babel+types+7.29.0.patch
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: make babel extra types more strict
  packages/compiler/tsconfig.json
  packages/runtime-class/tsconfig.json
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/util/tag-name-type.ts
  packages/runtime-tags/src/translator/visitors/function.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/tsconfig.json
  packages/runtime-tags/tsconfig.libs.json
  patches/@babel+types+7.29.0.patch
  tsconfig.build.json
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: support '${' in attributes
  .changeset/warm-clubs-divide.md
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/html.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/template.marko
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/test.ts
  packages/runtime-tags/src/translator/util/normalize-string-expression.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: optimise serialisation of static content
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/__snapshots__/dom.expected/tags/sections.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/__snapshots__/html.expected/tags/sections.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/tags/sections.marko
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/template.marko
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop/test.ts
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/translator/util/sections.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/silent-parrots-strive.md
Due: prettier --write, prettier --write --with-node-modules

feat: optimise input.content serialisation
  .changeset/strong-symbols-try.md
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-params/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-closure-with-function/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-only/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-only/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/input-missing-property/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/namespaced-tags/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/namespaced-tags/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-rest-input-with-attr-tags-deopt/__snapshots__/html.expected/tags/wrap.js
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-rest-input-with-attr-tags-deopt/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/static-content/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/static-content/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/static-content/__snapshots__/dom.expected/tags/inner.js
  packages/runtime-tags/src/__tests__/fixtures/static-content/__snapshots__/dom.expected/tags/outer.js
  packages/runtime-tags/src/__tests__/fixtures/static-content/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/static-content/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/static-content/__snapshots__/html.expected/tags/inner.js
  packages/runtime-tags/src/__tests__/fixtures/static-content/__snapshots__/html.expected/tags/outer.js
  packages/runtime-tags/src/__tests__/fixtures/static-content/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/static-content/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/static-content/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/static-content/tags/inner.marko
  packages/runtime-tags/src/__tests__/fixtures/static-content/tags/outer.marko
  packages/runtime-tags/src/__tests__/fixtures/static-content/template.marko
  packages/runtime-tags/src/__tests__/fixtures/static-content/test.ts
  packages/runtime-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: increase test coverage
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/__snapshots__/dom.expected/tags/inner.js
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/__snapshots__/dom.expected/tags/outer.js
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/__snapshots__/html.expected/tags/inner.js
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/__snapshots__/html.expected/tags/outer.js
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/tags/inner.marko
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/tags/outer.marko
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/template.marko
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: increase test coverage
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/__snapshots__/dom.expected/tags/sections.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/__snapshots__/html.expected/tags/sections.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/tags/sections.marko
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/template.marko
  packages/runtime-tags/src/__tests__/fixtures/conditional-dynamic-tag-in-loop-closure/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: address nit-pick comments
  packages/runtime-tags/src/__tests__/fixtures/content-with-state/test.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): skip runEffects for already-destroyed branch scopes
  .sizes.json
  .sizes/comments.csr/runtime.js
  .sizes/comments.ssr/runtime.js
  .sizes/counter.csr/runtime.js
  .sizes/counter.ssr/runtime.js
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/queue-destroyed-branch.test.ts
  packages/runtime-tags/src/dom/queue.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/cozy-ways-nail.md
Due: prettier --write, prettier --write --with-node-modules

chore: add explanatory comments
  packages/runtime-tags/src/dom/queue.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: test runner improvements
  .github/workflows/ci.yml
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-stateless-tags-to-class/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/utils/bundle.ts
  packages/runtime-tags/src/__tests__/utils/create-browser.ts
  packages/runtime-tags/src/__tests__/utils/import-with-context.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: upgrade deps
  package-lock.json
  package.json
  packages/runtime-class/test/async-stream/index.test.js
  packages/runtime-tags/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: move away from mocha-snap
  .mocharc.json
  package-lock.json
  package.json
  packages/runtime-class/AGENTS.md
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/html.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-value-with-dollar-brace/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/snap.ts
  tsconfig.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: attr tag local member expression closure
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/template.marko
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/test.ts
  packages/runtime-tags/src/translator/util/translate-attrs.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/hip-tables-teach.md
Due: prettier --write, prettier --write --with-node-modules

chore: update tests
  packages/runtime-tags/src/__tests__/fixtures/at-tags-dynamic-and-static/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-for-loop-param-closure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-for-loop-param-intersection-closure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/local-closure-script/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/dom.expected/template.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: attr tag local member expression closure (#3188)
  .changeset/hip-tables-teach.md
  packages/runtime-tags/src/__tests__/fixtures/at-tags-dynamic-and-static/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-for-loop-param-closure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-for-loop-param-intersection-closure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/template.marko
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-local-member-expression-closure/test.ts
  packages/runtime-tags/src/__tests__/fixtures/local-closure-script/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/translator/util/translate-attrs.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ensure async/generators is only patched once
  .changeset/short-seas-act.md
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: refactor test suite to improve clarity and test production builds
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/bundle.ts
  packages/runtime-tags/src/__tests__/utils/get-node-info.ts
  packages/runtime-tags/src/__tests__/utils/snap.ts
  packages/runtime-tags/src/__tests__/utils/strip-inline-runtime.ts
  packages/runtime-tags/src/__tests__/utils/track-mutations.ts
  packages/runtime-tags/src/html/inlined-runtimes.debug.ts
  packages/runtime-tags/src/html/inlined-runtimes.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: restore some snapshots
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-params/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-params/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-params/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-params/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-params/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-params/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/dynamic-closure-with-function/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-closure-with-function/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-closure-with-function/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-closure-with-function/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-closure-with-function/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/dynamic-closure-with-function/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/hoist-only/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-only/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-only/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/hoist-only/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/input-missing-property/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/input-missing-property/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/input-missing-property/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/input-missing-property/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/input-missing-property/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/input-missing-property/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/namespaced-tags/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/namespaced-tags/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/namespaced-tags/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/namespaced-tags/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-rest-input-with-attr-tags-deopt/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-rest-input-with-attr-tags-deopt/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-rest-input-with-attr-tags-deopt/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-rest-input-with-attr-tags-deopt/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/render-csr.md
  packages/runtime-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/writes.html
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: restore some snapshots
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/writes.html
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: restore some snapshots
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/known-rest-attr-tag/__snapshots__/html.bundle.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
