Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

docs: refresh multiple server / bundler docs
  packages/marko/docs/cloudflare-workers.md
  packages/marko/docs/express.md
  packages/marko/docs/fastify.md
  packages/marko/docs/http.md
  packages/marko/docs/koa.md
  packages/marko/docs/rollup.md
  packages/marko/docs/structure.json
  packages/marko/docs/troubleshooting-streaming.md
  packages/marko/docs/vite.md
  packages/marko/docs/webpack.md
Due: prettier --write

docs: refresh multiple server / bundler docs (#1767)
  packages/marko/docs/cloudflare-workers.md
  packages/marko/docs/express.md
  packages/marko/docs/fastify.md
  packages/marko/docs/http.md
  packages/marko/docs/koa.md
  packages/marko/docs/rollup.md
  packages/marko/docs/structure.json
  packages/marko/docs/troubleshooting-streaming.md
  packages/marko/docs/vite.md
  packages/marko/docs/webpack.md
Due: prettier --write

chore: publish v5.18.0
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

docs: fix typos
  packages/marko/docs/events.md
  packages/marko/docs/marko-vs-react.md
Due: prettier --write

fix: unnecessary warnings with dynamic tag shorthand
  packages/translator-default/src/tag/custom-tag.js
Due: prettier --write, eslint --fix

chore: publish v5.18.1
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: update invalid docs link
  packages/marko/docs/vite.md
Due: prettier --write

chore: publish v5.18.2
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(translator-default): temporarily disable local variable tagname warning
  packages/translator-default/src/tag/custom-tag.js
Due: prettier --write, eslint --fix

feat: support analyze field in marko.json
  packages/babel-utils/index.d.ts
  packages/babel-utils/src/index.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/marko/docs/compiler.md
  packages/marko/docs/marko-json.md
Due: prettier --write, eslint --fix

feat: support analyze field in marko.json (#1769)
  packages/babel-utils/index.d.ts
  packages/babel-utils/src/index.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/marko/docs/compiler.md
  packages/marko/docs/marko-json.md
Due: prettier --write, eslint --fix

chore: publish v5.19.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(babel-utils): improve plugin types
  packages/babel-utils/index.d.ts
Due: prettier --write, eslint --fix

chore: publish v5.19.1
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix grammar by adding a ", and" where necessary
  packages/marko/docs/state.md
Due: prettier --write

fix grammar by adding a ", and" where necessary (#1770)
  packages/marko/docs/state.md
Due: prettier --write

fix: adding an apply statement should not affect the hydrate loop
  packages/translator/src/util/apply-hydrate.ts
Due: prettier --write, eslint --fix

fix: isNewGroup check was incorrect, caused duplicate writes
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/dom.expected.js
  packages/translator/src/util/apply-hydrate.ts
Due: prettier --write, eslint --fix
