Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f codeframe --fix, fixpack

fix: support method shorthand from updated parser
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/util/parse-attributes.js
  packages/compiler/src/babel-types/generator/patch.js
  packages/translator-default/test/fixtures/attr-method-shorthand/components/custom-tag.marko
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/html-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/template.marko
Due: prettier --write, eslint -f codeframe --fix, fixpack

chore: publish v5.14.2
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: expose @marko/compiler/register api
  packages/compiler/package.json
  packages/compiler/register.d.ts
  packages/compiler/register.js
  packages/compiler/src/register.js
  packages/marko/docs/10-awesome-marko-features.md
  packages/marko/docs/express.md
  packages/marko/docs/http.md
  packages/marko/docs/koa.md
  packages/marko/src/node-require/index.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

chore: publish v5.15.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(marko): issue with HMR enabled using split components
  packages/marko/src/runtime/vdom/hot-reload.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.15.1
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: issue with hoisted tag var scopes
  packages/compiler/src/babel-types/traverse/patch.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.15.2
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(babel-utils): ensure relative paths when using import utils
  packages/babel-utils/src/imports.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.15.3
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: improve compiler register hook types
  packages/compiler/register.d.ts
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.15.4
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: remove file rename hack when writing files to disk
  packages/marko/src/node-require/index.js
Due: prettier --write, eslint -f codeframe --fix

chore(release): 4.23.17
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

chore: switch to official @rollup/plugin-typescript
  package.json
  rollup.config.js
  yarn.lock
Due: prettier --write, eslint -f codeframe --fix, fixpack

Markdown typo fix in 10-awesome-marko-features.md
  packages/marko/docs/10-awesome-marko-features.md
Due: prettier --write

chore: surface errors from jsdom context
  packages/marko/test/__util__/create-marko-jsdom-module.js
  packages/marko/test/components-browser/index.test.js
  packages/marko/test/components-pages/index.test.js
  packages/marko/test/render/fixtures/whitespace-script/expected.html
  packages/marko/test/render/fixtures/whitespace-script/template.marko
  packages/marko/test/render/fixtures/whitespace-script/vdom-expected.html
  packages/marko/test/render/index.test.js
Due: prettier --write, eslint -f codeframe --fix

test: add failing test for falsey custom event handler
  packages/marko/test/components-browser/fixtures/component-conditional-events/component.js
  packages/marko/test/components-browser/fixtures/component-conditional-events/components/custom-button.marko
  packages/marko/test/components-browser/fixtures/component-conditional-events/index.marko
  packages/marko/test/components-browser/fixtures/component-conditional-events/marko.json
  packages/marko/test/components-browser/fixtures/component-conditional-events/test.js
Due: prettier --write, eslint -f codeframe --fix

fix: falsey event handlers no longer throw an error
  packages/marko/src/runtime/components/Component.js
  packages/marko/test/components-browser/fixtures/component-conditional-events/test.js
Due: prettier --write, eslint -f codeframe --fix

Falsey custom event fix (#1734)
  packages/marko/src/runtime/components/Component.js
  packages/marko/test/__util__/create-marko-jsdom-module.js
  packages/marko/test/components-browser/fixtures/component-conditional-events/component.js
  packages/marko/test/components-browser/fixtures/component-conditional-events/components/custom-button.marko
  packages/marko/test/components-browser/fixtures/component-conditional-events/index.marko
  packages/marko/test/components-browser/fixtures/component-conditional-events/marko.json
  packages/marko/test/components-browser/fixtures/component-conditional-events/test.js
  packages/marko/test/components-browser/index.test.js
  packages/marko/test/components-pages/index.test.js
  packages/marko/test/render/fixtures/whitespace-script/expected.html
  packages/marko/test/render/fixtures/whitespace-script/template.marko
  packages/marko/test/render/fixtures/whitespace-script/vdom-expected.html
  packages/marko/test/render/index.test.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.15.5
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: update compilations to split out hydration functions
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/test/dom/fixtures/batched-updates-cleanup/index.ts
  packages/runtime/test/dom/fixtures/batched-updates/index.ts
  packages/runtime/test/dom/fixtures/event-handlers/index.ts
  packages/runtime/test/dom/fixtures/user-effect-cleanup/index.ts
Due: prettier --write, eslint -f codeframe --fix

fix: supports babel 7.15.4
  package-lock.json
  packages/compiler/src/babel-plugin/index.js
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/import-tag/snapshots/cjs-expected.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.15.6
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: rerun prettier after upgrade
  packages/babel-utils/src/parse.js
  packages/compiler/src/config.js
  packages/compiler/src/taglib/loader/tag-def-from-code.js
  packages/marko/docs/lasso.md
  packages/marko/src/core-tags/components/init-components-tag.js
  packages/marko/src/runtime/components/Component.js
  packages/marko/src/runtime/components/ComponentDef.js
  packages/marko/src/runtime/components/ComponentsContext.js
  packages/marko/src/runtime/components/init-components/index-browser.js
  packages/marko/src/runtime/components/registry/index-browser.js
  packages/marko/src/runtime/html/StringWriter.js
  packages/marko/src/runtime/vdom/morphdom/fragment.js
  packages/marko/src/runtime/vdom/morphdom/index.js
  packages/marko/test/api/fixtures/error-renderSync-beginAsync/test.js
  packages/marko/test/api/fixtures/render-await-client-reorder-unhandled-rejected-promise/test.js
  packages/marko/test/api/fixtures/render-await-promise-toString/test.js
  packages/marko/test/api/fixtures/renderToString-callback-async/components/test-async/renderer.js
  packages/marko/test/components-browser/fixtures/component-preserve-dom-if/test.js
  packages/marko/test/render/fixtures-async-callback/await-args/test.js
  packages/marko/test/render/index.test.js
  packages/translator-default/src/index.js
  packages/translator-default/src/tag/attribute-tag.js
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint -f codeframe --fix

fix: cyclic hydration deps
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint -f codeframe --fix

fix: cyclic hydration deps (#1736)
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.15.7
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: incorrect source position for attribute arguments
  packages/compiler/src/babel-plugin/util/parse-arguments.js
Due: prettier --write, eslint -f codeframe --fix

fix: consistent file.opts during parse & other stages
  packages/babel-utils/src/parse.js
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.15.8
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

Update express.md
  packages/marko/docs/express.md
Due: prettier --write

fix: attribute shorthand method source locations
  packages/compiler/src/babel-plugin/util/parse-attributes.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.15.9
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: deduping issue with hydrate output
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.15.10
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: remove empty const/let/var declarations caused by removal of MARKO_DEBUG expressions
  scripts/babel-plugin-marko-debug.js
Due: prettier --write, eslint -f codeframe --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint -f codeframe --fix: any of: *.{js,ts}
  fixpack: any of: ./{,packages/*/}package.json
