Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

feat: ship an LLM syntax reference (cheatsheet.md) in the marko package
  .changeset/ship-llms-reference.md
  cspell.json
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/cheatsheet.md
  packages/runtime-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

feat: guided error for by= keyed by the loop's own parameter
  .changeset/by-param-guided-error.md
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-for-in-string-by/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-in-string-by/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-in-string-by/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-in-string-by/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/translator/core/for.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: per-translate abort-id agreement and merged-extra read tracking
  .changeset/merged-extra-read-tracking.md
  .changeset/per-translate-abort-ids.md
  agent-feedback/perf.md
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/visitors/referenced-identifier.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: expose cheatsheet.md through the package exports map
  .changeset/export-cheatsheet.md
  packages/runtime-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix(runtime-class): compile `with { load }` as eager imports under hot reload
  .changeset/load-facade-hot-reload-recursion.md
  packages/runtime-class/src/translator/util/load-import.js
  packages/runtime-class/test/api-compiler/fixtures/hot-load-eager/components/counter.marko
  packages/runtime-class/test/api-compiler/fixtures/hot-load-eager/template.marko
  packages/runtime-class/test/api-compiler/fixtures/hot-load-eager/test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: record marko-5-to-6-migration skill gaps found evaluating it on the website
  agent-feedback/dx.md
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

Fix `npm run compile` default translator; add `-t` shorthands
  AGENTS.md
  agent-feedback/dx.md
  packages/runtime-tags/AGENTS.md
  scripts/inspect-compiled-output.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: add runtime-verified full-flip blockers for the migration skill
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

test: isolate test-only helpers from fixture size measurement
  packages/runtime-tags/src/__tests__/fixtures/async-multi-resolve-in-order-and-update/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/async-reject-then-resolve-before-and-after-isolated-boundaries/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/async-state/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-closure-in-order/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-closure-within/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-closure/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-nested-event-handler/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-no-try-resume-rerender/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-pending-interrupt-sync/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-remove-parent/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-tag/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-toggle-sync-async/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/catch-reject-nested-catch-pending-await/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/catch-reject-nested-in-await-same-tick/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/catch-reject-nested-in-await/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/catch-reject-sibling-pending-await/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/catch-serialized-globals/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-async-in-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-nested-async/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-reorder-stream-order/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/try-effects-async/sizes.json
  packages/runtime-tags/src/__tests__/utils/bundle.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Fix wait() test util desync from stray ticks after a stream reset
  agent-feedback/dx.md
  packages/runtime-tags/src/__tests__/utils/resolve.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Remove dead AccessorPrefix.Getter; document pureDOMFunctions purity
  agent-feedback/cleanup.md
  agent-feedback/unclear.md
  packages/runtime-tags/src/common/accessor.debug.ts
  packages/runtime-tags/src/common/accessor.ts
  packages/runtime-tags/src/translator/util/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Assert fixture sizes.json on test runs instead of silently rewriting
  agent-feedback/dx.md
  packages/runtime-tags/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Stop escape-script-case fixture leaking window.foo into shared jsdom
  agent-feedback/cleanup.md
  packages/runtime-class/test/render/fixtures/escape-script-case/expected.html
  packages/runtime-class/test/render/fixtures/escape-script-case/template.marko
  packages/runtime-class/test/render/fixtures/escape-script-case/vdom-expected.html
Due: prettier --write, prettier --write --with-node-modules

Remove resolved agent-feedback entry
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

test(runtime-class): make flush-here-and-after fixtures deterministic
  packages/runtime-class/test/render/fixtures/flush-here-and-after-async-after/test.js
  packages/runtime-class/test/render/fixtures/flush-here-and-after-async-before/test.js
  packages/runtime-class/test/render/fixtures/flush-here-and-after-async-reverse/test.js
  packages/runtime-class/test/render/fixtures/flush-here-and-after-with-body/test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record serialization/bundling analysis opportunities
  agent-feedback/perf.md
Due: prettier --write, prettier --write --with-node-modules

perf(runtime-tags): make server render toReadable() lazy and flush pipe()
  .changeset/lazy-server-render-toreadable.md
  packages/runtime-tags/src/html/template.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(runtime-tags): gate tag-variable resume registration on child-scope serialization
  .changeset/tag-var-resume-gate.md
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-in-body/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-in-body/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-in-body/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/error-tag-var-uninitialized/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-attr-tag/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-attr-tag/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-attr-tag/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-from-dynamic/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-from-dynamic/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-from-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-many/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-many/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-many/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-minimum-scope/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-minimum-scope/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-minimum-scope/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-same-scope-calls-only/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-same-scope-calls-only/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-same-scope-calls-only/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-same-scope/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-same-scope/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-same-scope/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-return-ref/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-return-ref/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-return-ref/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/reference-in-own-body/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/reference-in-own-body/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/reference-in-own-body/sizes.json
  packages/runtime-tags/src/translator/util/known-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: inline-mark deferred if-const and owner-chain optimizations
  agent-feedback/perf.md
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): restrict runtime imports to the translate stage
  .changeset/restrict-runtime-imports-to-translate.md
  packages/runtime-tags/src/__tests__/fixtures/branch-closure-if-only-child/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/branch-closure-if-only-child/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/branch-closure-if-only-child/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/branch-closure-if-only-child/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/branch-closure-if-only-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/placeholder-static-multiple/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/placeholder-static-multiple/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/placeholder-static-multiple/sizes.json
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/util/body-to-text-literal.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(runtime-tags): fast-path serializer hot paths
  .changeset/serializer-hot-paths.md
  agent-feedback/perf.md
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record runtime-tags scan findings
  agent-feedback/bugs.md
  agent-feedback/cleanup.md
  agent-feedback/perf.md
Due: prettier --write, prettier --write --with-node-modules

Document runtime-tags resumability
  agent-feedback/perf.md
  cspell.json
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/RESUMABILITY.md
Due: prettier --write, prettier --write --with-node-modules

test: parallelize and trim the coverage report (~3x faster)
  .github/workflows/ci.yml
  package.json
  scripts/c8-shard.js
  scripts/coverage-report.js
  scripts/test-parallel.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

docs: update persisted first-load baseline
  designs/persisted-pages-cost-model.md
Due: prettier --write, prettier --write --with-node-modules

refactor: derive persisted patch structure
  designs/persisted-pages-architecture.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/resolve.ts
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test: parallelize the coverage report (~2.8x faster)
  .github/workflows/ci.yml
  package.json
  scripts/coverage-report.js
  scripts/test-parallel.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

docs: clarify persisted patch execution
  designs/persisted-pages-architecture.md
Due: prettier --write, prettier --write --with-node-modules

fix: import tags from installed packages by their resolved name
  .changeset/lucky-donkeys-shave.md
  package-lock.json
  packages/compiler/babel-utils.d.ts
  packages/compiler/package.json
  packages/compiler/src/babel-utils/imports.js
  packages/compiler/src/babel-utils/tags.js
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/loader/Taglib.js
  packages/compiler/src/taglib/loader/index.js
  packages/compiler/src/taglib/loader/loadTaglibFromFile.js
  packages/runtime-class/src/translator/tag/custom-tag.js
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

docs(agent-feedback): record runtime-tags bug-bash findings
  agent-feedback/bugs.md
  agent-feedback/perf.md
Due: prettier --write, prettier --write --with-node-modules

chore: update runtime size baselines
  .sizes.json
  .sizes/comments.csr/runtime.js
  .sizes/comments.ssr/entry.js
  .sizes/counter.csr/runtime.js
  .sizes/counter.ssr/entry.js
  .sizes/dom.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Improve compiler diagnostics for common mistakes
  .changeset/spicy-errors-suggest.md
  packages/runtime-tags/cheatsheet.md
  packages/runtime-tags/src/__tests__/common-helpers.test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-for-key-attribute/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-key-attribute/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-key-attribute/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-key-attribute/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-key-attribute/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-for-key-attribute/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-root-text-as-tag/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-root-text-as-tag/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-root-text-as-tag/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-root-text-as-tag/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-root-text-as-tag/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-root-text-as-tag/test.ts
  packages/runtime-tags/src/__tests__/translator-api.test.ts
  packages/runtime-tags/src/common/helpers.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
