Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

fix: string literals in dynamic tags incorrectly doing component lookup
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix

chore: upgrade parser version
  package-lock.json
  packages/compiler/package.json
Due: prettier --write, fixpack

feat: style tag uses resolveVirtualDependency
  packages/translator/src/core/style.ts
  packages/translator/src/visitors/program/index.ts
Due: prettier --write, eslint --fix

fix: some environments (deno) provide a window but not a document
  packages/marko/src/runtime/RenderResult.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/vdom/AsyncVDOMBuilder.js
Due: prettier --write, eslint --fix

chore: publish v5.20.9
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: switch to changesets and npm workspaces
  .changeset/README.md
  .changeset/config.json
  .changeset/forty-dolphins-shake.md
  .commitlintrc.json
  .github/workflows/ci.yml
  .huskyrc
  .mocharc.json
  .npmrc
  commitlint.config.js
  lerna.json
  package-lock.json
  package.json
  packages/babel-utils/index.d.ts
  packages/compiler/index.d.ts
  packages/marko/test/__util__/create-marko-jsdom-module.js
Due: prettier --write, eslint --fix, fixpack

chore: switch to changesets and npm workspaces (#1787)
  .changeset/README.md
  .changeset/config.json
  .changeset/forty-dolphins-shake.md
  .commitlintrc.json
  .github/workflows/ci.yml
  .huskyrc
  .mocharc.json
  .npmrc
  commitlint.config.js
  lerna.json
  package-lock.json
  package.json
  packages/babel-utils/index.d.ts
  packages/compiler/index.d.ts
  packages/marko/test/__util__/create-marko-jsdom-module.js
Due: prettier --write, eslint --fix, fixpack

fix: issue with peer dependency bumping from changesets
  .changeset/config.json
  CHANGELOG.md
  packages/babel-utils/CHANGELOG.md
  packages/compiler/CHANGELOG.md
  packages/marko/CHANGELOG.md
  packages/translator-default/CHANGELOG.md
Due: prettier --write

fix: issue with peer dependency bumping from changesets (#1790)
  .changeset/config.json
  CHANGELOG.md
  packages/babel-utils/CHANGELOG.md
  packages/compiler/CHANGELOG.md
  packages/marko/CHANGELOG.md
  packages/translator-default/CHANGELOG.md
Due: prettier --write

fix: issue with main field script
  .changeset/calm-hornets-promise.md
  package-lock.json
  package.json
Due: prettier --write, fixpack

fix: issue with main field script (#1792)
  .changeset/calm-hornets-promise.md
  package-lock.json
  package.json
Due: prettier --write, fixpack

fix: add file extensions to getRuntimeEntryFiles helper
  .changeset/loud-clocks-lie.md
  package-lock.json
  packages/compiler/package.json
  packages/translator-default/src/index.js
Due: prettier --write, eslint --fix, fixpack

fix: add file extensions to getRuntimeEntryFiles helper (#1794)
  .changeset/loud-clocks-lie.md
  package-lock.json
  packages/compiler/package.json
  packages/translator-default/src/index.js
Due: prettier --write, eslint --fix, fixpack

fix: allow multiple handlers to grab a node reference
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/template.marko
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/test.ts
  packages/translator/src/util/reserve.ts
Due: prettier --write, eslint --fix

test: fix hardcoded list in test
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/template.marko
Due: prettier --write, eslint --fix

feat: early flush for large buffers
  packages/runtime/src/html/index.ts
  packages/runtime/src/html/writer.ts
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-and-static/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/html.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-siblings/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-with-state/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/html.expected.js
  packages/translator/src/core/for.ts
Due: prettier --write, eslint --fix

feat: scopes are now objects, not arrays
  .sizes.json
  packages/runtime/src/__tests__/fixtures/basic-counter/__snapshots__/ssr-hydrate.expected.md
  packages/runtime/src/__tests__/serializer.test.ts
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/dom/scope.ts
  packages/runtime/src/html/serializer.ts
  packages/translator/src/__tests__/fixtures/basic-component-attrs/__snapshots__/html.expected/components/my-button.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/html.expected/components/my-button.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-component/__snapshots__/html.expected/components/counter.js
  packages/translator/src/__tests__/fixtures/basic-component/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-counter/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-counter/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-effect-no-deps/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-effect-no-deps/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-execution-order/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-fn-with-block/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-fn-with-block/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-handler-multi-ref-nested/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-handler-multi-ref-nested/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-handler-refless/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-handler-refless/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/html.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-scriptlet/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-toggle-show/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-unused-ref/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-unused-ref/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/effect-counter/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/effect-counter/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/effect-tag/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/event-handlers/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/let-tag/__snapshots__/html.expected.js
  packages/translator/src/util/apply-hydrate.ts
Due: prettier --write, eslint --fix

feat: smaller production hydration ids
  .sizes.json
  packages/translator/src/util/apply-hydrate.ts
Due: prettier --write, eslint --fix

feat: support events in roots other than the main document
  .sizes.json
  packages/runtime/src/__tests__/fixtures/batched-updates-cleanup/browser.ts
  packages/runtime/src/__tests__/fixtures/batched-updates/browser.ts
  packages/runtime/src/__tests__/fixtures/event-handlers/browser.ts
  packages/runtime/src/dom/event.ts
Due: prettier --write, eslint --fix

fix: upgrade htmljs-parser
  .changeset/wet-jeans-double.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/compiler/package.json
Due: prettier --write, fixpack

fix: upgrade htmljs-parser (#1797)
  .changeset/wet-jeans-double.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/compiler/package.json
Due: prettier --write, fixpack

fix: ensure initial render is under the queue
  .sizes.json
  packages/runtime/src/dom/renderer.ts
Due: prettier --write, eslint --fix

feat: new queue implementation + error handling
  .sizes.json
  benchmarks/queue.ts
  packages/runtime/src/dom/queue-heap-2.ts
  packages/runtime/src/dom/queue.ts
Due: prettier --write, eslint --fix

feat: pass 'this' to lifecycle methods
  packages/runtime/src/dom/dom.ts
Due: prettier --write, eslint --fix

fix: update deps, inline babel helper removed from latest version
  package-lock.json
  packages/compiler/src/babel-types/types/patch.js
Due: prettier --write, eslint --fix

Create pink-poems-swim.md
  .changeset/pink-poems-swim.md
Due: prettier --write

fix: update deps, inline babel helper removed from latest version (#1800)
  .changeset/pink-poems-swim.md
  package-lock.json
  packages/compiler/src/babel-types/types/patch.js
Due: prettier --write, eslint --fix

feat: yet another queue implementation
  benchmarks/queue.ts
  packages/runtime/src/dom/queue-deferred-sort.ts
Due: prettier --write, eslint --fix

chore: rename naive queue implementation
  benchmarks/queue.ts
  packages/runtime/src/dom/queue-naive.ts
Due: prettier --write, eslint --fix

chore: add additional baseline to queue benchmark
  benchmarks/queue.ts
Due: prettier --write, eslint --fix

feat: more consistent/descriptive compiled variable names
  packages/translator/src/__tests__/fixtures/at-tag-inside-if-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-and-static/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-with-params/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/attr-class/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-converge-in-if/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-execution-order/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-layout/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-toggle-show/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-relative-path/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/custom-tag-parameters/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/custom-tag-render-body/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-siblings/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-with-state/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/if-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/tag-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/yield-tag/__snapshots__/dom.expected.js
  packages/translator/src/core/condition/if.ts
  packages/translator/src/core/for.ts
  packages/translator/src/util/references.ts
  packages/translator/src/util/reserve.ts
  packages/translator/src/util/sections.ts
  packages/translator/src/util/writer.ts
Due: prettier --write, eslint --fix

fix: issue with using __flush_here_and_after__ when in sync mode
  .changeset/spicy-actors-suffer.md
  packages/marko/src/core-tags/core/__flush_here_and_after__.js
  packages/marko/test/render/fixtures/flush-here-and-after-sync/test.js
  packages/marko/test/render/index.test.js
Due: prettier --write, eslint --fix

fix: issue with using __flush_here_and_after__ when in sync mode (#1804)
  .changeset/spicy-actors-suffer.md
  packages/marko/src/core-tags/core/__flush_here_and_after__.js
  packages/marko/test/render/fixtures/flush-here-and-after-sync/test.js
  packages/marko/test/render/index.test.js
Due: prettier --write, eslint --fix

fix: attr method shorthand source map position
  .changeset/green-moons-smoke.md
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix

fix: attr method shorthand source map position (#1806)
  .changeset/green-moons-smoke.md
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix

Update `require` to `import` in docs
  packages/marko/docs/marko-5-upgrade.md
  packages/marko/docs/marko-vs-react.md
  packages/marko/docs/redux.md
  packages/marko/docs/rendering.md
  packages/marko/docs/server-side-rendering.md
  packages/marko/docs/troubleshooting-streaming.md
  packages/marko/docs/webpack.md
  packages/marko/docs/why-is-marko-fast.md
Due: prettier --write

bump for CLA bot
  .eslintignore
Due: none

Bump for CLA bot
  .nycrc
Due: prettier --write
