Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

fix: improve runtimeId and renderId error messages
  .changeset/real-rivers-wave.md
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/dom/template.ts
  packages/runtime-tags/src/html/template.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: invalid compat import in prod builds
  .changeset/loud-boats-fail.md
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/visitors/scriptlet.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: tags api compat runtime improvements
  .changeset/new-socks-bake.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-dom.js
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/__tests__/fixtures/render-effect/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/render-effect/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/server-client/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/server-client/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/html/compat.ts
  packages/translator-interop/src/__tests__/fixtures/custom-tag-parameters-from-args/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-attr-tags-class-to-tags/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-attr-tags-class-to-tags/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-class-to-tags/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-class-to-tags/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/ssr.expected.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: mark template as interactive in more cases
  packages/runtime-tags/src/translator/visitors/function.ts
  packages/runtime-tags/src/translator/visitors/scriptlet.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: improve types
  .changeset/petite-rabbits-cheat.md
  package.json
  packages/runtime-class/index.d.ts
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/index.d.ts
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: special case meta tag content attribute
  .changeset/yummy-foxes-listen.md
  .sizes.json
  .sizes/dom.js
  .sizes/name-cache.json
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ensure functions deserialize after scopes complete
  .changeset/odd-donkeys-glow.md
  packages/runtime-tags/src/__tests__/fixtures/body-content/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/body-content/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/cleanup-single-child-for-deep/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/cleanup-single-child-for-deep/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Improve types for properties of `<style>` as a Tag Variable
  packages/runtime-class/index.d.ts
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/index.d.ts
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: dynamic tag content
  .sizes.json
  .sizes/counter.csr/entry.js
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-dynamic-spread/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-dynamic-spread/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-dynamic-tag/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-dynamic-tag/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/dom.expected.1/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/dom.expected/tags/my-tag.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/html.expected/tags/my-tag.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/tags/my-tag.marko
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/template.marko
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/test.ts
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-with-updating-body/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-with-updating-body/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/error-custom-tag-not-found/__snapshots__/dom.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/error-custom-tag-not-found/__snapshots__/html.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/namespaced-tags/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/namespaced-tags/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/dom/walker.ts
  packages/runtime-tags/src/html/dynamic-tag.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/util/translate-attrs.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/tangy-ghosts-cough.md
Due: prettier --write, prettier --write --with-node-modules

Update tangy-ghosts-cough.md
  .changeset/tangy-ghosts-cough.md
Due: prettier --write, prettier --write --with-node-modules

fix: dynamic tag content (#2777)
  .changeset/tangy-ghosts-cough.md
  .sizes.json
  .sizes/counter.csr/entry.js
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-dynamic-spread/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-dynamic-spread/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-dynamic-tag/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-dynamic-tag/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/dom.expected.1/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/dom.expected/tags/my-tag.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/html.expected/tags/my-tag.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/tags/my-tag.marko
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/template.marko
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/test.ts
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-with-updating-body/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-with-updating-body/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/error-custom-tag-not-found/__snapshots__/dom.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/error-custom-tag-not-found/__snapshots__/html.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/namespaced-tags/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/namespaced-tags/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/dom/walker.ts
  packages/runtime-tags/src/html/dynamic-tag.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/util/translate-attrs.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid serializing closures for non serialized sections
  .changeset/heavy-ties-write.md
  packages/runtime-tags/src/__tests__/fixtures/basic-layout/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/basic-layout/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/basic-layout/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-closures/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-closures/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-closures/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: misc tags api compat improvements
  .changeset/tall-apes-buy.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-class/src/node_modules/@internal/components-entry/index.js
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-dom.js
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/dom/compat.ts
  packages/runtime-tags/src/html/compat.ts
  packages/runtime-tags/src/html/dynamic-tag.ts
  packages/runtime-tags/src/html/template.ts
  packages/runtime-tags/src/html/writer.ts
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/dom.expected/components/my-button.js
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/html.expected/components/my-button.js
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/components/my-button.marko
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/template.marko
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/test.ts
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-attr-tags-class-to-tags/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-attr-tags-class-to-tags/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-class-to-tags/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-class-to-tags/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/html.expected/components/class-layout.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/components/class-layout.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/common-garlics-tan.md
Due: prettier --write, prettier --write --with-node-modules

Update common-garlics-tan.md
  .changeset/common-garlics-tan.md
Due: prettier --write, prettier --write --with-node-modules

fix: improve class/tags interop flush orchestration
  .changeset/polite-baths-occur.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/html/compat.ts
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/ssr.expected.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: class/tags compat improvements
  .changeset/empty-humans-reply.md
  .changeset/rich-carpets-wear.md
  .changeset/thick-facts-shine.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-dom.js
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-class/src/translator/index.js
  packages/runtime-class/src/translator/util/add-dependencies.js
  packages/runtime-class/test/translator/fixtures/split-component-with-component/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/split-component-with-component/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/split-component/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/split-component/snapshots/vdomProduction-expected.js
  packages/runtime-tags/src/html/compat.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/interop-basic-tags-to-class/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: tags/class interop walk order
  .changeset/beige-carrots-act.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/html/compat.ts
  packages/translator-interop/src/__tests__/fixtures/interop-basic-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-basic-tags-to-class/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/ssr.expected.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: setup function registry analysis, avoid registering functions with only call expressions
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/for-by/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/for-by/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/for-by/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/template.marko
  packages/runtime-tags/src/__tests__/fixtures/function-registration/test.ts
  packages/runtime-tags/src/__tests__/fixtures/same-source-non-alias/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/same-source-non-alias/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/same-source-non-alias/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-destructure/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-destructure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-destructure/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/translator/util/get-root.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/visitors/function.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid registering static functions passed to native event handlers
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-registration/template.marko
  packages/runtime-tags/src/__tests__/fixtures/function-registration/test.ts
  packages/runtime-tags/src/translator/visitors/function.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf: eagerly register functions in some known cases
  packages/runtime-tags/src/translator/util/get-parent-tag.ts
  packages/runtime-tags/src/translator/util/get-root.ts
  packages/runtime-tags/src/translator/util/translate-attrs.ts
  packages/runtime-tags/src/translator/visitors/function.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: improve function reference tracking binding downstreams
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-default-registration/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-default-registration/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-default-registration/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-default-registration/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-default-registration/template.marko
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-default-registration/test.ts
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/template.marko
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-registration/test.ts
  packages/runtime-tags/src/translator/core/const.ts
  packages/runtime-tags/src/translator/core/define.ts
  packages/runtime-tags/src/translator/util/get-root.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/tag-name-type.ts
  packages/runtime-tags/src/translator/visitors/function.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: only register static functions with serializable downstreams
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/dom.expected/tags/counter.js
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/dom.expected/tags/price.js
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/html.expected/tags/counter.js
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/html.expected/tags/price.js
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/helpers.ts
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/tags/price.marko
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/template.marko
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-static-non-registered-function/test.ts
  packages/runtime-tags/src/translator/visitors/function.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
