Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, sort-package-json --quiet

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./{,packages/*/}package.json": [
    "prettier --write",
    "sort-package-json --quiet"
  ]
}

chore: add changeset
  .changeset/witty-apricots-travel.md
Due: prettier --write

fix(babel): use correct types for params and args
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-types/generator/patch.js
  packages/compiler/src/babel-types/types/definitions.js
Due: prettier --write, eslint --fix

feat(compiler): add "exports" to marko.json
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/loader/Taglib.js
  packages/compiler/src/taglib/loader/index.js
  packages/compiler/src/taglib/loader/loadTaglibFromFile.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/marko/test/taglib-finder/fixtures/exports/_dist/components/dist-tag.marko
  packages/marko/test/taglib-finder/fixtures/exports/components/dev-tag.marko
  packages/marko/test/taglib-finder/fixtures/exports/marko.json
  packages/marko/test/taglib-finder/fixtures/exports/package.json
  packages/marko/test/taglib-finder/fixtures/exports/test.js
Due: prettier --write, eslint --fix, fixpack, sort-package-json --quiet

chore: add changeset
  .changeset/grumpy-kids-check.md
Due: prettier --write

docs: add exports
  packages/marko/docs/marko-json.md
Due: prettier --write

fix(test): explicitly add node_modules
  packages/marko/test/taglib-finder/fixtures/exports/node_modules/included-dependency/_dist/components/included-tag.marko
  packages/marko/test/taglib-finder/fixtures/exports/node_modules/included-dependency/marko.json
  packages/marko/test/taglib-finder/fixtures/exports/node_modules/included-dependency/package.json
Due: prettier --write, fixpack, sort-package-json --quiet

fix(sourcemaps): fix sourcemaps
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/flat-camels-hide.md
Due: prettier --write

fix(sourcemaps): TagTypeArgs and TagTypeParams (#2064)
  .changeset/flat-camels-hide.md
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix

fix: interop closures w/ tagsapi. large refactor of html writer.
  packages/runtime/src/html/index.ts
  packages/runtime/src/html/reorder-runtime.ts
  packages/runtime/src/html/writer.ts
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/test.ts
  packages/translator-interop/src/__tests__/main.test.ts
  packages/translator/src/__tests__/fixtures/async-nested-resolve-in-order/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/catch-single-reject-async/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/error-async/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/error-async/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/error-sync/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/error-sync/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix

feat: interop params class-to-tags
  packages/marko/src/runtime/helpers/tags-compat-html.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-class-to-tags/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-class-to-tags/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-class-to-tags/template.marko
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-class-to-tags/test.ts
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/components/class-layout.marko
Due: prettier --write, eslint --fix

feat: tag params ssr tags-to-class (resume still not working)
  packages/marko/src/runtime/helpers/tags-compat-html.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-class-to-tags/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/html.expected/components/class-layout.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/test.ts
  packages/translator/src/visitors/tag/custom-tag.ts
  packages/translator/src/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix

refactor: simplify & remove closures from html writer fork
  packages/runtime/src/html/writer.ts
Due: prettier --write, eslint --fix

refactor: prepare for renderBody/event interop from tags to class
  packages/marko/src/node_modules/@internal/components-entry/index.js
  packages/marko/src/runtime/helpers/tags-compat-html.js
  packages/runtime/src/html/index.ts
  packages/runtime/src/html/serializer.ts
  packages/translator/src/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix

fix: simplify Marko.NativeTags typings
  .changeset/tricky-beds-smash.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

fix: pritning variable declarations
  .changeset/polite-penguins-arrive.md
  packages/compiler/src/babel-types/generator/patch.js
  packages/translator-default/test/fixtures/static-tag/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/static-tag/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/static-tag/snapshots/html-expected.js
  packages/translator-default/test/fixtures/static-tag/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/static-tag/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/static-tag/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/static-tag/template.marko
Due: prettier --write, eslint --fix

fix: types
  .changeset/real-ducks-talk.md
  .changeset/shy-mirrors-peel.md
  packages/marko/src/core-tags/core/await/index.d.marko
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

fix(ts): add script-lang to v4
  packages/marko/src/taglib/taglib-loader/loadTaglibFromProps.js
Due: prettier --write, eslint --fix

Create heavy-snails-repair.md
  .changeset/heavy-snails-repair.md
Due: prettier --write

chore: optimize test runner by avoiding scanning babel config files
  packages/marko/test/__util__/create-marko-jsdom-module.js
Due: prettier --write, eslint --fix

chore: update all package deps
  .c8rc.json
  .eslintignore
  .eslintrc.json
  .github/workflows/ci.yml
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  LICENSE
  babel.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/compiler/src/taglib/loader/json-file-reader.js
  packages/marko/package.json
  packages/marko/test/__util__/domToString.js
  packages/marko/test/__util__/patch-module.js
  packages/marko/test/render/fixtures/tags-dir-null/test.js
  packages/translator-default/package.json
  packages/translator-default/src/util/escape-regexp.js
  packages/translator-default/src/util/get-component-files.js
  packages/translator-default/test/index.test.js
Due: prettier --write, eslint --fix, fixpack, sort-package-json --quiet

chore: run build before trying to format code
  .github/workflows/ci.yml
Due: prettier --write

fix: signal value dirty check
  .sizes.json
  packages/runtime/src/dom/signals.ts
Due: prettier --write, eslint --fix

fix: issue removing exports in stripTypes mode
  .changeset/eighty-beers-speak.md
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint --fix
