Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

fix: source map for shorthand attr methods
  .changeset/twenty-games-perform.md
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix

fix: source map for shorthand attr methods (#1837)
  .changeset/twenty-games-perform.md
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix

feat: apply cspNonce when client reordering
  packages/marko/src/core-tags/core/await/reorderer-renderer.js
  packages/marko/test/render/fixtures-async-callback/await-client-reorder-cspnonce/expected-events-vdom.json
  packages/marko/test/render/fixtures-async-callback/await-client-reorder-cspnonce/expected-events.json
  packages/marko/test/render/fixtures-async-callback/await-client-reorder-cspnonce/expected.html
  packages/marko/test/render/fixtures-async-callback/await-client-reorder-cspnonce/template.marko
  packages/marko/test/render/fixtures-async-callback/await-client-reorder-cspnonce/test.js
  packages/marko/test/render/fixtures/await-client-reorder-cspnonce/expected-events-vdom.json
  packages/marko/test/render/fixtures/await-client-reorder-cspnonce/expected-events.json
  packages/marko/test/render/fixtures/await-client-reorder-cspnonce/expected.html
  packages/marko/test/render/fixtures/await-client-reorder-cspnonce/template.marko
  packages/marko/test/render/fixtures/await-client-reorder-cspnonce/test.js
Due: prettier --write, eslint --fix

Add changeset
  .changeset/silver-apricots-tell.md
Due: prettier --write

feat: apply cspNonce when client reordering (#1836)
  .changeset/silver-apricots-tell.md
  packages/marko/src/core-tags/core/await/reorderer-renderer.js
  packages/marko/test/render/fixtures-async-callback/await-client-reorder-cspnonce/expected-events-vdom.json
  packages/marko/test/render/fixtures-async-callback/await-client-reorder-cspnonce/expected-events.json
  packages/marko/test/render/fixtures-async-callback/await-client-reorder-cspnonce/expected.html
  packages/marko/test/render/fixtures-async-callback/await-client-reorder-cspnonce/template.marko
  packages/marko/test/render/fixtures-async-callback/await-client-reorder-cspnonce/test.js
  packages/marko/test/render/fixtures/await-client-reorder-cspnonce/expected-events-vdom.json
  packages/marko/test/render/fixtures/await-client-reorder-cspnonce/expected-events.json
  packages/marko/test/render/fixtures/await-client-reorder-cspnonce/expected.html
  packages/marko/test/render/fixtures/await-client-reorder-cspnonce/template.marko
  packages/marko/test/render/fixtures/await-client-reorder-cspnonce/test.js
Due: prettier --write, eslint --fix

chore: upgrade htmljs-parser
  .changeset/six-coats-visit.md
  package-lock.json
  packages/compiler/package.json
Due: prettier --write, fixpack

chore: upgrade htmljs-parser (#1839)
  .changeset/six-coats-visit.md
  package-lock.json
  packages/compiler/package.json
Due: prettier --write, fixpack

chore: upgrade htmljs-parser
  .changeset/yellow-bottles-lay.md
  package-lock.json
  packages/compiler/package.json
Due: prettier --write, fixpack

chore: upgrade htmljs-parser (#1841)
  .changeset/yellow-bottles-lay.md
  package-lock.json
  packages/compiler/package.json
Due: prettier --write, fixpack

chore: upgrade htmljs-parser
  .changeset/silent-bulldogs-itch.md
  package-lock.json
  packages/compiler/package.json
Due: prettier --write, fixpack

chore: upgrade htmljs-parser (#1843)
  .changeset/silent-bulldogs-itch.md
  package-lock.json
  packages/compiler/package.json
Due: prettier --write, fixpack

fix: regexp for swapping dev/prod runtimes
  .changeset/red-spoons-flash.md
  packages/babel-utils/src/imports.js
Due: prettier --write, eslint --fix

fix: regexp for swapping dev/prod runtimes (#1845)
  .changeset/red-spoons-flash.md
  packages/babel-utils/src/imports.js
Due: prettier --write, eslint --fix

fix: autokey all nodes under a static root
  packages/translator-default/src/util/optimize-vdom-create.js
  packages/translator-default/test/fixtures/declaration/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/doctype/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/white-space-test/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix

Create swift-rocks-lay.md
  .changeset/swift-rocks-lay.md
Due: prettier --write

fix: autokey all nodes under a static root (#1849)
  .changeset/swift-rocks-lay.md
  packages/translator-default/src/util/optimize-vdom-create.js
  packages/translator-default/test/fixtures/declaration/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/doctype/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/white-space-test/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix

[ci] format
  packages/marko/docs/compiler.md
Due: prettier --write

Copyedit compiler docs
  packages/marko/docs/compiler.md
Due: prettier --write

Copyedit compiler docs (#1848)
  packages/marko/docs/compiler.md
Due: prettier --write

Update callout syntax to align with GitHub’s new syntax
  packages/marko/docs/body-content.md
  packages/marko/docs/class-components.md
  packages/marko/docs/compiler.md
  packages/marko/docs/concise.md
  packages/marko/docs/conditionals-and-lists.md
  packages/marko/docs/core-tags.md
  packages/marko/docs/custom-tags.md
  packages/marko/docs/events.md
  packages/marko/docs/marko-json.md
  packages/marko/docs/marko-vs-react.md
  packages/marko/docs/rendering.md
  packages/marko/docs/state.md
  packages/marko/docs/styles.md
  packages/marko/docs/syntax.md
Due: prettier --write

Update vite.md
  packages/marko/docs/vite.md
Due: prettier --write

Update vite.md (#1852)
  packages/marko/docs/vite.md
Due: prettier --write

fix: improve support for @lasso/marko-taglib and @marko/compiler/register
  .changeset/brave-rice-wink.md
  packages/compiler/src/register.js
Due: prettier --write, eslint --fix

fix: improve support for @lasso/marko-taglib and @marko/compiler/register (#1853)
  .changeset/brave-rice-wink.md
  packages/compiler/src/register.js
Due: prettier --write, eslint --fix

fix: auto enable hmr mode when using browser-refresh client and @marko/compiler/register
  .changeset/khaki-boats-count.md
  packages/compiler/src/register.js
Due: prettier --write, eslint --fix

fix: auto enable hmr mode when using browser-refresh client and @marko/compiler/register (#1855)
  .changeset/khaki-boats-count.md
  packages/compiler/src/register.js
Due: prettier --write, eslint --fix

fix: improve tag dir scanning cache
  packages/marko/package-lock.json
  packages/marko/src/taglib/taglib-finder/index.js
  packages/marko/src/taglib/taglib-loader/index.js
  packages/marko/src/taglib/taglib-loader/loadTaglibFromDir.js
  packages/marko/src/taglib/taglib-loader/loaders.js
Due: prettier --write, eslint --fix

fix: improve tag dir scanning cache (#1859)
  packages/marko/package-lock.json
  packages/marko/src/taglib/taglib-finder/index.js
  packages/marko/src/taglib/taglib-loader/index.js
  packages/marko/src/taglib/taglib-loader/loadTaglibFromDir.js
  packages/marko/src/taglib/taglib-loader/loaders.js
Due: prettier --write, eslint --fix

chore(release): 4.24.6
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: improve tag dir scanning cache (#1859)
  .changeset/ten-rocks-compete.md
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/loader/index.js
  packages/compiler/src/taglib/loader/loadTaglibFromDir.js
  packages/compiler/src/taglib/loader/loaders.js
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/html-error-expected.txt
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/htmlProduction-error-expected.txt
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/vdom-error-expected.txt
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/vdomProduction-error-expected.txt
Due: prettier --write, eslint --fix

chore: update htmljs-parser
  .changeset/tidy-boats-reflect.md
  package-lock.json
  packages/compiler/package.json
Due: prettier --write, fixpack

Improve tag scanning perf (#1860)
  .changeset/ten-rocks-compete.md
  .changeset/tidy-boats-reflect.md
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/loader/index.js
  packages/compiler/src/taglib/loader/loadTaglibFromDir.js
  packages/compiler/src/taglib/loader/loaders.js
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/html-error-expected.txt
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/htmlProduction-error-expected.txt
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/vdom-error-expected.txt
  packages/translator-default/test/fixtures/error-missing-entry-marko-tag-json/snapshots/vdomProduction-error-expected.txt
Due: prettier --write, eslint --fix, fixpack

fix: avoid template instance mutation in HMR mode
  .changeset/soft-cups-punch.md
  packages/marko/src/runtime/vdom/hot-reload.js
Due: prettier --write, eslint --fix

fix: avoid template instance mutation in HMR mode (#1862)
  .changeset/soft-cups-punch.md
  packages/marko/src/runtime/vdom/hot-reload.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or ((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc}))
  eslint --fix: (any of: *.{js,ts}) or (any of: *.ts)
  fixpack: any of: ./{,packages/*/}package.json
