Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f codeframe --fix, fixpack

feat: add sourcemaps for virtual deps
  packages/compiler/index.d.ts
  packages/marko/docs/compiler.md
  packages/translator-default/package.json
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/hydrate-expected.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

docs: fix incorrect mode option, should be output
  packages/marko/docs/compiler.md
Due: prettier --write

docs: improve compiler docs, add options list
  packages/marko/docs/compiler.md
Due: prettier --write

fix: stateful components not detected in hydrate output
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-default/test/fixtures/class-external-component-index/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/class-external-component/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/class-inline-class-props-without-on-create/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/class-inline/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/custom-tag-separate-assets/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/error-class-private-properties/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/error-class-static-properties/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/hydrate-expected.js
Due: prettier --write, eslint -f codeframe --fix

feat: add source output, ast and code options
  packages/compiler/index.d.ts
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/config.js
  packages/compiler/src/index.js
  packages/marko/docs/compiler.md
Due: prettier --write, eslint -f codeframe --fix

fix: update snapshots
  packages/translator-default/test/fixtures/error-bad-expression/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-class-file-and-inline/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-class-not-root/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-class-tag-nested-content/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-class-with-name/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-class-with-super-class/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-dynamic-tag-no-value/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-export-tag-nested-content/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-import-tag-nested-content/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-duplicate/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-multiple-inline-class/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-static-tag-nested-content/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-style-block-multiple/snapshots/hydrate-error-expected.txt
Due: none

fix: try adding content to empty Marko file
  packages/translator-default/test/fixtures/dynamic-tag-name/components/tab-b/index.marko
  packages/translator-default/test/fixtures/dynamic-tag-name/components/tag-a/index.marko
Due: none

fix: typo in test file name
  packages/translator-default/test/fixtures/dynamic-tag-name/components/tag-b/index.marko
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/hydrate-expected.js
Due: prettier --write, eslint -f codeframe --fix

fix: babel-types type definiton build script
  package.json
  scripts/types-babel-types.js
  scripts/types-babel-types.mjs
Due: prettier --write, eslint -f codeframe --fix, fixpack

fix(marko): issue with async hydrate after final flush
  packages/marko/src/runtime/components/init-components-browser.js
  packages/marko/src/runtime/components/registry-browser.js
Due: prettier --write, eslint -f codeframe --fix

fix(marko): issue with async hydrate after final flush (#1677)
  packages/marko/src/runtime/components/init-components-browser.js
  packages/marko/src/runtime/components/registry-browser.js
Due: prettier --write, eslint -f codeframe --fix

fix(compiler): use provided FS for taglib building
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/config.js
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/fs.js
  packages/compiler/src/taglib/loader/json-file-reader.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/compiler/src/taglib/loader/scanTagsDir.js
  packages/marko/src/node-require/index.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

fix(compiler): use provided FS for taglib building (#1674)
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/config.js
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/fs.js
  packages/compiler/src/taglib/loader/json-file-reader.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/compiler/src/taglib/loader/scanTagsDir.js
  packages/marko/src/node-require/index.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(compiler): type definitions had incorrect path
  packages/compiler/index.d.ts
Due: prettier --write, eslint -f codeframe --fix

fix: cast result of readFile to string
  packages/compiler/src/taglib/loader/json-file-reader.js
  packages/compiler/src/taglib/loader/scanTagsDir.js
Due: prettier --write, eslint -f codeframe --fix

chore: fix formatting
  packages/compiler/src/taglib/loader/json-file-reader.js
Due: prettier --write, eslint -f codeframe --fix

fix: cast result of readFile to string (#1679)
  packages/compiler/src/taglib/loader/json-file-reader.js
  packages/compiler/src/taglib/loader/scanTagsDir.js
Due: prettier --write, eslint -f codeframe --fix

fix(translator-default): hydration mismatch with conditional dynamic tag
  packages/translator-default/src/tag/native-tag[html]/index.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/html-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/htmlProduction-expected.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: resolveVirtualDependency typo
  packages/translator-default/src/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: update publishing commit msg to include version
  lerna.json
Due: prettier --write

chore: publish v5.5.4
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: withLoc type def
  packages/babel-utils/index.d.ts
Due: prettier --write, eslint -f codeframe --fix

feat: flush_here_and_after tag
  packages/marko/src/core-tags/core/__flush_here_and_after__.js
  packages/marko/test/render/fixtures/flush-here-and-after-async-after/expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-async-after/template.marko
  packages/marko/test/render/fixtures/flush-here-and-after-async-after/test.js
  packages/marko/test/render/fixtures/flush-here-and-after-async-after/vdom-expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-async-before/expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-async-before/template.marko
  packages/marko/test/render/fixtures/flush-here-and-after-async-before/test.js
  packages/marko/test/render/fixtures/flush-here-and-after-async-before/vdom-expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-async-reverse/expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-async-reverse/template.marko
  packages/marko/test/render/fixtures/flush-here-and-after-async-reverse/test.js
  packages/marko/test/render/fixtures/flush-here-and-after-async-reverse/vdom-expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-sync/expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-sync/template.marko
  packages/marko/test/render/fixtures/flush-here-and-after-sync/test.js
  packages/marko/test/render/fixtures/flush-here-and-after-sync/vdom-expected.html
  packages/marko/test/taglib-lookup/fixtures/forEachTag/expected.json
  packages/marko/test/taglib-lookup/fixtures/getTagsSorted/expected.json
  packages/translator-default/src/taglib/core/marko.json
Due: prettier --write, eslint -f codeframe --fix

feat: flush_here_and_after tag (#1681)
  packages/marko/src/core-tags/core/__flush_here_and_after__.js
  packages/marko/test/render/fixtures/flush-here-and-after-async-after/expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-async-after/template.marko
  packages/marko/test/render/fixtures/flush-here-and-after-async-after/test.js
  packages/marko/test/render/fixtures/flush-here-and-after-async-after/vdom-expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-async-before/expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-async-before/template.marko
  packages/marko/test/render/fixtures/flush-here-and-after-async-before/test.js
  packages/marko/test/render/fixtures/flush-here-and-after-async-before/vdom-expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-async-reverse/expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-async-reverse/template.marko
  packages/marko/test/render/fixtures/flush-here-and-after-async-reverse/test.js
  packages/marko/test/render/fixtures/flush-here-and-after-async-reverse/vdom-expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-sync/expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-sync/template.marko
  packages/marko/test/render/fixtures/flush-here-and-after-sync/test.js
  packages/marko/test/render/fixtures/flush-here-and-after-sync/vdom-expected.html
  packages/marko/test/taglib-lookup/fixtures/forEachTag/expected.json
  packages/marko/test/taglib-lookup/fixtures/getTagsSorted/expected.json
  packages/translator-default/src/taglib/core/marko.json
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.6.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(babel-utils): issue with child template analysis in node_modules
  packages/babel-utils/src/tags.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.6.1
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: dynamic attr tags followed by html element
  packages/marko/src/compiler/ast/CustomTag.js
Due: prettier --write, eslint -f codeframe --fix

chore(release): 4.23.16
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

chore: publish v5.6.2
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(translator-default): issue with inline sourcmeaps and virtual files
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint -f codeframe --fix

fix: webworker support for setImmediate api, refactoring
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/util/should-optimize.js
  packages/compiler/src/util/try-load-translator.js
  packages/marko/src/runtime/setImmediate.js
  packages/marko/src/runtime/setImmediate/index-browser.js
  packages/marko/src/runtime/setImmediate/index-worker.js
  packages/marko/src/runtime/setImmediate/index.js
  packages/marko/src/runtime/setImmediate/package.json
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-default/test/fixtures/class-external-component-index/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/class-external-component/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/class-inline-class-props-without-on-create/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/class-inline/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/custom-tag-separate-assets/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/error-class-private-properties/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/error-class-static-properties/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/split-component-with-component/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/split-component/snapshots/hydrate-expected.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint -f codeframe --fix: any of: *.{js,ts}
  fixpack: any of: ./{,packages/*/}package.json
