Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f codeframe --fix, fixpack

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint -f codeframe --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

chore: update deps
  package-lock.json
  package.json
Due: prettier --write, fixpack

feat: first end-to-end test working
  .sizes.json
  packages/runtime/src/common/types.ts
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/dom/scope.ts
  packages/runtime/src/dom/walker.ts
  packages/runtime/src/html/index.ts
  packages/runtime/src/html/writer.ts
  packages/runtime/test/end-to-end/fixtures/basic-counter/browser.ts
  packages/runtime/test/end-to-end/fixtures/basic-counter/hydrate.ts
  packages/runtime/test/end-to-end/fixtures/basic-counter/server.ts
  packages/runtime/test/end-to-end/fixtures/basic-counter/snapshots/client-only.expected.md
  packages/runtime/test/end-to-end/fixtures/basic-counter/snapshots/server-hydrate.expected.md
  packages/runtime/test/end-to-end/fixtures/basic-counter/test.ts
  packages/runtime/test/end-to-end/main.test.ts
  packages/translator/test/main.test.ts
Due: prettier --write, eslint -f codeframe --fix

fix: normalize file opts similar to babel
  package-lock.json
  packages/babel-utils/src/imports.js
  packages/babel-utils/src/tags.js
  packages/compiler/index.d.ts
  packages/compiler/src/babel-plugin/file.js
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/index.js
  packages/marko/docs/compiler.md
  packages/translator-default/src/index.js
  packages/translator-default/src/taglib/core/parse-module-code.js
  packages/translator-default/src/taglib/core/transform-style.js
  packages/translator-default/src/taglib/core/translate-include-content.js
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-default/src/util/get-component-files.js
Due: prettier --write, eslint -f codeframe --fix

chore: temp fix to get CI working
  package.json
Due: prettier --write, fixpack

fix: remove empty const/let/var declarations caused by removal of MARKO_DEBUG expressions
  scripts/babel-plugin-marko-debug.js
Due: prettier --write, eslint -f codeframe --fix

Update express.md (#1738)
  packages/marko/docs/express.md
Due: prettier --write

chore: publish v5.15.11
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: issue with hydrating adjacent text nodes
  packages/marko/src/runtime/vdom/morphdom/index.js
Due: prettier --write, eslint -f codeframe --fix

fix: issue with hydrating adjacent text nodes (#1746)
  packages/marko/src/runtime/vdom/morphdom/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.15.12
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: remove explicit dirty checks
  .sizes.json
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/queue.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/src/dom/scope.ts
  packages/runtime/test/dom/fixtures/batched-updates-cleanup/index.ts
  packages/runtime/test/dom/fixtures/batched-updates/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-from/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-from/snapshot.expected.md
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-in/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-in/snapshot.expected.md
  packages/runtime/test/dom/fixtures/create-and-clear-rows/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows/snapshot.expected.md
  packages/runtime/test/dom/fixtures/event-handlers/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-children/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-top-level/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-top-level/snapshot.expected.md
  packages/runtime/test/dom/fixtures/remove-and-add-rows/index.ts
  packages/runtime/test/dom/fixtures/remove-and-add-rows/snapshot.expected.md
  packages/runtime/test/dom/fixtures/switch-adjacent-only-children/index.ts
  packages/runtime/test/dom/fixtures/switch-adjacent-only-children/snapshot.expected.md
  packages/runtime/test/dom/fixtures/toggle-nested/index.ts
  packages/runtime/test/dom/fixtures/user-effect-cleanup/index.ts
  packages/runtime/test/end-to-end/fixtures/basic-counter/browser.ts
Due: prettier --write, eslint -f codeframe --fix

feat: move scope properties into beginning of scope array
  .sizes.json
  packages/runtime/src/common/types.ts
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/queue.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/src/dom/scope.ts
  packages/runtime/src/dom/walker.ts
  packages/runtime/test/end-to-end/fixtures/basic-counter/snapshots/server-hydrate.expected.md
Due: prettier --write, eslint -f codeframe --fix

feat: queue uses local index for sorting now instead of source count
  .sizes.json
  packages/runtime/src/dom/queue.ts
Due: prettier --write, eslint -f codeframe --fix

feat: queue w/ argument, plus additional queue fixes
  .sizes.json
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/queue.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/src/dom/scope.ts
  packages/runtime/test/dom/fixtures/batched-updates-cleanup/index.ts
  packages/runtime/test/dom/fixtures/batched-updates/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-in/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-children/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-top-level/index.ts
  packages/runtime/test/dom/fixtures/remove-and-add-rows/index.ts
  packages/runtime/test/dom/fixtures/switch-adjacent-only-children/index.ts
  packages/runtime/test/dom/fixtures/toggle-detached-state/index.ts
  packages/runtime/test/dom/fixtures/toggle-first-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-last-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-middle-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-nested/index.ts
  packages/runtime/test/dom/fixtures/toggle-nested/snapshot.expected.md
  packages/runtime/test/dom/fixtures/toggle-only-child/index.ts
  packages/runtime/test/dom/fixtures/update-attr/index.ts
  packages/runtime/test/dom/fixtures/update-dynamic-attrs/index.ts
  packages/runtime/test/dom/fixtures/update-html/index.ts
  packages/runtime/test/dom/fixtures/update-text/index.ts
  packages/runtime/test/dom/fixtures/user-effect-cleanup/index.ts
Due: prettier --write, eslint -f codeframe --fix

feat: upgrade htmljs-parser
  package-lock.json
  packages/compiler/package.json
Due: prettier --write, fixpack

chore: publish v5.16.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: upgrade htmljs-parser
  package-lock.json
  packages/marko/package-lock.json
  packages/marko/package.json
  packages/marko/test/express/versions/express-4/package-lock.json
  packages/marko/test/express/versions/express-5/package-lock.json
Due: prettier --write, fixpack

chore(release): 4.24.0
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: upgrade htmljs parser
  package-lock.json
  package.json
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: regression with identical tag name & taglib deduping
  packages/marko/src/taglib/taglib-finder/index.js
  packages/marko/src/taglib/taglib-lookup/index.js
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/components/child/components/child/components/test.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/components/child/components/child/index.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/components/child/components/test.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/components/child/index.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/components/test.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/index.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/test.js
  packages/marko/test/taglib-lookup/fixtures/forEachAttribute/expected.json
  packages/marko/test/taglib-lookup/fixtures/forEachTag/expected.json
Due: prettier --write, eslint -f codeframe --fix

chore(release): 4.24.1
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: m4 npm publish dist tag
  package.json
Due: prettier --write, fixpack

chore(release): 4.24.2
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: regression with identical tag name & taglib deduping
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/index.js
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/components/child/components/child/components/test.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/components/child/components/child/index.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/components/child/components/test.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/components/child/index.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/components/test.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/index.marko
  packages/marko/test/components-browser/fixtures/prefer-closest-tag/test.js
Due: prettier --write, eslint -f codeframe --fix

fix: upgrade htmljs-parser
  package-lock.json
  packages/compiler/package.json
Due: prettier --write, fixpack

chore: publish v5.16.1
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: improve shadow root support
  packages/marko/src/runtime/RenderResult.js
  packages/marko/src/runtime/components/Component.js
  packages/marko/src/runtime/components/ComponentsContext.js
  packages/marko/src/runtime/components/event-delegation.js
  packages/marko/src/runtime/components/init-components/index-browser.js
  packages/marko/src/runtime/components/registry/index-browser.js
  packages/marko/src/runtime/components/util/index-browser.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/vdom/AsyncVDOMBuilder.js
  packages/marko/src/runtime/vdom/VDocumentFragment.js
  packages/marko/src/runtime/vdom/VElement.js
  packages/marko/src/runtime/vdom/VText.js
  packages/marko/src/runtime/vdom/hot-reload.js
  packages/marko/src/runtime/vdom/morphdom/index.js
  packages/marko/src/runtime/vdom/vdom.js
Due: prettier --write, eslint -f codeframe --fix

feat: improve shadow root support (#1749)
  packages/marko/src/runtime/RenderResult.js
  packages/marko/src/runtime/components/Component.js
  packages/marko/src/runtime/components/ComponentsContext.js
  packages/marko/src/runtime/components/event-delegation.js
  packages/marko/src/runtime/components/init-components/index-browser.js
  packages/marko/src/runtime/components/registry/index-browser.js
  packages/marko/src/runtime/components/util/index-browser.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/vdom/AsyncVDOMBuilder.js
  packages/marko/src/runtime/vdom/VDocumentFragment.js
  packages/marko/src/runtime/vdom/VElement.js
  packages/marko/src/runtime/vdom/VText.js
  packages/marko/src/runtime/vdom/hot-reload.js
  packages/marko/src/runtime/vdom/morphdom/index.js
  packages/marko/src/runtime/vdom/vdom.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.17.0
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: prefer delegating events from document.body
  packages/marko/src/runtime/components/event-delegation.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.17.1
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: ensure host element always a document or shadow root
  packages/marko/src/runtime/RenderResult.js
Due: prettier --write, eslint -f codeframe --fix

fix: ensure host element always a document or shadow root (#1751)
  packages/marko/src/runtime/RenderResult.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.17.2
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: upgrade babel deps & fix builder regression
  package-lock.json
  package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/compiler/src/babel-types/types/patch.js
  packages/translator-default/package.json
Due: prettier --write, eslint -f codeframe --fix, fixpack

chore: publish v5.17.3
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: upgrade deps
  .lintstagedrc
  .sizes.json
  package.json
  packages/runtime/test/utils/track-mutations.ts
  packages/translator/package.json
  packages/translator/src/core/translate-get.ts
  packages/translator/src/tag/custom-tag/dom.ts
  packages/translator/src/tag/custom-tag/html.ts
  packages/translator/src/util/translate-var.ts
  packages/translator/test/fixtures/let-tag/snapshots/htmlCompiled-expected.js
  packages/translator/test/utils/track-mutations.ts
  yarn.lock
Due: prettier --write, eslint -f codeframe --fix, fixpack
