Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

chore: drop changeset (persisted pages is unshipped)
  .changeset/lazy-persisted-patch-await.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): await lazy persisted patches
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/patch-ready.ts
  packages/runtime-tags/src/dom/patch.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): clarify subscriber fill dispatch
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): unify persisted analysis terminology
  agent-feedback/items/2026-08-20-rename-persisted-shells-program-extra.md
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/util/persisted/admission.ts
  packages/runtime-tags/src/translator/util/shell.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): inject patch readiness as a runtime feature module
  .sizes.json
  .sizes/dom.js
  agent-feedback/items/2026-08-21-clean-up-pending-patch-state-for-discarded-renders.md
  agent-feedback/items/2026-08-21-signal-lazy-loader-script-failure-to-pending-patches.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/sizes.json
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/patch-ready.feat.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): prune stale compile snapshots
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-html.txt
Due: none

fix(runtime-tags): keep lazy import fact internal
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): initialize patch readiness from page entry
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: file persistedShells rename feedback
  agent-feedback/items/2026-08-20-rename-persisted-shells-program-extra.md
Due: prettier --write, prettier --write --with-node-modules

test(runtime-tags): cover lazy patch timing
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/dom/patch-ready.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/html/assets.ts
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): cover shared content fill subscribers
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/tags/frame.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/test.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: trim comments, rename boundaryAlwaysPairs
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/core/try.ts
  packages/runtime-tags/src/translator/util/persisted/decisions.ts
  packages/runtime-tags/src/translator/util/persisted/delivery.ts
  packages/runtime-tags/src/translator/util/persisted/structure.ts
  packages/runtime-tags/src/translator/util/shell.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): harden patch-ready failure paths
  .sizes.json
  .sizes/dom.js
  agent-feedback/items/2026-08-21-backport-lazy-load-failure-reporting-to-main.md
  agent-feedback/items/2026-08-21-construct-over-lazy-branch-delivery.md
  agent-feedback/items/2026-08-21-fill-delivery-through-content-chains-cluster-e.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-conditional-child-inert/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-conditional-child-state/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-placeholder/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-idle-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-error/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-mixed-known-and-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/tags/wrap/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-in-stateful/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-chunk-failed/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-construct/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-load-failed/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/sizes.json
  packages/runtime-tags/src/common/meta.ts
  packages/runtime-tags/src/dom/load.ts
  packages/runtime-tags/src/dom/patch-ready.feat.ts
  packages/runtime-tags/src/dom/resume.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore(runtime-tags): compose lazy failure reporting with the main backport
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-chunk-failed/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-chunk-failed/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-chunk-failed/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-load-failed/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-load-failed/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-load-failed/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.debug.html
  packages/runtime-tags/src/dom/resume.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): pin deep and rest input members selecting structure
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-deep-input/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-rest-input/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): rebase onto main — shells accept structure text ops
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures-interop/custom-tag-parameters-from-args/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-inline-split-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-split-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-class-page-with-stateful-tags-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-params/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-mixed/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-branch/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-branch/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-loop/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-loop/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/translator/util/shell.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): compose the lazy failure backport at the persisted base
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-conditional-child-inert/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-conditional-child-state/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-placeholder/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-idle-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-entry-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-error-nested-placeholder/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-error/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-script-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-mixed-known-and-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.debug.html
  packages/runtime-tags/src/dom/resume.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): admit locally written loop keyers with fillable server reads
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-by-fill/test.ts
  packages/runtime-tags/src/translator/util/persisted/admission.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): note the split between main's debug loader reporting and the persisted production sink
  packages/runtime-tags/src/html/assets.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): patch checkedValue groups
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value-multiple/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-checked-value/template.marko
  packages/runtime-tags/src/dom/patch-control-checked-value.feat.ts
  packages/runtime-tags/src/translator/util/persisted/admission.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): pin persisted resume of a disconnected stream
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-try-abort-disconnect/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(runtime-tags): annotate serializer tables and patchDynamicTag as pure
  .changeset/pure-runtime-side-effects.md
  packages/runtime-tags/src/html/dynamic-tag.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): pin spread-argument and assigned-tag-variable rejections in client-owned structure
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-args-spread/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-args-spread/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-args-spread/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-args-spread/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-args-spread/tags/badge/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-args-spread/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-args-spread/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var-assigned/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var-assigned/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var-assigned/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var-assigned/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var-assigned/tags/widget/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var-assigned/tags/widget/tags/inner/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var-assigned/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var-assigned/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/tags/widget/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/tags/widget/tags/inner/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-grandchild-var/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-assigned/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-assigned/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-assigned/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-assigned/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-assigned/tags/counter-box/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-assigned/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-assigned/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): close structural-feed and assigned-var gaps in the client-owned child guard
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-arg-structural/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-arg-structural/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-arg-structural/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-arg-structural/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-arg-structural/helper.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-arg-structural/tags/struct/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-arg-structural/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-arg-structural/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-spread/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-spread/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-spread/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-spread/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-spread/helper.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-spread/tags/tabs/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-spread/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-spread/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural-attr/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural-attr/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural-attr/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural-attr/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural-attr/helper.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural-attr/tags/tabs2/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural-attr/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural-attr/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural/helper.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural/tags/tabs/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-nested-structural/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-destructured/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-destructured/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-destructured/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-destructured/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-destructured/tags/counter/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-destructured/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-tag-var-destructured/test.ts
  packages/runtime-tags/src/translator/util/persisted/admission.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): resolve attr-tag and spread feed provenance through the canonical extra
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/tags/tabs/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-attr-tag-state/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/tags/tabs/index.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-spread-feed/test.ts
  packages/runtime-tags/src/translator/util/persisted/admission.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: narrow the attr-tag admission item to the implicit early-return contract
  agent-feedback/items/2026-08-12-validate-attribute-tag-bodies-generically-in-persisted-admission.md
Due: prettier --write, prettier --write --with-node-modules

agent-feedback: drop tree-shaking item resolved by pure annotations
  agent-feedback/items/2026-07-11-make-the-runtime-analyzably-pure-so-bundlers-tree.md
Due: prettier --write, prettier --write --with-node-modules

agent-feedback: note implementation findings on param-group registration item
  agent-feedback/items/2026-07-13-let-parameter-reason-groups-select-client-registration-anchors.md
Due: prettier --write, prettier --write --with-node-modules
