Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

fix: text area null regression
  .changeset/selfish-bananas-exercise.md
  packages/marko/src/runtime/vdom/VElement.js
  packages/marko/src/runtime/vdom/VNode.js
  packages/marko/src/runtime/vdom/morphdom/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: marko debug reference in compat runtime
  .changeset/big-rules-shout.md
  .sizes.json
  packages/marko/src/runtime/helpers/tags-compat-dom.js
  packages/marko/src/runtime/helpers/tags-compat-html.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: compat issue with init-components-tag
  .changeset/sharp-shirts-tan.md
  .sizes.json
  packages/translator-default/src/tag/custom-tag.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: expose all files from compiler exports
  .changeset/flat-tables-divide.md
  .sizes.json
  packages/compiler/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

chore: upgrade all deps chore: refactor package json scripts chore: rename scripts used for ci with @ci prefix
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .husky/pre-commit
  .prettierrc.json
  .sizes.json
  package-lock.json
  package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/marko/package.json
  packages/runtime-tags/package.json
  packages/runtime-tags/tsconfig.json
  packages/translator-default/package.json
  packages/translator-default/test/package.json
  packages/translator-interop/package.json
  packages/translator-tags/package.json
  packages/translator-tags/src/__tests__/package.json
  packages/translator-tags/tsconfig.json
  tsconfig.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix: compat layer issues loading cjs and mjs runtime
  .changeset/fresh-tigers-enjoy.md
  packages/marko/package.json
  packages/marko/src/runtime/helpers/tags-compat-dom.js
  packages/marko/src/runtime/helpers/tags-compat-html.js
  packages/marko/src/runtime/helpers/tags-compat/dom-debug.js
  packages/marko/src/runtime/helpers/tags-compat/dom-debug.mjs
  packages/marko/src/runtime/helpers/tags-compat/dom.js
  packages/marko/src/runtime/helpers/tags-compat/dom.mjs
  packages/marko/src/runtime/helpers/tags-compat/html-debug.js
  packages/marko/src/runtime/helpers/tags-compat/html-debug.mjs
  packages/marko/src/runtime/helpers/tags-compat/html.js
  packages/marko/src/runtime/helpers/tags-compat/html.mjs
  packages/marko/src/runtime/helpers/tags-compat/runtime-dom.js
  packages/marko/src/runtime/helpers/tags-compat/runtime-html.js
  packages/translator-default/src/index.js
  packages/translator-default/src/tag/custom-tag.js
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-interop/src/__tests__/fixtures/custom-tag-parameters-from-args/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/custom-tag-parameters-from-args/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-basic-class-to-tags/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-basic-class-to-tags/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-basic-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-basic-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-class-to-tags/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-class-to-tags/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-tags/src/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: ensure the resolve helper resolves promises with the same timeout at the same time by sharing the promise
  .sizes.json
  packages/translator-tags/src/__tests__/utils/resolve.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ensure the resolve helper resolves promises with the same timeout at the same time by sharing the promise (#2155)
  .sizes.json
  packages/translator-tags/src/__tests__/utils/resolve.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid using mangled internal props in interop runtime
  .changeset/thick-dolphins-destroy.md
  .sizes.json
  packages/marko/src/runtime/helpers/tags-compat/dom-debug.js
  packages/marko/src/runtime/helpers/tags-compat/dom-debug.mjs
  packages/marko/src/runtime/helpers/tags-compat/dom.js
  packages/marko/src/runtime/helpers/tags-compat/dom.mjs
  packages/marko/src/runtime/helpers/tags-compat/html-debug.mjs
  packages/marko/src/runtime/helpers/tags-compat/html.mjs
  packages/marko/src/runtime/helpers/tags-compat/runtime-dom.js
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/compat.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: remove gzip from size check
  .sizes.json
  scripts/sizes.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Create heavy-snails-repair.md
  .changeset/heavy-snails-repair.md
Due: prettier --write, prettier --write --with-node-modules

fix(ts): add script-lang to v4
  packages/marko/src/taglib/taglib-loader/loadTaglibFromProps.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: runtime entry file fixes
  .changeset/perfect-bugs-unite.md
  .changeset/wild-walls-sin.md
  packages/runtime-tags/package.json
  packages/runtime-tags/scripts/bundle.ts
  packages/translator-default/src/index.js
  packages/translator-interop/scripts/bundle.ts
  packages/translator-interop/src/feature-detection.ts
  packages/translator-interop/src/index.ts
  packages/translator-tags/scripts/bundle.ts
  packages/translator-tags/src/index.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: switch to function getter for stream data access
  .changeset/brave-turtles-bow.md
  packages/marko/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/writer.ts
  packages/translator-tags/src/__tests__/fixtures/dollar-global-client/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/migrate-out-global/__snapshots__/html.expected/template.js
  packages/translator-tags/src/visitors/referenced-identifier.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Docs: Fix bundler integration links
  packages/marko/docs/cloudflare-workers.md
  packages/marko/docs/fastify.md
  packages/marko/docs/http.md
  packages/marko/docs/koa.md
Due: prettier --write, prettier --write --with-node-modules

fix: avoid prebundling interop code
  .changeset/two-pumpkins-tell.md
  packages/translator-default/src/index.js
  packages/translator-tags/src/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid prebundling interop code (#2162)
  .changeset/two-pumpkins-tell.md
  packages/translator-default/src/index.js
  packages/translator-tags/src/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: issue with ignoreUnrecognizedTags and nested attribute tags
  .changeset/heavy-snails-repair.md
  packages/marko/src/compiler/Normalizer.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore(release): 4.28.3
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix: interop translator output hydrate code
  .changeset/rich-plants-rescue.md
  package-lock.json
  package.json
  packages/babel-utils/src/tags.js
  packages/compiler/src/babel-plugin/index.js
  packages/translator-default/index.d.ts
  packages/translator-default/src/index.js
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-interop/src/__tests__/main.test.ts
  packages/translator-interop/src/index.ts
  packages/translator-tags/src/__tests__/main.test.ts
  packages/translator-tags/src/index.ts
  packages/translator-tags/src/util/entry-builder.ts
  packages/translator-tags/src/visitors/import-declaration.ts
  packages/translator-tags/src/visitors/program/index.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: deps upgrade
  package-lock.json
  package.json
  packages/compiler/package.json
  packages/marko/package.json
  packages/translator-interop/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix: hydrate entry file path
  .changeset/ninety-trains-collect.md
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-tags/src/util/entry-builder.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: hoist hydrate child visitor logic
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-interop/src/index.ts
  packages/translator-tags/src/util/entry-builder.ts
  packages/translator-tags/src/visitors/program/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: hydrate entry file path
  .changeset/ninety-trains-collect.md
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-interop/src/index.ts
  packages/translator-tags/src/visitors/program/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: allow empty marker to treeshake
  .changeset/long-shirts-change.md
  .sizes.json
  packages/runtime-tags/src/dom/control-flow.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
