Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

chore: add test
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/template.marko
  packages/runtime-tags/src/__tests__/fixtures/resume-single-node/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid compile error on empty script tag
  .changeset/stale-bikes-matter.md
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/template.marko
  packages/runtime-tags/src/__tests__/fixtures/script-tag-empty/test.ts
  packages/runtime-tags/src/translator/core/script.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(let, return): allow falsy valueChange
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/bind-to-input/__snapshots__/html.expected/tags/counter.js
  packages/runtime-tags/src/__tests__/fixtures/cross-tag-closure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/cross-tag-closure/__snapshots__/html.expected/tags/my-let.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/html.expected/tags/counter.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/html.expected/tags/counter.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/tags/child.marko
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/test.ts
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-dynamic-change-handler/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-id/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-static/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag/template.marko
  packages/runtime-tags/src/__tests__/fixtures/multiple-bound-values/__snapshots__/html.expected/tags/2counters.js
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/core/let.ts
  packages/runtime-tags/src/translator/core/return.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
  packages/runtime-tags/tags/let.d.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(let, return): allow falsy valueChange (#2812)
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/bind-to-input/__snapshots__/html.expected/tags/counter.js
  packages/runtime-tags/src/__tests__/fixtures/cross-tag-closure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/cross-tag-closure/__snapshots__/html.expected/tags/my-let.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/html.expected/tags/counter.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/html.expected/tags/counter.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/tags/child.marko
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/test.ts
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-dynamic-change-handler/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-id/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-static/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag/template.marko
  packages/runtime-tags/src/__tests__/fixtures/multiple-bound-values/__snapshots__/html.expected/tags/2counters.js
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/core/let.ts
  packages/runtime-tags/src/translator/core/return.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
  packages/runtime-tags/tags/let.d.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: class/tags interop improvements
  .changeset/cute-nails-cry.md
  packages/runtime-class/src/node_modules/@internal/components-beginComponent/index.js
  packages/runtime-class/src/runtime/helpers/skip-serialize.js
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-event-handler-render-body-tags-to-class/__snapshots__/ssr.expected.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid relative @marko/compiler/modules imports
  .changeset/eighty-things-yawn.md
  packages/compiler/src/babel-utils/imports.js
  packages/compiler/src/babel-utils/tags.js
  packages/compiler/src/config.js
  packages/compiler/src/index.js
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/index.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/compiler/src/util/build-code-frame.js
  packages/compiler/src/util/try-load-translator.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: Marko 6 README
  README.md
  packages/runtime-tags/README.md
Due: prettier --write, prettier --write --with-node-modules

fix(id): add TS for value
  packages/runtime-tags/tags/id.d.marko
Due: none

chore: add changeset
  .changeset/ninety-melons-talk.md
Due: prettier --write, prettier --write --with-node-modules

fix(let): allow different value and valueChange
  packages/runtime-tags/tags/let.d.marko
Due: none

chore: add changeset
  .changeset/warm-hotels-argue.md
Due: prettier --write, prettier --write --with-node-modules

Update ninety-melons-talk.md
  .changeset/ninety-melons-talk.md
Due: prettier --write, prettier --write --with-node-modules

fix(id, let): typescript (#2818)
  .changeset/ninety-melons-talk.md
  packages/runtime-tags/tags/id.d.marko
  packages/runtime-tags/tags/let.d.marko
Due: prettier --write, prettier --write --with-node-modules

fix: tags api compat async
  .changeset/yellow-clubs-move.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/html/compat.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: type strip before transform phase
  .changeset/free-toys-yawn.md
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/babel-types/types/definitions.js
  packages/compiler/src/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(for): until
  .sizes.json
  .sizes/dom.js
  .sizes/name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/for-tag/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/for-tag/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/for-tag/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag/template.marko
  packages/runtime-tags/src/common/for.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/for.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/util/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/chubby-wings-cover.md
Due: prettier --write, prettier --write --with-node-modules

fix: style tag var hoisting in ssr
  .changeset/heavy-pumas-nail.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-modules-destructured/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/translator/core/style.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ensure type imports are stripped within all static statements
  .changeset/purple-papers-prove.md
  packages/compiler/src/babel-plugin/index.js
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/template.marko
  packages/runtime-tags/src/__tests__/fixtures/import-types/types.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: issue with multiple binds to higher scope
  .changeset/quiet-turkeys-shop.md
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/template.marko
  packages/runtime-tags/src/__tests__/fixtures/multiple-binds/test.ts
  packages/runtime-tags/src/translator/visitors/tag/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: strip type specifiers in static/server/client statements
  .changeset/stale-bikes-happen.md
  packages/compiler/src/babel-plugin/index.js
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/import-types/template.marko
  packages/runtime-tags/src/__tests__/fixtures/import-types/types-specifier.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: stateless if closures
  .changeset/warm-glasses-bet.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/template.marko
  packages/runtime-tags/src/__tests__/fixtures/inert-if-closure-update/test.ts
  packages/runtime-tags/src/dom/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
