Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

fix(runtime-tags): warn on conflicting load triggers for a shared asset
  .changeset/warn-conflicting-load-triggers.md
  AGENTS.md
  agent-feedback/bugs.md
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/tags/child.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/tags/parent-a.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/tags/parent-b.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/template.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/test.ts
  packages/runtime-tags/src/html/assets.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-class): declare he as a direct dependency
  .changeset/runtime-class-he-dependency.md
  packages/runtime-class/package.json
  pnpm-lock.yaml
Due: prettier --write, fixpack, prettier --write --with-node-modules

docs(agent-feedback): note flaky lazy-load fixture teardown race
  agent-feedback/dx.md
Due: prettier --write, prettier --write --with-node-modules

perf(ci): parallelize coverage report to speed up @ci:test
  package.json
  scripts/coverage-report.js
  scripts/test-coverage.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix(runtime-tags): thread enclosing context into class->tags bridged chunk
  .changeset/compat-bridged-chunk-context.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-handler-render-body-tags-to-class/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-handler-render-body-tags-to-class/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-handler-render-body-tags-to-class/sizes.json
  packages/runtime-tags/src/html/compat.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): schedule browser timer shims via window.setTimeout
  agent-feedback/dx.md
  packages/runtime-tags/src/__tests__/utils/create-browser.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): normalize params-binding BindingType
  agent-feedback/cleanup.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): trim param lazy-read comments to two lines
  packages/runtime-tags/src/__tests__/fixtures/for-item-handler-live-read/test.ts
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore(runtime-tags): note the interop scope-registration cache is safe module-global
  agent-feedback/bugs.md
  packages/runtime-tags/src/html/compat.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): note mount-effect order is unspecified across render paths
  agent-feedback/bugs.md
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): route a failed lazy input chunk to the @catch boundary
  .changeset/lazy-input-chunk-catch.md
  .sizes.json
  .sizes/dom.js
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-conditional-child-inert/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-conditional-child-state/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-placeholder/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-idle-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/child.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/template.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-mixed-known-and-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/create-browser.ts
  packages/runtime-tags/src/__tests__/utils/import-with-context.ts
  packages/runtime-tags/src/dom/load.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): move the language-tools type-check bugs to that repo
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules

chore: build types with TypeScript 7
  agent-feedback/dx.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/tseslint/index.js
  scripts/tseslint/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

docs(runtime-tags): note a caught <try> only recovers by re-rendering
  agent-feedback/bugs.md
  packages/runtime-tags/cheatsheet.md
  packages/runtime-tags/src/dom/control-flow.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): correct decodeAccessor's documented ranges
  agent-feedback/unclear.md
  packages/runtime-tags/src/common/helpers.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): mark HTML effects with a flag, not an undefined statement
  agent-feedback/cleanup.md
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: cover $global sharing, scoped styles, and TypeScript in the cheatsheet
  agent-feedback/unclear.md
  packages/runtime-tags/cheatsheet.md
  skills/marko-5-to-6-migration/api-mapping.md
  skills/marko-best-practices/SKILL.md
Due: prettier --write, prettier --write --with-node-modules

docs(agent-feedback): record loop args-array alloc + WalkRangeSize zero-impact finding
  agent-feedback/perf.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): say why a value is being serialized in the unserializable error
  .changeset/unserializable-message-context.md
  agent-feedback/dx.md
  packages/runtime-tags/cheatsheet.md
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-import-value/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-serialize-private-method-handler/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-spread-change-handler-not-controllable/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/unserializable-intl-formatter/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/unserializable-intl-formatter/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/unserializable-intl-formatter/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/unserializable-intl-formatter/template.marko
  packages/runtime-tags/src/__tests__/fixtures/unserializable-intl-formatter/test.ts
  packages/runtime-tags/src/__tests__/fixtures/unserializable-warning/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): serialize Intl formatters and Intl.Locale
  .changeset/serialize-intl-formatters.md
  .changeset/unserializable-message-context.md
  packages/runtime-tags/cheatsheet.md
  packages/runtime-tags/src/__tests__/fixtures/component-attrs-import-value/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-serialize-private-method-handler/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-spread-change-handler-not-controllable/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/intl-formatters-resumed/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/intl-formatters-resumed/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/intl-formatters-resumed/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/intl-formatters-resumed/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/intl-formatters-resumed/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/intl-formatters-resumed/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/intl-formatters-resumed/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/intl-formatters-resumed/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/intl-formatters-resumed/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/intl-formatters-resumed/template.marko
  packages/runtime-tags/src/__tests__/fixtures/intl-formatters-resumed/test.ts
  packages/runtime-tags/src/__tests__/fixtures/unserializable-intl-formatter/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/unserializable-intl-formatter/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/unserializable-intl-formatter/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/unserializable-intl-formatter/template.marko
  packages/runtime-tags/src/__tests__/fixtures/unserializable-intl-formatter/test.ts
  packages/runtime-tags/src/__tests__/fixtures/unserializable-warning/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record serializer gaps for Temporal, Blob/File, and other built-ins
  agent-feedback/dx.md
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): serialize Temporal values
  .changeset/serialize-temporal.md
  agent-feedback/dx.md
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: clarify that a derived <const> read in a handler is stale until flush
  agent-feedback/unclear.md
  packages/runtime-tags/cheatsheet.md
  skills/marko-5-to-6-migration/api-mapping.md
Due: prettier --write, prettier --write --with-node-modules

docs: agent feedback recorded during persisted pages development
  agent-feedback/bugs.md
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  agent-feedback/perf.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): serialize Map/Set members that reference an ancestor
  .changeset/serialize-collection-ancestor-members.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/serialize-set-ancestor-member/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/serialize-set-ancestor-member/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/serialize-set-ancestor-member/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/serialize-set-ancestor-member/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/serialize-set-ancestor-member/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/serialize-set-ancestor-member/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/serialize-set-ancestor-member/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/serialize-set-ancestor-member/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/serialize-set-ancestor-member/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/serialize-set-ancestor-member/template.marko
  packages/runtime-tags/src/__tests__/fixtures/serialize-set-ancestor-member/test.ts
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): serialize DataView
  .changeset/serialize-dataview.md
  agent-feedback/dx.md
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): note the lazy load entry's floated rejection is intentional
  agent-feedback/bugs.md
  packages/runtime-tags/src/translator/visitors/program/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(compiler): warn when an unenclosed `>` truncates a tag's value expression
  .changeset/warn-truncated-comparison.md
  agent-feedback/dx.md
  packages/compiler/src/babel-plugin/parser.js
  packages/runtime-tags/src/__tests__/fixtures/unenclosed-gt-truncates-value/__snapshots__/diagnostics.md
  packages/runtime-tags/src/__tests__/fixtures/unenclosed-gt-truncates-value/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/unenclosed-gt-truncates-value/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/unenclosed-gt-truncates-value/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/unenclosed-gt-truncates-value/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/unenclosed-gt-truncates-value/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/unenclosed-gt-truncates-value/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/unenclosed-gt-truncates-value/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/unenclosed-gt-truncates-value/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/unenclosed-gt-truncates-value/template.marko
  packages/runtime-tags/src/__tests__/fixtures/unenclosed-gt-truncates-value/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record 105 verified findings from a runtime-tags scan
  agent-feedback/bugs.md
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  agent-feedback/perf.md
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

style(agent-feedback): fix markdown formatting flagged by oxfmt
  agent-feedback/bugs.md
  agent-feedback/dx.md
Due: prettier --write, prettier --write --with-node-modules

test: set NODE_PATH on parallel workers so workspace translators resolve
  scripts/test-parallel.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
