Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

chore: setup publish scripts for marko@6
  .changeset/new-radios-knock.md
  .changeset/strange-mails-leave.md
  .github/workflows/ci.yml
  package.json
  packages/runtime-tags/scripts/bundle.ts
  packages/runtime-tags/src/translator/core/const.ts
  packages/runtime-tags/src/translator/core/debug.ts
  packages/runtime-tags/src/translator/core/define.ts
  packages/runtime-tags/src/translator/core/effect.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/html-comment.ts
  packages/runtime-tags/src/translator/core/html-script.ts
  packages/runtime-tags/src/translator/core/html-style.ts
  packages/runtime-tags/src/translator/core/id.ts
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/core/index.ts
  packages/runtime-tags/src/translator/core/let.ts
  packages/runtime-tags/src/translator/core/lifecycle.ts
  packages/runtime-tags/src/translator/core/log.ts
  packages/runtime-tags/src/translator/core/return.ts
  packages/runtime-tags/src/translator/core/script.ts
  packages/runtime-tags/src/translator/index.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/util/is-core-tag.ts
  packages/runtime-tags/src/translator/util/runtime-info.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/util/walks.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
  scripts/publish-alias.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: release runtime-tags
  .changeset/tame-mails-provide.md
  .github/workflows/ci.yml
Due: prettier --write, prettier --write --with-node-modules

chore: release runtime-tags attempt 2
  .changeset/fuzzy-mails-dance.md
  .github/workflows/ci.yml
Due: prettier --write, prettier --write --with-node-modules

fix: package json repo config
  .changeset/popular-planes-bow.md
  packages/compiler/package.json
  packages/runtime-class/package.json
  packages/runtime-tags/package.json
  packages/translator-interop/package.json
  scripts/publish-alias.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: parsing negative offset locations
  .changeset/curvy-squids-enjoy.md
  packages/compiler/babel-utils.d.ts
  packages/compiler/src/babel-utils/loc.js
  packages/runtime-tags/src/translator/core/script.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: publish alias issue
  .changeset/small-trees-explain.md
  packages/compiler/src/config.js
  packages/runtime-class/src/translator/index.js
  scripts/publish-alias.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: incorrect filepath to marko folder in monorepo
  .changeset/nine-sheep-build.md
  babel.config.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: incorrect filepath to marko folder in monorepo
  .changeset/nine-sheep-build.md
  .gitattributes
  .gitignore
  .prettierignore
  babel.config.js
  eslint.config.mjs
  packages/compiler/package.json
  packages/runtime-class/docs/typescript.md
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: tag types were not included in npm publish
  .changeset/late-spiders-impress.md
  packages/runtime-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix: script tag sourcemap locations
  .changeset/pink-trainers-cross.md
  .changeset/shy-pots-act.md
  packages/compiler/src/babel-types/generator/patch.js
  packages/compiler/src/babel-utils/parse.js
  packages/runtime-tags/src/translator/core/script.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: add tags api runtime types
  .changeset/neat-moles-jog.md
  packages/runtime-tags/index.d.ts
  packages/runtime-tags/src/html/template.ts
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: upgrade deps
  .changeset/sweet-timers-cheat.md
  package-lock.json
  package.json
  packages/runtime-class/package.json
  packages/runtime-tags/package.json
  packages/translator-interop/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

chore: add changeset
  .changeset/angry-nails-scream.md
Due: prettier --write, prettier --write --with-node-modules

fix: guard change handler since toggle is fired from programatic changes to open
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/dom/controllable.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Update README.md
  README.md
Due: prettier --write, prettier --write --with-node-modules

chore: fix tags api types
  .changeset/blue-buses-train.md
  packages/runtime-tags/index.d.ts
  packages/runtime-tags/package.json
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

refactor: improve registry id normalization
  .changeset/afraid-laws-study.md
  packages/compiler/src/babel-utils/tags.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: tags dir forces Tags API
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/__snapshots__/dom.expected/tags/hello.js
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/__snapshots__/html.expected/tags/hello.js
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/tags/hello.marko
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/template.marko
  packages/translator-interop/src/__tests__/fixtures/error-class-tags-dir/__snapshots__/dom.expected/tags/hello.error.txt
  packages/translator-interop/src/__tests__/fixtures/error-class-tags-dir/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/error-class-tags-dir/__snapshots__/html.expected/tags/hello.error.txt
  packages/translator-interop/src/__tests__/fixtures/error-class-tags-dir/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/error-class-tags-dir/tags/hello.marko
  packages/translator-interop/src/__tests__/fixtures/error-class-tags-dir/template.marko
  packages/translator-interop/src/__tests__/fixtures/error-class-tags-dir/test.ts
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/tags/components/hello-internal.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/tags/hello.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/html.expected/tags/components/hello-internal.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/html.expected/tags/hello.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/tags/components/hello-internal.marko
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/tags/hello.marko
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/template.marko
  packages/translator-interop/src/feature-detection.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: update snapshots
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/ambiguous-tags-dir/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/tags/hello.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/html.expected/tags/hello.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/html.expected/template.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: remove script that was accidentally committed
  components-to-tags.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
