Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, sort-package-json --quiet

refactor: package scripts
  package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/compiler/scripts/types-babel-traverse.js
  packages/compiler/scripts/types-babel-types.mjs
  packages/marko/package.json
  packages/translator-default/package.json
Due: prettier --write, eslint --fix, fixpack, sort-package-json --quiet

chore: update husky
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write, fixpack, sort-package-json --quiet

chore: mark interop translator package as private
  packages/translator-interop/package.json
Due: prettier --write, fixpack, sort-package-json --quiet

fix: handle errors thrown in await catch attrs
  .changeset/gold-timers-sleep.md
  packages/marko/src/core-tags/core/await/renderer.js
  packages/marko/test/render/fixtures/await-error-rethrow-catch/template.marko
  packages/marko/test/render/fixtures/await-error-rethrow-catch/test.js
Due: prettier --write, eslint --fix

fix: improve typings for dependency meta data
  packages/compiler/index.d.ts
Due: prettier --write, eslint --fix

feat: include transitive marko dependencies from renderer entries in the hydrate output
  .changeset/orange-dots-cheer.md
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint --fix

fix: issue where tags were not seen as preserved by the compiler
  packages/translator-default/src/tag/attribute/directives/no-update-body-if.js
  packages/translator-default/src/tag/attribute/directives/no-update-body.js
  packages/translator-default/src/tag/attribute/directives/no-update-if.js
  packages/translator-default/src/tag/attribute/directives/no-update.js
Due: prettier --write, eslint --fix

feat: bring back support for deprecated string literal spread attributes
  packages/marko/src/runtime/html/helpers/merge-attrs.js
  packages/marko/src/runtime/vdom/helpers/merge-attrs.js
  packages/marko/test/render/fixtures/attr-newline-escaped/expected.html
  packages/marko/test/render/fixtures/attr-newline-escaped/vdom-expected.html
  packages/marko/test/render/fixtures/attrs/expected.html
  packages/marko/test/render/fixtures/spread-attribute-no-mutate/expected.html
  packages/marko/test/render/fixtures/spread-attribute-order-html-tag/expected.html
  packages/translator-default/src/tag/native-tag[vdom]/attributes.js
  packages/translator-default/src/tag/native-tag[vdom]/index.js
  packages/translator-default/src/tag/util.js
  packages/translator-default/test/fixtures/error-at-tags-top-level/snapshots/vdomProduction-error-expected.txt
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/html-expected.js
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/html-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix

fix: issue with static template literal expressions
  .changeset/slow-books-run.md
  packages/babel-utils/src/compute.js
Due: prettier --write, eslint --fix

chore(release): 4.27.0
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack, sort-package-json --quiet

docs: reference new compat modules
  .changeset/odd-bags-march.md
  packages/marko/docs/marko-5-upgrade.md
Due: prettier --write

fix: data migration on reassignment
  .changeset/strong-mugs-bow.md
  packages/translator-default/src/taglib/migrate/all-templates.js
  packages/translator-default/test/fixtures/data-reassigned/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/data-reassigned/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/data-reassigned/snapshots/html-expected.js
  packages/translator-default/test/fixtures/data-reassigned/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/data-reassigned/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/data-reassigned/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/data-reassigned/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/data-reassigned/template.marko
Due: prettier --write, eslint --fix

feat: allow skipping virtual dependencies
  .changeset/rude-goats-sing.md
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint --fix

feat: add hydrateInit compiler option
  .changeset/hip-kings-tickle.md
  packages/compiler/config.d.ts
  packages/compiler/src/config.js
  packages/marko/docs/compiler.md
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint --fix

feat: support taglib register with just module id
  .changeset/tiny-pandas-play.md
  packages/compiler/index.d.ts
  packages/compiler/src/taglib/index.js
Due: prettier --write, eslint --fix

feat: improve legacy load api
  .changeset/chilled-wasps-swim.md
  .changeset/pretty-candles-mate.md
  packages/marko/src/node_modules/@internal/components-define-widget-legacy/index-browser.js
  packages/marko/src/node_modules/@internal/components-entry-legacy/index-browser.js
  packages/marko/src/node_modules/@internal/components-registry/index-browser.js
  packages/marko/src/node_modules/@internal/loader/fallback-node.js
  packages/marko/src/node_modules/@internal/loader/index-browser.js
  packages/marko/src/node_modules/@internal/loader/index.js
  packages/marko/src/node_modules/@internal/loader/package.json
  packages/marko/src/node_modules/@internal/require/index-browser.js
  packages/marko/src/node_modules/@internal/require/index-legacy-browser.js
  packages/marko/src/node_modules/@internal/require/index-webpack.js
  packages/marko/src/node_modules/@internal/require/index.js
  packages/marko/src/node_modules/@internal/require/package.json
  packages/marko/src/runtime/components/legacy/defineRenderer-legacy.js
Due: prettier --write, eslint --fix, fixpack, sort-package-json --quiet

chore: ensure tooling runs against internal node_modules
  .eslintignore
  .gitattributes
  .prettierignore
  lint-staged.config.js
  package.json
  packages/marko/src/node_modules/@internal/components-define-widget-legacy/index-browser.js
  packages/marko/src/node_modules/@internal/components-define-widget-legacy/index.js
  packages/marko/src/node_modules/@internal/components-entry-legacy/index-browser.js
  packages/marko/src/node_modules/@internal/components-entry-legacy/index.js
  packages/marko/src/node_modules/@internal/components-entry/index-browser.js
  packages/marko/src/node_modules/@internal/components-entry/index.js
  packages/marko/src/node_modules/@internal/components-registry/index-browser.js
  packages/marko/src/node_modules/@internal/create-readable/index-browser.js
  packages/marko/src/node_modules/@internal/loader/index.js
  packages/marko/src/node_modules/@internal/require/index-browser.js
  packages/marko/src/node_modules/@internal/require/index-legacy-browser.js
  packages/marko/src/node_modules/@internal/require/index-webpack.js
  packages/marko/src/node_modules/@internal/require/index.js
Due: prettier --write, eslint --fix, fixpack, sort-package-json --quiet

chore: remove warnings for top level marko-widgets apis
  packages/marko/src/runtime/components/legacy/defineComponent-legacy.js
  packages/marko/src/runtime/components/legacy/defineRenderer-legacy.js
Due: prettier --write, eslint --fix

chore: update lock file
  package-lock.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or (((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})) or (any of: ./{,packages/*/}package.json))
  eslint --fix: (any of: *.{js,ts}) or (any of: *.ts)
  fixpack: any of: ./{,packages/*/}package.json
  sort-package-json --quiet: any of: ./{,packages/*/}package.json
