Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

refactor(runtime-tags): flush the serializer before rendering a placeholder so its statefulness is read from a clean state
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): render the placeholder into its own chunk via deferBranchStart/applyBranchStart instead of a fork
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): inline the placeholder dismiss effect into placeholder.feat; pass placeholder ids as args
  packages/runtime-tags/src/__tests__/fixtures/async-state/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-closure-within/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-closure/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-nested-event-handler/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-remove-parent/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/catch-reject-nested-catch-pending-await/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/catch-reject-nested-in-await-same-tick/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/catch-reject-nested-in-await/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/catch-reject-sibling-pending-await/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-placeholder/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-error-nested-placeholder/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-error/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-placeholder-script-runs-after-insert/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-placeholder/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-reorder-stream-order/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/try-effects-async/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-await-branch-removed/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-fast-body/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-live-until-swap/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-nested/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-removed-before-body/sizes.json
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/dom/placeholder.feat.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): catch during a live resumed placeholder; only flush the serializer for a stateful placeholder
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/template.marko
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-catch-before-body/test.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): avoid undeclared hoist getters for alias reads
  .changeset/const-circular-tag-var.md
  .sizes.json
  .sizes/dom.js
  agent-feedback/dx.md
  packages/runtime-tags/src/__tests__/fixtures/error-const-circular/__snapshots__/csr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-const-circular/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/error-const-circular/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/error-const-circular/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-const-circular/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-const-circular/test.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): check every persisted patch against a fresh render
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-global/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-input/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-mixed/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-script-global/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-removal/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-script-global-keys/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-script-global-opaque/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-script-global/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-script-input/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-script-inputs/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-var-effect/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/track-mutations.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-class): derive Marko 5 tag types from Marko 6
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: add changeset
  .changeset/orange-taxes-boil.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-class): derive Marko 5 tag types from Marko 6 (#3999)
  .changeset/orange-taxes-boil.md
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix(runtime-tags): restore ./tags-html export in published exports map
  .changeset/five-poems-drum.md
  packages/runtime-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix(runtime-tags): restore ./tags-html export in published exports map (#4000)
  .changeset/five-poems-drum.md
  packages/runtime-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

docs(runtime-tags): note that a server/client binding is undefined on the other platform
  agent-feedback/items/2026-08-13-cheatsheet-client-import-is-undefined-during-ssr-render.md
  packages/runtime-tags/cheatsheet.md
Due: prettier --write, prettier --write --with-node-modules

agent-feedback: run runtime-owned effects off resume data instead of registered ids
  agent-feedback/items/2026-08-18-run-runtime-owned-effects-off-resume-data-instead-of.md
Due: prettier --write, prettier --write --with-node-modules

refactor(runtime-tags): trim persisted patch frames to bare scope lists
  packages/runtime-tags/src/__tests__/fixtures/persisted-dynamic-attribute/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-dynamic-attribute/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-dynamic-attribute/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-text-holes/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-text-holes/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-text-holes/sizes.json
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/dom/patch.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/serializer.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
