Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

chore: refresh snapshots after rebasing onto main
  packages/runtime-tags/src/__tests__/fixtures/derived-from-closures-updates-tag-input/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-const-mixed/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-const-mixed/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-const-mixed/sizes.json
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): patch option value/selected attributes in persisted templates
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-option-attrs/test.ts
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/translator/util/persisted/admission.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: file the persisted line's items in the per-file format
  agent-feedback/bugs.md
  agent-feedback/dx.md
  agent-feedback/items/2026-07-22-make-a-params-binding-identifiable-from-binding-type.md
  agent-feedback/items/2026-08-12-force-the-await-resume-marker-under-persisted-builds.md
  agent-feedback/items/2026-08-12-validate-attribute-tag-bodies-generically-in-persisted-admission.md
  agent-feedback/items/2026-08-14-add-a-skip-debug-test-mode-to-assert-optimize-only.md
  agent-feedback/items/2026-08-15-reason-guard-try-boundary-slot-serialization.md
  agent-feedback/items/2026-08-17-collapse-alias-chains-into-one-local-fill-write.md
  agent-feedback/items/2026-08-17-compose-child-templates-lazily-across-an-import-cycle.md
  agent-feedback/items/2026-08-17-resume-an-unescaped-placeholder-s-first-node-so-html.md
  agent-feedback/perf.md
Due: prettier --write, prettier --write --with-node-modules

refactor(runtime-tags): shells reuse the section's dom template parts
  packages/runtime-tags/src/translator/util/shell.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): check every persisted patch against a fresh render
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-global/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-input/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-mixed/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-script-global/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-removal/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-script-global-keys/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-script-global-opaque/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-script-global/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-script-input/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-script-inputs/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-var-effect/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/track-mutations.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): await lazy persisted patches
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/patch-ready.ts
  packages/runtime-tags/src/dom/patch.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: file persistedShells rename feedback
  agent-feedback/items/2026-08-20-rename-persisted-shells-program-extra.md
Due: prettier --write, prettier --write --with-node-modules

test(runtime-tags): prune stale compile snapshots
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-html.txt
Due: none

test(runtime-tags): cover shared content fill subscribers
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/tags/frame.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/test.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): clarify subscriber fill dispatch
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: trim comments, rename boundaryAlwaysPairs
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/core/try.ts
  packages/runtime-tags/src/translator/util/persisted/decisions.ts
  packages/runtime-tags/src/translator/util/persisted/delivery.ts
  packages/runtime-tags/src/translator/util/persisted/structure.ts
  packages/runtime-tags/src/translator/util/shell.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): keep lazy import fact internal
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): cover lazy patch timing
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/dom/patch-ready.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/html/assets.ts
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): unify persisted analysis terminology
  agent-feedback/items/2026-08-20-rename-persisted-shells-program-extra.md
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/util/persisted/admission.ts
  packages/runtime-tags/src/translator/util/shell.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): initialize patch readiness from page entry
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: fix agent-feedback item format
  agent-feedback/items/2026-08-19-elide-repeated-try-pairing-content-ids-per-response.md
  agent-feedback/items/2026-08-19-tree-shake-template-root-records-from-persisted-html.md
  agent-feedback/items/2026-08-20-elide-shell-records-via-client-state-channel.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): compose the lazy failure backport at the persisted base
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-conditional-child-inert/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-conditional-child-state/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-placeholder/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-idle-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-entry-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-error-nested-placeholder/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-error/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-script-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-mixed-known-and-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.debug.html
  packages/runtime-tags/src/dom/resume.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): rebase onto main — shells accept structure text ops
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-class-page-with-stateful-tags-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-params/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-mixed/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-branch/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-branch/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-loop/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-loop/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/translator/util/shell.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): inject patch readiness as a runtime feature module
  .sizes.json
  .sizes/dom.js
  agent-feedback/items/2026-08-21-clean-up-pending-patch-state-for-discarded-renders.md
  agent-feedback/items/2026-08-21-signal-lazy-loader-script-failure-to-pending-patches.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/sizes.json
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/patch-ready.feat.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: drop changeset (persisted pages is unshipped)
  .changeset/lazy-persisted-patch-await.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): bring the cheatsheet up to date with the compiler
  packages/runtime-tags/cheatsheet.md
Due: prettier --write, prettier --write --with-node-modules
