Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

test: set NODE_PATH on parallel workers so workspace translators resolve
  scripts/test-parallel.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): retain streamed chunks for a slow for-await consumer
  .changeset/stream-async-iterator-chunk-loss.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/html-stream.test.ts
  packages/runtime-tags/src/__tests__/html-stream/template.marko
  packages/runtime-tags/src/html/template.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Replace context-require with an in-repo jsdom CJS loader
  package.json
  packages/runtime-class/test/__util__/create-marko-jsdom-module.js
  packages/runtime-class/test/__util__/jsdom-require/index.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

docs(agent-feedback): repair conflict-damaged entries and retire resolved ones
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  scripts/test-parallel.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(compiler): unify src on ESM and declare the module type
  .changeset/compiler-esm-sources.md
  agent-feedback/dx.md
  package.json
  packages/compiler/package.json
  packages/compiler/scripts/package.json
  packages/compiler/src/package.json
  packages/compiler/src/register.cjs
  packages/compiler/src/taglib/config.js
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/index.js
  packages/compiler/src/taglib/loader/Attribute.js
  packages/compiler/src/taglib/loader/DependencyChain.js
  packages/compiler/src/taglib/loader/Property.js
  packages/compiler/src/taglib/loader/Tag.js
  packages/compiler/src/taglib/loader/Taglib.js
  packages/compiler/src/taglib/loader/Transformer.js
  packages/compiler/src/taglib/loader/cache.js
  packages/compiler/src/taglib/loader/index.js
  packages/compiler/src/taglib/loader/json-file-reader.js
  packages/compiler/src/taglib/loader/loadAttributeFromProps.js
  packages/compiler/src/taglib/loader/loadAttributes.js
  packages/compiler/src/taglib/loader/loadTagFromFile.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromDir.js
  packages/compiler/src/taglib/loader/loadTaglibFromFile.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/compiler/src/taglib/loader/loaders.js
  packages/compiler/src/taglib/loader/property-handlers.js
  packages/compiler/src/taglib/loader/scanTagsDir.js
  packages/compiler/src/taglib/loader/types.js
  packages/compiler/src/taglib/lookup/index.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix(compiler): stub the preset-typescript version read in dist/babel.js
  .changeset/babel-preset-typescript-bundled.md
  packages/compiler/scripts/bundle-babel.mts
Due: prettier --write, prettier --write --with-node-modules

fix(compiler): publish internal/babel as ESM, matching what it ships
  .changeset/internal-babel-module-type.md
  packages/compiler/internal/babel/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

build(compiler): bundle with rolldown instead of per-file babel
  .changeset/compiler-rolldown-bundle.md
  packages/compiler/package.json
  packages/compiler/scripts/bundle-babel.mts
  packages/compiler/scripts/bundle.mts
Due: prettier --write, fixpack, prettier --write --with-node-modules

docs(agent-feedback): retriage entries against main
  agent-feedback/bugs.md
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  agent-feedback/perf.md
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

fix(deps): update brace-expansion so the audit gate passes
  agent-feedback/dx.md
  pnpm-lock.yaml
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-class): declare engines.node >=22, matching runtime-tags
  .changeset/runtime-class-engines-node-22.md
  agent-feedback/dx.md
  packages/runtime-class/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix(compiler): declare engines.node >=22, matching the other packages
  .changeset/compiler-engines-node-22.md
  agent-feedback/dx.md
  packages/compiler/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix(runtime-tags): escape a raw text body once per element, not per interpolation
  .changeset/escape-raw-text-body-once.md
  packages/runtime-tags/src/__tests__/fixtures/html-script-injection-adjacent/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/html-script-injection-adjacent/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/html-script-injection-adjacent/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/html-script-injection-adjacent/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/html-script-injection-adjacent/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/html-script-injection-adjacent/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/html-script-injection-adjacent/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/html-script-injection-adjacent/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/html-script-injection-adjacent/template.marko
  packages/runtime-tags/src/__tests__/fixtures/html-script-injection/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/html-style-injection-adjacent/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/html-style-injection-adjacent/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/html-style-injection-adjacent/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/html-style-injection-adjacent/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/html-style-injection-adjacent/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/html-style-injection-adjacent/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/html-style-injection-adjacent/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/html-style-injection-adjacent/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/html-style-injection-adjacent/template.marko
  packages/runtime-tags/src/__tests__/fixtures/html-style-injection/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/html-style-injection/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/html-style/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/html-style/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/placeholders/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/placeholders/__snapshots__/html.bundle.js
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record why the foreign-content escaping fix needs runtime namespace tracking
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): record that a dynamic tag name is a caller contract
  agent-feedback/bugs.md
  packages/runtime-tags/src/html/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): record that raw text escaping assumes the html namespace
  agent-feedback/bugs.md
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): emit one walk step for static text split by a non-rendering tag
  .changeset/static-text-split-walk-step.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/static-text-split-by-non-rendering-tag/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/static-text-split-by-non-rendering-tag/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/static-text-split-by-non-rendering-tag/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/static-text-split-by-non-rendering-tag/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/static-text-split-by-non-rendering-tag/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/static-text-split-by-non-rendering-tag/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/static-text-split-by-non-rendering-tag/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/static-text-split-by-non-rendering-tag/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/static-text-split-by-non-rendering-tag/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/static-text-split-by-non-rendering-tag/template.marko
  packages/runtime-tags/src/__tests__/fixtures/static-text-split-by-non-rendering-tag/test.ts
  packages/runtime-tags/src/translator/util/static-text.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): note that only a script body is lowered async
  agent-feedback/bugs.md
  packages/runtime-tags/src/translator/core/script.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
