Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

Replace the c8 coverage report with zcov
  .c8rc.json
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  agent-feedback/dx.md
  package.json
  packages/runtime-tags/src/__tests__/utils/bundle.ts
  pnpm-lock.yaml
  scripts/coverage-report.js
  scripts/test-coverage.js
  zcov.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

tmp: exempt @zcov/0.1.2 from the release-age gate
  pnpm-workspace.yaml
Due: none

test(runtime-tags): cover the server render result API
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/render-result.test.ts
  packages/runtime-tags/src/__tests__/render-result/async.marko
  packages/runtime-tags/src/__tests__/render-result/sync.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): keep array-form tag hooks through the interop taglib merge
  .changeset/interop-array-migrate-hooks.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/__snapshots__/diagnostics.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-migrate/test.ts
  packages/runtime-tags/src/translator/interop/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Take zcov 0.1.3 and exclude first-party @zcov from the release-age gate
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, fixpack, prettier --write --with-node-modules

test(runtime-tags): compare built-in contents in the serializer round-trip gate
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/serializer.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): cover the dom mount API
  packages/runtime-tags/src/__tests__/mounted-template-value/value.marko
  packages/runtime-tags/src/__tests__/mounted-template.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): cover the keyed for-in server path
  packages/runtime-tags/src/__tests__/fixtures/for-in-by/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-in-by/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/for-in-by/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-in-by/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/for-in-by/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/for-in-by/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/for-in-by/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/for-in-by/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/for-in-by/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/for-in-by/template.marko
  packages/runtime-tags/src/__tests__/fixtures/for-in-by/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): detect the deprecated Marko 6 core tags
  .changeset/interop-marko6-core-tag-markers.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-feature-detection/__snapshots__/diagnostics.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-feature-detection/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-feature-detection/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-feature-detection/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-feature-detection/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-feature-detection/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-feature-detection/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-feature-detection/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-feature-detection/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-feature-detection/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-deprecated-core-tag-feature-detection/template.marko
  packages/runtime-tags/src/translator/interop/feature-detection.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): serialize a generator that returns one of its ancestors
  .changeset/serializer-generator-ancestor-return.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: package_managers.pnpm.pnpm-trust-policy.pnpm-trust-policy security vulnerability
  pnpm-workspace.yaml
Due: none

fix(runtime-tags): copy a lone-spread attribute tag's attrs before the runtime writes to them
  .changeset/attr-tag-lone-spread-copy.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-lone-spread/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-lone-spread/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-lone-spread/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-lone-spread/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-lone-spread/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-lone-spread/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-lone-spread/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-lone-spread/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-lone-spread/template.marko
  packages/runtime-tags/src/__tests__/fixtures/attr-tag-lone-spread/test.ts
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/util/translate-attrs.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): stop one call site's compat boundary mode deciding for the rest
  .changeset/compat-boundary-mode-order.md
  agent-feedback/bugs.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/components/split-counter/component-browser.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/components/split-counter/index.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-mixed-boundary-split-tags-to-class/test.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Take zcov 0.1.4
  package.json
  pnpm-lock.yaml
Due: prettier --write, fixpack, prettier --write --with-node-modules

test(runtime-tags): cover a void element as a dynamic tag
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/template.marko
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): reject an `<import>`/`<export>` line holding several statements
  .changeset/import-export-multiple-statements.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/error-export-multiple-statements/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-export-multiple-statements/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-export-multiple-statements/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-export-multiple-statements/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-export-multiple-statements/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-export-multiple-statements/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-import-multiple-statements/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-import-multiple-statements/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-import-multiple-statements/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-import-multiple-statements/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-import-multiple-statements/a.js
  packages/runtime-tags/src/__tests__/fixtures/error-import-multiple-statements/b.js
  packages/runtime-tags/src/__tests__/fixtures/error-import-multiple-statements/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-import-multiple-statements/test.ts
  packages/runtime-tags/src/translator/core/export.ts
  packages/runtime-tags/src/translator/core/import.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): cover the remaining serializer value and key cases
  packages/runtime-tags/src/__tests__/serializer.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): guard the DurationFormat case on the global existing
  packages/runtime-tags/src/__tests__/serializer.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
