Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

test(runtime-tags): guard the DurationFormat case on the global existing
  packages/runtime-tags/src/__tests__/serializer.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): lower a logical assignment to a tag variable
  .changeset/logical-assign-tag-variable.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/logical-assign-to-let/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/logical-assign-to-let/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/logical-assign-to-let/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/logical-assign-to-let/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/logical-assign-to-let/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/logical-assign-to-let/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/logical-assign-to-let/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/logical-assign-to-let/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/logical-assign-to-let/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/logical-assign-to-let/template.marko
  packages/runtime-tags/src/__tests__/fixtures/logical-assign-to-let/test.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(compiler): stop computeNode reporting expressions it cannot fold as constant
  .changeset/compute-node-not-constant.md
  packages/compiler/src/babel-utils/compute.js
  packages/compiler/test/babel-utils/compute.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): keep a `<textarea>` value's leading newline through SSR
  .changeset/textarea-leading-newline.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/textarea-leading-newline/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-leading-newline/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-leading-newline/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-leading-newline/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-leading-newline/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/textarea-leading-newline/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/textarea-leading-newline/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/textarea-leading-newline/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/textarea-leading-newline/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/textarea-leading-newline/template.marko
  packages/runtime-tags/src/__tests__/fixtures/textarea-leading-newline/test.ts
  packages/runtime-tags/src/html/attrs.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): drop an unreferenced `<define>` from the dom translation too
  .changeset/define-unreferenced-with-body.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/define-unreferenced-with-body/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/define-unreferenced-with-body/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/define-unreferenced-with-body/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/define-unreferenced-with-body/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/define-unreferenced-with-body/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/define-unreferenced-with-body/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/define-unreferenced-with-body/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/define-unreferenced-with-body/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/define-unreferenced-with-body/template.marko
  packages/runtime-tags/src/translator/core/define.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(compiler): drop the unreachable nested-variable taglib loader
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/runtime-class/test/taglib-loader/fixtures/tag-properties/marko.json
  packages/runtime-class/test/taglib-loader/fixtures/tag-properties/test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): keep `$global` out of the input a mount update forwards
  .changeset/mount-update-global.md
  .sizes.json
  .sizes/comments.csr/runtime.js
  .sizes/counter.csr/runtime.js
  .sizes/dom.js
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-basic-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-to-tags-import/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-split-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-nested-attr-tags-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-nested-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-tag-params-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-args-null-fallback/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-args-tag-var/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-args/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-custom-native/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-custom-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-single-arg/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var-from-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-placeholder/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-mixed-known-and-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/tag-name-type-unions/sizes.json
  packages/runtime-tags/src/__tests__/mounted-template-spread/spread.marko
  packages/runtime-tags/src/__tests__/mounted-template.test.ts
  packages/runtime-tags/src/dom/template.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(compiler): hoist a comment preceding an attribute tag
  .changeset/attr-tag-leading-comment.md
  packages/compiler/src/babel-plugin/parser.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-leading-comment/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-leading-comment/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-leading-comment/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-leading-comment/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/at-tags-leading-comment/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/at-tags-leading-comment/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/at-tags-leading-comment/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/at-tags-leading-comment/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/at-tags-leading-comment/tags/box/index.marko
  packages/runtime-tags/src/__tests__/fixtures/at-tags-leading-comment/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(compiler): cover compiling with error recovery
  packages/compiler/test/error-recovery.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(compiler): cover the array and script-lang taglib properties
  packages/runtime-class/test/taglib-loader/fixtures/taglib-properties/marko.json
  packages/runtime-class/test/taglib-loader/fixtures/taglib-properties/migrate-one.js
  packages/runtime-class/test/taglib-loader/fixtures/taglib-properties/migrate-two.js
  packages/runtime-class/test/taglib-loader/fixtures/taglib-properties/tags-a/alpha/index.marko
  packages/runtime-class/test/taglib-loader/fixtures/taglib-properties/tags-b/beta/index.marko
  packages/runtime-class/test/taglib-loader/fixtures/taglib-properties/test.js
  packages/runtime-class/test/taglib-loader/fixtures/taglib-properties/transform-one.js
  packages/runtime-class/test/taglib-loader/fixtures/taglib-properties/transform-two.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(compiler): cover the require hook
  packages/compiler/test/fixtures/register/other.marko
  packages/compiler/test/fixtures/register/run.cjs
  packages/compiler/test/fixtures/register/template.marko
  packages/compiler/test/register.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(compiler): cover translator detection and config overrides
  packages/compiler/test/config.test.js
  packages/compiler/test/fixtures/config/conflict-dev/package.json
  packages/compiler/test/fixtures/config/conflict-peer/package.json
  packages/compiler/test/fixtures/config/conflict/package.json
  packages/compiler/test/fixtures/config/dep/package.json
  packages/compiler/test/fixtures/config/dev/package.json
  packages/compiler/test/fixtures/config/interop/package.json
  packages/compiler/test/fixtures/config/peer/package.json
  packages/compiler/test/fixtures/config/print.mjs
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

test(runtime-tags): cover the translator's nullability walk
  packages/runtime-tags/src/__tests__/evaluate.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record 35 verified findings from a runtime-tags scan
  agent-feedback/bugs.md
  agent-feedback/dx.md
  agent-feedback/perf.md
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

docs(agent-feedback): fold two entries into their existing siblings
  agent-feedback/bugs.md
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

fix(changeset): name the runtime-class package as it is in the workspace
  .changeset/compat-boundary-mode-order.md
  AGENTS.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): reject `content=` on a void or text-only native tag
  .changeset/content-attr-unsupported-tags.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/content-attr-body-precedence/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/content-attr-body-precedence/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/content-attr-body-precedence/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/content-attr-body-precedence/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/content-attr-body-precedence/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/content-attr-body-precedence/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/content-attr-body-precedence/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/content-attr-body-precedence/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/content-attr-body-precedence/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-text-only-tag/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-text-only-tag/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-text-only-tag/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-text-only-tag/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-text-only-tag/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-text-only-tag/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-void-tag/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-void-tag/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-void-tag/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-void-tag/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-void-tag/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-content-attr-void-tag/test.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record 23 findings from a compiler and runtime-tags scan
  agent-feedback/bugs.md
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): flush before a controlled `<select>` opens
  .changeset/select-controlled-flush-before.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-mutated-option/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-mutated-option/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/select-controlled-after-sibling-options/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/select-controlled-after-sibling-options/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/select-controlled-after-sibling-options/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/select-controlled-after-sibling-options/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/select-controlled-after-sibling-options/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/select-controlled-after-sibling-options/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/select-controlled-after-sibling-options/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/select-controlled-after-sibling-options/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/select-controlled-after-sibling-options/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/select-controlled-after-sibling-options/template.marko
  packages/runtime-tags/src/__tests__/fixtures/select-spread/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/select-spread/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/__snapshots__/html.bundle.js
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(compiler): cover the property handler errors, drop the dead _end hook
  packages/compiler/src/taglib/loader/property-handlers.js
  packages/runtime-class/test/taglib-loader/fixtures/invalid-attribute-option/marko.json
  packages/runtime-class/test/taglib-loader/fixtures/invalid-attribute-option/test.js
  packages/runtime-class/test/taglib-loader/fixtures/taglib-not-an-object/marko.json
  packages/runtime-class/test/taglib-loader/fixtures/taglib-not-an-object/test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): drop a truncated duplicate of the first seven bug entries
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules
