Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

fix: use console.createTask api in dev
  .changeset/famous-berries-cheat.md
  packages/runtime-tags/src/dom/schedule.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: allow empty marker to treeshake
  .changeset/long-shirts-change.md
  .sizes.json
  packages/runtime-tags/src/dom/control-flow.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: hydrate code for node_module marko components
  .changeset/stale-lions-rhyme.md
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-interop/src/index.ts
  packages/translator-tags/src/visitors/program/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid ssr comments in interop runtime
  .changeset/moody-eggs-count.md
  packages/marko/src/runtime/helpers/tags-compat/runtime-html.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: update test snapshot
  .changeset/stale-lions-rhyme.md
  packages/translator-interop/src/__tests__/fixtures/custom-tag-parameters-from-args/__snapshots__/ssr.expected.md
Due: prettier --write, prettier --write --with-node-modules

Update fastify.md
  packages/marko/docs/fastify.md
Due: prettier --write, prettier --write --with-node-modules

fix
  packages/marko/docs/fastify.md
Due: prettier --write, prettier --write --with-node-modules

fix: ensure attributes can be removed by simple attrs optimization
  .changeset/orange-geese-shave.md
  packages/marko/src/runtime/helpers/class-value.js
  packages/marko/src/runtime/helpers/style-value.js
  packages/marko/src/runtime/vdom/VElement.js
  packages/marko/test/components-browser/fixtures/simple-attrs-optimize-toggle/index.marko
  packages/marko/test/components-browser/fixtures/simple-attrs-optimize-toggle/test.js
  packages/marko/test/vdom-create/fixtures/cloneNode/index.js
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-empty-string/expected.html
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-empty-string/index.js
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-false/expected.html
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-false/index.js
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-null/expected.html
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-null/index.js
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-number-zero/expected.html
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-number-zero/index.js
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-number/expected.html
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-number/index.js
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-true/expected.html
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-true/index.js
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-undefined/expected.html
  packages/marko/test/vdom-create/fixtures/hasAttributeNS-undefined/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid vdom optimize for elements with key attribute
  .changeset/pretty-forks-travel.md
  packages/translator-default/src/util/optimize-vdom-create.js
  packages/translator-default/test/fixtures/doctype/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/white-space-test/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: remove depency on setTimeout for workers
  .changeset/quick-glasses-fly.md
  packages/marko/src/core-tags/core/await/AsyncValue.js
  packages/marko/src/node_modules/@internal/components-registry/index-browser.js
  packages/marko/src/node_modules/@internal/set-immediate/index-browser.js
  packages/marko/src/node_modules/@internal/set-immediate/index-worker.js
  packages/marko/src/node_modules/@internal/set-immediate/index.js
  packages/marko/src/node_modules/@internal/set-immediate/queueMicrotask.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/src/runtime/queueMicrotask.js
  packages/marko/src/runtime/vdom/hot-reload.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

wip
  packages/translator-tags/src/core/condition/if.ts
  packages/translator-tags/src/util/optional.ts
  packages/translator-tags/src/util/references.ts
  packages/translator-tags/src/util/sections.ts
  packages/translator-tags/src/util/signals.ts
  packages/translator-tags/src/visitors/program/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

wip
  packages/translator-tags/src/core/condition/if.ts
  packages/translator-tags/src/core/define.ts
  packages/translator-tags/src/core/effect.ts
  packages/translator-tags/src/core/for.ts
  packages/translator-tags/src/core/let.ts
  packages/translator-tags/src/core/lifecycle.ts
  packages/translator-tags/src/util/attrs-to-object.ts
  packages/translator-tags/src/util/entry-builder.ts
  packages/translator-tags/src/util/is-stateful.ts
  packages/translator-tags/src/util/optional.ts
  packages/translator-tags/src/util/references.ts
  packages/translator-tags/src/util/reserve.ts
  packages/translator-tags/src/util/scope-read.ts
  packages/translator-tags/src/util/sections.ts
  packages/translator-tags/src/util/signals.ts
  packages/translator-tags/src/util/writer.ts
  packages/translator-tags/src/visitors/placeholder.ts
  packages/translator-tags/src/visitors/program/index.ts
  packages/translator-tags/src/visitors/tag/custom-tag.ts
  packages/translator-tags/src/visitors/tag/dynamic-tag.ts
  packages/translator-tags/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

wip
  packages/translator-tags/src/core/return.ts
  packages/translator-tags/src/util/references.ts
  packages/translator-tags/src/util/sections.ts
  packages/translator-tags/src/util/signals.ts
  packages/translator-tags/src/util/state.ts
  packages/translator-tags/src/util/walks.ts
  packages/translator-tags/src/util/writer.ts
  packages/translator-tags/src/visitors/program/index.ts
  packages/translator-tags/src/visitors/tag/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: add types for core tags
  .sizes.json
  packages/translator-tags/marko.json
  packages/translator-tags/package.json
  packages/translator-tags/src/core/const.ts
  packages/translator-tags/src/core/define.ts
  packages/translator-tags/src/core/effect.ts
  packages/translator-tags/src/core/export.ts
  packages/translator-tags/src/core/id.ts
  packages/translator-tags/src/core/import.ts
  packages/translator-tags/src/core/let.ts
  packages/translator-tags/src/core/lifecycle.ts
  packages/translator-tags/src/core/static.ts
  packages/translator-tags/tag-types/const.marko
  packages/translator-tags/tag-types/define.marko
  packages/translator-tags/tag-types/effect.marko
  packages/translator-tags/tag-types/id.marko
  packages/translator-tags/tag-types/let.marko
  packages/translator-tags/tag-types/lifecycle.marko
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: add changeset
  .changeset/old-trees-hunt.md
Due: prettier --write, prettier --write --with-node-modules

refactor: change to .d.marko
  packages/translator-tags/marko.json
  packages/translator-tags/src/core/const.ts
  packages/translator-tags/src/core/define.ts
  packages/translator-tags/src/core/effect.ts
  packages/translator-tags/src/core/id.ts
  packages/translator-tags/src/core/let.ts
  packages/translator-tags/src/core/lifecycle.ts
  packages/translator-tags/tag-types/const.d.marko
  packages/translator-tags/tag-types/define.d.marko
  packages/translator-tags/tag-types/define.marko
  packages/translator-tags/tag-types/effect.d.marko
  packages/translator-tags/tag-types/effect.marko
  packages/translator-tags/tag-types/id.d.marko
  packages/translator-tags/tag-types/id.marko
  packages/translator-tags/tag-types/let.d.marko
  packages/translator-tags/tag-types/lifecycle.d.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: use actual file paths
  .sizes.json
  packages/translator-tags/src/core/const.ts
  packages/translator-tags/src/core/define.ts
  packages/translator-tags/src/core/effect.ts
  packages/translator-tags/src/core/id.ts
  packages/translator-tags/src/core/let.ts
  packages/translator-tags/src/core/lifecycle.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: add types for core tags (#2184)
  .changeset/old-trees-hunt.md
  packages/translator-tags/package.json
  packages/translator-tags/src/core/const.ts
  packages/translator-tags/src/core/define.ts
  packages/translator-tags/src/core/effect.ts
  packages/translator-tags/src/core/export.ts
  packages/translator-tags/src/core/id.ts
  packages/translator-tags/src/core/import.ts
  packages/translator-tags/src/core/let.ts
  packages/translator-tags/src/core/lifecycle.ts
  packages/translator-tags/src/core/static.ts
  packages/translator-tags/tag-types/const.d.marko
  packages/translator-tags/tag-types/define.d.marko
  packages/translator-tags/tag-types/effect.d.marko
  packages/translator-tags/tag-types/id.d.marko
  packages/translator-tags/tag-types/let.d.marko
  packages/translator-tags/tag-types/lifecycle.d.marko
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

docs: Fixing NativeTags demo (interface, not namespace)
  packages/marko/docs/typescript.md
Due: prettier --write, prettier --write --with-node-modules

wip
  packages/translator-tags/src/core/condition/if.ts
  packages/translator-tags/src/core/const.ts
  packages/translator-tags/src/core/define.ts
  packages/translator-tags/src/core/effect.ts
  packages/translator-tags/src/core/for.ts
  packages/translator-tags/src/core/let.ts
  packages/translator-tags/src/core/lifecycle.ts
  packages/translator-tags/src/core/return.ts
  packages/translator-tags/src/util/attrs-to-object.ts
  packages/translator-tags/src/util/get-root.ts
  packages/translator-tags/src/util/is-stateful.ts
  packages/translator-tags/src/util/references.ts
  packages/translator-tags/src/util/scope-read.ts
  packages/translator-tags/src/util/sections.ts
  packages/translator-tags/src/util/signals.ts
  packages/translator-tags/src/util/tag-name-type.ts
  packages/translator-tags/src/util/walks.ts
  packages/translator-tags/src/util/writer.ts
  packages/translator-tags/src/visitors/placeholder.ts
  packages/translator-tags/src/visitors/program/dom.ts
  packages/translator-tags/src/visitors/program/index.ts
  packages/translator-tags/src/visitors/referenced-identifier.ts
  packages/translator-tags/src/visitors/scriptlet.ts
  packages/translator-tags/src/visitors/tag/custom-tag.ts
  packages/translator-tags/src/visitors/tag/dynamic-tag.ts
  packages/translator-tags/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: class/tags interop issues
  .changeset/new-scissors-fetch.md
  packages/marko/src/runtime/helpers/tags-compat/runtime-html.js
  packages/translator-tags/src/__tests__/fixtures/at-tag-inside-if-tag/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/at-tags-dynamic-tag-parent/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/at-tags-dynamic-with-params/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/attr-class/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/attr-class/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/attr-style/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/attr-style/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/basic-layout/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-custom-tag/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-parameters-from-args/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-parameters-from-attributes/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-parameters-from-single-arg/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-render-body/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-for-attribute-tag/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-args/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-attr-signal/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-closure/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render/__snapshots__/html.expected/template.js
  packages/translator-tags/src/core/__flush_here_and_after__.ts
  packages/translator-tags/src/util/attrs-to-object.ts
  packages/translator-tags/src/util/is-core-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: docs formatting
  packages/marko/docs/typescript.md
Due: prettier --write, prettier --write --with-node-modules

chore: update deps
  package-lock.json
  package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/marko/package.json
  packages/translator-default/package.json
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/import-tag/snapshots/cjs-expected.js
  packages/translator-interop/package.json
  packages/translator-tags/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

feat: source analysis
  packages/translator-tags/src/__tests__/fixtures/let-tag-with-intersection/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/let-tag-with-intersection/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/let-tag-with-intersection/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/let-tag-with-intersection/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/let-tag-with-intersection/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/let-tag-with-intersection/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/let-tag-with-intersection/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/let-tag-with-intersection/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/let-tag-with-intersection/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/let-tag-with-intersection/template.marko
  packages/translator-tags/src/__tests__/fixtures/let-tag-with-intersection/test.ts
  packages/translator-tags/src/__tests__/fixtures/tag-var-destructure/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/core/const.ts
  packages/translator-tags/src/core/define.ts
  packages/translator-tags/src/core/effect.ts
  packages/translator-tags/src/core/let.ts
  packages/translator-tags/src/core/lifecycle.ts
  packages/translator-tags/src/util/is-stateful.ts
  packages/translator-tags/src/util/references.ts
  packages/translator-tags/src/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: state analysis
  packages/translator-tags/src/__tests__/fixtures/for-tag-siblings/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-tag-siblings/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-tag-siblings/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-tag-with-state/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-tag-with-state/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-tag-with-state/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-tag/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-tag/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-tag/__snapshots__/ssr.expected.md
  packages/translator-tags/src/util/is-stateful.ts
  packages/translator-tags/src/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: improve comment markers for placeholders
  packages/translator-tags/src/__tests__/fixtures/abort-signal-render-phase-error/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/at-tags-dynamic-with-params/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/basic-scriptlet/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/basic-static/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/basic-static/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-static/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/const-tag/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/const-tag/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/const-tag/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/html.expected/components/child.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/dollar-global-client/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/import-tag-conflict/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/import-tag-conflict/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/import-tag-conflict/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/import-tag/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/import-tag/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/import-tag/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/input-destructure/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/migrate-out-global/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/migrate-out-global/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/placeholders/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/placeholders/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/placeholders/__snapshots__/ssr.expected.md
  packages/translator-tags/src/visitors/placeholder.ts
  packages/translator-tags/src/visitors/text.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: use isStateful to remove unnecessary markers
  packages/translator-tags/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-tag-siblings/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-tag-siblings/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-tag-siblings/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-tag-with-state/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-tag-with-state/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-tag-with-state/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-tag/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-tag/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-tag/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/style-tag-modules-default/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/style-tag-modules-destructured/__snapshots__/html.expected/template.js
  packages/translator-tags/src/core/for.ts
  packages/translator-tags/src/util/is-stateful.ts
  packages/translator-tags/src/util/translate-var.ts
  packages/translator-tags/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
