Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

chore(agent-feedback): file pruned babel helpers reachable from user config
  agent-feedback/items/2026-08-27-keep-user-reachable-babel-helpers-in-the-bundled.md
Due: prettier --write, prettier --write --with-node-modules

test(runtime-tags): cover serializer channel mutations, deferred args and escape edges
  packages/runtime-tags/src/__tests__/serializer.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(compiler): cover the taglib loader's tag, attribute and import handling
  packages/compiler/test/taglib-loader.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: file taglib pattern attributes and four dead-code sites
  agent-feedback/items/2026-09-02-drop-the-serializer-s-unreachable-boundary-guards.md
  agent-feedback/items/2026-09-02-drop-the-unreachable-taglib-id-fallback-and-shorthand.md
  agent-feedback/items/2026-09-02-prune-the-tag-model-methods-nothing-calls.md
  agent-feedback/items/2026-09-02-route-a-taglib-level-pattern-attribute-into-patternattributes.md
Due: prettier --write, prettier --write --with-node-modules

ci: upload only the merged lcov to codecov
  .github/workflows/ci.yml
Due: none

test(runtime-class): cover AsyncStream's async iteration, toReadable and writer api
  packages/runtime-class/test/async-stream/index.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test: exclude the legacy widget layer from coverage
  zcov.json
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-class): end the iteration when a toReadable consumer cancels
  .changeset/tall-pugs-shave.md
  packages/runtime-class/src/runtime/html/AsyncStream.js
  packages/runtime-class/test/async-stream/index.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-class): cover ServerComponent and skip the inlined reorder runtime
  packages/runtime-class/test/server-component/index.test.js
  zcov.json
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(compiler): cover the taglib lookup's tag and attribute resolution
  packages/compiler/test/fixtures/taglib/run.mjs
  packages/compiler/test/taglib.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-class): drop the helpers the Marko 4 compiler left behind
  .changeset/olive-jars-repeat.md
  packages/runtime-class/src/runtime/helpers/assign.js
  packages/runtime-class/src/runtime/helpers/merge.js
  packages/runtime-class/src/runtime/html/helpers/props-script.js
  packages/runtime-class/src/translator/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: drop the runtime events singleton and the uncalled tag file loader
  .changeset/lucky-owls-wonder.md
  packages/compiler/src/taglib/loader/loadTagFromFile.js
  packages/compiler/src/taglib/loader/loaders.js
  packages/runtime-class/src/runtime/events.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Drive compiler parser from the @marko/parse CST
  .changeset/cst-parser.md
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/test/error-recovery.test.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

test(runtime-tags): cover the html template's mount and $global validation errors
  packages/runtime-tags/src/__tests__/render-result.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): stop counting the reference analyzer's invariants as uncovered
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Persisted: frame size gate
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-child-nested/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-client-else/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-static-scriptlets/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-text-only-content/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-unescaped-hole/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Handle the parser's built in statement nodes in the compiler
  packages/compiler/src/babel-plugin/parser.js
  packages/runtime-class/test/translator/fixtures/error-eof/snapshots/cjs-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-eof/snapshots/generated-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-eof/snapshots/html-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-eof/snapshots/htmlProduction-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-eof/snapshots/hydrate-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-eof/snapshots/vdom-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-eof/snapshots/vdomProduction-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-style-block-root-only/snapshots/generated-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-style-block-root-only/snapshots/html-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-style-block-root-only/snapshots/htmlProduction-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-style-block-root-only/snapshots/hydrate-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-style-block-root-only/snapshots/vdom-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-style-block-root-only/snapshots/vdomProduction-error-expected.txt
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(compiler): cover the babel-utils file accessors
  packages/compiler/test/babel-utils/get-file.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Use the Static node's name range for the statement keyword
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test: cover aggregate compile errors, RenderResult and the vdom builder
  packages/compiler/test/merge-errors.test.js
  packages/runtime-class/test/async-vdom-builder/index.test.js
  packages/runtime-class/test/render-result/index.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-class): cover the component element accessors from a browser fixture
  packages/compiler/test/compile.test.js
  packages/compiler/test/merge-errors.test.js
  packages/runtime-class/test/components-browser/fixtures/component-el-accessors/index.marko
  packages/runtime-class/test/components-browser/fixtures/component-el-accessors/test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
