Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

feat(ts): type override for imports
  packages/translator-default/index.d.ts
  packages/translator-default/package.json
Due: prettier --write, eslint --fix, fixpack

chore: add changeset
  .changeset/light-seahorses-try.md
Due: prettier --write

test: enable hydration for shared-node-ref, keyed for test
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/test.ts
Due: prettier --write, eslint --fix

feat: add strict types for native html tags
  .changeset/six-doors-jump.md
  package-lock.json
  packages/marko/docs/typescript.md
  packages/marko/index.d.ts
  packages/marko/package.json
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix, fixpack

fix: strip types from inline component class
  .changeset/perfect-buckets-call.md
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint --fix

fix: style attribute types
  .changeset/selfish-seahorses-sleep.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

chore: allow HTMLAttribute types to omit generic
  .changeset/spicy-jokes-change.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

chore: expose attribute directive types
  .changeset/violet-kangaroos-push.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

chore: loosen the requirements for the input tags types
  .changeset/lucky-pots-complain.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

fix: input tag type regression
  .changeset/plenty-zebras-own.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

feat: add ability to extend css properties
  .changeset/slimy-suits-join.md
  packages/marko/docs/typescript.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

fix: improve form control types
  .changeset/little-months-wash.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

fix: add back NativeTagInput and NativeTagReturn deprecated types
  .changeset/ninety-pumpkins-cross.md
  packages/marko/index.d.ts
Due: prettier --write, eslint --fix

chore: improve typescript docs, link to type-check cli
  packages/marko/docs/typescript.md
Due: prettier --write

chore: fix format ci action
  .github/workflows/ci.yml
Due: prettier --write

Add OpenSSF Best Practices badge.
  packages/marko/README.md
Due: prettier --write

chore: attempt to fix auto formatting prs
  .github/workflows/ci.yml
Due: prettier --write

chore: attempt to re-enable formatting
  .github/workflows/ci.yml
Due: prettier --write

chore: no longer auto format PRs (only lint)
  .github/workflows/ci.yml
Due: prettier --write

Add OpenSSF Best Practices badge (#1933)
  packages/marko/README.md
Due: prettier --write

Add note that dynamic tag doesn't work for macro
  packages/marko/docs/syntax.md
Due: prettier --write

Add note that dynamic tag doesn't work for macro (#1925)
  packages/marko/docs/syntax.md
Due: prettier --write

chore: update contributing doc
  .github/CONTRIBUTING.md
Due: prettier --write

fix(typescript): add no-update-body and no-update-body-if
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

Create changeset
  .changeset/lemon-deers-stare.md
Due: prettier --write

fix(typescript): add no-update-body and no-update-body-if (#1945)
  .changeset/lemon-deers-stare.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

fix(typescript): add missing event handlers
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix
