Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

docs: rework optimistic design around implicit transition tracking
  designs/optimistic-state-and-transactions.md
Due: prettier --write, prettier --write --with-node-modules

docs: replace author-facing transaction() with handler-return convention
  designs/optimistic-state-and-transactions.md
Due: prettier --write, prettier --write --with-node-modules

docs: adopt <transition/fn> tag for manual transitions
  designs/optimistic-state-and-transitions.md
Due: prettier --write, prettier --write --with-node-modules

docs: move the transition's work into its declaration
  designs/optimistic-state-and-transitions.md
Due: prettier --write, prettier --write --with-node-modules

docs: subsume the transition tag into await-like optimistic sources
  designs/optimistic-state-and-transitions.md
Due: prettier --write, prettier --write --with-node-modules

docs: replace promise-in-state with eventual writes
  designs/optimistic-state-and-transitions.md
Due: prettier --write, prettier --write --with-node-modules

docs: return to the declared transition tag
  designs/optimistic-state-and-transitions.md
Due: prettier --write, prettier --write --with-node-modules

refactor(runtime-tags): simplify `has` watcher to one shared global
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/sizes.json
  packages/runtime-tags/src/dom/load.ts
  packages/runtime-tags/src/html/assets.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): carry CSP nonce on the `has` trigger's injected style
  .changeset/has-load-trigger.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/sizes.json
  packages/runtime-tags/src/dom/load.ts
  packages/runtime-tags/src/html/assets.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): share one `has` watcher per runtime across SSR and CSR
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/sizes.json
  packages/runtime-tags/src/dom/load.ts
  packages/runtime-tags/src/html/assets.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): nonce lazy-trigger inserted assets, inline literal on `has` style
  .changeset/has-load-trigger.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/child.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/template.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.html
  packages/runtime-tags/src/dom/load.ts
  packages/runtime-tags/src/html/assets.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Insert has-trigger sentinels before <body> so the resume walker never parks on one
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/child.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/template.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/sizes.json
  packages/runtime-tags/src/dom/load.ts
  packages/runtime-tags/src/html/assets.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Hide has-trigger sentinels: reuse <t> elements kept out of flow
  .changeset/has-load-trigger.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/sizes.json
  packages/runtime-tags/src/dom/load.ts
  packages/runtime-tags/src/html/assets.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: regenerate snapshots and sizes after rebase onto main
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/sizes.json
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): fail open when the browser lacks `:has()` support
  .changeset/has-load-trigger.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/cheatsheet.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-cached/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-nonce/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has-streamed/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-has/sizes.json
  packages/runtime-tags/src/__tests__/utils/create-browser.ts
  packages/runtime-tags/src/dom/load.ts
  packages/runtime-tags/src/html/assets.ts
  skills/marko-5-to-6-migration/api-mapping.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

style(runtime-tags): condense over-length serializer comments
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): reject renders whose final consume aborts the boundary
  packages/runtime-tags/src/html/template.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): keep the test module loader from floating eval failures
  packages/runtime-tags/src/__tests__/utils/import-with-context.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset for the boundary abort fix
  .changeset/runtime-fixes.md
Due: prettier --write, prettier --write --with-node-modules

refactor(runtime-tags): type html serialize guard params as numbers
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

style(runtime-tags): condense over-length writer comments
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): factor resume register keys and signal invocations
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/program/dom.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): flatten the getSerializeGuard fallback branches
  packages/runtime-tags/src/translator/util/serialize-guard.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): group writer functions by concern
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): extract renderNative in the html dynamic tag
  packages/runtime-tags/src/html/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): prune unused defaulted bindings with their source
  .changeset/param-top-level-default.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-unused-default/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-unused-default/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-unused-default/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-unused-default/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-unused-default/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-unused-default/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-unused-default/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/destructure-unused-default/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/destructure-unused-default/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/destructure-unused-default/template.marko
  packages/runtime-tags/src/__tests__/fixtures/destructure-unused-default/test.ts
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: regenerate example size tables for the persisted runtime split
  .sizes.json
  .sizes/comments.csr/runtime.js
  .sizes/comments.ssr/entry.js
  .sizes/comments.ssr/runtime.js
  .sizes/counter.csr/entry.js
  .sizes/counter.csr/runtime.js
  .sizes/counter.ssr/entry.js
  .sizes/counter.ssr/runtime.js
  .sizes/dom.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record findings from building real Marko apps
  agent-feedback/bugs.md
  agent-feedback/dx.md
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

docs(agent-feedback): record findings from a cohort of real-app builds
  agent-feedback/bugs.md
  agent-feedback/dx.md
  agent-feedback/perf.md
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

docs: persisted pages working notes (to be dropped before merge)
  agent-feedback/bugs.md
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  agent-feedback/perf.md
  designs/persisted-pages-architecture.md
  designs/persisted-pages-brief.md
  designs/persisted-pages-cost-model.md
  designs/persisted-pages-glossary.md
  designs/persisted-pages-roadmap.md
  designs/persisted-pages-scaling.md
  designs/persisted-pages-state-store.md
  designs/persisted-pages-wire-format.md
  package.json
  scripts/measure-persisted-scaling.ts
  scripts/measure-persisted-wire.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

perf(runtime-tags): scan SSR escaping with indexOf/charCodeAt instead of regex
  .changeset/fast-ssr-escaping.md
  agent-feedback/perf.md
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/html/content.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record findings from a second cohort of real-app builds
  agent-feedback/bugs.md
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  agent-feedback/perf.md
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

perf(runtime-tags): speed up server-side scope serialization
  .changeset/serializer-scope-perf.md
  agent-feedback/perf.md
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
