Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

fix(ts): core tag types
  packages/runtime-tags/tags/debug.d.marko
  packages/runtime-tags/tags/do.d.marko
  packages/runtime-tags/tags/log.d.marko
Due: none

chore: add changeset
  .changeset/sour-moments-strive.md
Due: prettier --write, prettier --write --with-node-modules

fix: ensure markoOpts accurate or child template analysis
  .changeset/shiny-falcons-hear.md
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: param only serialize reasons
  .changeset/wicked-cougars-raise.md
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/template.marko
  packages/runtime-tags/src/__tests__/fixtures/closure-serialize-reason/test.ts
  packages/runtime-tags/src/translator/util/translate-attrs.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: multiple renders same runtime id
  .changeset/angry-things-unite.md
  packages/runtime-tags/src/html/inlined-runtimes.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ensure serizlie reason is set before child call
  .changeset/fluffy-cars-grow.md
  packages/runtime-tags/src/__tests__/fixtures/at-tag-inside-if-tag/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-dynamic-with-params/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/tags/child.marko
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/template.marko
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/test.ts
  packages/runtime-tags/src/translator/util/known-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ensure serizlie reason is set before child call (#2864)
  .changeset/fluffy-cars-grow.md
  packages/runtime-tags/src/__tests__/fixtures/at-tag-inside-if-tag/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-dynamic-with-params/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/tags/child.marko
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/template.marko
  packages/runtime-tags/src/__tests__/fixtures/tag-var-with-serialize-reason/test.ts
  packages/runtime-tags/src/translator/util/known-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(dynamic-tag): stricter normalization
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/tags/child.marko
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/template.marko
  packages/runtime-tags/src/common/helpers.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/sixty-fans-repair.md
Due: prettier --write, prettier --write --with-node-modules

fix(dynamic-tag): stricter normalization (#2868)
  .changeset/sixty-fans-repair.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/tags/child.marko
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-content-default/template.marko
  packages/runtime-tags/src/common/helpers.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: escape grave character in template literals
  .changeset/big-horses-sniff.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/tags/child.marko
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/template.marko
  packages/runtime-tags/src/translator/core/html-comment.ts
  packages/runtime-tags/src/translator/core/html-script.ts
  packages/runtime-tags/src/translator/core/html-style.ts
  packages/runtime-tags/src/translator/util/body-to-text-literal.ts
  packages/runtime-tags/src/translator/util/normalize-string-expression.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: escape grave character in template literals (#2867)
  .changeset/big-horses-sniff.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/tags/child.marko
  packages/runtime-tags/src/__tests__/fixtures/escape-html-strings/template.marko
  packages/runtime-tags/src/translator/core/html-comment.ts
  packages/runtime-tags/src/translator/core/html-script.ts
  packages/runtime-tags/src/translator/core/html-style.ts
  packages/runtime-tags/src/translator/util/body-to-text-literal.ts
  packages/runtime-tags/src/translator/util/normalize-string-expression.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(ts): remove camelCase CSS properties
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/hot-phones-turn.md
Due: prettier --write, prettier --write --with-node-modules

fix: invalid content ___id check in prod builds
  .changeset/light-bears-look.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/common/helpers.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid writing signals without statements
  .changeset/eager-singers-teach.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/template.marko
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let/test.ts
  packages/runtime-tags/src/__tests__/fixtures/basic-unused-ref/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/catch-single-success-async/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/catch-single-success-async/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/catch-single-success-sync/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/catch-single-success-sync/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/error-sync/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/for-destructure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-many/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-many/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var-many/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/serialize-guard.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/program/dom.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid empty tag param signal, improve unused var assignments
  .changeset/brown-paths-rescue.md
  packages/runtime-tags/src/__tests__/fixtures/catch-single-success-async/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/catch-single-success-sync/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-destructure/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-destructure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-destructure/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/tag-var-destructure/template.marko
  packages/runtime-tags/src/translator/core/let.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: assigning to an unused let with change handler
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/template.marko
  packages/runtime-tags/src/__tests__/fixtures/assign-to-pruned-let-with-change-handler/test.ts
  packages/runtime-tags/src/translator/core/let.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Revert "[ci] release"
  .changeset/brown-paths-rescue.md
  .changeset/eager-singers-teach.md
  package-lock.json
  packages/runtime-tags/CHANGELOG.md
  packages/runtime-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules
