Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f codeframe --fix, fixpack

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint -f codeframe --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

Preserve gzip streaming in Koa integration example
  packages/marko/docs/koa.md
Due: prettier --write

Preserve gzip streaming in Koa integration example (#1641)
  packages/marko/docs/koa.md
Due: prettier --write

Changed <await> doc
  packages/marko/docs/core-tags.md
Due: prettier --write

feat: simplify ast defs
  packages/babel-types/src/traverse/patch.js
  packages/babel-types/src/types/definitions.js
  packages/translator-default/src/tag/attribute/directives/no-update.js
  packages/translator-default/src/tag/attribute/modifiers/no-update.js
  packages/translator-default/src/tag/dynamic-tag.js
  packages/translator-default/src/tag/index.js
  packages/translator-default/src/tag/native-tag[html]/index.js
  packages/translator-default/src/tag/native-tag[vdom]/index.js
  packages/translator-default/test/fixtures/custom-tag-migration/old.migrator.js
  packages/translator-default/test/fixtures/custom-tag-transform/div.transformer.js
Due: prettier --write, eslint -f codeframe --fix

fix(babel-types): allow toString on placeholder nodes
  packages/babel-types/src/generator/patch.js
Due: prettier --write, eslint -f codeframe --fix

feat: move tag param ast to MarkoTagBody
  packages/babel-types/src/generator/patch.js
  packages/babel-types/src/traverse/patch.js
  packages/babel-types/src/types/definitions.js
  packages/babel-types/src/types/patch.js
  packages/babel-utils/src/assert.js
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-plugin/util/parse-params.js
  packages/translator-default/src/tag/attribute/directives/no-update.js
  packages/translator-default/src/tag/index.js
  packages/translator-default/src/tag/util.js
  packages/translator-default/src/taglib/core/macro/translate.js
  packages/translator-default/src/taglib/core/translate-for.js
  packages/translator-default/src/util/key-manager.js
  packages/translator-default/src/util/optimize-vdom-create.js
  packages/translator-default/test/fixtures/custom-tag-migration/old.migrator.js
  packages/translator-default/test/fixtures/custom-tag-transform/div.transformer.js
Due: prettier --write, eslint -f codeframe --fix

docs: preserve gzip streaming in Koa integration example (#1641)
  packages/marko/docs/koa.md
Due: prettier --write

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-types/CHANGELOG.md
  packages/babel-types/package.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat(compiler): support string as translator option
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/config.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

fix(babel-utils): resolve node_module templates to relative paths
  packages/babel-utils/src/imports.js
Due: prettier --write, eslint -f codeframe --fix

fix: issue with only renderBody being serialized
  packages/marko/src/runtime/components/ComponentDef.js
Due: prettier --write, eslint -f codeframe --fix

fix(babel-utils): resolve node_module templates to relative paths (#1645)
  packages/babel-utils/src/imports.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore(release): 4.23.11
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

chore: publish
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: runtime mismatch check
  packages/marko/src/runtime/components/renderer.js
Due: prettier --write, eslint -f codeframe --fix

fix: issue with using flags before defined
  packages/marko/src/runtime/components/ComponentDef.js
Due: prettier --write, eslint -f codeframe --fix

chore(release): 4.23.12
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

feat: improve analysis for stateful tag parameters
  packages/marko/test/components-browser/fixtures/tag-params-nested-tags/index.marko
  packages/marko/test/components-browser/fixtures/tag-params/index.marko
  packages/marko/test/render/fixtures/dynamic-tag-arguments/expected.html
  packages/translator-default/src/index.js
  packages/translator-default/src/tag/native-tag[html]/index.js
  packages/translator-default/src/tag/util.js
  packages/translator-default/src/taglib/core/parse-class.js
  packages/translator-default/src/util/get-component-files.js
  packages/translator-default/test/fixtures/at-tags-dynamic-with-params/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic-with-params/snapshots/html-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic-with-params/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic-with-params/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic-with-params/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/custom-tag-parameters/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/custom-tag-parameters/snapshots/html-expected.js
  packages/translator-default/test/fixtures/custom-tag-parameters/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/custom-tag-parameters/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/custom-tag-parameters/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/data-migration/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/data-migration/snapshots/html-expected.js
  packages/translator-default/test/fixtures/data-migration/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/data-migration/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/data-migration/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint -f codeframe --fix

feat: improve analysis for stateful tag parameters (#1648)
  packages/marko/test/components-browser/fixtures/tag-params-nested-tags/index.marko
  packages/marko/test/components-browser/fixtures/tag-params/index.marko
  packages/marko/test/render/fixtures/dynamic-tag-arguments/expected.html
  packages/translator-default/src/index.js
  packages/translator-default/src/tag/native-tag[html]/index.js
  packages/translator-default/src/tag/util.js
  packages/translator-default/src/taglib/core/parse-class.js
  packages/translator-default/src/util/get-component-files.js
  packages/translator-default/test/fixtures/at-tags-dynamic-with-params/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic-with-params/snapshots/html-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic-with-params/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic-with-params/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic-with-params/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/custom-tag-parameters/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/custom-tag-parameters/snapshots/html-expected.js
  packages/translator-default/test/fixtures/custom-tag-parameters/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/custom-tag-parameters/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/custom-tag-parameters/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/data-migration/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/data-migration/snapshots/html-expected.js
  packages/translator-default/test/fixtures/data-migration/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/data-migration/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/data-migration/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint -f codeframe --fix

fix: force commonjs modules for load api
  packages/marko/src/loader/index-default.js
Due: prettier --write, eslint -f codeframe --fix

Added fix for webpack's file system not converting buffer properly
  packages/babel-utils/src/tags.js
  packages/translator-default/src/taglib/core/translate-include-content.js
Due: prettier --write, eslint -f codeframe --fix

fix: webpack's file system not converting buffer properly (#1649)
  packages/babel-utils/src/tags.js
  packages/translator-default/src/taglib/core/translate-include-content.js
Due: prettier --write, eslint -f codeframe --fix

fix: targetProperty for dynamic attribute tags when multiple
  packages/translator-default/src/tag/attribute-tag.js
Due: prettier --write, eslint -f codeframe --fix

fix: resolve dist runtime when optimized
  packages/babel-utils/src/imports.js
Due: prettier --write, eslint -f codeframe --fix
