Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

test(runtime-tags): cover shared content fill subscribers
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/tags/frame.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/test.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): inject patch readiness as a runtime feature module
  .sizes.json
  .sizes/dom.js
  agent-feedback/items/2026-08-21-clean-up-pending-patch-state-for-discarded-renders.md
  agent-feedback/items/2026-08-21-signal-lazy-loader-script-failure-to-pending-patches.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/sizes.json
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/patch-ready.feat.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: trim comments, rename boundaryAlwaysPairs
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/core/try.ts
  packages/runtime-tags/src/translator/util/persisted/decisions.ts
  packages/runtime-tags/src/translator/util/persisted/delivery.ts
  packages/runtime-tags/src/translator/util/persisted/structure.ts
  packages/runtime-tags/src/translator/util/shell.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): clarify subscriber fill dispatch
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): await lazy persisted patches
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/patch-ready.ts
  packages/runtime-tags/src/dom/patch.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): keep lazy import fact internal
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: file persistedShells rename feedback
  agent-feedback/items/2026-08-20-rename-persisted-shells-program-extra.md
Due: prettier --write, prettier --write --with-node-modules

test(runtime-tags): prune stale compile snapshots
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-html.txt
Due: none

refactor(runtime-tags): unify persisted analysis terminology
  agent-feedback/items/2026-08-20-rename-persisted-shells-program-extra.md
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/util/persisted/admission.ts
  packages/runtime-tags/src/translator/util/shell.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: drop changeset (persisted pages is unshipped)
  .changeset/lazy-persisted-patch-await.md
Due: prettier --write, prettier --write --with-node-modules

test(runtime-tags): cover lazy patch timing
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/dom/patch-ready.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/html/assets.ts
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): initialize patch readiness from page entry
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Persisted: frame size gate
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-child-nested/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-client-else/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-static-scriptlets/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-text-only-content/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-unescaped-hole/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): rebase onto main — shells accept structure text ops
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-class-page-with-stateful-tags-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-params/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-mixed/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-branch/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-branch/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-loop/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-content-child-loop/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-cycle/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/translator/util/shell.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): compose the lazy failure backport at the persisted base
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-conditional-child-inert/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-conditional-child-state/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-placeholder/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-idle-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-input-chunk-load-error/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-entry-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-error-nested-placeholder/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-error/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-script-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-mixed-known-and-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-unmount-before-load/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.debug.html
  packages/runtime-tags/src/dom/resume.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: preserve nested implicit component dependencies
  .changeset/quiet-plums-listen.md
  packages/runtime-class/src/translator/util/add-dependencies.js
  packages/runtime-class/test/translator/fixtures/implicit-split-component-with-child/components/child/component-browser.js
  packages/runtime-class/test/translator/fixtures/implicit-split-component-with-child/components/child/index.marko
  packages/runtime-class/test/translator/fixtures/implicit-split-component-with-child/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/implicit-split-component-with-child/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/implicit-split-component-with-child/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/implicit-split-component-with-child/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/implicit-split-component-with-child/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/implicit-split-component-with-child/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/implicit-split-component-with-child/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/implicit-split-component-with-child/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: 23 items from a multi-lane agent scan
  agent-feedback/items/2026-09-04-catch-a-for-item-s-update-error-at-the.md
  agent-feedback/items/2026-09-04-check-a-changeset-s-package-names-against-the.md
  agent-feedback/items/2026-09-04-diagnose-a-client-server-binding-read-during-render.md
  agent-feedback/items/2026-09-04-diagnose-a-ts-type-argument-that-a-tag-ending-split.md
  agent-feedback/items/2026-09-04-keep-index-d-ts-script-mode-so-its-marko.md
  agent-feedback/items/2026-09-04-list-every-agent-env-marker-in-the-repo-notes.md
  agent-feedback/items/2026-09-04-name-script-in-the-effect-shape-errors-which-preempt.md
  agent-feedback/items/2026-09-04-name-the-html-core-tags-where-the-html-they-replace.md
  agent-feedback/items/2026-09-04-name-the-package-whose-exports-map-hides-its-marko.md
  agent-feedback/items/2026-09-04-name-the-tag-in-babel-utils-assert-js-diagnostics.md
  agent-feedback/items/2026-09-04-name-the-tags-discovery-convention-when-a-same-named.md
  agent-feedback/items/2026-09-04-open-the-coverage-report-with-a-command-that-exists.md
  agent-feedback/items/2026-09-04-reach-the-core-tags-own-does-not-support-body.md
  agent-feedback/items/2026-09-04-reject-a-for-parameter-the-iteration-form-never-supplies.md
  agent-feedback/items/2026-09-04-reject-an-assignment-to-a-tag-variable-s-member.md
  agent-feedback/items/2026-09-04-reject-an-unknown-on-attribute-on-lifecycle.md
  agent-feedback/items/2026-09-04-repoint-contributing-md-at-the-packages-layout-and.md
  agent-feedback/items/2026-09-04-say-a-tag-variable-type-annotation-does-not.md
  agent-feedback/items/2026-09-04-stringify-a-boolean-data-value-instead-of-writing.md
  agent-feedback/items/2026-09-04-type-catch-s-error-parameter-as-unknown-not-any.md
  agent-feedback/items/2026-09-04-warn-in-marko-debug-when-a-page-carries-resume-data.md
  agent-feedback/items/2026-09-04-warn-in-marko-debug-when-an-update-is-dropped-into.md
  agent-feedback/items/2026-09-04-warn-when-a-published-marko-json-declares-exports.md
Due: prettier --write, prettier --write --with-node-modules

Persisted: a selector-only param stays server-paired under a state-mixed input group
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-dynamic-tag/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-dynamic-tag/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-dynamic-tag/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-dynamic-tag/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-dynamic-tag/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-dynamic-tag/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-dynamic-tag/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-through-child/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-through-child/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-through-child/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-through-child/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-through-child/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-through-child/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-bind-through-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-structure-nested/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-structure-nested/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-structure-nested/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-structure-nested/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-structure-nested/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-structure-nested/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-state-structure-nested/sizes.json
  packages/runtime-tags/src/translator/util/branch-tag.ts
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/util/persisted/structure.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
