Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

feat(runtime-tags): render non-promise `<await>` synchronously inside `<try>` (#3271)
  .changeset/await-sync-in-try.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/await-sync-in-try/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/await-sync-in-try/__snapshots__/render-csr.md
  packages/runtime-tags/src/dom/control-flow.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test: run the suite in parallel across CPU cores
  .github/CONTRIBUTING.md
  .mocharc.cjs
  .mocharc.json
  package.json
  packages/runtime-class/test/__util__/test-init.js
  packages/runtime-class/test/__util__/warmup.marko
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/src/__tests__/main.shard-0.test.ts
  packages/runtime-tags/src/__tests__/main.shard-1.test.ts
  packages/runtime-tags/src/__tests__/main.shard-2.test.ts
  packages/runtime-tags/src/__tests__/main.shard-3.test.ts
  packages/runtime-tags/src/__tests__/main.shard-4.test.ts
  packages/runtime-tags/src/__tests__/main.shard-5.test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix(runtime-tags): link client assets for server only page entries (#3236)
  .changeset/static-page-client-assets.md
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/child.css
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/child.marko
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/page.css
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/template.marko
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/template.style.css
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-modules-default/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-modules-destructured/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-type/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/translator/core/style.ts
  packages/runtime-tags/src/translator/util/asset-imports.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
  packages/runtime-tags/src/translator/visitors/program/dom.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test: add `test:fast` custom parallel runner
  package.json
  packages/runtime-tags/src/__tests__/main.test.ts
  scripts/test.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix(runtime-tags): link client assets for server only page entries (#3236) (#3274)
  .changeset/static-page-client-assets.md
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/child.css
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/child.marko
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/page.css
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/template.marko
  packages/runtime-tags/src/__tests__/fixtures/style-server-only-tree/template.style.css
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-modules-default/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-modules-destructured/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-type/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/translator/core/style.ts
  packages/runtime-tags/src/translator/util/asset-imports.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
  packages/runtime-tags/src/translator/visitors/program/dom.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-class): flush Class API inline scripts across tags interop
  .changeset/fix-interop-class-script-flush.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/components/class-script.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-class): flush Class API inline scripts across tags interop (#3275)
  .changeset/fix-interop-class-script-flush.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/components/class-script.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-class): route dynamic tags importing tags components through compat
  .changeset/fix-interop-dynamic-tag-class-to-tags.md
  packages/runtime-class/src/translator/index.js
  packages/runtime-class/src/translator/tag/custom-tag.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/components/tags-child.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/test.ts
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/components/tags-child.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-class): route dynamic tags importing tags components through compat (#3277)
  .changeset/fix-interop-dynamic-tag-class-to-tags.md
  packages/runtime-class/src/translator/index.js
  packages/runtime-class/src/translator/tag/custom-tag.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/components/tags-child.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/test.ts
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/components/tags-child.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(runtime-tags): render conditional native attribute values at compile time
  .changeset/optimize-conditional-attr.md
  packages/runtime-tags/src/__tests__/fixtures/attr-class-svg/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/attr-class-svg/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-attr-value/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-attr-value/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/conditional-attr-value/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/conditional-attr-value/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/conditional-attr-value/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/conditional-attr-value/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/conditional-attr-value/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/conditional-attr-value/template.marko
  packages/runtime-tags/src/__tests__/fixtures/conditional-attr-value/test.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(runtime-tags): keep server-only Class API children out of the browser bundle
  .changeset/server-only-class-interop.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/components/server-note.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-server-only-class-child/test.ts
  packages/runtime-tags/src/html/compat.ts
  packages/runtime-tags/src/html/dynamic-tag.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/tag-name-type.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(compiler): add `Scopable` alias to `MarkoTagBody`
  .changeset/flatten-text-if-tag-param-ref.md
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/template.marko
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/test.ts
  patches/@babel+types+7.29.0.patch
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(compiler): add `Scopable` alias to `MarkoTagBody` (#3282)
  .changeset/flatten-text-if-tag-param-ref.md
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/template.marko
  packages/runtime-tags/src/__tests__/fixtures/flatten-text-if-tag-param-ref/test.ts
  patches/@babel+types+7.29.0.patch
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test: fix the duplicate compiler at its source instead of warming up
  packages/runtime-class/test/__util__/create-marko-jsdom-module.js
  packages/runtime-class/test/__util__/test-init.js
  packages/runtime-class/test/__util__/warmup.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: update missed size snapshots, update context-require dev dep
  package-lock.json
  packages/runtime-tags/src/__tests__/fixtures/basic-toggle-show/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/branch-closure-if-only-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/placeholder-static-multiple/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/template-literal-writes/sizes.json
Due: prettier --write, prettier --write --with-node-modules

perf(runtime-tags): reconcile keyed `<for>` in order before building a key map
  .sizes.json
  .sizes/comments.csr/runtime.js
  .sizes/dom.js
  packages/runtime-tags/src/dom/control-flow.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(compiler): add `getTemplateApi` to detect a template's runtime API
  .changeset/get-template-api.md
  packages/compiler/index.d.ts
  packages/compiler/src/index.js
  packages/compiler/src/util/get-tags-dir.js
  packages/compiler/src/util/scan-template-api.js
  packages/compiler/test/fixtures/get-template-api/class-default/class-block.marko
  packages/compiler/test/fixtures/get-template-api/class-default/plain.marko
  packages/compiler/test/fixtures/get-template-api/class-default/scriptlet.marko
  packages/compiler/test/fixtures/get-template-api/class-default/static-scriptlet.marko
  packages/compiler/test/fixtures/get-template-api/class-default/style-block.marko
  packages/compiler/test/fixtures/get-template-api/class-default/tags-feature.marko
  packages/compiler/test/fixtures/get-template-api/with-tags-dir/sibling.marko
  packages/compiler/test/fixtures/get-template-api/with-tags-dir/tags/in-dir.marko
  packages/compiler/test/get-template-api.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(runtime-tags): drop server-only class API roots from interop hydrate entry
  .changeset/entry-builder-interactive-templates.md
  packages/runtime-tags/src/__tests__/fixtures-interop/custom-tag-parameters-from-args/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/custom-tag-parameters-from-args/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/custom-tag-parameters-from-args/sizes.json
  packages/runtime-tags/src/translator/interop/index.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(runtime-tags): don't ship Marko 5 runtime for inert class children in interop
  .changeset/entry-builder-interactive-templates.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/components/class-counter.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-inert-tags-stateful-class/test.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(runtime-tags): bind native event handlers once in keyed loops
  packages/runtime-tags/src/__tests__/fixtures/for-by-use-index/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-by-use-index/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-event-handler/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/for-loop-closure-remove-all-items/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-loop-closure-remove-all-items/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/for-to-range-resume-key/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-to-range-resume-key/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/nested-for-if-stateful/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/nested-for-if-stateful/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): guard split-brain runtime keys and accessor pair
  .changeset/guard-split-brain-runtime-keys.md
  packages/runtime-tags/src/__tests__/debug-parity.test.ts
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): explore reducing tree-shaking reliance for DCE
  packages/runtime-tags/docs/dead-code-elimination-exploration.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): empirical DCE study + reproducible harness
  experiments/dce/Counter.marko
  experiments/dce/Dashboard.marko
  experiments/dce/Footer.marko
  experiments/dce/Header.marko
  experiments/dce/Layout.marko
  experiments/dce/List.marko
  experiments/dce/Nav.marko
  experiments/dce/README.md
  experiments/dce/RESULTS.md
  experiments/dce/Sidebar.marko
  experiments/dce/floor.ts
  experiments/dce/islandonly.marko
  experiments/dce/page.marko
  experiments/dce/static.marko
  experiments/dce/sweep.ts
  experiments/dce/sweep2.ts
  experiments/dce/sweep3.ts
  packages/runtime-tags/docs/dead-code-elimination-exploration.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): validate DCE findings against the 574-fixture corpus
  experiments/dce/README.md
  experiments/dce/RESULTS.md
  experiments/dce/corpus.mjs
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): ESM-only conclusion — Marko-side DCE is already complete
  experiments/dce/Article.marko
  experiments/dce/ArticlePage.marko
  experiments/dce/README.md
  experiments/dce/RESULTS.md
  experiments/dce/ServerData.marko
  experiments/dce/serverdep.ts
  experiments/dce/setup-deps.mjs
  experiments/dce/sweep.ts
  experiments/dce/sweep2.ts
  packages/runtime-tags/docs/dead-code-elimination-exploration.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(runtime-tags): drop Marko 5 runtime for inert class children of interactive tags pages
  .changeset/entry-builder-interactive-templates.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-inline-script-tags-to-class/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/components/class-greeting.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-inert-class/test.ts
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/components/class-counter.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/components/class-greeting.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-island-mixed-class/test.ts
  packages/runtime-tags/src/translator/interop/index.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): reproduce real pruning gaps (try resumability)
  experiments/dce/BodyContent.marko
  experiments/dce/Card.marko
  experiments/dce/GAPS.md
  experiments/dce/TryConst.marko
  experiments/dce/TryNoIsland.marko
  experiments/dce/TryReactive.marko
  experiments/dce/TryStatic.marko
  experiments/dce/TrySync.marko
  experiments/dce/probe.ts
  experiments/dce/resolve.mjs
  experiments/dce/serialized.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): add Gap 1 implementation plan (try resumability gate)
  experiments/dce/GAPS.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): validated prototype for try _enable_catch pruning
  experiments/dce/GAPS.md
Due: prettier --write, prettier --write --with-node-modules

perf(runtime-tags): drop _enable_catch for client-static <try> bodies
  experiments/dce/GAPS.md
  packages/runtime-tags/src/__tests__/fixtures/catch-single-success-sync/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/placeholder-skipped/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/core/lifecycle.ts
  packages/runtime-tags/src/translator/core/script.ts
  packages/runtime-tags/src/translator/core/try.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/visitors/function.ts
  packages/runtime-tags/src/translator/visitors/scriptlet.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): record serialization-coupling blocker for catch/placeholder content pruning
  experiments/dce/GAPS.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-class): don't crash re-rendering an inert class child from a tags parent
  .changeset/fix-inert-class-rerender-morph.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-dom.js
  packages/runtime-tags/src/__tests__/fixtures-interop/custom-tag-parameters-from-args/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-basic-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-basic-tags-to-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-to-tags-import/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-dynamic-tag-conditional-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-handler-render-body-tags-to-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-events-tags-to-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-nested-attr-tags-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-nested-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-nested-tags-to-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/components/class-display.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-rerender-inert-class/test.ts
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-stateless-tags-to-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-tag-params-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-tag-params-tags-to-class/sizes.json
  packages/runtime-tags/src/dom/compat.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
