Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

feat: noop tags
  packages/translator/src/core/index.ts
  packages/translator/src/core/noop.ts
Due: prettier --write, eslint --fix

fix: removing some nullish static attributes on native tags with spreads
  packages/translator-default/src/tag/native-tag[html]/attributes.js
  packages/translator-default/src/tag/native-tag[vdom]/index.js
  packages/translator-default/src/tag/util.js
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/html-expected.js
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/native-tag-spread-attrs/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/native-tag-spread-attrs/template.marko
Due: prettier --write, eslint --fix

chore: publish v5.20.5
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

Fix spelling
  packages/marko/docs/conditionals-and-lists.md
Due: prettier --write

docs: fix spelling (#1784)
  packages/marko/docs/conditionals-and-lists.md
Due: prettier --write

feat: support get tag reading global context
  packages/runtime/src/__tests__/main.test.ts
  packages/runtime/src/html/writer.ts
  packages/translator/src/__tests__/fixtures/context-tag-from-global/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-global/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-global/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/context-tag-from-global/template.marko
  packages/translator/src/__tests__/fixtures/context-tag-from-global/test.ts
  packages/translator/src/__tests__/main.test.ts
  packages/translator/src/core/get.ts
  packages/translator/src/visitors/scriptlet.ts
Due: prettier --write, eslint --fix

chore: avoid eagerly loading compiled template in tests
  packages/translator/src/__tests__/fixtures/basic-export/test.ts
  packages/translator/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix

feat: add compatibility for out.global
  packages/translator/src/__tests__/fixtures/migrate-out-global/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/migrate-out-global/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/migrate-out-global/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/migrate-out-global/template.marko
  packages/translator/src/__tests__/fixtures/migrate-out-global/test.ts
  packages/translator/src/index.ts
  packages/translator/src/util/is-static.ts
  packages/translator/src/visitors/program/html.ts
  packages/translator/src/visitors/program/index.ts
  packages/translator/src/visitors/referenced-identifier.ts
Due: prettier --write, eslint --fix

feat: add static block support
  packages/translator/src/__tests__/fixtures/basic-static/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-static/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-static/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-static/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-static/template.marko
  packages/translator/src/core/index.ts
  packages/translator/src/core/static.ts
  packages/translator/src/util/is-static.ts
  packages/translator/src/visitors/program/html.ts
  packages/translator/src/visitors/scriptlet.ts
Due: prettier --write, eslint --fix

feat: add migrator for top level input identifier
  packages/translator/src/__tests__/fixtures/migrate-input/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/migrate-input/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/migrate-input/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/migrate-input/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/migrate-input/template.marko
  packages/translator/src/__tests__/fixtures/migrate-input/test.ts
  packages/translator/src/visitors/referenced-identifier.ts
Due: prettier --write, eslint --fix

test: update snapshots for input migration
  packages/translator/src/__tests__/fixtures/attr-escape/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-tag-name/__snapshots__/dom.expected/components/other.js
  packages/translator/src/__tests__/fixtures/custom-tag-render-body/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/custom-tag-render-body/__snapshots__/dom.expected/components/child/index.js
  packages/translator/src/__tests__/fixtures/custom-tag-template/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/event-handlers/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/event-handlers/__snapshots__/dom.expected/components/child/index.js
Due: prettier --write, eslint --fix

feat: eliminate userEffect helper if we can statically tell there's no cleanup
  packages/translator/src/__tests__/fixtures/basic-effect-no-deps/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/effect-counter/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/effect-tag/__snapshots__/dom.expected.js
  packages/translator/src/core/effect.ts
Due: prettier --write, eslint --fix

fix: hi, MarkoScriptlet is a Marko node
  packages/translator/src/util/references.ts
Due: prettier --write, eslint --fix

feat: <__flush_here_and_after__> (but not actually after)
  packages/translator/src/__tests__/fixtures/basic-flush-here/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-flush-here/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-flush-here/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-flush-here/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-flush-here/template.marko
  packages/translator/src/__tests__/fixtures/basic-flush-here/test.ts
  packages/translator/src/core/__flush_here_and_after__.ts
  packages/translator/src/core/index.ts
Due: prettier --write, eslint --fix

fix: "hydrate" output still uses "dom" runtime
  packages/translator/src/util/runtime.ts
Due: prettier --write, eslint --fix

fix: no-op tags incorrect names, now remove at migrate
  packages/translator/src/core/index.ts
  packages/translator/src/core/noop.ts
Due: prettier --write, eslint --fix

fix: ensure single-reference group exists in a child section that reference its parent's binding
  packages/translator/src/__tests__/fixtures/basic-converge-in-if/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-converge-in-if/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-converge-in-if/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-converge-in-if/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-converge-in-if/template.marko
  packages/translator/src/util/references.ts
Due: prettier --write, eslint --fix

fix: multiple branches
  .sizes.json
  packages/translator/src/__tests__/fixtures/basic-converge-in-if/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-execution-order/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/template.marko
  packages/translator/src/core/condition/if.ts
  packages/translator/src/util/apply-hydrate.ts
Due: prettier --write, eslint --fix

feat: dynamic tag for ssr
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-tag-parent/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/attr-style/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/dom.expected/components/my-button.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/html.expected/components/my-button.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/components/my-button.marko
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/template.marko
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/test.ts
  packages/translator/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-var/__snapshots__/html.expected.js
  packages/translator/src/visitors/tag/dynamic-tag.ts
  packages/translator/src/visitors/tag/index.ts
Due: prettier --write, eslint --fix

chore: improve some ts types
  packages/compiler/index.d.ts
  scripts/types-babel-traverse.js
Due: prettier --write, eslint --fix

fix: issue with style tag with variable treated as block
  packages/translator-default/src/taglib/core/transform-style.js
Due: prettier --write, eslint --fix

chore: publish v5.20.6
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: basic hydrate output
  packages/translator/src/visitors/program/index.ts
Due: prettier --write, eslint --fix

fix: invalid dom output for attributes only used in renderBody
  packages/translator/src/__tests__/fixtures/at-tag-inside-if-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-and-static/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-tag-parent/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-with-params/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/attr-class/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/dom.expected/components/my-button.js
  packages/translator/src/__tests__/fixtures/basic-layout/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-layout/__snapshots__/dom.expected/components/layout.js
  packages/translator/src/__tests__/fixtures/basic-layout/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-layout/__snapshots__/html.expected/components/layout.js
  packages/translator/src/__tests__/fixtures/basic-layout/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-layout/components/layout.marko
  packages/translator/src/__tests__/fixtures/basic-layout/template.marko
  packages/translator/src/__tests__/fixtures/basic-layout/test.ts
  packages/translator/src/__tests__/fixtures/context-tag-from-tag-name/__snapshots__/dom.expected/components/other.js
  packages/translator/src/__tests__/fixtures/custom-tag-render-body/__snapshots__/dom.expected/components/child/index.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-var/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/event-handlers/__snapshots__/dom.expected/components/child/index.js
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/tag-tag/__snapshots__/dom.expected.js
  packages/translator/src/util/apply-hydrate.ts
Due: prettier --write, eslint --fix

fix: scriptlet being left in dom output
  packages/translator/src/__tests__/fixtures/basic-scriptlet/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-scriptlet/test.ts
  packages/translator/src/visitors/scriptlet.ts
Due: prettier --write, eslint --fix

fix: remove unnecessary single statement optimization
  packages/translator/src/__tests__/fixtures/attr-class/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/attr-template-literal-escape/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-chain/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-component-attrs/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-component-attrs/__snapshots__/dom.expected/components/my-button.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/dom.expected/components/my-button.js
  packages/translator/src/__tests__/fixtures/basic-converge-in-if/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-execution-order/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-export/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-handler-multi-ref-nested/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-handler-refless/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/const-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-global/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-relative-path/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-self/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/custom-tag-parameters/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/custom-tag-var/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/effect-counter/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/effect-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-siblings/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-with-state/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/hello-dynamic/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/if-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/input-tracking/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/migrate-input/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/migrate-out-global/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/tag-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/yield-tag/__snapshots__/dom.expected.js
  packages/translator/src/util/apply-hydrate.ts
Due: prettier --write, eslint --fix

fix: remove invalid top-level code from dom output
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-tag-parent/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/attr-class/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/dom.expected/components/my-button.js
  packages/translator/src/__tests__/fixtures/basic-layout/__snapshots__/dom.expected/components/layout.js
  packages/translator/src/__tests__/fixtures/context-tag-from-global/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-relative-path/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-self/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-tag-name/__snapshots__/dom.expected/components/other.js
  packages/translator/src/__tests__/fixtures/custom-tag-render-body/__snapshots__/dom.expected/components/child/index.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/event-handlers/__snapshots__/dom.expected/components/child/index.js
  packages/translator/src/__tests__/fixtures/import-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/migrate-out-global/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/tag-tag/__snapshots__/dom.expected.js
  packages/translator/src/core/get.ts
  packages/translator/src/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix

fix: set cache entry before analysis to prevent infinite recursion
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint --fix

chore: publish v5.20.7
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: type for BabelFile.markoConfig now reflects defaulted values
  packages/compiler/index.d.ts
  packages/compiler/src/config.js
  scripts/types-babel-traverse.js
Due: prettier --write, eslint --fix

chore: publish v5.20.8
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: wip integrate new parser
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-plugin/util/parse-arguments.js
  packages/compiler/src/babel-plugin/util/parse-attributes.js
  packages/compiler/src/babel-plugin/util/parse-classname-shorthand.js
  packages/compiler/src/babel-plugin/util/parse-id-shorthand.js
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/expected.html
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/marko.json
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/open-tag-only-tag.js
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/template.marko
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/test.js
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/vdom-expected.html
  packages/marko/test/render/fixtures/import/template.marko
  packages/marko/test/render/fixtures/open-tag-only-renderer/expected.html
  packages/marko/test/render/fixtures/open-tag-only-renderer/marko.json
  packages/marko/test/render/fixtures/open-tag-only-renderer/renderer.js
  packages/marko/test/render/fixtures/open-tag-only-renderer/template.marko
  packages/marko/test/render/fixtures/open-tag-only-renderer/test.js
  packages/marko/test/render/fixtures/open-tag-only-renderer/vdom-expected.html
  packages/translator-default/src/taglib/core/parse-class.js
  packages/translator-default/test/fixtures/custom-tag-migration/new.marko
  packages/translator-default/test/fixtures/custom-tag-migration/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/custom-tag-migration/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/custom-tag-template/hello.marko
  packages/translator-default/test/fixtures/custom-tag-template/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/custom-tag-template/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/error-import-tag-component-missing/template.marko
  packages/translator-default/test/fixtures/error-open-tag-only-concise/template.marko
  packages/translator-default/test/fixtures/import-tag-conflict/template.marko
  packages/translator-default/test/fixtures/import-tag/template.marko
Due: prettier --write, eslint --fix

feat: 0-js hydrate support
  package-lock.json
  package.json
  packages/translator/package.json
  packages/translator/src/core/effect.ts
  packages/translator/src/visitors/program/index.ts
  packages/translator/src/visitors/tag/custom-tag.ts
  packages/translator/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, fixpack

wip: upgrade to new parser api
  packages/babel-utils/index.d.ts
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix

feat: new parser api
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-plugin/util/parse-arguments.js
  packages/compiler/src/babel-plugin/util/parse-attributes.js
  packages/compiler/src/babel-plugin/util/parse-classname-shorthand.js
  packages/compiler/src/babel-plugin/util/parse-id-shorthand.js
  packages/compiler/src/babel-plugin/util/parse-params.js
  packages/compiler/src/babel-plugin/util/parse-var.js
Due: prettier --write, eslint --fix

chore: remove unneeded tag defs
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/taglib/marko-html.json
  packages/translator-default/test/fixtures/error-open-tag-only-concise/marko.json
Due: prettier --write, eslint --fix

chore: bring back some tests
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/expected.html
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/marko.json
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/open-tag-only-tag.js
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/template.marko
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/test.js
  packages/marko/test/render/fixtures/custom-tag-open-tag-only/vdom-expected.html
  packages/marko/test/render/fixtures/open-tag-only-renderer/expected.html
  packages/marko/test/render/fixtures/open-tag-only-renderer/marko.json
  packages/marko/test/render/fixtures/open-tag-only-renderer/renderer.js
  packages/marko/test/render/fixtures/open-tag-only-renderer/template.marko
  packages/marko/test/render/fixtures/open-tag-only-renderer/test.js
  packages/marko/test/render/fixtures/open-tag-only-renderer/vdom-expected.html
  packages/marko/test/render/fixtures/open-tag-only/expected.html
  packages/marko/test/render/fixtures/open-tag-only/marko.json
  packages/marko/test/render/fixtures/open-tag-only/template.marko
  packages/marko/test/render/fixtures/open-tag-only/test.js
  packages/marko/test/render/fixtures/open-tag-only/vdom-expected.html
Due: prettier --write, eslint --fix

chore: upgrade htmljs-parser version
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix, fixpack

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or ((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc}))
  eslint --fix: (any of: *.{js,ts}) or (any of: *.ts)
  fixpack: any of: ./{,packages/*/}package.json
