Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

chore: add changeset
  .changeset/clever-kids-smile.md
Due: prettier --write

fix: allow empty class member
  packages/translator-default/src/class.js
Due: prettier --write, eslint --fix

fix: remove circular dependencies
  .changeset/rich-grapes-cheat.md
  packages/marko/src/runtime/components/entry/index-browser.js
  packages/marko/src/runtime/components/init-components/index-browser.js
  packages/marko/src/runtime/components/init-components/index.js
  packages/marko/src/runtime/components/init-components/package.json
  packages/marko/src/runtime/components/registry/index-browser.js
Due: prettier --write, eslint --fix, fixpack

Update README.md
  README.md
Due: prettier --write

chore: upgrade htmljs-parser
  .changeset/clever-camels-leave.md
  package-lock.json
  packages/compiler/package.json
Due: prettier --write, fixpack

fix: remove circular dependencies (#1910)
  .changeset/rich-grapes-cheat.md
  packages/marko/src/runtime/components/entry/index-browser.js
  packages/marko/src/runtime/components/init-components/index-browser.js
  packages/marko/src/runtime/components/init-components/index.js
  packages/marko/src/runtime/components/init-components/package.json
  packages/marko/src/runtime/components/registry/index-browser.js
Due: prettier --write, eslint --fix, fixpack

fix: avoid using eval in dev mode
  .changeset/sixty-bottles-call.md
  packages/marko/src/runtime/components/registry/index-browser.js
Due: prettier --write, eslint --fix

fix: avoid using eval in dev mode (#1913)
  .changeset/sixty-bottles-call.md
  packages/marko/src/runtime/components/registry/index-browser.js
Due: prettier --write, eslint --fix

feat(for): `to-from-step` and `in` (#150)
  .sizes.json
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/index.ts
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-from/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-from/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-from/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-from/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-from/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-from/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-from/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-from/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-from/browser.ts
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-from/template.marko
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-from/test.ts
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-in/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-in/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-in/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-in/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-in/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-in/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-in/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-in/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-in/browser.ts
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-in/template.marko
  packages/translator/src/__tests__/fixtures/create-and-clear-rows-loop-in/test.ts
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/for-tag/test.ts
  packages/translator/src/core/for.ts
Due: prettier --write, eslint --fix

fix: modify/remove some inefficient regexes
  packages/compiler/src/taglib/loader/scanTagsDir.js
  packages/compiler/src/taglib/loader/tag-def-from-code.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/translator-default/src/taglib/core/transform-style.js
Due: prettier --write, eslint --fix

fix: tests
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-d/marko-tag.json
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-d/template.marko
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-e/marko-tag.json
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-e/renderer.js
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-f/marko-tag.json
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-f/renderer.js
Due: prettier --write, eslint --fix

Create .changeset/wet-beans-hunt.md
  .changeset/wet-beans-hunt.md
Due: prettier --write

fix: modify/remove some inefficient regexes (#1916)
  .changeset/wet-beans-hunt.md
  packages/compiler/src/taglib/loader/scanTagsDir.js
  packages/compiler/src/taglib/loader/tag-def-from-code.js
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-d/marko-tag.json
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-d/template.marko
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-e/marko-tag.json
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-e/renderer.js
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-f/marko-tag.json
  packages/marko/test/render/fixtures/scanned-tags/tags/scanned-f/renderer.js
  packages/translator-default/src/taglib/core/transform-style.js
Due: prettier --write, eslint --fix

fix: loosen babel parse errors
  .changeset/small-donuts-sip.md
  packages/compiler/src/babel-plugin/index.js
  packages/translator-default/test/fixtures/exports/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/exports/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/exports/snapshots/html-expected.js
  packages/translator-default/test/fixtures/exports/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/exports/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/exports/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/exports/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/exports/template.marko
Due: prettier --write, eslint --fix

feat: support declared ts class members, remove extra export in stripTypes mode
  .changeset/selfish-parrots-turn.md
  .changeset/small-donuts-sip.md
  .changeset/smooth-dingos-grow.md
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/index.js
  packages/translator-default/src/class.js
  packages/translator-default/test/fixtures/declared-class-member/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/declared-class-member/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/declared-class-member/snapshots/html-expected.js
  packages/translator-default/test/fixtures/declared-class-member/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/declared-class-member/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/declared-class-member/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/declared-class-member/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/declared-class-member/template.marko
Due: prettier --write, eslint --fix

fix: remove babel plugins now enabled by default and update test snapshots
  package-lock.json
  package.json
  packages/compiler/test/index.test.js
  packages/translator-default/test/fixtures/declared-class-member/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/declared-class-member/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/declared-class-member/snapshots/html-expected.js
  packages/translator-default/test/fixtures/declared-class-member/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/declared-class-member/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/declared-class-member/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix, fixpack

fix: avoid package.json remap for preserve tag
  .changeset/poor-experts-bow.md
  packages/marko/src/core-tags/components/preserve-tag.js
  packages/marko/src/core-tags/components/preserve-tag/index-browser.js
  packages/marko/src/core-tags/components/preserve-tag/index.js
  packages/marko/src/core-tags/components/preserve-tag/package.json
  packages/translator-default/src/index.js
  packages/translator-default/src/taglib/core/index.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/html-expected.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix, fixpack

fix: avoid using typeof window checks
  .changeset/fuzzy-pugs-sell.md
  packages/compiler/modules.js
  packages/marko/src/compiler/modules.js
  packages/marko/src/core-tags/core/await/renderer.js
  packages/marko/src/runtime/helpers/dynamic-tag.js
Due: prettier --write, eslint --fix

refactor: avoid config deduping via global (it has not been working since Marko 4 anyway and is probably bad)
  packages/compiler/src/config.js
Due: prettier --write, eslint --fix

fix: remove class lifecycle types
  .changeset/hungry-games-flash.md
  packages/marko/index.d.ts
Due: prettier --write, eslint --fix

docs: Fix a few typos
  packages/marko/docs/marko-json.md
  packages/marko/docs/state.md
  packages/marko/docs/vite.md
Due: prettier --write

chore: update mocha-snap, make caught error snapshots explicit (#153)
  package-lock.json
  package.json
  packages/translator/src/__tests__/fixtures/context-tag-from-relative-path/test.ts
  packages/translator/src/__tests__/fixtures/dynamic-tag-attr-signal/__snapshots__/csr-sanitized.expected.error.md
  packages/translator/src/__tests__/fixtures/dynamic-tag-attr-signal/__snapshots__/csr.expected.error.md
  packages/translator/src/__tests__/fixtures/dynamic-tag-custom-native/__snapshots__/hydrate.expected.error.md
  packages/translator/src/__tests__/fixtures/dynamic-tag-custom-tags/__snapshots__/hydrate.expected.error.md
  packages/translator/src/__tests__/fixtures/dynamic-tag-name/test.ts
  packages/translator/src/__tests__/fixtures/dynamic-tag-var/test.ts
  packages/translator/src/__tests__/fixtures/import-tag/test.ts
  packages/translator/src/__tests__/fixtures/return-tag/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/return-tag/__snapshots__/hydrate.expected.error.md
  packages/translator/src/__tests__/fixtures/return-tag/test.ts
  packages/translator/src/__tests__/fixtures/style-tag-type-conflict/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/style-tag-type-conflict/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/style-tag-type-conflict/test.ts
  packages/translator/src/__tests__/fixtures/tag-tag/test.ts
  packages/translator/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix, fixpack

Destructure for/const (#154)
  packages/translator/src/__tests__/fixtures/attr-class/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/const-tag-destructure/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/const-tag-destructure/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/const-tag-destructure/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/const-tag-destructure/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/const-tag-destructure/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/const-tag-destructure/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/const-tag-destructure/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/const-tag-destructure/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/const-tag-destructure/template.marko
  packages/translator/src/__tests__/fixtures/for-destructure/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/for-destructure/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/for-destructure/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/for-destructure/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/for-destructure/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/for-destructure/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/for-destructure/template.marko
  packages/translator/src/__tests__/fixtures/for-destructure/test.ts
  packages/translator/src/__tests__/fixtures/input-destructure/__snapshots__/dom.expected/template.js
  packages/translator/src/core/const.ts
  packages/translator/src/core/for.ts
  packages/translator/src/util/signals.ts
  packages/translator/src/visitors/program/dom.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or ((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc}))
  eslint --fix: (any of: *.{js,ts}) or (any of: *.ts)
  fixpack: any of: ./{,packages/*/}package.json
