Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

feat: add node esm loader hook
  packages/compiler/loader.mjs
  packages/compiler/package.json
Due: prettier --write, fixpack

fix: prevent bubbling non bubbling events
  packages/marko/src/runtime/components/event-delegation.js
  packages/marko/test/components-browser/fixtures/event-handler-non-bubbling-multiple-listeners/index.marko
  packages/marko/test/components-browser/fixtures/event-handler-non-bubbling-multiple-listeners/test.js
Due: prettier --write, eslint --fix

fix: prevent bubbling non bubbling events (#1781)
  packages/marko/src/runtime/components/event-delegation.js
  packages/marko/test/components-browser/fixtures/event-handler-non-bubbling-multiple-listeners/index.marko
  packages/marko/test/components-browser/fixtures/event-handler-non-bubbling-multiple-listeners/test.js
Due: prettier --write, eslint --fix

chore: publish v5.20.1
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore(release): 4.24.4
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix(babel-utils): missing prop types on TagDefinition
  packages/babel-utils/index.d.ts
Due: prettier --write, eslint --fix

chore: publish v5.20.2
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

refactor: native taglibs us js format instead of json
  packages/compiler/src/taglib/index.js
  packages/translator-default/src/taglib/core/index.js
  packages/translator-default/src/taglib/core/marko.json
  packages/translator-default/src/taglib/index.js
  packages/translator-default/src/taglib/migrate/index.js
  packages/translator-default/src/taglib/migrate/marko.json
Due: prettier --write, eslint --fix

fix: avoid using webpacks enhanced resolve as the default fs
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/config.js
  packages/compiler/src/index.js
Due: prettier --write, eslint --fix, fixpack

Bundler improvements (#1782)
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/config.js
  packages/compiler/src/index.js
  packages/compiler/src/taglib/index.js
  packages/translator-default/src/taglib/core/index.js
  packages/translator-default/src/taglib/core/marko.json
  packages/translator-default/src/taglib/index.js
  packages/translator-default/src/taglib/migrate/index.js
  packages/translator-default/src/taglib/migrate/marko.json
Due: prettier --write, eslint --fix, fixpack

chore: publish v5.20.3
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: add hydration size (need to address tree shaking)
  .sizes.json
  utilities/sizes.ts
Due: prettier --write, eslint --fix

chore: update translator ssr test runner, add equivalence test
  packages/translator/src/__tests__/fixtures/effect-counter/__snapshots__/ssr.expected.error.md
  packages/translator/src/__tests__/fixtures/effect-counter/test.ts
  packages/translator/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix

feat: basic hydration with event handlers & scope serialization
  .sizes.json
  packages/translator/src/__tests__/fixtures/basic-component-attrs/__snapshots__/dom.expected/components/my-button.js
  packages/translator/src/__tests__/fixtures/basic-component-attrs/__snapshots__/html.expected/components/my-button.js
  packages/translator/src/__tests__/fixtures/basic-component/__snapshots__/dom.expected/components/counter.js
  packages/translator/src/__tests__/fixtures/basic-component/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-component/test.ts
  packages/translator/src/__tests__/fixtures/basic-counter/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-counter/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-counter/test.ts
  packages/translator/src/__tests__/fixtures/basic-execution-order/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-fn-with-block/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-fn-with-block/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-fn-with-block/test.ts
  packages/translator/src/__tests__/fixtures/basic-handler-multi-ref-nested/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-handler-multi-ref-nested/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-handler-multi-ref-nested/test.ts
  packages/translator/src/__tests__/fixtures/basic-handler-refless/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-handler-refless/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-handler-refless/test.ts
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-toggle-show/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-unused-ref/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-unused-ref/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-unused-ref/test.ts
  packages/translator/src/__tests__/fixtures/effect-counter/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/effect-counter/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/effect-counter/test.ts
  packages/translator/src/__tests__/fixtures/event-handlers/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/let-tag/__snapshots__/dom.expected.js
  packages/translator/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix

chore: fix treeshaking, add @__PURE__ annotations
  .sizes.json
  packages/runtime/rollup.config.ts
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/src/dom/schedule.ts
  packages/runtime/src/dom/walker.ts
  utilities/sizes.ts
Due: prettier --write, eslint --fix

chore: use esbuild to build packages
  .mocharc.json
  .sizes.json
  esbuild-register.js
  package-lock.json
  package.json
  packages/runtime/esbuild.ts
  packages/runtime/package.json
  packages/runtime/rollup.config.ts
  packages/runtime/src/common/context.ts
  packages/runtime/src/dom/fragment.ts
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/src/dom/walker.ts
  packages/runtime/src/html/dynamic-tag.ts
  packages/runtime/src/html/writer.ts
  packages/runtime/src/types.d.ts
  packages/translator/esbuild.ts
  packages/translator/package.json
  packages/translator/rollup.config.ts
  packages/translator/src/util/runtime.ts
Due: prettier --write, eslint --fix, fixpack

chore: run npm audit fix to update packages
  package-lock.json
  package.json
Due: prettier --write, fixpack

feat: basic nested hydration
  .sizes.json
  packages/runtime/package.json
  packages/runtime/src/dom/hydrate.ts
  packages/translator/src/__tests__/fixtures/at-tag-inside-if-tag/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-and-static/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-tag-parent/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-with-params/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/attr-style/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/attr-template-literal-escape/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-component-attrs/__snapshots__/html.expected/components/my-button.js
  packages/translator/src/__tests__/fixtures/basic-execution-order/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/html.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/components/comments.marko
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/template.marko
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/test.ts
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-toggle-show/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-var/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-with-state/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/hello-dynamic/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/if-tag/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/placeholders/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/yield-tag/__snapshots__/html.expected.js
  packages/translator/src/core/condition/if.ts
  packages/translator/src/core/for.ts
  packages/translator/src/visitors/program/html.ts
Due: prettier --write, eslint --fix, fixpack

fix: const apply fns are passed scope
  packages/translator/src/__tests__/fixtures/basic-chain/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-chain/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-chain/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-chain/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-chain/template.marko
  packages/translator/src/__tests__/fixtures/basic-chain/test.ts
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-unused-ref/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-siblings/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-with-state/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/dom.expected.js
  packages/translator/src/core/const.ts
Due: prettier --write, eslint --fix

refactor: generate more consistent fn names
  packages/translator/src/__tests__/fixtures/at-tag-inside-if-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-with-params/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-execution-order/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-relative-path/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/custom-tag-parameters/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-siblings/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-with-state/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/tag-tag/__snapshots__/dom.expected.js
  packages/translator/src/util/apply-hydrate.ts
Due: prettier --write, eslint --fix

fix: update loader to new api
  packages/compiler/loader.mjs
Due: none

fix: autoloading translators
  packages/compiler/src/config.js
Due: prettier --write, eslint --fix

chore: publish v5.20.4
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: export tag/statement
  packages/runtime/tsconfig.json
  packages/translator/src/__tests__/fixtures/basic-export/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-export/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-export/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-export/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-export/template.marko
  packages/translator/src/__tests__/fixtures/basic-export/test.ts
  packages/translator/src/core/export.ts
  packages/translator/src/core/index.ts
  packages/translator/src/visitors/program/html.ts
  packages/translator/tsconfig.json
  tsconfig.json
  types/types.d.ts
Due: prettier --write, eslint --fix

feat: server scriptlet support
  packages/translator/src/__tests__/fixtures/basic-scriptlet/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-scriptlet/template.marko
  packages/translator/src/__tests__/fixtures/basic-scriptlet/test.ts
  packages/translator/src/index.ts
  packages/translator/src/visitors/scriptlet.ts
Due: prettier --write, eslint --fix

fix(translator-default): string literals in dynamic tags incorrectly doing component lookup
  package-lock.json
  packages/compiler/src/babel-plugin/parser.js
  packages/translator-default/test/fixtures/dynamic-tag-string-literal/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-string-literal/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/dynamic-tag-string-literal/snapshots/html-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-string-literal/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-string-literal/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-string-literal/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-string-literal/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-string-literal/template.marko
Due: prettier --write, eslint --fix
