Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

docs(skills): install marko@^6 without routing through the next dist-tag
  agent-feedback/items/2026-08-20-point-the-migration-skill-at-marko-latest-not.md
  skills/marko-5-to-6-migration/SKILL.md
Due: prettier --write, prettier --write --with-node-modules

refactor(runtime-tags): narrow referenced bindings with Sorted.difference
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(compiler): ship a README and point the homepage at markojs.com
  .changeset/compiler-readme.md
  agent-feedback/items/2026-08-20-repair-compiler-md-the-only-compiler-api-doc.md
  packages/compiler/README.md
  packages/compiler/package.json
  packages/runtime-class/docs/compiler.md
Due: prettier --write, fixpack, prettier --write --with-node-modules

refactor(runtime-tags): build property paths from the root down
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(compiler): end source map sourceRoot with a separator
  .changeset/source-root-separator.md
  agent-feedback/items/2026-08-20-terminate-sourceroot-with-a-separator-so-a-mapped.md
  packages/compiler/src/babel-utils/tags.js
  packages/compiler/src/index.js
  packages/compiler/test/compile.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Add native <search> tag
  .changeset/add-search-native-tag.md
  agent-feedback/items/2026-08-28-add-search-to-the-native-tag-registries-and.md
  packages/compiler/src/taglib/marko-html.json
  packages/compiler/test/taglib.test.js
  packages/runtime-class/test/taglib-lookup/fixtures/getTagsSorted/expected.json
  packages/runtime-tags/src/__tests__/fixtures/search-static/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/search-static/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/search-static/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/search-static/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/search-static/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/search-static/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/search-static/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/search-static/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/search-static/template.marko
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(compiler): say where a taglib's root-level attributes apply
  agent-feedback/items/2026-09-02-route-a-taglib-level-pattern-attribute-into-patternattributes.md
  packages/compiler/src/taglib/loader/Taglib.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): say why `<@catch>`'s error is typed `any`
  agent-feedback/items/2026-09-04-type-catch-s-error-parameter-as-unknown-not-any.md
  packages/runtime-tags/tags/try.d.marko
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): note that lazy inserts rely on the bundler's css wait
  agent-feedback/items/2026-09-18-wait-for-in-flight-stylesheets-before-inserting-lazy-content.md
  packages/runtime-tags/src/dom/load.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: patch-constructed tag state, and a patched page's head assets
  agent-feedback/items/2026-09-15-set-up-a-patch-constructed-tags-state-before-its-scripts.md
  agent-feedback/items/2026-09-16-ship-a-patched-page-s-head-assets.md
Due: prettier --write, prettier --write --with-node-modules

docs(skills): point the migration skill at the Marko 6 cheat sheet
  agent-feedback/items/2026-08-20-link-the-cheatsheet-from-the-migration-skill-with.md
  skills/marko-5-to-6-migration/SKILL.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): add a cheat sheet rule for raw output
  .changeset/cheatsheet-raw-output.md
  agent-feedback/items/2026-08-21-say-in-the-cheatsheet-that-html-script-and-html-style.md
  packages/runtime-tags/cheatsheet.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): walk an await's content streamed in order after resume
  .changeset/late-chunk-walk.md
  agent-feedback/items/2026-09-23-walk-a-late-in-order-chunk-with-no-resume-data.md
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/template.marko
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-after-resume-walk/test.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): suggest static for brace-bodied interface and enum
  .changeset/static-hint-brace-declarations.md
  agent-feedback/items/2026-08-28-reach-the-static-hint-for-interface-and-enum.md
  packages/runtime-tags/src/__tests__/fixtures/static-enum-body-error/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/static-enum-body-error/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/static-enum-body-error/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/static-enum-body-error/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/static-enum-body-error/template.marko
  packages/runtime-tags/src/__tests__/fixtures/static-enum-body-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/static-interface-body-error/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/static-interface-body-error/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/static-interface-body-error/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/static-interface-body-error/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/static-interface-body-error/template.marko
  packages/runtime-tags/src/__tests__/fixtures/static-interface-body-error/test.ts
  packages/runtime-tags/src/translator/visitors/program/pre-analyze.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): point an effect with body content at script
  .changeset/effect-body-rename-hint.md
  agent-feedback/items/2026-09-04-name-script-in-the-effect-shape-errors-which-preempt.md
  packages/runtime-tags/src/__tests__/fixtures/error-effect-body-content/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-effect-body-content/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-effect-body-content/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-effect-body-content/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/translator/core/effect.ts
  packages/runtime-tags/src/translator/util/assert.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
