Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

fix(runtime-tags): elide the content property together with its elided section renderer
  .changeset/define-destructured-content.md
  packages/runtime-tags/src/__tests__/fixtures/define-destructured-var-with-body/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/define-destructured-var-with-body/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/define-destructured-var-with-body/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/define-destructured-var-with-body/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/define-destructured-var-with-body/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/define-destructured-var-with-body/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/define-destructured-var-with-body/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/define-destructured-var-with-body/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/define-destructured-var-with-body/template.marko
  packages/runtime-tags/src/__tests__/fixtures/define-destructured-var-with-body/test.ts
  packages/runtime-tags/src/translator/util/binding-has-prop.ts
  packages/runtime-tags/src/translator/util/translate-attrs.ts
  packages/runtime-tags/src/translator/visitors/program/dom.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): separate empty stateful text from a preceding element or comment for resume
  .changeset/placeholder-empty-after-node.md
  packages/runtime-tags/src/__tests__/fixtures/html-comment-var/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/placeholder-empty-after-node/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/placeholder-empty-after-node/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/placeholder-empty-after-node/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/placeholder-empty-after-node/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/placeholder-empty-after-node/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/placeholder-empty-after-node/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/placeholder-empty-after-node/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/placeholder-empty-after-node/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/placeholder-empty-after-node/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/placeholder-empty-after-node/template.marko
  packages/runtime-tags/src/__tests__/fixtures/placeholder-empty-after-node/test.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: adopt tuple form <optimistic/[x, pending]=source/> with 0Change analysis
  designs/actions-api.md
  designs/actions.md
Due: prettier --write, prettier --write --with-node-modules

chore: update html-comment-var snapshots for stateful text separators
  agent-feedback/dx.md
  packages/runtime-tags/src/__tests__/fixtures/branch-closure-if-only-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/html-comment-var/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/html-comment-var/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/html-comment-var/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/html-comment-var/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/html-comment-var/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/html-comment-var/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/placeholder-static-multiple/sizes.json
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): collapse static binding defaults to native parameter defaults
  .changeset/param-top-level-default.md
  packages/runtime-tags/src/__tests__/fixtures/const-array-pattern/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/content-params-array-defaults/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/content-params-array-defaults/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/content-params-array-defaults/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-destructured/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-destructured/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-destructured/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-default-registration/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/param-destructure-default/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/assignment-pattern.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): synthesize default derivations during analyze
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/visitors/assignment-pattern.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): model binding defaults as a first class graph edge
  packages/runtime-tags/src/__tests__/fixtures/const-array-pattern/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/content-params-array-defaults/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/content-params-array-defaults/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/content-params-array-defaults/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-destructured/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-destructured/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-destructured/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-default-registration/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-default-registration/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/param-destructure-default/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/param-destructure-dynamic-default/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/param-top-level-default/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/translator/index.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/util/strip-default-values.ts
  packages/runtime-tags/src/translator/visitors/assignment-pattern.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): design exploration for unifying the html/dom translators
  packages/runtime-tags/docs/html-translator-unification.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): output-shape changes that would ease translator unification
  packages/runtime-tags/docs/html-translator-unification.md
Due: prettier --write, prettier --write --with-node-modules

docs: add marko-5-to-6-migration skill
  agent-feedback/bugs.md
  cspell.json
  skills/README.md
  skills/marko-5-to-6-migration/SKILL.md
  skills/marko-5-to-6-migration/api-mapping.md
  skills/marko-5-to-6-migration/interop.md
  skills/marko-5-to-6-migration/patterns.md
Due: prettier --write, prettier --write --with-node-modules

refactor(runtime-tags): keep the default fallback in the tree
  packages/runtime-tags/src/__tests__/fixtures/const-array-pattern/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/content-params-array-defaults/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/content-params-array-defaults/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/content-params-array-defaults/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-destructured/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-destructured/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/custom-tag-var-destructured/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-default-registration/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/function-tag-var-default-registration/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/param-destructure-default/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/param-destructure-dynamic-default/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/param-top-level-default/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/translator/index.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/util/strip-default-values.ts
  packages/runtime-tags/src/translator/visitors/assignment-pattern.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): report a compile error for options without a value (or with selected) inside a select with a value attribute
  .changeset/select-value-option-contract.md
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-no-value/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-no-value/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-no-value/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-no-value/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-no-value/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-no-value/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-selected/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-selected/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-selected/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-selected/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-selected/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-select-value-option-selected/test.ts
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/template.marko
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/template.marko
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): trim default-value comments to essentials
  packages/runtime-tags/src/translator/util/get-root.ts
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/util/strip-default-values.ts
  packages/runtime-tags/src/translator/visitors/assignment-pattern.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): claim dedup bindings for long strings settled through async values
  .changeset/serializer-mutation-string-dedup.md
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): resume a partially-consumed sync generator as a sync generator
  .changeset/serializer-touched-generator.md
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): escape static html-comment text at compile time
  .changeset/html-comment-static-escape.md
  packages/runtime-tags/src/__tests__/fixtures/comments/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/comments/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/html-comment-static-unsafe/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/html-comment-static-unsafe/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/html-comment-static-unsafe/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/html-comment-static-unsafe/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/html-comment-static-unsafe/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/html-comment-static-unsafe/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/html-comment-static-unsafe/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/html-comment-static-unsafe/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/html-comment-static-unsafe/template.marko
  packages/runtime-tags/src/__tests__/fixtures/html-comment-static-unsafe/test.ts
  packages/runtime-tags/src/translator/core/html-comment.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

ci: tune GC for the c8 report and collect coverage on one matrix leg only
  .github/workflows/ci.yml
  agent-feedback/dx.md
  cspell.json
  package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

test: slice heavy runtime-class suites across parallel workers and fix runner reporting
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  packages/runtime-class/test/render/fixtures/syntax-concise/expected.html
  packages/runtime-class/test/render/fixtures/syntax-concise/template.marko
  packages/runtime-class/test/render/fixtures/syntax-concise/vdom-expected.html
  packages/runtime-class/test/render/fixtures/syntax-mixed/expected.html
  packages/runtime-class/test/render/fixtures/syntax-mixed/template.marko
  packages/runtime-class/test/render/fixtures/syntax-mixed/vdom-expected.html
  packages/runtime-class/test/render/fixtures/syntax-verbose/expected.html
  packages/runtime-class/test/render/fixtures/syntax-verbose/template.marko
  packages/runtime-class/test/render/fixtures/syntax-verbose/vdom-expected.html
  patches/mocha-autotest+1.1.3.patch
  scripts/test-parallel.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore(agent-feedback): record DX findings from weak-model authoring experiment
  agent-feedback/dx.md
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

docs(llm): record guided-error experiment; refresh @marko/run docs to Run namespace
  agent-feedback/dx.md
  cspell.json
  eslint.config.mjs
  llm/experiment/EXPERIMENT2.md
  llm/experiment/RESULTS2.md
  llm/experiment/cheatsheets/v4/marko-run.md
  llm/experiment/cheatsheets/v4/marko6.md
  llm/experiment/harness/build-prompts.mjs
  llm/experiment/harness/lib.mjs
  llm/experiment/harness/regrade-broken.mjs
  llm/experiment/runs/exp1-v4check/results.trim.json
  llm/experiment/runs/exp2-armA/results.trim.json
  llm/experiment/runs/exp2-armB/results.trim.json
  llm/experiment/runs/exp2-armB2/results.trim.json
  llm/experiment/runs/exp2/broken-apps-armB2.trim.json
  llm/experiment/tasks/h3-admin/solution/src/routes/admin/+middleware.js
  llm/experiment/tasks/t7-products/solution/src/routes/api/products/$id/+handler.js
  llm/experiment/tasks/t8-guestbook/solution/src/routes/guestbook/+handler.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(llm): two-round repair-loop results
  agent-feedback/dx.md
  llm/experiment/EXPERIMENT2.md
  llm/experiment/RESULTS2.md
  llm/experiment/harness/analyze-chains.mjs
  llm/experiment/runs/exp2-a2r/results.trim.json
  llm/experiment/runs/exp2-b2r/results.trim.json
Due: prettier --write, prettier --write --with-node-modules

docs(llm): cheat sheet v5 - controlled-input model and client-side <await>
  llm/experiment/RESULTS.md
  llm/experiment/cheatsheets/v5/marko-run.md
  llm/experiment/cheatsheets/v5/marko6.md
  llm/experiment/runs/exp1-v5check/results.trim.json
  llm/marko6-reference.md
Due: prettier --write, prettier --write --with-node-modules

feat: ship llms.md syntax reference in the marko package; record surfacing experiment
  .changeset/ship-llms-reference.md
  llm/README.md
  llm/experiment/EXPERIMENT3.md
  llm/experiment/RESULTS3.md
  llm/experiment/harness/build-exp3.mjs
  llm/experiment/harness/detect-sheet-reads.mjs
  llm/experiment/runs/exp3/P0/results.trim.json
  llm/experiment/runs/exp3/P0/sheet-reads.json
  llm/experiment/runs/exp3/P1/results.trim.json
  llm/experiment/runs/exp3/P1/sheet-reads.json
  llm/experiment/runs/exp3/P1b/results.trim.json
  llm/experiment/runs/exp3/P1b/sheet-reads.json
  llm/experiment/runs/exp3/P2/results.trim.json
  llm/experiment/runs/exp3/P2/sheet-reads.json
  llm/experiment/runs/exp3/P3/results.trim.json
  packages/runtime-tags/llms.md
  packages/runtime-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

chore: add llms to cspell words
  cspell.json
Due: prettier --write, prettier --write --with-node-modules

feat: report all analyze errors in a template at once
  .changeset/multi-error-reporting.md
  agent-feedback/dx.md
  llm/experiment/EXPERIMENT2.md
  llm/experiment/RESULTS2.md
  llm/experiment/runs/exp2-m1/results.trim.json
  llm/experiment/runs/exp2/broken-apps-M1.trim.json
  packages/runtime-tags/src/__tests__/fixtures/assignment-before-tag-var/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/assignment-before-tag-var/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/assignment-before-tag-var/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/assignment-before-tag-var/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-return-if-else/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-return-if-else/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-return-if-else/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-return-if-else/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/translator/util/analyze-errors.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
  packages/runtime-tags/src/translator/visitors/scriptlet.ts
  packages/runtime-tags/src/translator/visitors/tag/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: llms.md bare-text rule and table-safe spread fallback
  llm/experiment/RESULTS.md
  llm/experiment/cheatsheets/v6/marko-run.md
  llm/experiment/cheatsheets/v6/marko6.md
  llm/experiment/runs/exp1-v6check/results.trim.json
  packages/runtime-tags/llms.md
Due: prettier --write, prettier --write --with-node-modules

refactor: share parse-error aggregation with analyze-stage errors
  .changeset/multi-error-reporting.md
  llm/experiment/RESULTS2.md
  packages/compiler/babel-utils.d.ts
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/babel-utils/deferred-errors.js
  packages/compiler/src/babel-utils/index.js
  packages/runtime-tags/src/translator/util/analyze-errors.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
  packages/runtime-tags/src/translator/visitors/scriptlet.ts
  packages/runtime-tags/src/translator/visitors/tag/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: teach change-handler syncing and fetch-early patterns in llms.md
  cspell.json
  llm/experiment/RESULTS.md
  llm/experiment/cheatsheets/v7/marko-run.md
  llm/experiment/cheatsheets/v7/marko6.md
  llm/experiment/runs/exp1-v7check/results.trim.json
  llm/marko6-reference.md
  packages/runtime-tags/llms.md
Due: prettier --write, prettier --write --with-node-modules

docs: record clarity probe for promise-through-next() guidance
  llm/experiment/RESULTS.md
  llm/experiment/harness/build-prompts.mjs
  llm/experiment/harness/validate.mjs
  llm/experiment/runs/probe-v7-next/results.trim.json
  llm/experiment/tasks/t9-headlines/given/src/store.js
  llm/experiment/tasks/t9-headlines/grade.mjs
  llm/experiment/tasks/t9-headlines/solution/src/routes/news/+handler.js
  llm/experiment/tasks/t9-headlines/solution/src/routes/news/+page.marko
  llm/experiment/tasks/t9-headlines/spec.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: scaffold A/B null result, capability sweep, and v8 by= fix
  agent-feedback/dx.md
  llm/experiment/EXPERIMENT4.md
  llm/experiment/EXPERIMENT5.md
  llm/experiment/RESULTS.md
  llm/experiment/RESULTS4.md
  llm/experiment/RESULTS5.md
  llm/experiment/apps/recipes-const/src/routes/+handler.js
  llm/experiment/apps/recipes-const/src/routes/+layout.marko
  llm/experiment/apps/recipes-const/src/routes/+page.marko
  llm/experiment/apps/recipes-const/src/routes/recipes/$id/+handler.js
  llm/experiment/apps/recipes-const/src/routes/recipes/$id/+page.marko
  llm/experiment/apps/recipes-const/src/routes/recipes/new/+handler.js
  llm/experiment/apps/recipes-const/src/routes/recipes/new/+page.marko
  llm/experiment/apps/recipes-const/src/store.js
  llm/experiment/apps/recipes-const/src/tags/recipe-card.marko
  llm/experiment/apps/recipes-const/src/tags/star-rating.marko
  llm/experiment/cheatsheets/v8/marko-run.md
  llm/experiment/cheatsheets/v8/marko6.md
  llm/experiment/harness/build-edit.mjs
  llm/experiment/runs/exp4b/results.audit.json
  llm/experiment/runs/exp4b/results.trim.json
  llm/experiment/runs/exp5-v8check/results.trim.json
  llm/experiment/runs/exp5/results-hh.audit.json
  llm/experiment/runs/exp5/results-hh.trim.json
  llm/experiment/runs/exp5/results-sl.audit.json
  llm/experiment/runs/exp5/results-sl.trim.json
  llm/experiment/tasks/e1-filter/base-const/src/routes/+handler.js
  llm/experiment/tasks/e1-filter/base-const/src/routes/+layout.marko
  llm/experiment/tasks/e1-filter/base-const/src/routes/+page.marko
  llm/experiment/tasks/e1-filter/base-const/src/routes/recipes/$id/+handler.js
  llm/experiment/tasks/e1-filter/base-const/src/routes/recipes/$id/+page.marko
  llm/experiment/tasks/e1-filter/base-const/src/routes/recipes/new/+handler.js
  llm/experiment/tasks/e1-filter/base-const/src/routes/recipes/new/+page.marko
  llm/experiment/tasks/e1-filter/base-const/src/store.js
  llm/experiment/tasks/e1-filter/base-const/src/tags/recipe-card.marko
  llm/experiment/tasks/e1-filter/base-const/src/tags/star-rating.marko
  packages/runtime-tags/llms.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: classify new failures by error-channel reachability
  llm/experiment/RESULTS5.md
Due: prettier --write, prettier --write --with-node-modules

feat: make the dominant silent failure loud with guided diagnostics
  .changeset/silent-failure-diagnostics.md
  agent-feedback/dx.md
  llm/experiment/EXPERIMENT6.md
  llm/experiment/RESULTS6.md
  llm/experiment/harness/build-exp6s.mjs
  llm/experiment/harness/build-exp6w.mjs
  llm/experiment/harness/lib.mjs
  llm/experiment/runs/exp6/regrade.trim.json
  llm/experiment/runs/exp6/results-s.audit.json
  llm/experiment/runs/exp6/results-s.trim.json
  llm/experiment/runs/exp6/results-w.audit.json
  llm/experiment/runs/exp6/results-w.trim.json
  packages/runtime-tags/src/__tests__/diagnostics.test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-for-by-param/test.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/let.ts
  packages/runtime-tags/src/translator/util/unassigned-lets.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: acknowledge intentional first-capture lets in the new warning
  .changeset/silent-failure-diagnostics.md
  llm/experiment/RESULTS6.md
  llm/experiment/runs/exp6/regrade2.trim.json
  llm/experiment/runs/exp6/results-w1r.trim.json
  llm/marko6-reference.md
  packages/runtime-tags/src/translator/util/unassigned-lets.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: report all analyze errors in a template at once
  .changeset/multi-error-reporting.md
  packages/compiler/src/babel-plugin/index.js
  packages/runtime-tags/src/__tests__/fixtures/assignment-before-tag-var/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/assignment-before-tag-var/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/assignment-before-tag-var/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/assignment-before-tag-var/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze-else-chain/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-multiple-analyze/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-return-if-else/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-return-if-else/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-return-if-else/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-return-if-else/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/translator/util/analyze-errors.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
  packages/runtime-tags/src/translator/visitors/scriptlet.ts
  packages/runtime-tags/src/translator/visitors/tag/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
