Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

create changelog
  .changeset/quiet-bears-chew.md
Due: prettier --write

[ci] format
  .changeset/quiet-bears-chew.md
Due: prettier --write

fix(typescript): add missing event handlers (#1947)
  .changeset/quiet-bears-chew.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

Section hierarchy + refactor (#158)
  .sizes.json
  packages/runtime/src/dom/scope.ts
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-tag-parent/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/attr-class/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/attr-style/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/basic-dynamic-native-tag/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/dynamic-native-dynamic-tag/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-custom-native/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-custom-tags/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-sometimes-null/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-with-updating-body/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/native-tag-ref-hoisting/test.ts
  packages/translator/src/core/attrs.ts
  packages/translator/src/core/condition/if.ts
  packages/translator/src/core/const.ts
  packages/translator/src/core/effect.ts
  packages/translator/src/core/for.ts
  packages/translator/src/core/get.ts
  packages/translator/src/core/id.ts
  packages/translator/src/core/let.ts
  packages/translator/src/core/lifecycle.ts
  packages/translator/src/core/put.ts
  packages/translator/src/core/return.ts
  packages/translator/src/util/references.ts
  packages/translator/src/util/reserve.ts
  packages/translator/src/util/runtime.ts
  packages/translator/src/util/sections.ts
  packages/translator/src/util/signals.ts
  packages/translator/src/util/walks.ts
  packages/translator/src/util/writer.ts
  packages/translator/src/visitors/placeholder.ts
  packages/translator/src/visitors/program/dom.ts
  packages/translator/src/visitors/program/html.ts
  packages/translator/src/visitors/scriptlet.ts
  packages/translator/src/visitors/tag/custom-tag.ts
  packages/translator/src/visitors/tag/dynamic-tag.ts
  packages/translator/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix

[ci] format
  packages/marko/src/runtime/components/GlobalComponentsContext.js
Due: prettier --write, eslint --fix

chore: improve types
  .changeset/lucky-drinks-shop.md
  packages/marko/index.d.ts
Due: prettier --write, eslint --fix

chore: improve types (#1951)
  .changeset/lucky-drinks-shop.md
  packages/marko/index.d.ts
Due: prettier --write, eslint --fix

fix(input): make type optional
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/thin-goats-happen.md
Due: prettier --write

fix(input): make type optional (#1953)
  .changeset/thin-goats-happen.md
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

fix: type definition for MarkoTagBody AST
  .changeset/strange-ladybugs-burn.md
  packages/compiler/src/babel-types/types/definitions.js
Due: prettier --write, eslint --fix

fix: type definition for MarkoTagBody AST (#1955)
  .changeset/strange-ladybugs-burn.md
  packages/compiler/src/babel-types/types/definitions.js
Due: prettier --write, eslint --fix

fix: compiler config definitions
  .changeset/tricky-points-divide.md
  packages/compiler/config.d.ts
Due: prettier --write, eslint --fix

fix: compiler config definitions (#1957)
  .changeset/tricky-points-divide.md
  packages/compiler/config.d.ts
Due: prettier --write, eslint --fix

feat(ts): add event handler strings
  packages/marko/tags-html.d.ts
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/dirty-jeans-try.md
Due: prettier --write

chore(release): 4.26.0
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: add missing exposed _wrr flag
  packages/marko/package-lock.json
  packages/marko/src/node_modules/@internal/components-beginComponent/index.js
Due: prettier --write, eslint --fix

chore(release): 4.26.1
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: hmr improvements
  .changeset/funny-balloons-visit.md
  .changeset/itchy-tools-train.md
  packages/marko/src/runtime/vdom/hot-reload.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or ((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc}))
  eslint --fix: (any of: *.{js,ts}) or (any of: *.ts)
  fixpack: any of: ./{,packages/*/}package.json
