Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

docs: record item-split attr merge fix + binding-id divergence in handoff
  designs/single-page-server-updates-handoff.md
Due: prettier --write, prettier --write --with-node-modules

docs: correct optimize loop-crash root cause (elided empty scope write)
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules

docs: root-cause the optimize loop crash (html/dom binding-id divergence)
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules

docs: correct optimize loop-crash root cause (elided empty scope write)
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: merge item-split class/style attrs in persisted updates
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/data.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/tags/chip-list.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/test.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: record GET-form interception slice in handoff
  designs/single-page-server-updates-handoff.md
Due: prettier --write, prettier --write --with-node-modules

docs: correct persisted eager-bundle analysis; slim-hydration design sketch
  agent-feedback/perf.md
  designs/single-page-server-updates-handoff.md
Due: prettier --write, prettier --write --with-node-modules

fix: harden sideEffects to a .marko allowlist
  .changeset/runtime-treeshake-packaging.md
  agent-feedback/perf.md
  designs/single-page-server-updates-handoff.md
  packages/runtime-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

docs: pinpoint remaining persisted eager-bundle drivers post register-split
  agent-feedback/perf.md
Due: prettier --write, prettier --write --with-node-modules

docs: correct stale-tarball measurement artifacts in register-split notes
  agent-feedback/perf.md
  designs/single-page-server-updates-handoff.md
Due: prettier --write, prettier --write --with-node-modules

fix: register builds import child templates via ?register
  .changeset/lucky-planets-shave.md
  agent-feedback/perf.md
  designs/single-page-server-updates-handoff.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/data.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-slim-main/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-attr-items/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-controllable-attrs/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-controllable-attrs/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-controllable-attrs/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-dynamic-content/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-dynamic-content/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-dynamic-content/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-fresh-page/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-fresh-page/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-fresh-page/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-layout/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-layout/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-layout/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/sizes.json
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: replay update if-merges for conditionals over direct $global reads
  .changeset/global-if-update-merges.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-fresh-page/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-fresh-page/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-fresh-page/sizes.json
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: fold pure-global intersection statements into setup placement
  .changeset/global-or-join-setup-fold.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-or-stall/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-or-stall/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-or-stall/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-or-stall/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-or-stall/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-or-stall/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-or-stall/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-or-stall/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-or-stall/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-or-stall/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-or-stall/test.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: capture request-derived option value holes for persisted updates
  .changeset/option-value-update-capture.md
  agent-feedback/bugs.md
  cspell.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-option-values/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-option-values/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-option-values/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-option-values/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-option-values/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-option-values/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-option-values/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-option-values/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-option-values/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-option-values/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-option-values/test.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: one-page persisted-pages feature brief
  cspell.json
  designs/persisted-pages-brief.md
Due: prettier --write, prettier --write --with-node-modules

docs: refresh eager-size numbers after the runtime hosting splits
  designs/persisted-pages-brief.md
  designs/single-page-server-updates-handoff.md
Due: prettier --write, prettier --write --with-node-modules

docs: add mainline-first backport map to the handoff
  designs/single-page-server-updates-handoff.md
Due: prettier --write, prettier --write --with-node-modules

perf: marker-linked owners for pure-state branches in persisted builds
  .changeset/persisted-state-only-owner-skip.md
  agent-feedback/perf.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-state-branch/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-fresh-page/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-fresh-page/__snapshots__/html.bundle.js
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/util/serialize-reasons.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: scope the import-retention diagnostic's safe predicate
  agent-feedback/perf.md
Due: prettier --write, prettier --write --with-node-modules

docs: record the $global demotion design (no promotion; assign-then-reinvoke)
  designs/single-page-server-updates-handoff.md
Due: prettier --write, prettier --write --with-node-modules

docs: correct stale entry-kind name in the dist bundling comment
  packages/runtime-tags/scripts/bundle.mts
Due: none

chore: drop the dead zero-pending _or branch left by the $global demotion
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-fresh-page/sizes.json
  packages/runtime-tags/src/dom/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: de-stale the post-merge read comment (promotion is gone)
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): reset node-marker run register at every branch marker
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-show-continuation/test.ts
  packages/runtime-tags/src/html/dynamic-tag.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
