Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, sort-package-json --quiet

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./{,packages/*/}package.json": [
    "prettier --write",
    "sort-package-json --quiet"
  ]
}

chore: remove warnings for top level marko-widgets apis
  packages/marko/src/runtime/components/legacy/defineComponent-legacy.js
  packages/marko/src/runtime/components/legacy/defineRenderer-legacy.js
Due: prettier --write, eslint --fix

fix: ensure correct this binding for legacy renderers
  .changeset/blue-boats-sell.md
  packages/marko/src/runtime/components/legacy/defineRenderer-legacy.js
Due: prettier --write, eslint --fix

fix: optimize preserve tag to swap client/server impl
  .changeset/big-brooms-matter.md
  packages/marko/src/core-tags/components/preserve-tag.js
  packages/marko/src/node_modules/@internal/preserve-tag/index-browser.js
  packages/marko/src/node_modules/@internal/preserve-tag/index.js
  packages/marko/src/node_modules/@internal/preserve-tag/package.json
Due: prettier --write, eslint --fix, fixpack, sort-package-json --quiet

fix: loading of legacy components in test environments
  .changeset/tiny-flies-rhyme.md
  packages/marko/src/node_modules/@internal/require/index-browser.js
Due: prettier --write, eslint --fix

fix: ensure .marko files resolved for renderer config
  .changeset/plenty-poems-attack.md
  packages/compiler/src/taglib/loader/loadTagFromProps.js
Due: prettier --write, eslint --fix

fix: avoid webpack include api
  .changeset/rotten-gifts-attack.md
  packages/marko/src/node_modules/@internal/require/index-webpack.js
Due: prettier --write, eslint --fix

Update marko-5-upgrade.md
  packages/marko/docs/marko-5-upgrade.md
Due: prettier --write

[ci] format
  packages/marko/docs/marko-5-upgrade.md
Due: prettier --write

mention jest
  packages/marko/docs/marko-5-upgrade.md
Due: prettier --write

typo
  packages/marko/docs/marko-5-upgrade.md
Due: prettier --write

Create wet-meals-hang.md
  .changeset/wet-meals-hang.md
Due: prettier --write

Update marko-5-upgrade.md (#2027)
  .changeset/wet-meals-hang.md
  packages/marko/docs/marko-5-upgrade.md
Due: prettier --write

wip: interop as dynamic tag
  .sizes.json
  packages/runtime/src/dom/renderer.ts
  packages/translator-default/src/tag/custom-tag.js
  packages/translator-interop/src/__tests__/fixtures/ambiguous/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/class/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/explicit/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/__snapshots__/dom.expected/components/tags-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/__snapshots__/html.expected/components/tags-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/components/tags-counter.marko
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/template.marko
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/test.ts
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/__snapshots__/dom.expected/components/class-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/__snapshots__/html.expected/components/class-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/components/class-counter.marko
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/template.marko
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/test.ts
  packages/translator-interop/src/__tests__/fixtures/let/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/main.test.ts
  packages/translator/src/__tests__/main.test.ts
  packages/translator/src/util/tag-name-type.ts
  packages/translator/src/visitors/tag/custom-tag.ts
  packages/translator/src/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix

fix: add file ext to registry import
  .changeset/nice-apes-pull.md
  packages/translator-default/src/index.js
Due: prettier --write, eslint --fix

feat: use tagsapi in classapi components (wip, client-only)
  .sizes.json
  packages/marko/src/runtime/helpers/dynamic-tag.js
  packages/marko/src/runtime/helpers/tags-compat.js
  packages/marko/src/runtime/vdom/morphdom/index.js
  packages/runtime/src/dom/index.ts
  packages/translator-default/src/tag/custom-tag.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/__snapshots__/dom.expected/components/tags-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/__snapshots__/html.expected/components/tags-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/components/tags-counter.marko
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/template.marko
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags/test.ts
  packages/translator-interop/src/__tests__/fixtures/let/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/let/test.ts
  packages/translator-interop/src/__tests__/main.test.ts
  packages/translator-interop/src/index.ts
Due: prettier --write, eslint --fix

feat: use classapi in tagsapi components (wip, client-only)
  .sizes.json
  packages/marko/src/runtime/helpers/tags-compat.js
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/index.ts
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/__snapshots__/dom.expected/components/class-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/__snapshots__/html.expected/components/class-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/components/class-counter.marko
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/template.marko
  packages/translator-interop/src/__tests__/fixtures/interop-tags-to-class/test.ts
  packages/translator-interop/src/__tests__/main.test.ts
  packages/translator/src/util/scope-read.ts
  packages/translator/src/util/tag-name-type.ts
  packages/translator/src/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix

feat: interop renderbody tags to class (wip, csr only)
  .sizes.json
  packages/marko/src/runtime/helpers/dynamic-tag.js
  packages/marko/src/runtime/helpers/tags-compat.js
  packages/runtime/src/dom/queue.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/src/dom/scope.ts
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/dom.expected/components/class-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/dom.expected/components/class-layout.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/html.expected/components/class-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/html.expected/components/class-layout.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/components/class-layout.marko
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/template.marko
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/test.ts
Due: prettier --write, eslint --fix

feat: interop renderbody class to tags (wip, csr only)
  packages/marko/src/runtime/helpers/tags-compat.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/dom.expected/components/class-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/dom.expected/components/class-layout.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/dom.expected/components/tags-layout.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/html.expected/components/class-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/html.expected/components/class-layout.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/html.expected/components/tags-layout.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/components/tags-layout.marko
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/template.marko
  packages/translator-interop/src/__tests__/fixtures/interop-nested-class-to-tags/test.ts
Due: prettier --write, eslint --fix

refactor: small interop refactor
  .sizes.json
  packages/marko/src/runtime/helpers/tags-compat.js
  packages/runtime/src/dom/index.ts
Due: prettier --write, eslint --fix

docs(concise-mode): add multiline attributes
  packages/marko/docs/concise.md
Due: prettier --write

Create twelve-shoes-explode.md
  .changeset/twelve-shoes-explode.md
Due: prettier --write

docs(concise-mode): add multiline attributes (#2034)
  .changeset/twelve-shoes-explode.md
  packages/marko/docs/concise.md
Due: prettier --write

chore: update eslint
  package-lock.json
  package.json
Due: prettier --write, fixpack, sort-package-json --quiet

fix: batching to prevent treeshaking issues
  packages/marko/src/runtime/components/update-manager.js
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/friendly-mangos-sleep.md
Due: prettier --write

fix: add test to cover non-empty component batch
  packages/marko/test/components-browser/fixtures/component-update-batch-not-empty/components/counter.marko
  packages/marko/test/components-browser/fixtures/component-update-batch-not-empty/index.marko
  packages/marko/test/components-browser/fixtures/component-update-batch-not-empty/test.js
Due: prettier --write, eslint --fix

fix: batching to prevent treeshaking issues (#2036)
  .changeset/friendly-mangos-sleep.md
  packages/marko/src/runtime/components/update-manager.js
  packages/marko/test/components-browser/fixtures/component-update-batch-not-empty/components/counter.marko
  packages/marko/test/components-browser/fixtures/component-update-batch-not-empty/index.marko
  packages/marko/test/components-browser/fixtures/component-update-batch-not-empty/test.js
Due: prettier --write, eslint --fix
