Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

docs(runtime-tags): rework SPA model around markers + holes, no server logic
  packages/runtime-tags/docs/single-page-server-first-updates.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): add lazy "updates" bundle tier for server-only regions
  packages/runtime-tags/docs/single-page-server-first-updates.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): prioritize latency wins; make updates bundle adaptive
  packages/runtime-tags/docs/single-page-server-first-updates.md
Due: prettier --write, prettier --write --with-node-modules

prototype(spa-updates): runnable benchmark validating the design + measurements
  packages/runtime-tags/docs/single-page-server-first-updates.md
  prototype/spa-server-updates/README.md
  prototype/spa-server-updates/bench.js
  prototype/spa-server-updates/data.js
  prototype/spa-server-updates/engine.js
  prototype/spa-server-updates/package.json
  prototype/spa-server-updates/templates.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

docs(runtime-tags): revise RFC from prototype findings (continuity + economics)
  packages/runtime-tags/docs/single-page-server-first-updates.md
Due: prettier --write, prettier --write --with-node-modules

feat(runtime-tags): MVP SPA server-first update controller + functional test
  packages/runtime-tags/docs/single-page-server-first-updates.md
  packages/runtime-tags/src/__tests__/spa-navigate.test.ts
  packages/runtime-tags/src/dom/navigate.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): extract SPA wire contract + split transport/apply
  packages/runtime-tags/src/__tests__/spa-navigate.test.ts
  packages/runtime-tags/src/common/spa.ts
  packages/runtime-tags/src/dom/navigate.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): createNavigator factory + prefetch + apply seam
  packages/runtime-tags/src/__tests__/spa-navigate.test.ts
  packages/runtime-tags/src/dom/navigate.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): unify navigator options; drop over-defensive helper
  packages/runtime-tags/src/__tests__/spa-navigate.test.ts
  packages/runtime-tags/src/dom/navigate.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Add runtime-tags translator optimization opportunities review
  OPTIMIZATION_OPPORTUNITIES.md
Due: prettier --write, prettier --write --with-node-modules

feat(runtime-tags): wire SPA navigation into the real resume runtime
  packages/runtime-tags/docs/single-page-server-first-updates.md
  packages/runtime-tags/src/__tests__/spa-navigate.test.ts
  packages/runtime-tags/src/__tests__/spa-navigation-server.test.ts
  packages/runtime-tags/src/common/spa.ts
  packages/runtime-tags/src/dom/navigate.ts
  packages/runtime-tags/src/dom/spa-runtime.ts
  packages/runtime-tags/src/html/navigation.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): complete SPA client UX — link/popstate/intent glue
  packages/runtime-tags/docs/single-page-server-first-updates.md
  packages/runtime-tags/src/__tests__/spa-navigate.test.ts
  packages/runtime-tags/src/dom/navigate.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): real compile→hydrate→navigate→resume e2e
  packages/runtime-tags/docs/single-page-server-first-updates.md
  packages/runtime-tags/src/__tests__/spa-e2e/template.marko
  packages/runtime-tags/src/__tests__/spa-navigate-e2e.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf: skip redundant scope crawl after parsing each file
  .changeset/compiler-skip-redundant-scope-crawl.md
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): keep fractional `<for to>`/`<for until>` endpoints
  packages/runtime-tags/src/__tests__/fixtures/for-tag-fractional-step/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-tag-fractional-step/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/for-tag-fractional-step/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag-fractional-step/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag-fractional-step/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/for-tag-fractional-step/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/for-tag-fractional-step/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/for-tag-fractional-step/template.marko
  packages/runtime-tags/src/__tests__/fixtures/for-tag-fractional-step/test.ts
  packages/runtime-tags/src/common/for.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): turnkey stateless server handler for SPA navigations
  packages/runtime-tags/docs/single-page-server-first-updates.md
  packages/runtime-tags/src/__tests__/spa-navigate-e2e.test.ts
  packages/runtime-tags/src/__tests__/spa-navigation-server.test.ts
  packages/runtime-tags/src/common/spa.ts
  packages/runtime-tags/src/html/navigation.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): single client SPA entry + documented usage
  packages/runtime-tags/docs/single-page-server-first-updates.md
  packages/runtime-tags/src/dom/spa-runtime.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): detailed implementation plan for outlet extraction + state tier
  packages/runtime-tags/docs/implementation-plan-outlet-and-state-tier.md
Due: prettier --write, prettier --write --with-node-modules

docs: prettier-format the implementation plan
  packages/runtime-tags/docs/implementation-plan-outlet-and-state-tier.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): quote attribute values containing `=` or backtick
  packages/runtime-tags/src/__tests__/fixtures/attr-quote-equals-backtick/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/attr-quote-equals-backtick/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/attr-quote-equals-backtick/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/attr-quote-equals-backtick/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/attr-quote-equals-backtick/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/attr-quote-equals-backtick/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/attr-quote-equals-backtick/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/attr-quote-equals-backtick/template.marko
  packages/runtime-tags/src/__tests__/fixtures/attr-quote-equals-backtick/test.ts
  packages/runtime-tags/src/html/attrs.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(compiler): add serverUpdates config flag (Feature 1, milestone 1)
  packages/compiler/src/config.js
  packages/runtime-tags/docs/implementation-plan-outlet-and-state-tier.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): keep scope identity for nullish `<for by>` keys
  packages/runtime-tags/src/__tests__/fixtures/for-tag-by-nullish-key/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-tag-by-nullish-key/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/for-tag-by-nullish-key/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-tag-by-nullish-key/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/for-tag-by-nullish-key/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag-by-nullish-key/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag-by-nullish-key/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/for-tag-by-nullish-key/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/for-tag-by-nullish-key/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/for-tag-by-nullish-key/template.marko
  packages/runtime-tags/src/__tests__/fixtures/for-tag-by-nullish-key/test.ts
  packages/runtime-tags/src/dom/control-flow.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): clear spread event handlers removed between renders
  packages/runtime-tags/src/__tests__/fixtures/spread-attrs-remove-event-handler/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/spread-attrs-remove-event-handler/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/spread-attrs-remove-event-handler/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/spread-attrs-remove-event-handler/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/spread-attrs-remove-event-handler/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/spread-attrs-remove-event-handler/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/spread-attrs-remove-event-handler/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/spread-attrs-remove-event-handler/template.marko
  packages/runtime-tags/src/__tests__/fixtures/spread-attrs-remove-event-handler/test.ts
  packages/runtime-tags/src/dom/dom.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

revert: restore eager scope crawl after parsing each file
  .changeset/compiler-skip-redundant-scope-crawl.md
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): <update-outlet> renders route content as a resumable branch
  packages/runtime-tags/docs/implementation-plan-outlet-and-state-tier.md
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/template.marko
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/test.ts
  packages/runtime-tags/src/translator/core/index.ts
  packages/runtime-tags/src/translator/core/update-outlet.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/tags/update-outlet.d.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(tags): handle legacy out.global in analyze instead of migrate
  packages/runtime-tags/src/translator/visitors/referenced-identifier.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): send SPA navigation updates as raw HTML + headers
  packages/runtime-tags/src/__tests__/spa-navigate.test.ts
  packages/runtime-tags/src/__tests__/spa-navigation-server.test.ts
  packages/runtime-tags/src/common/spa.ts
  packages/runtime-tags/src/dom/navigate.ts
  packages/runtime-tags/src/html/navigation.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): emit a lean `_outlet` primitive for <update-outlet>
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/update-outlet-basic/sizes.json
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/update-outlet.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/tags/update-outlet.d.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): document raw-body wire + lean `_outlet` in the SPA RFC
  packages/runtime-tags/docs/single-page-server-first-updates.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): preserve async/generator flags when normalizing methods
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/template.marko
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/test.ts
  packages/runtime-tags/src/translator/util/simplify-fn.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/quick-otters-cheer.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): preserve async/generator flags when normalizing methods (#3238)
  .changeset/quick-otters-cheer.md
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/template.marko
  packages/runtime-tags/src/__tests__/fixtures/const-async-method-handler/test.ts
  packages/runtime-tags/src/translator/util/simplify-fn.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): treat `&&`/ternary results as nullable when either side is
  .changeset/lazy-walls-march.md
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/template.marko
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/test.ts
  packages/runtime-tags/src/translator/util/evaluate.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): treat `&&`/ternary results as nullable when either side is (#3242)
  .changeset/lazy-walls-march.md
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/template.marko
  packages/runtime-tags/src/__tests__/fixtures/const-logical-nullable-member/test.ts
  packages/runtime-tags/src/translator/util/evaluate.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): warn in MARKO_DEBUG when a `<for>` `by` key is not a string or number
  .changeset/wild-keys-warn.md
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/template.marko
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/test.ts
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/html/for.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): warn in MARKO_DEBUG when a `<for>` `by` key is not a string or number (#3246)
  .changeset/wild-keys-warn.md
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/template.marko
  packages/runtime-tags/src/__tests__/fixtures/for-of-by-nullish-key/test.ts
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/html/for.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
