Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

fix: types for return of mounted templates
  .changeset/major-shrimps-play.md
  packages/runtime-tags/index.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Revert "[ci] release"
  .changeset/major-shrimps-play.md
  package-lock.json
  packages/runtime-tags/CHANGELOG.md
  packages/runtime-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix: loosen return tag types
  .changeset/thirty-dragons-know.md
  packages/runtime-tags/index.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: invalid walks string with static placeholder with surrounding text node
  .changeset/shaggy-books-cheer.md
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/template.marko
  packages/runtime-tags/src/__tests__/fixtures/static-text-followed-by-placeholder/test.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: class/id shorthand parsing improvements
  .changeset/spicy-readers-rescue.md
  packages/compiler/src/babel-plugin/parser.js
  packages/runtime-class/test/translator/fixtures/sanity-check/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/shorthand-classname/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/shorthand-classname/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/shorthand-classname/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/shorthand-classname/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/shorthand-classname/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/shorthand-classname/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: content attr in native tags
  .sizes.json
  .sizes/dom.js
  .sizes/name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/dom.expected/tags/hello/index.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/html.expected/tags/hello/index.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/dom.expected/tags/my-div.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/html.expected/tags/my-div.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/tags/my-div.marko
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/template.marko
  packages/runtime-tags/src/__tests__/fixtures/update-dynamic-attrs/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/update-dynamic-attrs/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/html/dynamic-tag.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/strong-owls-find.md
Due: prettier --write, prettier --write --with-node-modules

chore: rerun tests
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/dom.expected/template.hydrate.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: edge case
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/template.marko
  packages/runtime-tags/src/__tests__/fixtures/dynamic-content-attr/test.ts
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/html.expected/tags/my-div.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: scriptlets with comments
  packages/compiler/src/babel-utils/parse.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add a changeset
  .changeset/mean-vans-boil.md
Due: prettier --write, prettier --write --with-node-modules

chore: update changeset description
  .changeset/mean-vans-boil.md
Due: prettier --write, prettier --write --with-node-modules

fix: scriptlets with comments (#2749)
  .changeset/mean-vans-boil.md
  packages/compiler/src/babel-utils/parse.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: treat optionalCallExpressions as callExpressions for analysis
  .changeset/better-places-design.md
  packages/runtime-tags/src/translator/util/get-root.ts
  packages/runtime-tags/src/translator/util/is-invoked-function.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: invalid normalization of 0
  .changeset/nine-groups-decide.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-render-attr-signal/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-custom-tags/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-from-dynamic/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var-from-dynamic/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/hoist-native-tag-var-from-dynamic/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: improve comment only statement parsing
  packages/compiler/src/babel-utils/parse.js
  packages/runtime-class/test/translator/fixtures/statement-comment-only/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/statement-comment-only/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/statement-comment-only/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/statement-comment-only/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/statement-comment-only/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/statement-comment-only/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/statement-comment-only/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/statement-comment-only/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: tags api types folder
  .changeset/sad-dragons-invent.md
  packages/runtime-class/index.d.ts
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/tags/await.d.marko
  packages/runtime-tags/tags/const.d.marko
  packages/runtime-tags/tags/debug.d.marko
  packages/runtime-tags/tags/define.d.marko
  packages/runtime-tags/tags/do.d.marko
  packages/runtime-tags/tags/effect.d.marko
  packages/runtime-tags/tags/id.d.marko
  packages/runtime-tags/tags/let.d.marko
  packages/runtime-tags/tags/lifecycle.d.marko
  packages/runtime-tags/tags/log.d.marko
  packages/runtime-tags/tags/script.d.marko
  packages/runtime-tags/tags/try.d.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: tags api types
  .changeset/bright-kings-talk.md
  packages/runtime-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

chore: add changeset for renderable type change
  .changeset/famous-plants-design.md
Due: prettier --write, prettier --write --with-node-modules

fix: tags api runtime id
  .changeset/hip-peaches-learn.md
  packages/runtime-tags/src/translator/util/entry-builder.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: mark template as interactive in more cases
  packages/runtime-tags/src/translator/visitors/function.ts
  packages/runtime-tags/src/translator/visitors/scriptlet.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
