Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f codeframe --fix, fixpack

fix: re-enable extended walk
  .sizes.json
  packages/runtime/src/dom/walker.ts
Due: prettier --write, eslint -f codeframe --fix

feat: implement read/write for scope access
  .sizes.json
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/queue.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/src/dom/scope.ts
  packages/runtime/src/dom/walker.ts
  packages/runtime/test/dom/fixtures/batched-updates-cleanup/index.ts
  packages/runtime/test/dom/fixtures/batched-updates/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-from/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-in/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows/index.ts
  packages/runtime/test/dom/fixtures/event-handlers/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-children/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-top-level/index.ts
  packages/runtime/test/dom/fixtures/remove-and-add-rows/index.ts
  packages/runtime/test/dom/fixtures/switch-adjacent-only-children/index.ts
  packages/runtime/test/dom/fixtures/toggle-detached-state/index.ts
  packages/runtime/test/dom/fixtures/toggle-first-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-last-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-middle-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-nested/index.ts
  packages/runtime/test/dom/fixtures/toggle-only-child/index.ts
  packages/runtime/test/dom/fixtures/update-attr/index.ts
  packages/runtime/test/dom/fixtures/update-dynamic-attrs/index.ts
  packages/runtime/test/dom/fixtures/update-html/index.ts
  packages/runtime/test/dom/fixtures/update-text/index.ts
  packages/runtime/test/dom/fixtures/user-effect-cleanup/index.ts
Due: prettier --write, eslint -f codeframe --fix

feat: owner scope accessors
  .sizes.json
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/scope.ts
  packages/runtime/test/dom/fixtures/toggle-detached-state/index.ts
  packages/runtime/test/dom/fixtures/toggle-first-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-last-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-middle-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-only-child/index.ts
Due: prettier --write, eslint -f codeframe --fix

feat: dom helpers recieve indexes rather than nodes
  .sizes.json
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/index.ts
  packages/runtime/test/dom/fixtures/batched-updates-cleanup/index.ts
  packages/runtime/test/dom/fixtures/batched-updates/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-from/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-in/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows/index.ts
  packages/runtime/test/dom/fixtures/event-handlers/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-children/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-top-level/index.ts
  packages/runtime/test/dom/fixtures/remove-and-add-rows/index.ts
  packages/runtime/test/dom/fixtures/switch-adjacent-only-children/index.ts
  packages/runtime/test/dom/fixtures/toggle-detached-state/index.ts
  packages/runtime/test/dom/fixtures/toggle-first-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-last-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-middle-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-nested/index.ts
  packages/runtime/test/dom/fixtures/toggle-only-child/index.ts
  packages/runtime/test/dom/fixtures/update-attr/index.ts
  packages/runtime/test/dom/fixtures/update-dynamic-attrs/index.ts
  packages/runtime/test/dom/fixtures/update-text/index.ts
  packages/runtime/test/dom/fixtures/user-effect-cleanup/index.ts
Due: prettier --write, eslint -f codeframe --fix

feat: flatten conditionals and loops into parent scope
  .sizes.json
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/src/dom/scope.ts
  packages/runtime/src/dom/walker.ts
  packages/runtime/test/dom/fixtures/batched-updates-cleanup/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-from/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-in/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-children/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-top-level/index.ts
  packages/runtime/test/dom/fixtures/remove-and-add-rows/index.ts
  packages/runtime/test/dom/fixtures/switch-adjacent-only-children/index.ts
  packages/runtime/test/dom/fixtures/toggle-detached-state/index.ts
  packages/runtime/test/dom/fixtures/toggle-first-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-last-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-middle-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-nested/index.ts
  packages/runtime/test/dom/fixtures/toggle-only-child/index.ts
Due: prettier --write, eslint -f codeframe --fix

refactor: remove redundant set/checkDirty functions
  .sizes.json
  packages/runtime/src/dom/queue.ts
  packages/runtime/src/dom/scope.ts
Due: prettier --write, eslint -f codeframe --fix

feat: automatic walking
  .sizes.json
  packages/runtime/src/dom/event.ts
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/src/dom/walker.ts
  packages/runtime/test/dom/fixtures/batched-updates-cleanup/index.ts
  packages/runtime/test/dom/fixtures/batched-updates/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-from/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows-loop-in/index.ts
  packages/runtime/test/dom/fixtures/create-and-clear-rows/index.ts
  packages/runtime/test/dom/fixtures/event-handlers/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-children/index.ts
  packages/runtime/test/dom/fixtures/move-and-clear-top-level/index.ts
  packages/runtime/test/dom/fixtures/remove-and-add-rows/index.ts
  packages/runtime/test/dom/fixtures/switch-adjacent-only-children/index.ts
  packages/runtime/test/dom/fixtures/toggle-detached-state/index.ts
  packages/runtime/test/dom/fixtures/toggle-first-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-last-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-middle-child/index.ts
  packages/runtime/test/dom/fixtures/toggle-nested/index.ts
  packages/runtime/test/dom/fixtures/toggle-only-child/index.ts
  packages/runtime/test/dom/fixtures/update-attr/index.ts
  packages/runtime/test/dom/fixtures/update-dynamic-attrs/index.ts
  packages/runtime/test/dom/fixtures/update-html/index.ts
  packages/runtime/test/dom/fixtures/update-text/index.ts
  packages/runtime/test/dom/fixtures/user-effect-cleanup/index.ts
  packages/runtime/test/dom/utils/walks.ts
Due: prettier --write, eslint -f codeframe --fix

fix: remove explicit walk from compiled output
  .sizes.json
  packages/translator/src/tag/native-tag/dom.ts
  packages/translator/test/fixtures/event-handlers/snapshots/domCompiled-expected.js
Due: prettier --write, eslint -f codeframe --fix

chore: better types
  packages/runtime/src/dom/control-flow.ts
Due: prettier --write, eslint -f codeframe --fix

feat: queue sorted by source count
  .sizes.json
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/queue.ts
  packages/runtime/src/dom/scope.ts
Due: prettier --write, eslint -f codeframe --fix

refactor: push in loop instead of Array.from
  .sizes.json
  packages/runtime/src/dom/control-flow.ts
Due: prettier --write, eslint -f codeframe --fix

feat: support taglib translate hook, support arrays in taglib hooks
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/babel-plugin/plugins/migrate.js
  packages/compiler/src/babel-plugin/plugins/transform.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
Due: prettier --write, eslint -f codeframe --fix

feat: add hoisting support for tag var bindings
  packages/compiler/src/babel-types/traverse/patch.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.11.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: add missing compiler hook aliases during taglib loading
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/compiler/src/taglib/loader/scanTagsDir.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.11.1
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: incorrect search file types for taglib lookup
  packages/compiler/src/taglib/loader/scanTagsDir.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.11.2
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: allow key attribute to pass through for attribute tags
  packages/marko/test/render/fixtures/components-await-beginAsync/expected.html
  packages/marko/test/render/fixtures/components-await-title/expected.html
  packages/marko/test/render/fixtures/components-await/expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-with-body/expected.html
  packages/translator-default/src/tag/index.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/html-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-with-key/components/hello/index.marko
  packages/translator-default/test/fixtures/at-tags-with-key/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/at-tags-with-key/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/at-tags-with-key/snapshots/html-expected.js
  packages/translator-default/test/fixtures/at-tags-with-key/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-with-key/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/at-tags-with-key/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/at-tags-with-key/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-with-key/template.marko
  packages/translator-default/test/fixtures/sanity-check/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.11.3
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat(translator-default): support new tag runtime props via compile hook
  packages/translator-default/src/tag/dynamic-tag.js
  packages/translator-default/src/tag/native-tag[html]/index.js
  packages/translator-default/src/tag/native-tag[vdom]/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.12.0
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: issue with tag var scope hoisting
  packages/compiler/src/babel-types/traverse/patch.js
  packages/translator-default/src/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.12.1
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: add support for new binding shorthand syntax
  packages/compiler/src/babel-plugin/util/parse-attributes.js
  packages/compiler/src/babel-types/generator/patch.js
  packages/compiler/src/babel-types/types/definitions.js
  packages/translator-default/src/tag/attribute/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.13.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: lazy load load compiler hook paths, expose error loc object
  packages/compiler/src/babel-plugin/file.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
Due: prettier --write, eslint -f codeframe --fix

fix: issue with root translator running in hydrate mode
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.14.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(compiler): issue with getters on taglibs not properly merging
  packages/compiler/src/babel-plugin/file.js
  packages/compiler/src/taglib/lookup/index.js
Due: prettier --write, eslint -f codeframe --fix

fix(translator-default): issue when MarkoClass added via compiler hook
  packages/translator-default/src/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.14.1
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: support method shorthand from updated parser
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/util/parse-attributes.js
  packages/compiler/src/babel-types/generator/patch.js
  packages/translator-default/test/fixtures/attr-method-shorthand/components/custom-tag.marko
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/html-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/attr-method-shorthand/template.marko
Due: prettier --write, eslint -f codeframe --fix, fixpack

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint -f codeframe --fix: any of: *.{js,ts}
  fixpack: any of: ./{,packages/*/}package.json
