Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

chore: move tag var tests from class translator
  packages/runtime-class/test/translator/fixtures/tag-with-var/snapshots/cjs-error-expected.txt
  packages/runtime-class/test/translator/fixtures/tag-with-var/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/tag-with-var/snapshots/html-error-expected.txt
  packages/runtime-class/test/translator/fixtures/tag-with-var/snapshots/htmlProduction-error-expected.txt
  packages/runtime-class/test/translator/fixtures/tag-with-var/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/tag-with-var/snapshots/vdom-error-expected.txt
  packages/runtime-class/test/translator/fixtures/tag-with-var/snapshots/vdomProduction-error-expected.txt
  packages/runtime-class/test/translator/fixtures/tag-with-var/template.marko
  packages/runtime-class/test/translator/fixtures/typescript-with-tag-variable/snapshots/cjs-error-expected.txt
  packages/runtime-class/test/translator/fixtures/typescript-with-tag-variable/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/typescript-with-tag-variable/snapshots/html-error-expected.txt
  packages/runtime-class/test/translator/fixtures/typescript-with-tag-variable/snapshots/htmlProduction-error-expected.txt
  packages/runtime-class/test/translator/fixtures/typescript-with-tag-variable/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/typescript-with-tag-variable/snapshots/vdom-error-expected.txt
  packages/runtime-class/test/translator/fixtures/typescript-with-tag-variable/snapshots/vdomProduction-error-expected.txt
  packages/runtime-tags/src/__tests__/fixtures/typescript-with-tag-variable/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/typescript-with-tag-variable/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/typescript-with-tag-variable/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/typescript-with-tag-variable/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/typescript-with-tag-variable/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/typescript-with-tag-variable/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/typescript-with-tag-variable/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/typescript-with-tag-variable/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/typescript-with-tag-variable/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/typescript-with-tag-variable/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/typescript-with-tag-variable/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: set parent branch on async branches
  .changeset/short-shirts-help.md
  .sizes.json
  .sizes/dom.js
  .sizes/name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/template.marko
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/test.ts
  packages/runtime-tags/src/dom/renderer.ts
  packages/runtime-tags/src/dom/resume.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: add support for client/server statements in Marko 5
  .changeset/frank-rice-shave.md
  .changeset/lazy-adults-say.md
  .changeset/purple-bikes-begin.md
  packages/compiler/src/babel-types/types/patch.js
  packages/runtime-class/src/translator/index.js
  packages/runtime-class/src/translator/scriptlet.js
  packages/runtime-class/src/translator/taglib/core/index.js
  packages/runtime-class/src/translator/taglib/core/parse-client.js
  packages/runtime-class/src/translator/taglib/core/parse-server.js
  packages/runtime-class/src/translator/util/add-dependencies.js
  packages/runtime-class/test/taglib-lookup/fixtures/getTagsSorted/expected.json
  packages/runtime-class/test/translator/fixtures/client-import-hydrate-include/bar.js
  packages/runtime-class/test/translator/fixtures/client-import-hydrate-include/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/client-import-hydrate-include/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/client-import-hydrate-include/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/client-import-hydrate-include/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/client-import-hydrate-include/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/client-import-hydrate-include/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/client-import-hydrate-include/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/client-import-hydrate-include/template.marko
  packages/runtime-class/test/translator/fixtures/server-import-only/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/server-import-only/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/server-import-only/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/server-import-only/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/server-import-only/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/server-import-only/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/server-import-only/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/server-import-only/template.marko
  packages/runtime-tags/src/__tests__/fixtures/server-client/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/server-client/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/server-client/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/translator/visitors/scriptlet.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: move type stripping to be after the transform phase
  .changeset/good-brooms-report.md
  packages/compiler/src/babel-plugin/index.js
  packages/runtime-tags/src/translator/visitors/program/pre-analyze.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: run parse hooks after parse phase complete
  .changeset/ten-olives-cheer.md
  packages/compiler/babel-utils.d.ts
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: support exclusive discovered tags folder as interop heuristic
  .changeset/frank-lights-know.md
  .changeset/quick-fans-cross.md
  .changeset/tough-memes-camp.md
  packages/compiler/babel-utils.d.ts
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/index.js
  packages/compiler/src/taglib/loader/Taglib.js
  packages/compiler/src/taglib/lookup/index.js
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/__snapshots__/dom.expected/components/hello-components.js
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/__snapshots__/dom.expected/tags/hello-tags.js
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/__snapshots__/html.expected/components/hello-components.js
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/__snapshots__/html.expected/tags/hello-tags.js
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/components/hello-components.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/tags/hello-tags.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-and-components-dir/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-dir/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-dir/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-dir/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/ambiguous-tags-dir/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/error-class-tags-dir/__snapshots__/dom.expected/tags/hello.error.txt
  packages/runtime-tags/src/__tests__/fixtures-interop/error-class-tags-dir/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/error-class-tags-dir/__snapshots__/html.expected/tags/hello.error.txt
  packages/runtime-tags/src/__tests__/fixtures-interop/error-class-tags-dir/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/package.json
  packages/runtime-tags/src/translator/interop/feature-detection.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

feat: expose marko api on compile meta data
  .changeset/eager-files-kiss.md
  packages/compiler/index.d.ts
  packages/compiler/src/babel-plugin/index.js
  packages/runtime-tags/src/translator/interop/feature-detection.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add OIDC token github action
  .github/workflows/ci.yml
Due: none

chore: cleanup ci.yml
  .github/workflows/ci.yml
Due: none

chore: update ci.yml
  .github/workflows/ci.yml
Due: none

chore: fix changeset ci permissions
  .github/workflows/ci.yml
Due: none

fix: avoid flusing tags api walk when no class api components in interop
  .changeset/new-zebras-hammer.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: script tag types
  .changeset/bold-numbers-give.md
  packages/runtime-class/src/core-tags/core/script.d.marko
  packages/runtime-class/src/translator/taglib/core/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: change handler for destructure with spread
  package-lock.json
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-increment/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/change-handler-alias-assignment/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/tags/child.marko
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/template.marko
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/test.ts
  packages/runtime-tags/src/translator/util/translate-var.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/fluffy-bottles-enter.md
Due: prettier --write, prettier --write --with-node-modules

fix: avoid checking raw open tags for attr interop features
  .changeset/empty-lies-think.md
  package-lock.json
  packages/runtime-tags/src/translator/interop/feature-detection.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: fix race condition in date serialize test
  packages/runtime-tags/src/__tests__/serializer.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: serialize tags api input to class api via tags api serializer
  .changeset/wide-pigs-enjoy.md
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-dom.js
  packages/runtime-class/src/runtime/helpers/tags-compat/runtime-html.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-basic-tags-to-class/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-basic-tags-to-class/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-handler-render-body-tags-to-class/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-handler-render-body-tags-to-class/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-events-tags-to-class/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-events-tags-to-class/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-nested-tags-to-class/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-nested-tags-to-class/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-tag-params-tags-to-class/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-tag-params-tags-to-class/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/html/compat.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ensure tags api runtime when compat enabled
  .changeset/tricky-bikes-sneeze.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/translator/util/entry-builder.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ensure only child optimization ignores comments
  packages/runtime-tags/src/__tests__/fixtures/toggle-only-child/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/toggle-only-child/template.marko
  packages/runtime-tags/src/translator/util/is-only-child-in-parent.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/clever-chicken-drum.md
Due: prettier --write, prettier --write --with-node-modules

fix: ensure only child optimization ignores comments (#3012)
  .changeset/clever-chicken-drum.md
  packages/runtime-tags/src/__tests__/fixtures/toggle-only-child/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/toggle-only-child/template.marko
  packages/runtime-tags/src/translator/util/is-only-child-in-parent.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: change handler for destructure with spread (#3004)
  .changeset/fluffy-bottles-enter.md
  package-lock.json
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-increment/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/change-handler-alias-assignment/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/tags/child.marko
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/template.marko
  packages/runtime-tags/src/__tests__/fixtures/destructure-input-with-assignment/test.ts
  packages/runtime-tags/src/translator/util/translate-var.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: tags api interop translator import
  .changeset/slow-bikes-jog.md
  packages/runtime-tags/src/translator/interop/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
