Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

fix: remove unnecessary tree walker args
  .sizes.json
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/dom/walker.ts
  packages/runtime/src/html/reorder-runtime.ts
Due: prettier --write, eslint --fix

chore: fix lint issues
  .sizes.json
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/html/writer.ts
  packages/runtime/test/fixtures/batched-updates-cleanup/browser.ts
  packages/runtime/test/fixtures/component-markers-placeholder.skip/server.ts
  packages/runtime/test/fixtures/component-markers-sibling-forks.skip/server.ts
  packages/runtime/test/fixtures/component-markers-sync.skip/server.ts
  packages/runtime/test/fixtures/create-and-clear-rows-loop-from/browser.ts
  packages/runtime/test/fixtures/dynamic-tag.skip/test.ts
  packages/runtime/test/fixtures/event-handler-read-mutation.skip/test.ts
  packages/runtime/test/fixtures/toggle-context.skip/test.ts
  packages/runtime/test/fixtures/toggle-detached-state/browser.ts
  packages/runtime/test/fixtures/toggle-first-child/browser.ts
  packages/runtime/test/fixtures/toggle-last-child/browser.ts
  packages/runtime/test/fixtures/toggle-middle-child/browser.ts
  packages/runtime/test/fixtures/toggle-nested/browser.ts
  packages/runtime/test/fixtures/toggle-only-child/browser.ts
  packages/runtime/test/fixtures/update-attr/browser.ts
  packages/runtime/test/fixtures/update-dynamic-attrs/browser.ts
  packages/runtime/test/fixtures/update-text/browser.ts
  packages/runtime/test/utils/track-mutations.ts
  packages/translator/src/analyze/references.ts
  packages/translator/src/placeholder/html.ts
  packages/translator/src/tag/native-tag/html.ts
  packages/translator/test/main.test.ts
Due: prettier --write, eslint --fix

chore: update snapshots
  packages/translator/test/fixtures/at-tags-dynamic-with-params/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/attr-class/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/attr-escape/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/attr-style/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/attr-template-literal-escape/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/custom-tag-parameters/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/dynamic-tag-name/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/dynamic-tag-var/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/event-handlers/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/for-tag-with-state/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/hello-dynamic/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/input-tracking/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/let-tag/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/placeholders/snapshots/htmlCompiled-expected.js
Due: prettier --write, eslint --fix

chore: wip npm workspaces and ts improvements
  .commitlintrc.json
  .github/workflows/ci.yml
  .releaserc.json
  .sizes.json
  lerna.json
  package.json
  packages/runtime/package.json
  packages/runtime/rollup.config.ts
  packages/runtime/tsconfig.json
  packages/translator/package.json
  packages/translator/rollup.config.ts
  packages/translator/tsconfig.json
  rollup.config.js
  tsconfig.json
  utilities/rollup-plugin-mangle-internal.ts
  utilities/sizes.ts
Due: prettier --write, eslint --fix, fixpack

chore: upgrade eslint config
  .eslintignore
  .eslintrc.json
  .gitignore
  .lintstagedrc
  .lintstagedrc.json
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/html/dynamic-tag.ts
  packages/runtime/src/html/writer.ts
  packages/translator/src/analyze/references.ts
  packages/translator/src/util/runtime.ts
Due: prettier --write, eslint --fix

chore: switch from yarn to npm
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  packages/runtime/CHANGELOG.md
  yarn.lock
Due: prettier --write

refactor: prepare to bring in serializer
  .sizes.json
  packages/runtime/src/__tests__/__snapshots__/runtime/basic-counter/ssr-hydrate.expected.md
  packages/runtime/src/__tests__/fixtures/basic-counter/server.ts
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/html/index.ts
  packages/runtime/src/html/writer.ts
Due: prettier --write, eslint --fix

fix(esm): use file extension and directory index
  packages/translator-default/src/index.js
  packages/translator-default/src/tag/native-tag[html]/attributes.js
Due: prettier --write, eslint --fix

feat: pull in custom serializer
  .sizes.json
  packages/runtime/src/__tests__/__snapshots__/runtime/basic-counter/ssr-hydrate.expected.md
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/dom/scope.ts
  packages/runtime/src/html/index.ts
  packages/runtime/src/html/serializer.ts
  packages/runtime/src/html/writer.ts
Due: prettier --write, eslint --fix

feat: move non-serialized internal values out of scope array and into props
  .sizes.json
  packages/runtime/src/__tests__/__snapshots__/runtime/basic-counter/ssr-hydrate.expected.md
  packages/runtime/src/__tests__/fixtures/basic-counter/server.ts
  packages/runtime/src/common/types.ts
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/dom/queue.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/src/dom/scope.ts
  packages/runtime/src/html/writer.ts
Due: prettier --write, eslint --fix

feat: pull dom methods off scope into fragment helpers
  .sizes.json
  packages/runtime/src/__tests__/fixtures/toggle-nested/browser.ts
  packages/runtime/src/common/types.ts
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/fragment.ts
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/queue.ts
  packages/runtime/src/dom/reconcile-domdiff.ts
  packages/runtime/src/dom/reconcile-listdiff.ts
  packages/runtime/src/dom/reconcile.ts
  packages/runtime/src/dom/renderer.ts
  packages/runtime/src/dom/scope.ts
Due: prettier --write, eslint --fix

chore: update mocha-snap, move snapshots under individual fixtures
  package-lock.json
  package.json
  packages/runtime/src/__tests__/fixtures/async-nested-resolve-in-order/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/async-resolve-in-order/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/async-resolve-out-of-order/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/basic-counter/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/basic-counter/__snapshots__/ssr-hydrate.expected.md
  packages/runtime/src/__tests__/fixtures/batched-updates-cleanup/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/batched-updates/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/catch-single-reject-async/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/catch-single-success-async/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/catch-single-success-sync/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/catch-single-throw-sync/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/create-and-clear-rows-loop-from/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/create-and-clear-rows-loop-in/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/create-and-clear-rows/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/error-async/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/error-sync/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/event-handlers/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/move-and-clear-children/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/move-and-clear-top-level/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/placeholder-context/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/placeholder-single/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/placeholder-skipped/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/placeholders-nested/__snapshots__/ssr.expected.md
  packages/runtime/src/__tests__/fixtures/remove-and-add-rows/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/switch-adjacent-only-children/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/toggle-detached-state/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/toggle-first-child/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/toggle-last-child/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/toggle-middle-child/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/toggle-nested/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/toggle-only-child/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/update-attr/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/update-dynamic-attrs/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/update-html/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/update-text/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/fixtures/user-effect-cleanup/__snapshots__/csr.expected.md
  packages/runtime/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix, fixpack

fix: hoisted variable scopes clean up
  packages/compiler/src/babel-types/traverse/patch.js
Due: prettier --write, eslint --fix

chore: publish v5.17.4
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: upgrade deps
  package-lock.json
  package.json
  packages/translator/package.json
Due: prettier --write, fixpack

chore: expose browser will rerender
  packages/marko/src/runtime/components/beginComponent/index.js
Due: prettier --write, eslint --fix

chore: expose browser will rerender (#1754)
  packages/marko/src/runtime/components/beginComponent/index.js
Due: prettier --write, eslint --fix

chore: publish v5.17.5
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

Create troubleshooting-streaming.md
  packages/marko/docs/troubleshooting-streaming.md
Due: prettier --write

test: add tests for serializer
  package-lock.json
  package.json
  packages/runtime/src/__tests__/serializer.test.ts
Due: prettier --write, eslint --fix, fixpack

Update rollup.md
  packages/marko/docs/rollup.md
Due: prettier --write

Update rollup.md (#1759)
  packages/marko/docs/rollup.md
Due: prettier --write

chore: publish v5.17.6
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: improve cloudflare (workers) support
  packages/marko/src/runtime/components/update-manager.js
  packages/marko/src/runtime/html/BufferedWriter.js
  packages/marko/src/runtime/html/create-readable/index-browser.js
  packages/marko/src/runtime/renderable.js
  packages/marko/src/runtime/setImmediate/index-browser.js
  packages/marko/src/runtime/setImmediate/index-worker.js
  packages/marko/src/runtime/setImmediate/index.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: any of: *.{js,ts}
  fixpack: any of: ./{,packages/*/}package.json
