Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

test(compiler): cover the diagnostic fix mechanism
  packages/compiler/test/diagnostics.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): drop a truncated duplicate of the first seven bug entries (#3661)
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules

test(compiler): cover taglib registration and optional taglibs
  packages/compiler/test/fixtures/taglib/local/marko.json
  packages/compiler/test/fixtures/taglib/package.json
  packages/compiler/test/fixtures/taglib/run.mjs
  packages/compiler/test/taglib.test.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix(compiler): compile a file without a config, and cover the entry points
  .changeset/compile-file-without-config.md
  packages/compiler/src/index.js
  packages/compiler/test/compile.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(compiler): cover the tag helpers translators build on
  packages/compiler/test/babel-utils/tags.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(compiler): say why `stripTypes` is not part of the compile cache key
  agent-feedback/bugs.md
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(compiler): import kleur by name so browser bundles keep their code frames
  .changeset/kleur-named-import.md
  packages/compiler/src/util/build-code-frame.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): keep repeat references inline when a cycle assignment is pending
  .changeset/serializer-pending-assign-inline.md
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): cover repeat cycle references through SSR resume
  packages/runtime-tags/src/__tests__/fixtures/serialize-cycle-repeat-reference/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/serialize-cycle-repeat-reference/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/serialize-cycle-repeat-reference/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/serialize-cycle-repeat-reference/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/serialize-cycle-repeat-reference/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/serialize-cycle-repeat-reference/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/serialize-cycle-repeat-reference/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/serialize-cycle-repeat-reference/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/serialize-cycle-repeat-reference/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/serialize-cycle-repeat-reference/template.marko
  packages/runtime-tags/src/__tests__/fixtures/serialize-cycle-repeat-reference/test.ts
  packages/runtime-tags/src/__tests__/serializer.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record taglib metadata loss after clearCaches
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules

docs(agent-feedback): drop the serializer cycle-reference entry, fixed in #3668
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): scope attribute tag uids to the current translate
  .changeset/attr-tag-uid-per-translate.md
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/tags/child/index.marko
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/template.marko
  packages/runtime-tags/src/__tests__/fixtures/at-tags-name-shadows-generated-uid/test.ts
  packages/runtime-tags/src/__tests__/fixtures/known-tag-attr-tags-rest/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/known-tag-attr-tags-rest/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/known-tag-attr-tags-rest/sizes.json
  packages/runtime-tags/src/translator/util/nested-attribute-tags.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): allow `content=` on a void tag that declares the attribute
  .changeset/meta-content-attribute.md
  packages/runtime-tags/src/__tests__/fixtures/content-attr-meta/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/content-attr-meta/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/content-attr-meta/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/content-attr-meta/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/content-attr-meta/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/content-attr-meta/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/content-attr-meta/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/content-attr-meta/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/content-attr-meta/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/content-attr-meta/template.marko
  packages/runtime-tags/src/__tests__/fixtures/content-attr-meta/test.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): close out the load-entry dynamic import item
  agent-feedback/perf.md
  packages/runtime-tags/src/translator/visitors/program/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): drop the attribute tag uid entry, fixed in #3669
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): keep a controlled select's value when its options change
  .changeset/controllable-select-reapply-value.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-dynamic-details-textarea/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-dynamic-tag-only-spread/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-dynamic-tag-uncontrolled-value/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-dynamic-spread/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-empty-value-spread/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-reordered/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-value-number/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-mutated-option/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-replaced-options/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-replaced-options/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-replaced-options/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-replaced-options/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-replaced-options/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-replaced-options/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-replaced-options/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-replaced-options/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-replaced-options/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-replaced-options/template.marko
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-replaced-options/test.ts
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-spread/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-value-nan/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-value-number/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-select/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-custom-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-multiple/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-spread/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/select-controlled-after-sibling-options/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/select-spread/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-rest-input-with-attr-tags-deopt/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-rest-input/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-default-update/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value-multiple-default-update/sizes.json
  packages/runtime-tags/src/dom/controllable.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(compiler): stop consuming a taglib's shared props while loading it
  .changeset/taglib-props-not-consumed.md
  packages/compiler/src/taglib/loader/loadTagFromProps.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record controlled select value loss on resume
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules

test(runtime-tags): cover a multiple select whose options are replaced
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-replaced-options/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-replaced-options/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-replaced-options/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-replaced-options/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-replaced-options/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-replaced-options/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-replaced-options/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-replaced-options/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-replaced-options/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-replaced-options/template.marko
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-replaced-options/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): drop the taglib metadata entry, fixed in #3680
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules
