Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules, sort-package-json --quiet

refactor: improve repeatables and reference/reserve handling
  packages/compiler/scripts/types-babel-types.mjs
  packages/translator-tags/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/update-dynamic-attrs/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/update-dynamic-attrs/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/update-dynamic-attrs/__snapshots__/ssr.expected.md
  packages/translator-tags/src/core/condition/if.ts
  packages/translator-tags/src/core/const.ts
  packages/translator-tags/src/core/define.ts
  packages/translator-tags/src/core/effect.ts
  packages/translator-tags/src/core/for.ts
  packages/translator-tags/src/core/id.ts
  packages/translator-tags/src/core/let.ts
  packages/translator-tags/src/core/lifecycle.ts
  packages/translator-tags/src/core/return.ts
  packages/translator-tags/src/index.ts
  packages/translator-tags/src/util/attrs-to-object.ts
  packages/translator-tags/src/util/nested-attribute-tags.ts
  packages/translator-tags/src/util/optional.ts
  packages/translator-tags/src/util/references.ts
  packages/translator-tags/src/util/reserve.ts
  packages/translator-tags/src/util/scope-read.ts
  packages/translator-tags/src/util/signals.ts
  packages/translator-tags/src/util/sorted-repeatable.ts
  packages/translator-tags/src/util/tag-name-type.ts
  packages/translator-tags/src/util/walks.ts
  packages/translator-tags/src/util/writer.ts
  packages/translator-tags/src/visitors/placeholder.ts
  packages/translator-tags/src/visitors/program/dom.ts
  packages/translator-tags/src/visitors/scriptlet.ts
  packages/translator-tags/src/visitors/tag/attribute-tag.ts
  packages/translator-tags/src/visitors/tag/custom-tag.ts
  packages/translator-tags/src/visitors/tag/dynamic-tag.ts
  packages/translator-tags/src/visitors/tag/index.ts
  packages/translator-tags/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: simplify changes
  .sizes.json
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/dom/fragment.ts
  packages/runtime-tags/src/dom/reconcile-domdiff.ts
  packages/runtime-tags/src/dom/reconcile-listdiff.ts
  packages/runtime-tags/src/dom/reconcile-longest-increasing-subsequence.ts
  packages/runtime-tags/src/dom/renderer.ts
  packages/runtime-tags/src/dom/scope.ts
  packages/runtime-tags/src/dom/template.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: renderBody regression with attribute tags
  .changeset/mighty-pugs-burn.md
  packages/marko/src/runtime/helpers/attr-tag.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: fix ts processing js and test files
  packages/runtime-tags/package.json
  packages/runtime-tags/tsconfig.json
  packages/translator-tags/package.json
  packages/translator-tags/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --write, fixpack, prettier --write --with-node-modules, sort-package-json --quiet

chore: fix ts processing js and test files (#2127)
  packages/runtime-tags/package.json
  packages/runtime-tags/tsconfig.json
  packages/translator-tags/package.json
  packages/translator-tags/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --write, fixpack, prettier --write --with-node-modules, sort-package-json --quiet

chore: refactor compiler type build scripts to happen on install
  package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/compiler/scripts/types.js
  packages/compiler/scripts/types/babel-traverse.js
  packages/compiler/scripts/types/babel-types.js
  packages/marko/package.json
  packages/translator-default/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules, sort-package-json --quiet

chore: refactor compiler type build scripts to happen on install (#2128)
  package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/compiler/scripts/types.js
  packages/compiler/scripts/types/babel-traverse.js
  packages/compiler/scripts/types/babel-types.js
  packages/marko/package.json
  packages/translator-default/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules, sort-package-json --quiet

fix: event handler interop
  packages/marko/src/runtime/helpers/tags-compat-dom.js
  packages/marko/src/runtime/helpers/tags-compat-html.js
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/dom.expected/components/class-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/html.expected/components/class-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/components/class-counter.marko
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/template.marko
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: for resume markers & remove writePrependTo
  packages/translator-tags/src/core/for.ts
  packages/translator-tags/src/util/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: remove closure signals from grandparents & above
  packages/translator-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/toggle-nested/browser.ts
  packages/translator-tags/src/__tests__/fixtures/toggle-nested/template.marko
  packages/translator-tags/src/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: if resume markers
  packages/translator-tags/src/__tests__/fixtures/basic-conditional-counter-multiple-nodes/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/toggle-nested-2/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/toggle-nested-2/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/toggle-nested-2/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/toggle-nested-2/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/toggle-nested-2/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/toggle-nested-2/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/toggle-nested-2/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/toggle-nested-2/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/toggle-nested-2/template.marko
  packages/translator-tags/src/__tests__/fixtures/toggle-nested-2/test.ts
  packages/translator-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/toggle-nested/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/toggle-nested/test.ts
  packages/translator-tags/src/core/condition/else-if.ts
  packages/translator-tags/src/core/condition/else.ts
  packages/translator-tags/src/core/condition/if.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: issue with component custom events being null
  .changeset/red-knives-change.md
  packages/marko/src/runtime/components/renderer.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: hydration in for loops
  .sizes.json
  packages/runtime-tags/src/dom/control-flow.ts
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/test.ts
  packages/translator-tags/src/core/for.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: morphdom check added in merge
  packages/marko/src/runtime/vdom/morphdom/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: hydration in for loops (#2134)
  .sizes.json
  packages/runtime-tags/src/dom/control-flow.ts
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-nested-scope-for/test.ts
  packages/translator-tags/src/core/for.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changesets
  .changeset/forty-suns-push.md
  .changeset/polite-moles-pretend.md
  .sizes.json
Due: prettier --write, prettier --write --with-node-modules

fix: remove private field from tags packages
  .changeset/swift-cooks-collect.md
  packages/runtime-tags/package.json
  packages/translator-interop/package.json
  packages/translator-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules, sort-package-json --quiet

fix: remove private field from tags packages (#2136)
  .changeset/swift-cooks-collect.md
  packages/runtime-tags/package.json
  packages/translator-interop/package.json
  packages/translator-tags/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules, sort-package-json --quiet

fix: package.json override script
  .changeset/nasty-hotels-fold.md
  scripts/pkg-override.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: package.json override script (#2138)
  .changeset/nasty-hotels-fold.md
  scripts/pkg-override.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: compiler and translator tags release
  .changeset/many-news-try.md
  .changeset/old-fishes-smoke.md
  .sizes.json
  packages/compiler/package.json
  packages/translator-tags/scripts/bundle.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules, sort-package-json --quiet

fix: compiler and translator tags release (#2140)
  .changeset/many-news-try.md
  .changeset/old-fishes-smoke.md
  .sizes.json
  packages/compiler/package.json
  packages/translator-tags/scripts/bundle.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules, sort-package-json --quiet

fix: ensure build script runs before pkg override
  .sizes.json
  package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules, sort-package-json --quiet

fix: mixed cjs and esm interop files
  .changeset/stupid-roses-cover.md
  packages/marko/src/runtime/helpers/tags-compat-dom.js
  packages/marko/src/runtime/helpers/tags-compat-html.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: ((any of: *.{ts,js}) or (any of: *.{json,md,css})) or (any of: ./package.json)
  sort-package-json --quiet: any of: ./package.json
