Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

chore: add changeset
  .changeset/chatty-maps-enjoy.md
Due: prettier --write, prettier --write --with-node-modules

fix: use system path separators
  packages/translator-interop/src/feature-detection.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: better filename check for tags/components?
  packages/translator-interop/src/feature-detection.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: micro-optimize tags dir detection
  packages/translator-interop/src/feature-detection.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: remove duplicate imports of compat runtime
  packages/compiler/babel-utils.d.ts
  packages/compiler/src/babel-utils/imports.js
  packages/compiler/src/babel-utils/index.js
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
  packages/translator-interop/src/__tests__/fixtures/interop-basic-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-basic-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/tags/hello.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-in-components-in-tags-dir/__snapshots__/html.expected/tags/hello.js
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-events-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/html.expected/template.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/fresh-rockets-sin.md
Due: prettier --write, prettier --write --with-node-modules

refactor: alternate compat runtime dedupe fix
  packages/compiler/babel-utils.d.ts
  packages/compiler/src/babel-utils/imports.js
  packages/compiler/src/babel-utils/index.js
  packages/runtime-tags/src/translator/visitors/program/index.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add 'next' prefix to Marko 6 beta releases
  .changeset/violet-starfishes-lick.md
  scripts/publish-alias.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: add missing PURE comment
  .changeset/soft-dolls-care.md
  .sizes.json
  packages/runtime-tags/src/dom/parse-html.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(translator): check for shadowing `data` with a tag destructure
  packages/runtime-class/test/translator/fixtures/data-structure/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/data-structure/snapshots/generated-expected.diagnostics.txt
  packages/runtime-class/test/translator/fixtures/data-structure/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/data-structure/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/data-structure/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/data-structure/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/data-structure/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/data-structure/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/data-structure/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add engines field and add node 22 ci
  .changeset/large-colts-fold.md
  .github/workflows/ci.yml
  package-lock.json
  packages/compiler/package.json
  packages/runtime-class/package.json
  packages/runtime-tags/package.json
  packages/translator-interop/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

chore: upgrade codecov version
  .github/workflows/ci.yml
Due: none

chore: remove unecessary ci config
  .github/workflows/ci.yml
Due: none

fix: issue mixing scoped and no-update directives
  .changeset/wet-lizards-repair.md
  packages/runtime-class/src/translator/tag/attribute/modifiers/scoped.js
  packages/runtime-class/test/translator/fixtures/attr-no-update-scoped/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/attr-no-update-scoped/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/attr-no-update-scoped/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/attr-no-update-scoped/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/attr-no-update-scoped/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/attr-no-update-scoped/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/attr-no-update-scoped/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/attr-no-update-scoped/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: improve parse error locations and aggregate errors
  .changeset/strong-steaks-jam.md
  .changeset/tall-stingrays-fry.md
  packages/compiler/src/babel-plugin/parser.js
  packages/runtime-class/src/translator/taglib/core/parse-class.js
  packages/runtime-class/test/translator/fixtures/error-class-syntax/snapshots/cjs-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-class-syntax/snapshots/generated-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-class-syntax/snapshots/html-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-class-syntax/snapshots/htmlProduction-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-class-syntax/snapshots/hydrate-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-class-syntax/snapshots/vdom-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-class-syntax/snapshots/vdomProduction-error-expected.txt
  packages/runtime-class/test/translator/fixtures/error-class-syntax/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: improve errors from unresolved taglib paths
  .changeset/rude-oranges-fly.md
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: add stubs for some client side component apis
  .changeset/young-books-sleep.md
  packages/runtime-class/src/runtime/components/ServerComponent.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: export @marko/compiler/babel-utils for legacy resolvers
  .changeset/bright-parrots-end.md
  packages/compiler/babel-utils.js
  packages/compiler/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

Update LICENSE, fix license year
  LICENSE
Due: none

feat: add await tag ssr
  .changeset/few-shirts-raise.md
  packages/runtime-tags/src/__tests__/fixtures/await-tag/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-tag/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-tag/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-tag/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-tag/template.marko
  packages/runtime-tags/src/__tests__/fixtures/await-tag/test.ts
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/core/index.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/tag-types/await.d.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: async tags api runtime placeholders
  .changeset/fair-jobs-punch.md
  packages/runtime-tags/src/__tests__/fixtures/catch-single-reject-async/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/catch-single-reject-async/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/catch-single-reject-async/server.ts
  packages/runtime-tags/src/__tests__/fixtures/component-markers-placeholder.skip/server.ts
  packages/runtime-tags/src/__tests__/fixtures/placeholder-single/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/placeholder-single/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/placeholder-single/server.ts
  packages/runtime-tags/src/__tests__/fixtures/placeholder-skipped/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/placeholder-skipped/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/placeholder-skipped/server.ts
  packages/runtime-tags/src/__tests__/fixtures/placeholders-nested/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/placeholders-nested/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/placeholders-nested/server.ts
  packages/runtime-tags/src/html/inlined-runtimes.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: add basic ssr try tag
  .changeset/eight-poems-promise.md
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/catch-single-reject-async/server.ts
  packages/runtime-tags/src/__tests__/fixtures/catch-single-success-async/server.ts
  packages/runtime-tags/src/__tests__/fixtures/catch-single-success-sync/server.ts
  packages/runtime-tags/src/__tests__/fixtures/catch-single-throw-sync/server.ts
  packages/runtime-tags/src/__tests__/fixtures/component-markers-placeholder.skip/server.ts
  packages/runtime-tags/src/__tests__/fixtures/for-tag-siblings/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/for-tag-siblings/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag-siblings/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag-with-state/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/for-tag-with-state/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag-with-state/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/for-tag/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/for-tag/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/placeholder-single/server.ts
  packages/runtime-tags/src/__tests__/fixtures/placeholder-skipped/server.ts
  packages/runtime-tags/src/__tests__/fixtures/placeholders-nested/server.ts
  packages/runtime-tags/src/__tests__/fixtures/try-single-throw-sync/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/try-single-throw-sync/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/try-single-throw-sync/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/try-single-throw-sync/template.marko
  packages/runtime-tags/src/__tests__/fixtures/try-single-throw-sync/test.ts
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/inlined-runtimes.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/define.ts
  packages/runtime-tags/src/translator/core/index.ts
  packages/runtime-tags/src/translator/core/try.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/tag-types/try.d.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
