Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

agent-feedback: note that a `<let>` returns state it controls, not its value
  agent-feedback/items/2026-08-03-warn-when-a-let-initializer-reads-reactive-state.md
  packages/runtime-tags/cheatsheet.md
  packages/runtime-tags/src/translator/core/let.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): separate static text at template edges (#4002)
  .changeset/tall-eagles-shave.md
  packages/runtime-tags/src/__tests__/fixtures/child-leading-text-between-parent-text/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/child-leading-text-between-parent-text/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/child-leading-text-between-parent-text/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/child-leading-text-between-parent-text/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/child-leading-text-between-parent-text/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/child-leading-text-between-parent-text/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/child-leading-text-between-parent-text/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/child-leading-text-between-parent-text/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/child-leading-text-between-parent-text/tags/child/index.marko
  packages/runtime-tags/src/__tests__/fixtures/child-leading-text-between-parent-text/template.marko
  packages/runtime-tags/src/translator/util/constants/structure-kind.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/util/structure.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/src/translator/visitors/text.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: note that a signal reassigning what it reads loops by design
  agent-feedback/items/2026-08-10-warn-when-a-script-assigns-a-fresh-identity.md
  packages/runtime-tags/src/dom/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: note that the non-throwing diagnostic channels are metadata only
  agent-feedback/items/2026-08-03-populate-the-meta-diagnostics-warning-channel-three-messages.md
  packages/compiler/src/babel-utils/diagnostics.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: document `static type` for module-level type aliases
  agent-feedback/items/2026-08-13-cheatsheet-static-type-for-module-level-type-aliases.md
  packages/runtime-tags/cheatsheet.md
Due: prettier --write, prettier --write --with-node-modules

agent-feedback: align the `<let>` cheatsheet table row with rule 4
  packages/runtime-tags/cheatsheet.md
Due: prettier --write, prettier --write --with-node-modules

Revert "agent-feedback: align the `<let>` cheatsheet table row with rule 4"
  packages/runtime-tags/cheatsheet.md
Due: prettier --write, prettier --write --with-node-modules

agent-feedback: drop the method-shorthand handler item as unreproducible
  agent-feedback/items/2026-08-13-cheatsheet-prefer-method-shorthand-handlers-when-assigning-let.md
Due: prettier --write, prettier --write --with-node-modules

agent-feedback: say that a hidden `<show>` still renders on the server
  agent-feedback/items/2026-08-13-cheatsheet-show-always-joins-the-resume-tree-function.md
  packages/runtime-tags/cheatsheet.md
Due: prettier --write, prettier --write --with-node-modules

agent-feedback: document how `:=` differs by operand
  agent-feedback/items/2026-08-13-cheatsheet-assign-controllable-bindings-skip-input-change-calls.md
  packages/runtime-tags/cheatsheet.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): decode character references in a `<textarea>` body
  .changeset/quiet-melons-repeat.md
  .changeset/shaggy-pots-hunt.md
  agent-feedback/items/2026-07-23-decode-character-references-in-a-static-textarea-body.md
  packages/compiler/babel-utils.d.ts
  packages/compiler/package.json
  packages/compiler/scripts/bundle.mts
  packages/compiler/src/babel-utils/decode-html.js
  packages/compiler/src/babel-utils/index.js
  packages/runtime-class/package.json
  packages/runtime-class/src/translator/text/index[vdom].js
  packages/runtime-class/src/translator/util/optimize-vdom-create.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-body-character-references/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-body-character-references/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-body-character-references/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-body-character-references/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/textarea-body-character-references/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/textarea-body-character-references/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/textarea-body-character-references/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/textarea-body-character-references/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/textarea-body-character-references/template.marko
  packages/runtime-tags/src/translator/core/textarea.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore(compiler): make the bundled `entities` a devDependency
  .changeset/olive-rings-shave.md
  packages/compiler/package.json
  pnpm-lock.yaml
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix(runtime-tags): report an unresolvable tag name during analyze
  .changeset/olive-buttons-smile.md
  agent-feedback/items/2026-07-23-raise-the-unresolvable-tag-name-error-during-analyze.md
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-batched/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-batched/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-batched/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-batched/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-batched/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-batched/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-local-hint/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-local-hint/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-local-hint/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-local-hint/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-local-hint/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-tag-not-found-local-hint/test.ts
  packages/runtime-tags/src/translator/util/tag-name-type.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): error when a `load` import resolves to a class API tag
  .changeset/silly-pans-invent.md
  agent-feedback/items/2026-07-27-route-tagnameload-through-the-compat-dynamic-tag-path.md
  packages/runtime-tags/src/__tests__/fixtures-interop/lazy-class-child-tags-parent/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures-interop/lazy-class-child-tags-parent/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures-interop/lazy-class-child-tags-parent/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures-interop/lazy-class-child-tags-parent/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures-interop/lazy-class-child-tags-parent/components/child.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/lazy-class-child-tags-parent/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/lazy-class-child-tags-parent/test.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: drop the cross-environment scriptlet read item as documented
  agent-feedback/items/2026-07-27-diagnose-cross-environment-reads-of-a-server-client.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): report a client-reactive read of an unserialized `$global` key
  .changeset/nervous-hoops-wave.md
  .sizes.json
  .sizes/dom.js
  agent-feedback/items/2026-08-03-warn-when-a-client-reactive-expression-reads-global.md
  packages/runtime-tags/src/__tests__/fixtures/dollar-global-client-not-serialized/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dollar-global-client-not-serialized/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dollar-global-client-not-serialized/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/dollar-global-client-not-serialized/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/dollar-global-client-not-serialized/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/dollar-global-client-not-serialized/template.marko
  packages/runtime-tags/src/__tests__/fixtures/dollar-global-client-not-serialized/test.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/visitors/referenced-identifier.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: fix agent-feedback item format
  agent-feedback/items/2026-08-19-elide-repeated-try-pairing-content-ids-per-response.md
  agent-feedback/items/2026-08-19-tree-shake-template-root-records-from-persisted-html.md
  agent-feedback/items/2026-08-20-elide-shell-records-via-client-state-channel.md
Due: prettier --write, prettier --write --with-node-modules

chore: trim comments, rename boundaryAlwaysPairs
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/core/try.ts
  packages/runtime-tags/src/translator/util/persisted/decisions.ts
  packages/runtime-tags/src/translator/util/persisted/delivery.ts
  packages/runtime-tags/src/translator/util/persisted/structure.ts
  packages/runtime-tags/src/translator/util/shell.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: file persistedShells rename feedback
  agent-feedback/items/2026-08-20-rename-persisted-shells-program-extra.md
Due: prettier --write, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
