Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

fix: attr tag with single spread (#2387)
  .changeset/rotten-emus-obey.md
  packages/translator-default/src/tag/attribute-tag.js
  packages/translator-default/src/tag/util.js
  packages/translator-default/test/fixtures/at-tag-spread-undefined/components/hello/index.marko
  packages/translator-default/test/fixtures/at-tag-spread-undefined/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/at-tag-spread-undefined/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/at-tag-spread-undefined/snapshots/html-expected.js
  packages/translator-default/test/fixtures/at-tag-spread-undefined/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/at-tag-spread-undefined/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/at-tag-spread-undefined/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/at-tag-spread-undefined/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/at-tag-spread-undefined/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(lifecycle): remove unnecessary error
  packages/translator-tags/src/__tests__/fixtures/error-lifecycle-extra-attr/__snapshots__/dom.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/error-lifecycle-extra-attr/__snapshots__/html.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/error-lifecycle-extra-attr/template.marko
  packages/translator-tags/src/__tests__/fixtures/error-lifecycle-extra-attr/test.ts
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/.name-cache.json
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/template.marko
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/test.ts
  packages/translator-tags/src/core/lifecycle.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/long-horses-wait.md
Due: prettier --write, prettier --write --with-node-modules

fix(lifecycle): remove unnecessary error for arbitrary attributes (#2388)
  .changeset/long-horses-wait.md
  packages/translator-tags/src/__tests__/fixtures/error-lifecycle-extra-attr/__snapshots__/dom.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/error-lifecycle-extra-attr/__snapshots__/html.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/error-lifecycle-extra-attr/template.marko
  packages/translator-tags/src/__tests__/fixtures/error-lifecycle-extra-attr/test.ts
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/.name-cache.json
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/template.marko
  packages/translator-tags/src/__tests__/fixtures/lifecycle-tag-this-attrs/test.ts
  packages/translator-tags/src/core/lifecycle.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: it's so bad it might just work
  package-lock.json
  package.json
  website/install.sh
  website/package-lock.json
  website/package.json
  website/src/routes/+page.marko
Due: prettier --write, fixpack, prettier --write --with-node-modules

chore: minor cleanup
  package-lock.json
  package.json
  packages/babel-utils/package.json
  packages/babel-utils/package.toggle.json
  packages/compiler/package.json
  packages/compiler/package.toggle.json
  packages/marko/package.json
  packages/runtime-tags/package.json
  packages/runtime-tags/package.toggle.json
  packages/runtime-tags/src/dom/resume.ts
  packages/translator-default/package.json
  packages/translator-default/package.toggle.json
  packages/translator-interop/package.json
  packages/translator-interop/package.toggle.json
  packages/translator-tags/package.json
  packages/translator-tags/package.toggle.json
  scripts/pkg-override.js
  scripts/pkg-toggle.js
  website/install.sh
  website/package-lock.json
  website/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: attr tag runtime for static attr tag
  packages/translator-tags/src/__tests__/fixtures/at-tags/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: refactor intersection analysis
  packages/translator-tags/src/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: remove invalid get expr root code
  packages/translator-tags/src/__tests__/fixtures/error-const-mutation/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/error-const-mutation/__snapshots__/html.expected/template.js
  packages/translator-tags/src/util/get-root.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/late-phones-decide.md
Due: prettier --write, prettier --write --with-node-modules

fix: dynamic for by attribute
  .changeset/poor-sloths-add.md
  .sizes/name-cache.json
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/for.ts
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/.name-cache.json
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/template.marko
  packages/translator-tags/src/__tests__/fixtures/for-by/test.ts
  packages/translator-tags/src/core/for.ts
  packages/translator-tags/src/util/get-defined-binding-expression.ts
  packages/translator-tags/src/util/runtime.ts
  packages/translator-tags/src/util/signals.ts
  packages/translator-tags/src/util/to-property-name.ts
  packages/translator-tags/src/util/translate-attrs.ts
  packages/translator-tags/src/visitors/tag/custom-tag.ts
  packages/translator-tags/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: dynamic for by attribute (#2392)
  .changeset/poor-sloths-add.md
  .sizes/name-cache.json
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/for.ts
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/.name-cache.json
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/for-by/template.marko
  packages/translator-tags/src/__tests__/fixtures/for-by/test.ts
  packages/translator-tags/src/core/for.ts
  packages/translator-tags/src/util/get-defined-binding-expression.ts
  packages/translator-tags/src/util/runtime.ts
  packages/translator-tags/src/util/signals.ts
  packages/translator-tags/src/util/to-property-name.ts
  packages/translator-tags/src/util/translate-attrs.ts
  packages/translator-tags/src/visitors/tag/custom-tag.ts
  packages/translator-tags/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: properly resolve lasso manifest in hydrate output
  .changeset/long-lemons-turn.md
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: properly resolve lasso manifest in hydrate output (#2395)
  .changeset/long-lemons-turn.md
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: resume controllable tag variables
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/.name-cache.json
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/dom.expected/components/counter.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/html.expected/components/counter.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/components/counter.marko
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/template.marko
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-assignment/test.ts
  packages/translator-tags/src/util/signals.ts
  packages/translator-tags/src/visitors/tag/custom-tag.ts
  packages/translator-tags/src/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/two-tigers-heal.md
Due: prettier --write, prettier --write --with-node-modules

chore: update tests
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-expression/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-expression/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-expression/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-expression/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-multiple/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-multiple/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-multiple/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var-multiple/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/custom-tag-var/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/dynamic-tag-args-tag-var/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/dynamic-tag-args-tag-var/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/dynamic-tag-args-tag-var/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/dynamic-tag-args-tag-var/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/dynamic-tag-var/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/dynamic-tag-var/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/html-comment-var/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/html-comment-var/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/html-comment-var/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/html-comment-var/__snapshots__/ssr.expected.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: async iterator race condition
  .changeset/hip-jobs-decide.md
  packages/marko/src/runtime/html/AsyncStream.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: async iterator race condition (#2402)
  .changeset/hip-jobs-decide.md
  packages/marko/src/runtime/html/AsyncStream.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: upgrade deps
  .changeset/chatty-masks-beam.md
  package-lock.json
  package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/babel-types/generator/patch.js
  packages/marko/package.json
  packages/runtime-tags/src/dom/resume.ts
  packages/translator-default/package.json
  packages/translator-interop/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: upgrade deps (#2404)
  .changeset/chatty-masks-beam.md
  package-lock.json
  package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/babel-types/generator/patch.js
  packages/marko/package.json
  packages/runtime-tags/src/dom/resume.ts
  packages/translator-default/package.json
  packages/translator-interop/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: update translator related code
  .mocharc.json
  .sizes.json
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/config.js
  packages/marko/package.json
  packages/marko/src/taglib/index.js
  packages/marko/translator/package.json
  packages/marko/translator/src/index.js
  packages/marko/translator/src/package.json
  packages/marko/translator/test/package.json
  packages/runtime-tags/package.json
  packages/runtime-tags/scripts/bundle.ts
  packages/runtime-tags/src/translator/__tests__/main.test.ts
  packages/translator-interop/package.json
  packages/translator-interop/src/__tests__/main.test.ts
  packages/translator-interop/src/feature-detection.ts
  packages/translator-interop/src/index.ts
  scripts/inspect-compiled-output.ts
  scripts/pkg-override.js
  scripts/sizes.ts
  tsconfig.build.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
