Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

chore: trim comments, rename boundaryAlwaysPairs
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/core/try.ts
  packages/runtime-tags/src/translator/util/persisted/decisions.ts
  packages/runtime-tags/src/translator/util/persisted/delivery.ts
  packages/runtime-tags/src/translator/util/persisted/structure.ts
  packages/runtime-tags/src/translator/util/shell.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: file persistedShells rename feedback
  agent-feedback/items/2026-08-20-rename-persisted-shells-program-extra.md
Due: prettier --write, prettier --write --with-node-modules

chore: fix agent-feedback item format
  agent-feedback/items/2026-08-19-elide-repeated-try-pairing-content-ids-per-response.md
  agent-feedback/items/2026-08-19-tree-shake-template-root-records-from-persisted-html.md
  agent-feedback/items/2026-08-20-elide-shell-records-via-client-state-channel.md
Due: prettier --write, prettier --write --with-node-modules

refactor(runtime-tags): clarify subscriber fill dispatch
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-attr/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-await/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-section/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): prune stale compile snapshots
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-child-try/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-arrow-shadow/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-grand-server-required/__snapshots__/error-compile-html.txt
Due: none

test(runtime-tags): cover shared content fill subscribers
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/tags/frame.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-fill-content-subscribers/test.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): await lazy persisted patches
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/patch-ready.ts
  packages/runtime-tags/src/dom/patch.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: note that resolved `Intl` options are a best match, not the request
  agent-feedback/items/2026-07-31-round-trip-intl-datetimeformat-through-a-form-that.md
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): cover lazy patch timing
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/child.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/dom/patch-ready.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/html/assets.ts
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): initialize patch readiness from page entry
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-pending/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-ready-first/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): unify persisted analysis terminology
  agent-feedback/items/2026-08-20-rename-persisted-shells-program-extra.md
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/util/persisted/admission.ts
  packages/runtime-tags/src/translator/util/shell.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): keep lazy import fact internal
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): note the controllable <let> carve-out and debounced inputs
  agent-feedback/items/2026-08-13-cheatsheet-controllable-child-apis-debounced-inputs-and-lifecycle.md
  packages/runtime-tags/cheatsheet.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): drop needless parens around a `??` in the cheatsheet
  agent-feedback/items/2026-08-13-diagnose-nullish-coalesce-inside-handlers-that-also-assign.md
  packages/runtime-tags/cheatsheet.md
Due: prettier --write, prettier --write --with-node-modules

agent-feedback: file seven findings from an app-build wave
  agent-feedback/items/2026-08-13-document-out-of-order-try-placeholder-html-shape.md
  agent-feedback/items/2026-08-20-drive-a-controllable-form-element-from-change-as.md
  agent-feedback/items/2026-08-20-give-attribute-tags-a-typed-public-builder-for.md
  agent-feedback/items/2026-08-20-keep-a-source-position-and-a-stack-on.md
  agent-feedback/items/2026-08-20-let-an-input-extending-a-native-tag-declare.md
  agent-feedback/items/2026-08-20-render-a-string-content-as-text-or-drop.md
  agent-feedback/items/2026-08-20-report-a-child-template-s-compile-error-instead.md
  agent-feedback/items/2026-08-20-resume-an-attribute-tag-body-serialized-through-a.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): note that head tags render where they are written
  agent-feedback/items/2026-07-19-add-a-head-contribution-primitive-or-state-that.md
  packages/runtime-tags/cheatsheet.md
Due: prettier --write, prettier --write --with-node-modules

agent-feedback: file nineteen findings from two scan waves
  agent-feedback/items/2026-08-20-admit-null-in-compileresult-and-fix-the-taglib.md
  agent-feedback/items/2026-08-20-camel-case-a-hyphenated-class-event-name-when.md
  agent-feedback/items/2026-08-20-close-a-modal-dialog-instead-of-clearing-its-open.md
  agent-feedback/items/2026-08-20-collapse-only-ascii-whitespace-in-template-text.md
  agent-feedback/items/2026-08-20-compile-a-source-string-without-requiring-the-filename-s.md
  agent-feedback/items/2026-08-20-escape-rather-than-fold-unusual-characters-in-a.md
  agent-feedback/items/2026-08-20-expose-the-resume-flag-to-script-and-lifecycle.md
  agent-feedback/items/2026-08-20-extend-the-static-hint-to-every-module-level-javascript.md
  agent-feedback/items/2026-08-20-give-an-invalid-shorthand-method-parameter-a-compileerror.md
  agent-feedback/items/2026-08-20-give-compileerror-the-loc-shape-every-bundler.md
  agent-feedback/items/2026-08-20-keep-parse-time-linear-in-tag-count-instead.md
  agent-feedback/items/2026-08-20-link-the-cheatsheet-from-the-migration-skill-with.md
  agent-feedback/items/2026-08-20-point-the-migration-skill-at-marko-latest-not.md
  agent-feedback/items/2026-08-20-reject-an-unrecognized-output-value-instead-of.md
  agent-feedback/items/2026-08-20-repair-compiler-md-the-only-compiler-api-doc.md
  agent-feedback/items/2026-08-20-report-a-nesting-depth-overflow-as-a-compileerror.md
  agent-feedback/items/2026-08-20-say-which-bundler-plugins-span-marko-5-and-6.md
  agent-feedback/items/2026-08-20-terminate-sourceroot-with-a-separator-so-a-mapped.md
  agent-feedback/items/2026-08-20-window-the-error-code-frame-so-a-long-line.md
Due: prettier --write, prettier --write --with-node-modules

fix(compiler): report a child template's compile error on the parent build
  .changeset/child-template-compile-error.md
  agent-feedback/items/2026-08-20-report-a-child-template-s-compile-error-instead.md
  packages/compiler/src/babel-utils/tags.js
  packages/runtime-tags/src/__tests__/fixtures/error-child-template-compile-error/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-child-template-compile-error/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-child-template-compile-error/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-child-template-compile-error/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-child-template-compile-error/tags/broken.marko
  packages/runtime-tags/src/__tests__/fixtures/error-child-template-compile-error/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-child-template-compile-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-missing-imported-tag/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-missing-imported-tag/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-missing-imported-tag/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-missing-imported-tag/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-missing-imported-tag/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-missing-imported-tag/test.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: file fourteen findings from a stress and adversarial wave
  agent-feedback/items/2026-08-21-abort-a-try-s-catch-boundary-when-the.md
  agent-feedback/items/2026-08-21-cache-a-taglib-only-after-its-json-parses.md
  agent-feedback/items/2026-08-21-flush-a-synchronous-page-incrementally-instead-of-buffering.md
  agent-feedback/items/2026-08-21-isolate-a-throwing-onmount-and-name-the.md
  agent-feedback/items/2026-08-21-keep-a-getter-a-getter-when-a-let.md
  agent-feedback/items/2026-08-21-name-the-state-a-throwing-getter-was-serializing.md
  agent-feedback/items/2026-08-21-point-the-json-stringify-attribute-deprecation-at-the.md
  agent-feedback/items/2026-08-21-register-a-const-defined-function-a-class-api.md
  agent-feedback/items/2026-08-21-reject-a-tag-body-on-marko-5-s.md
  agent-feedback/items/2026-08-21-say-in-marko-5-s-shipped-docs-that.md
  agent-feedback/items/2026-08-21-say-in-the-cheatsheet-that-html-script-and-html-style.md
  agent-feedback/items/2026-08-21-serialize-a-regexp-whose-source-contains-a-less.md
  agent-feedback/items/2026-08-21-suppress-a-did-you-mean-that-repeats-the.md
  agent-feedback/items/2026-08-21-translate-babel-s-parseexpression-messages-before-they-reach.md
Due: prettier --write, prettier --write --with-node-modules

chore: drop changeset (persisted pages is unshipped)
  .changeset/lazy-persisted-patch-await.md
Due: prettier --write, prettier --write --with-node-modules
