Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f codeframe --fix, fixpack

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint -f codeframe --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

docs: update match-media install path on npm
  packages/marko/docs/custom-tags.md
Due: prettier --write

fix: false values are removed from style string. closes #1692
  packages/marko/src/runtime/helpers/style-value.js
  packages/marko/test/render/fixtures/style-attr-object/template.marko
Due: prettier --write, eslint -f codeframe --fix

fix: false values are removed from style string. closes #1692 (#1693)
  packages/marko/src/runtime/helpers/style-value.js
  packages/marko/test/render/fixtures/style-attr-object/template.marko
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.10.3
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(marko): issue when last mode stream ends too early
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/test/render/fixtures/flush-here-and-after-with-body/components/child.marko
  packages/marko/test/render/fixtures/flush-here-and-after-with-body/expected.html
  packages/marko/test/render/fixtures/flush-here-and-after-with-body/template.marko
  packages/marko/test/render/fixtures/flush-here-and-after-with-body/test.js
  packages/marko/test/render/fixtures/flush-here-and-after-with-body/vdom-expected.html
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.10.4
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: issue if translator is not an explicit dependency and is not hoisted
  packages/compiler/package.json
  packages/compiler/src/config.js
  packages/marko/package.json
  packages/marko/translator.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

chore(compiler): update homepage url
  packages/compiler/package.json
Due: prettier --write, fixpack

fix(marko): issue with dynamic tag name string and no renderbody
  packages/marko/src/runtime/html/AsyncStream.js
  packages/marko/test/render/fixtures/dynamic-tag-name/expected.html
  packages/marko/test/render/fixtures/dynamic-tag-name/template.marko
  packages/marko/test/render/fixtures/dynamic-tag-name/vdom-expected.html
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.10.5
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix typo
  packages/marko/docs/10-awesome-marko-features.md
Due: prettier --write

chore: publish v5.10.6
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

docs: fix italic link
  packages/marko/docs/10-awesome-marko-features.md
Due: prettier --write

fix(translator-default): delay no tag var assertion if translator exists
  packages/translator-default/src/tag/index.js
Due: prettier --write, eslint -f codeframe --fix

fix(compiler): improve sourceMap config option type definition
  packages/compiler/index.d.ts
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.10.7
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(marko): use asterix for italic
  packages/marko/docs/10-awesome-marko-features.md
Due: prettier --write

fix: walker 'over' falls back to 'next' rather than a loop
  .sizes.json
  packages/runtime/src/dom/walker.ts
Due: prettier --write, eslint -f codeframe --fix
