Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f codeframe --fix, fixpack

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint -f codeframe --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

docs: replace special character by "--" (#1656)
  packages/marko/docs/10-awesome-marko-features.md
Due: prettier --write

fix: add else-if to transparent tags
  packages/babel-utils/src/tags.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/html-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/template.marko
  packages/translator-default/test/fixtures/sanity-check/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint -f codeframe --fix

fix: add else-if to transparent tags (#1657)
  packages/babel-utils/src/tags.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/html-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/at-tags-dynamic/template.marko
  packages/translator-default/test/fixtures/sanity-check/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: prevent potential race condition while tag scanning
  packages/marko/src/taglib/taglib-loader/scanTagsDir.js
Due: prettier --write, eslint -f codeframe --fix

chore(release): 4.23.13
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

chore: publish
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(marko): avoid prematurely resolving taglib paths
  packages/marko/compiler-browser.marko
  packages/marko/components-browser.marko
  packages/marko/index-browser.marko
  packages/marko/src/taglib/taglib-loader/loadTagFromProps.js
  packages/marko/src/taglib/taglib-loader/loadTaglibFromProps.js
  packages/translator-default/test/fixtures/await-tag/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/await-tag/snapshots/html-expected.js
  packages/translator-default/test/fixtures/await-tag/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/await-tag/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/await-tag/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/doctype/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/doctype/snapshots/html-expected.js
  packages/translator-default/test/fixtures/doctype/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/html-expected.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint -f codeframe --fix

chore: add article disclaimers
  packages/marko/docs/10-awesome-marko-features.md
  packages/marko/docs/marko-vs-react.md
  packages/marko/docs/why-is-marko-fast.md
Due: prettier --write

chore: add article disclaimers (#1658)
  packages/marko/docs/10-awesome-marko-features.md
  packages/marko/docs/marko-vs-react.md
  packages/marko/docs/why-is-marko-fast.md
Due: prettier --write

fix(translator-default): issue with style tag source positions
  packages/translator-default/src/taglib/core/marko.json
  packages/translator-default/src/taglib/core/parse-style.js
  packages/translator-default/src/taglib/core/translate-style.js
Due: prettier --write, eslint -f codeframe --fix

chore: remove dead doc links
  packages/marko/docs/server-side-rendering.md
Due: prettier --write

chore: remove dead doc links (#1659)
  packages/marko/docs/server-side-rendering.md
Due: prettier --write

fix(marko): simplify client-reorder runtime loading login to inline code
  packages/marko/src/core-tags/core/await/client-reorder-runtime.min.js
  packages/marko/src/core-tags/core/await/client-reorder.js
Due: prettier --write, eslint -f codeframe --fix

fix(marko): simplify client-reorder runtime loading login to inline code (#1661)
  packages/marko/src/core-tags/core/await/client-reorder-runtime.min.js
  packages/marko/src/core-tags/core/await/client-reorder.js
Due: prettier --write, eslint -f codeframe --fix

fix: improve windows support for taglib finder
  packages/marko/src/taglib/taglib-finder/index.js
Due: prettier --write, eslint -f codeframe --fix

chore(release): 4.23.14
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: release command
  package.json
Due: prettier --write, fixpack

Copyedit server-side rendering docs
  packages/marko/docs/server-side-rendering.md
Due: prettier --write

fix(marko): add back missing preserve-name & remove-dashes config
  packages/marko/docs/marko-json.md
  packages/translator-default/src/tag/util.js
  packages/translator-default/test/fixtures/camel-case-attr-name-override/components/custom-tag/index.marko
  packages/translator-default/test/fixtures/camel-case-attr-name-override/components/custom-tag/marko-tag.json
  packages/translator-default/test/fixtures/camel-case-attr-name-override/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/camel-case-attr-name-override/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/camel-case-attr-name-override/snapshots/html-expected.js
  packages/translator-default/test/fixtures/camel-case-attr-name-override/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/camel-case-attr-name-override/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/camel-case-attr-name-override/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/camel-case-attr-name-override/template.marko
Due: prettier --write, eslint -f codeframe --fix

docs: update --template option for webpack example
  packages/marko/docs/installing.md
  packages/marko/docs/webpack.md
Due: prettier --write

fix(compiler): issue with path.state missing
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-types/CHANGELOG.md
  packages/babel-types/package.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: remove deprecated @marko/babel-types package
  packages/babel-types/CHANGELOG.md
  packages/babel-types/package.json
  packages/babel-types/src/index.js
Due: prettier --write, eslint -f codeframe --fix, fixpack
