Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

fix(runtime-tags): normalize static native tag names before analysis
  .changeset/dynamic-string-tag-name-parse-options.md
  agent-feedback/items/2026-08-28-resolve-a-dynamic-tag-s-literal-name-against.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-attr-signal/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/tags/custom.marko
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/template.marko
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-void/test.ts
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-body/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-body/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-body/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-body/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-body/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-body/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-content/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-content/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-content/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-content/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-content/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-dynamic-tag-void-content/test.ts
  packages/runtime-tags/src/__tests__/fixtures/native-tag-name/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/translator/visitors/program/pre-analyze.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): decode title text entities for client updates
  .changeset/title-text-entity-decoding.md
  packages/runtime-tags/src/__tests__/fixtures/title-multiple-placeholders/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/title-multiple-placeholders/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/title-multiple-placeholders/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/title-multiple-placeholders/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/title-multiple-placeholders/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/title-multiple-placeholders/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/title-multiple-placeholders/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/title-multiple-placeholders/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/title-multiple-placeholders/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/title-multiple-placeholders/template.marko
  packages/runtime-tags/src/__tests__/fixtures/title-multiple-placeholders/test.ts
  packages/runtime-tags/src/translator/util/body-to-text-literal.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

File feedback: style objects reject CSS custom properties
  agent-feedback/items/2026-09-05-let-style-objects-carry-css-custom-properties.md
Due: prettier --write, prettier --write --with-node-modules

Persisted: inline the ready-channel stamp read
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-conditional/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-lazy-tag-construct/sizes.json
  packages/runtime-tags/src/dom/patch-ready.feat.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(compiler): normalize custom getTemplateId results
  .changeset/normalize-template-ids.md
  packages/compiler/src/babel-utils/tags.js
  packages/runtime-tags/src/__tests__/translator-api.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): addAssetImport reads the current file itself
  packages/runtime-tags/src/translator/core/style.ts
  packages/runtime-tags/src/translator/util/asset-imports.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): add Opt every helper and cover some/every
  packages/runtime-tags/src/__tests__/optional.test.ts
  packages/runtime-tags/src/translator/util/optional.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): keep serialize exprs and provenance on Section and Binding
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/util/serialize-reasons.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): record a content section's downstream tag and expose child sections
  packages/runtime-tags/src/translator/util/binding-has-prop.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/util/set-tag-sections-downstream.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): assert debug and optimize render logs agree
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-late-options/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-entry-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-error-nested-placeholder/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-script-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-multi-trigger-fallback/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/bundle.ts
  packages/runtime-tags/src/__tests__/utils/import-with-context.ts
  packages/runtime-tags/src/__tests__/utils/snap.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): style tag reads the current file through getFile()
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/src/translator/core/style.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): drop the remaining hub.file reads in the translator
  packages/runtime-tags/src/translator/util/module-registrations.ts
  packages/runtime-tags/src/translator/util/statement-tag.ts
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Persisted: a global-guarded value inside a branch reads its enclosing reason
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/items.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/tags/row.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-global-loop/test.ts
  packages/runtime-tags/src/translator/util/serialize-guard.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): gate the text-only check on the tag being native
  .changeset/eighty-buttons-brake.md
  agent-feedback/items/2026-08-26-text-only-check-ignores-shadowing-custom-tag.md
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/tags/textarea.marko
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/tags/title.marko
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/template.marko
  packages/runtime-tags/src/__tests__/fixtures/text-only-tags-shadowed-by-custom-tag/test.ts
  packages/runtime-tags/src/translator/util/is-non-html-text.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Add development context to class component lifecycle errors
  .changeset/quiet-mount-diagnostic.md
  agent-feedback/items/2026-08-21-isolate-a-throwing-onmount-and-name-the.md
  packages/runtime-class/src/runtime/components/Component.js
  packages/runtime-class/src/runtime/components/ComponentDef.js
  packages/runtime-class/src/runtime/components/ServerComponent.js
  packages/runtime-class/src/runtime/components/invoke-lifecycle.js
  packages/runtime-class/src/runtime/components/renderer.js
  packages/runtime-class/src/runtime/vdom/hot-reload.js
  packages/runtime-class/test/components-browser/fixtures/lifecycle-errors/index.marko
  packages/runtime-class/test/components-browser/fixtures/lifecycle-errors/test.js
  packages/runtime-class/test/components-server/fixtures/lifecycle-errors/test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Preserve named import bindings in Class API tags
  .changeset/fix-class-import-bindings.md
  agent-feedback/items/2026-09-04-marko-5-named-import-tag-compiles-to-the-module-default.md
  packages/runtime-class/src/translator/index.js
  packages/runtime-class/test/translator/fixtures/import-tag-bindings/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/import-tag-bindings/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/import-tag-bindings/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/import-tag-bindings/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/import-tag-bindings/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/import-tag-bindings/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/import-tag-bindings/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/import-tag-bindings/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/components/class-card.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/components/class-default.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/components/tags-counter.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/mixed.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/named.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/namespace.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/template.marko
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-import-bindings/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Make the parallel runner the default `pnpm test`
  .github/CONTRIBUTING.md
  .mocharc.all.cjs
  .mocharc.parallel.cjs
  AGENTS.md
  agent-feedback/README.md
  agent-feedback/items/2026-08-30-measure-optimize-sizes-without-bundling-the-runtime.md
  agent-feedback/items/2026-09-01-pipeline-fixture-builds-into-worker-idle.md
  agent-feedback/items/2026-09-08-run-only-the-spec-files-passed-to-pnpm-test.md
  package.json
  packages/runtime-class/AGENTS.md
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/src/__tests__/main.test.ts
  scripts/test-parallel.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

Discover custom elements manifests from installed packages as native tags
  agent-feedback/items/2026-09-09-taglib-import-package-name-fails-under-symlinked-tmpdir.md
  packages/compiler/babel-utils.d.ts
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/loader/index.js
  packages/compiler/src/taglib/loader/loadTaglibFromCustomElements.js
  packages/compiler/src/taglib/loader/loaders.js
  packages/compiler/test/fixtures/taglib/node_modules/probe-elements/custom-elements.json
  packages/compiler/test/fixtures/taglib/node_modules/probe-elements/package.json
  packages/compiler/test/fixtures/taglib/package.json
  packages/compiler/test/fixtures/taglib/run.mjs
  packages/compiler/test/taglib.test.js
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

Generate shadow templates for discovered custom elements
  packages/compiler/babel-utils.d.ts
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/loader/index.js
  packages/compiler/src/taglib/loader/loadTaglibFromCustomElements.js
  packages/compiler/test/fixtures/taglib/run.mjs
  packages/compiler/test/taglib.test.js
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Serve custom element shadow templates as virtual files
  packages/compiler/src/config.js
  packages/compiler/src/index.js
  packages/compiler/src/taglib/loader/loadTaglibFromCustomElements.js
  packages/compiler/src/virtual-files.js
  packages/compiler/test/fixtures/taglib/run.mjs
  packages/compiler/test/taglib.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Keep manifest custom elements native with browser-only registration
  .changeset/native-custom-element-declarations.md
  agent-feedback/items/2026-09-09-lint-staged-ignored-fixtures.md
  packages/compiler/CUSTOM-ELEMENTS.md
  packages/compiler/babel-utils.d.ts
  packages/compiler/index.d.ts
  packages/compiler/src/babel-plugin/plugins/transform.js
  packages/compiler/src/config.js
  packages/compiler/src/index.js
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/index.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromCustomElements.js
  packages/compiler/src/virtual-files.js
  packages/compiler/test/fixtures/taglib/node_modules/probe-elements/custom-elements.json
  packages/compiler/test/fixtures/taglib/node_modules/probe-elements/define/probe-badge.js
  packages/compiler/test/fixtures/taglib/node_modules/probe-elements/package.json
  packages/compiler/test/fixtures/taglib/run.mjs
  packages/compiler/test/fixtures/taglib/tsconfig.json
  packages/compiler/test/fixtures/taglib/type-check.marko
  packages/compiler/test/taglib.test.js
  packages/runtime-class/src/translator/index.js
  packages/runtime-class/src/translator/util/add-dependencies.js
  packages/runtime-tags/src/translator/util/entry-builder.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

Move custom element runtime checks into translator fixtures
  packages/compiler/test/fixtures/taglib/run.mjs
  packages/compiler/test/fixtures/taglib/tsconfig.json
  packages/compiler/test/fixtures/taglib/type-check.marko
  packages/compiler/test/taglib.test.js
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/node_modules/probe-elements/custom-elements.json
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/node_modules/probe-elements/define/probe-badge.js
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/node_modules/probe-elements/package.json
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/package.json
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/custom-elements-manifest/template.marko
  packages/runtime-class/test/translator/index.test.js
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/node_modules/probe-elements/custom-elements.json
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/node_modules/probe-elements/define/probe-badge.js
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/node_modules/probe-elements/package.json
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/package.json
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/template.marko
  packages/runtime-tags/src/__tests__/fixtures/custom-elements-manifest/test.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
