Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

fix: walk over child with no sibling
  .sizes.json
  .sizes/comments.csr/entry.js
  .sizes/comments.ssr/entry.js
  .sizes/counter.csr/entry.js
  .sizes/dom.js
  packages/runtime-tags/src/dom/walker.ts
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/dom.expected/components/child.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/html.expected/components/child.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/components/child.marko
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/template.marko
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/test.ts
  packages/translator-tags/src/util/walks.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/blue-bears-cross.md
Due: prettier --write, prettier --write --with-node-modules

fix: tests
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/dom.expected/components/child.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/html.expected/components/child.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/html.expected/template.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: walk over child with no sibling (#2293)
  .changeset/blue-bears-cross.md
  .sizes.json
  .sizes/comments.csr/entry.js
  .sizes/comments.ssr/entry.js
  .sizes/counter.csr/entry.js
  .sizes/dom.js
  packages/runtime-tags/src/dom/walker.ts
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/dom.expected/components/child.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/html.expected/components/child.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/components/child.marko
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/template.marko
  packages/translator-tags/src/__tests__/fixtures/walk-over-child/test.ts
  packages/translator-tags/src/util/walks.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

remove raptor-json
  compiler/TemplateBuilder.js
  compiler/TypeConverter.js
  compiler/expression-parser.js
  compiler/util/stringify.js
  package.json
  taglibs/core/ForNode.js
  taglibs/core/IncludeNode.js
  taglibs/core/TagHandlerNode.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

2.10.2
  package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix: issue diffing unescaped html that contains comments
  .changeset/wise-dogs-jam.md
  packages/marko/src/runtime/vdom/AsyncVDOMBuilder.js
  packages/marko/src/runtime/vdom/VComment.js
  packages/marko/src/runtime/vdom/vdom.js
  packages/marko/test/components-browser/fixtures/component-unescaped-html/test.js
  packages/translator-default/src/taglib/core/translate-html-comment.js
  packages/translator-default/test/fixtures/comments/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/comments/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/html-comment/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/html-comment/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/sanity-check/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: compat issues
  .changeset/curly-brooms-eat.md
  .changeset/wet-jars-count.md
  packages/babel-utils/src/loc.js
  packages/compiler/src/babel-types/generator/patch.js
  packages/marko/src/node_modules/@internal/components-entry/index.js
  packages/translator-default/src/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: attr tag regression for vdom
  packages/marko/src/compiler/ast/CustomTag.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore(release): 4.28.7
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix: remove dom manipulation warning
  .changeset/wise-sloths-prove.md
  packages/marko/src/node_modules/@internal/components-util/index-browser.js
  packages/marko/src/runtime/vdom/morphdom/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ignore unrecognized tags compiler option with dynamic tags
  .changeset/shaggy-plants-smell.md
  packages/translator-default/src/tag/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: issue with legacy w-bind being vdom optimized
  .changeset/thick-bananas-smile.md
  packages/translator-default/src/util/optimize-vdom-create.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: add frame property to compile errors
  .changeset/nine-kids-divide.md
  packages/compiler/src/util/build-code-frame.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: add frame property to compile errors (#2303)
  .changeset/nine-kids-divide.md
  packages/compiler/src/util/build-code-frame.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Create early-ways-relax.md
  .changeset/early-ways-relax.md
Due: prettier --write, prettier --write --with-node-modules

Update early-ways-relax.md
  .changeset/early-ways-relax.md
Due: prettier --write, prettier --write --with-node-modules

feat: wip controllable elements - dom runtime
  .sizes.json
  .sizes/comments.csr/entry.js
  .sizes/comments.ssr/entry.js
  .sizes/counter.csr/entry.js
  .sizes/counter.ssr/entry.js
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/resolve-cursor-position.test.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/dom/preserve-cursor.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/template.marko
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: controllable native elements html runtime
  packages/runtime-tags/src/html/attrs.ts
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/dom.expected/components/checkbox.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/html.expected/components/checkbox.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/components/checkbox.marko
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/template.marko
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/test.ts
  packages/translator-tags/src/__tests__/fixtures/let-tag-controllable-runtime-error/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: add warning about overserialization
  packages/marko/docs/rendering.md
Due: prettier --write, prettier --write --with-node-modules

chore: add changeset
  .changeset/thin-kangaroos-appear.md
Due: prettier --write, prettier --write --with-node-modules

Update message
  packages/marko/docs/rendering.md
Due: prettier --write, prettier --write --with-node-modules

chore: add changeset
  .changeset/mean-pears-shave.md
Due: prettier --write, prettier --write --with-node-modules

fix: use symbol for tag extra member
  packages/translator-tags/src/core/for.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: compiled controllable elements
  .sizes.json
  .sizes/comments.csr/entry.js
  .sizes/comments.ssr/entry.js
  .sizes/counter.csr/entry.js
  .sizes/counter.ssr/entry.js
  .sizes/dom.js
  packages/runtime-tags/src/dom.ts
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/dom.expected/components/checkbox.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/template.marko
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/template.marko
  packages/translator-tags/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: remove duplicate changeHandler when function literal
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/ssr.expected.md
  packages/translator-tags/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
