Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

chore: record agent feedback from building a Marko 6 app
  agent-feedback/dx.md
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): reject for...of/for...in assignment to a tag variable
  .changeset/for-x-tag-var-error.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/error-for-in-tag-var/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-in-tag-var/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-in-tag-var/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-in-tag-var/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-in-tag-var/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-for-in-tag-var/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-for-of-tag-var/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-of-tag-var/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-of-tag-var/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-of-tag-var/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-for-of-tag-var/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-for-of-tag-var/test.ts
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): decode character references in a static textarea body
  .changeset/textarea-entities.md
  agent-feedback/bugs.md
  packages/compiler/babel-utils.d.ts
  packages/compiler/src/babel-plugin/decode-html.js
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/taglib/marko-html.json
  packages/runtime-tags/src/__tests__/fixtures/textarea-entities/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-entities/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-entities/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-entities/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/textarea-entities/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/textarea-entities/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/textarea-entities/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/textarea-entities/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/textarea-entities/template.marko
  packages/runtime-tags/src/__tests__/fixtures/textarea-entities/test.ts
  packages/runtime-tags/src/translator/core/textarea.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): note why comment data is escaped on the server
  agent-feedback/bugs.md
  packages/runtime-tags/src/html/content.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): warn when an Intl.DateTimeFormat will not survive resume
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/intl-datetime-format-lossy/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/intl-datetime-format-lossy/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/intl-datetime-format-lossy/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/intl-datetime-format-lossy/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/intl-datetime-format-lossy/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/intl-datetime-format-lossy/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/intl-datetime-format-lossy/template.marko
  packages/runtime-tags/src/__tests__/fixtures/intl-datetime-format-lossy/test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(compiler): preserve whitespace-preserving tag bodies in source output
  .changeset/preserve-whitespace-printer.md
  agent-feedback/bugs.md
  packages/runtime-class/test/translator/fixtures/html-script-style-tag/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/html-script-style-tag/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/html-script-style-tag/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/html-script-style-tag/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/html-script-style-tag/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/html-script-style-tag/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/html-script-style-tag/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/html-script-style-tag/template.marko
  packages/runtime-class/test/translator/fixtures/placeholders/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/sanity-check/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/script-body-override/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/script-body-override/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/script-body-override/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/script-body-override/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/script-body-override/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/script-body-override/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/script-body-override/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/script-body-override/template.marko
  packages/runtime-class/test/translator/fixtures/svg-tag/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/textarea-tag/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/white-space-test/snapshots/generated-expected.marko
  patches/@babel__generator@7.29.7.patch
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): note why a deferred circular prop moves last in key order
  agent-feedback/bugs.md
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): note why a compat-rendered branch clones in the XHTML namespace
  agent-feedback/bugs.md
  packages/runtime-tags/src/dom/compat.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): note why `_attr_content` does not latch branch machinery
  agent-feedback/bugs.md
  agent-feedback/perf.md
  packages/runtime-tags/src/dom/dom.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): report `checked` with `valueChange` as mutually exclusive
  .changeset/input-checked-value-change-exclusive.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/error-multi-spread-change-handler-not-controllable/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-spread-change-handler-not-controllable/__snapshots__/csr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-spread-change-handler-not-controllable/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-spread-checked-with-value-change/__snapshots__/csr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-spread-checked-with-value-change/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/error-spread-checked-with-value-change/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/error-spread-checked-with-value-change/__snapshots__/ssr.error.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-spread-checked-with-value-change/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-spread-checked-with-value-change/test.ts
  packages/runtime-tags/src/common/errors.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): keep `undefined` in the `<let>` tag variable type
  .changeset/let-undefined-type.md
  packages/runtime-tags/tags/let.d.marko
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): warn when a server-rendered lazy trigger selector misses
  .changeset/lazy-trigger-selector-miss-warning.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event-attrs-update/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event-auto/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event-auto/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event-selector-class/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event-selector-id/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event-unmount-before-load/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-event/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-multi-trigger-attrs-update/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-multi-trigger-fallback/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-multi-trigger-fallback/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-multi-trigger-visible-wins/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-multi-trigger/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-nested-visible-parent/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-attrs-update/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-auto/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-auto/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-parent-resume/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/__snapshots__/diagnostics.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/child.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/template.marko
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible-target-after-flush/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-visible/__snapshots__/writes.debug.html
  packages/runtime-tags/src/html/assets.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

agent-feedback: hoisted const calls drop arguments; async attr-method handlers emit invalid JS
  agent-feedback/bugs.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): pass arguments to a forward-referenced `<const>` function
  .changeset/hoist-forward-const-args.md
  .sizes.json
  .sizes/dom.js
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/const-tag-forward-call/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/const-tag-forward-call/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/const-tag-forward-call/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/const-tag-forward-call/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/const-tag-forward-call/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/const-tag-forward-call/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/const-tag-forward-call/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/const-tag-forward-call/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/const-tag-forward-call/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/const-tag-forward-call/template.marko
  packages/runtime-tags/src/__tests__/fixtures/const-tag-forward-call/test.ts
  packages/runtime-tags/src/__tests__/fixtures/const-tag/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-attr-tag/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-from-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-many/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-minimum-scope/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-same-scope-calls-only/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var-same-scope/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-custom-tag-var/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var-from-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var-many/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-native-tag-var-from-dynamic/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-native-tag-var-many/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-native-tag-var-same-scope/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-native-tag-var/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-only/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/hoist-return-ref/sizes.json
  packages/runtime-tags/src/dom/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): record the hoist generator allocation cost
  agent-feedback/perf.md
Due: prettier --write, prettier --write --with-node-modules

feat: support async shorthand methods
  .changeset/async-attr-method-shorthand.md
  agent-feedback/bugs.md
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
  packages/runtime-class/test/translator/fixtures/attr-method-shorthand-async/components/custom-tag.marko
  packages/runtime-class/test/translator/fixtures/attr-method-shorthand-async/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/attr-method-shorthand-async/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/attr-method-shorthand-async/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/attr-method-shorthand-async/snapshots/htmlProduction-expected.js
  packages/runtime-class/test/translator/fixtures/attr-method-shorthand-async/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/attr-method-shorthand-async/snapshots/vdom-expected.js
  packages/runtime-class/test/translator/fixtures/attr-method-shorthand-async/snapshots/vdomProduction-expected.js
  packages/runtime-class/test/translator/fixtures/attr-method-shorthand-async/template.marko
  packages/runtime-tags/cheatsheet.md
  packages/runtime-tags/src/__tests__/fixtures/attr-method-shorthand-async/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/attr-method-shorthand-async/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/attr-method-shorthand-async/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/attr-method-shorthand-async/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/attr-method-shorthand-async/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/attr-method-shorthand-async/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/attr-method-shorthand-async/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/attr-method-shorthand-async/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/attr-method-shorthand-async/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/attr-method-shorthand-async/template.marko
  packages/runtime-tags/src/__tests__/fixtures/attr-method-shorthand-async/test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

refactor(runtime-tags): trim persisted patch frames to bare scope lists
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-dynamic-attribute/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-dynamic-attribute/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-dynamic-attribute/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-effects/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-text-holes/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-text-holes/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-text-holes/sizes.json
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/dom/patch.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/serializer.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
