Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f codeframe --fix, fixpack

feat(marko): template.stream now returns a whatwg stream in web workers
  packages/marko/src/loader/package.json
  packages/marko/src/runtime/components/beginComponent/package.json
  packages/marko/src/runtime/components/endComponent/package.json
  packages/marko/src/runtime/components/entry/package.json
  packages/marko/src/runtime/components/init-components/package.json
  packages/marko/src/runtime/components/registry/package.json
  packages/marko/src/runtime/components/util/package.json
  packages/marko/src/runtime/html/Template.js
  packages/marko/src/runtime/html/create-readable/index-browser.js
  packages/marko/src/runtime/html/create-readable/index.js
  packages/marko/src/runtime/html/create-readable/package.json
  packages/marko/src/runtime/html/index.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

feat(compiler): use default translator for buildLookup api
  packages/compiler/src/taglib/index.js
Due: prettier --write, eslint -f codeframe --fix

fix: typescript types
  scripts/types-babel-types.mjs
Due: none

fix: typescript types (#1684)
  scripts/types-babel-types.mjs
Due: none

feat(compiler): use default translator for buildLookup api (#1682)
  packages/compiler/src/taglib/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.7.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: add new hydrateIncludeImports option
  packages/compiler/src/config.js
  packages/marko/docs/compiler.md
  packages/translator-default/src/index.js
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-default/test/fixtures/import-hydrate-include/bar.js
  packages/translator-default/test/fixtures/import-hydrate-include/components/baz.marko
  packages/translator-default/test/fixtures/import-hydrate-include/foo.css
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/html-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/template.marko
Due: prettier --write, eslint -f codeframe --fix

feat: add new hydrateIncludeImports option (#1686)
  packages/compiler/src/config.js
  packages/marko/docs/compiler.md
  packages/translator-default/src/index.js
  packages/translator-default/src/util/add-dependencies.js
  packages/translator-default/test/fixtures/import-hydrate-include/bar.js
  packages/translator-default/test/fixtures/import-hydrate-include/components/baz.marko
  packages/translator-default/test/fixtures/import-hydrate-include/foo.css
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/html-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/import-hydrate-include/template.marko
Due: prettier --write, eslint -f codeframe --fix

fix: remove unecessary windows path normalization
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.8.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(compiler): add missing config type definition
  packages/compiler/index.d.ts
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.8.1
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(translator-default): hydrate mode watchFiles missing stateless component, css source map content
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.8.2
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(translator-default): resolve correct production paths with hydrate output
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.8.3
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(translator-default): ignore browser.json with resolveVirtualDependency api
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.8.4
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: expose api to get runtime entry files for translator
  packages/compiler/index.d.ts
  packages/compiler/src/index.js
  packages/translator-default/src/index.js
Due: prettier --write, eslint -f codeframe --fix

feat: expose api to get runtime entry files for translator (#1687)
  packages/compiler/index.d.ts
  packages/compiler/src/index.js
  packages/translator-default/src/index.js
Due: prettier --write, eslint -f codeframe --fix

fix(babel-utils): invalid type for importNamed api
  packages/babel-utils/index.d.ts
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.9.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: inline taglib hooks
  packages/babel-utils/index.d.ts
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-plugin/plugins/migrate.js
  packages/compiler/src/babel-plugin/plugins/transform.js
  packages/compiler/src/taglib/loader/Tag.js
  packages/compiler/src/taglib/loader/Taglib.js
  packages/compiler/src/taglib/loader/Transformer.js
  packages/compiler/src/taglib/loader/loadAttributes.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/compiler/src/taglib/lookup/index.js
  packages/marko/test/taglib-lookup/fixtures/forEachTag/expected.json
  packages/marko/test/taglib-lookup/fixtures/forEachTag/marko.json
  packages/marko/test/taglib-lookup/fixtures/forEachTag/test.js
  packages/marko/test/taglib-lookup/fixtures/transformers-core-only/foo-renderer.js
  packages/marko/test/taglib-lookup/fixtures/transformers-core-only/marko.json
  packages/marko/test/taglib-lookup/fixtures/transformers-core-only/test.js
  packages/marko/test/taglib-lookup/fixtures/transformers/bar-transformer.js
  packages/marko/test/taglib-lookup/fixtures/transformers/expected.js
  packages/marko/test/taglib-lookup/fixtures/transformers/foo-transformer.js
  packages/marko/test/taglib-lookup/fixtures/transformers/marko.json
  packages/marko/test/taglib-lookup/fixtures/transformers/test.js
  packages/translator-default/src/index.js
  packages/translator-default/src/tag/index.js
  packages/translator-default/src/util/optimize-vdom-create.js
Due: prettier --write, eslint -f codeframe --fix

fix: plugin definition type
  packages/babel-utils/index.d.ts
Due: prettier --write, eslint -f codeframe --fix

Feature: Inline Taglib Hooks (#1689)
  packages/babel-utils/index.d.ts
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-plugin/plugins/migrate.js
  packages/compiler/src/babel-plugin/plugins/transform.js
  packages/compiler/src/taglib/loader/Tag.js
  packages/compiler/src/taglib/loader/Taglib.js
  packages/compiler/src/taglib/loader/Transformer.js
  packages/compiler/src/taglib/loader/loadAttributes.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/compiler/src/taglib/lookup/index.js
  packages/marko/test/taglib-lookup/fixtures/forEachTag/expected.json
  packages/marko/test/taglib-lookup/fixtures/forEachTag/marko.json
  packages/marko/test/taglib-lookup/fixtures/forEachTag/test.js
  packages/marko/test/taglib-lookup/fixtures/transformers-core-only/foo-renderer.js
  packages/marko/test/taglib-lookup/fixtures/transformers-core-only/marko.json
  packages/marko/test/taglib-lookup/fixtures/transformers-core-only/test.js
  packages/marko/test/taglib-lookup/fixtures/transformers/bar-transformer.js
  packages/marko/test/taglib-lookup/fixtures/transformers/expected.js
  packages/marko/test/taglib-lookup/fixtures/transformers/foo-transformer.js
  packages/marko/test/taglib-lookup/fixtures/transformers/marko.json
  packages/marko/test/taglib-lookup/fixtures/transformers/test.js
  packages/translator-default/src/index.js
  packages/translator-default/src/tag/index.js
  packages/translator-default/src/util/optimize-vdom-create.js
Due: prettier --write, eslint -f codeframe --fix

feat(marko): leverage new runtime api for node-require hook
  packages/marko/src/node-require/hot-reload.js
  packages/marko/test/hot-reload/fixtures/component-to-template/.gitignore
  packages/marko/test/hot-reload/fixtures/component-to-template/a/component.js
  packages/marko/test/hot-reload/fixtures/component-to-template/a/index.marko
  packages/marko/test/hot-reload/fixtures/component-to-template/b/index.marko
  packages/marko/test/hot-reload/fixtures/component-to-template/initial-expected.html
  packages/marko/test/hot-reload/fixtures/component-to-template/reloaded-expected.html
  packages/marko/test/hot-reload/fixtures/component-to-template/temp/index.marko
  packages/marko/test/hot-reload/fixtures/component-to-template/test.js
  packages/marko/test/hot-reload/fixtures/template-export-component/test.js
  packages/marko/test/hot-reload/fixtures/template-to-component/.gitignore
  packages/marko/test/hot-reload/fixtures/template-to-component/a/index.marko
  packages/marko/test/hot-reload/fixtures/template-to-component/b/component.js
  packages/marko/test/hot-reload/fixtures/template-to-component/b/index.marko
  packages/marko/test/hot-reload/fixtures/template-to-component/initial-expected.html
  packages/marko/test/hot-reload/fixtures/template-to-component/reloaded-expected.html
  packages/marko/test/hot-reload/fixtures/template-to-component/temp/component.js
  packages/marko/test/hot-reload/fixtures/template-to-component/temp/index.marko
  packages/marko/test/hot-reload/fixtures/template-to-component/test.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.10.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(compiler): issue with undefined added to watchFiles
  packages/compiler/index.d.ts
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/taglib/loader/Tag.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.10.1
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(compiler): var name typo
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish v5.10.2
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: pull taglib into bundle (#70)
  package.json
  packages/translator/package.json
  packages/translator/src/analyze/references.ts
  packages/translator/src/core/condition/translate-else-if.ts
  packages/translator/src/core/condition/translate-else.ts
  packages/translator/src/core/condition/translate-if.ts
  packages/translator/src/core/index.ts
  packages/translator/src/core/translate-const.ts
  packages/translator/src/core/translate-for.ts
  packages/translator/src/core/translate-get.ts
  packages/translator/src/core/translate-html-comment.ts
  packages/translator/src/core/translate-let.ts
  packages/translator/src/core/translate-set.ts
  packages/translator/src/core/translate-style.ts
  packages/translator/src/core/translate-tag.ts
  packages/translator/src/core/translate-yield.ts
  packages/translator/src/import-declaration.ts
  packages/translator/src/index.ts
  packages/translator/src/program/index.ts
  packages/translator/src/tag/index.ts
  packages/translator/src/util/runtime.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint -f codeframe --fix, fixpack

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint -f codeframe --fix: any of: *.{js,ts}
  fixpack: any of: ./{,packages/*/}package.json
