Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f codeframe --fix, fixpack

fix(marko): circular dep issue with browser-refresh
  packages/marko/src/node-require/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(babel-utils): update type definitions
  packages/babel-utils/index.d.ts
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: move taglib apis into compiler source code
  packages/compiler/package.json
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/index.js
  packages/compiler/src/taglib/loader/Attribute.js
  packages/compiler/src/taglib/loader/DependencyChain.js
  packages/compiler/src/taglib/loader/Property.js
  packages/compiler/src/taglib/loader/Tag.js
  packages/compiler/src/taglib/loader/Taglib.js
  packages/compiler/src/taglib/loader/Transformer.js
  packages/compiler/src/taglib/loader/cache.js
  packages/compiler/src/taglib/loader/index.js
  packages/compiler/src/taglib/loader/json-file-reader.js
  packages/compiler/src/taglib/loader/loadAttributeFromProps.js
  packages/compiler/src/taglib/loader/loadAttributes.js
  packages/compiler/src/taglib/loader/loadTagFromFile.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromFile.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/compiler/src/taglib/loader/loaders.js
  packages/compiler/src/taglib/loader/scanTagsDir.js
  packages/compiler/src/taglib/loader/tag-def-from-code.js
  packages/compiler/src/taglib/loader/types.js
  packages/compiler/src/taglib/lookup/index.js
  packages/compiler/src/taglib/marko-html.json
  packages/compiler/src/taglib/marko-math.json
  packages/compiler/src/taglib/marko-svg.json
  packages/marko/src/compiler/index.js
  packages/marko/src/node-require/index.js
  packages/marko/src/taglib/index.js
  packages/marko/src/taglib/taglib-lookup/index.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(compiler): add missing dependency after moving taglib code
  packages/compiler/package.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: add some additional missing deps from marko to @marko/compiler
  packages/compiler/package.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: start unbreaking tests (#66)
  packages/translator/src/placeholder/dom.ts
  packages/translator/src/text.ts
  packages/translator/src/util/dom-export.ts
  packages/translator/src/util/dom-writer.ts
  packages/translator/src/util/walks.ts
  packages/translator/test/fixtures/attr-boolean/config.ts
  packages/translator/test/fixtures/attr-boolean/snapshots/dom-compiled-expected.js
  packages/translator/test/fixtures/attr-boolean/snapshots/dom-rendered.expected.md
  packages/translator/test/fixtures/attr-escape/config.ts
  packages/translator/test/fixtures/attr-escape/snapshots/html-rendered-expected.html
  packages/translator/test/fixtures/attr-falsey/config.ts
  packages/translator/test/fixtures/attr-falsey/snapshots/dom-compiled-expected.js
  packages/translator/test/fixtures/attr-falsey/snapshots/dom-rendered.expected.md
  packages/translator/test/fixtures/comments/config.ts
  packages/translator/test/fixtures/comments/snapshots/dom-compiled-expected.js
  packages/translator/test/fixtures/comments/snapshots/dom-rendered.expected.md
  packages/translator/test/fixtures/entities/config.ts
  packages/translator/test/fixtures/entities/snapshots/dom-compiled-expected.js
  packages/translator/test/fixtures/entities/snapshots/dom-rendered.expected.md
  packages/translator/test/fixtures/hello-dynamic/config.ts
  packages/translator/test/fixtures/hello-dynamic/snapshots/dom-compiled-expected.js
  packages/translator/test/fixtures/hello-dynamic/snapshots/dom-rendered.expected.md
  packages/translator/test/fixtures/hello-dynamic/snapshots/html-rendered-expected.html
  packages/translator/test/fixtures/html-entity/config.ts
  packages/translator/test/fixtures/html-entity/snapshots/dom-compiled-expected.js
  packages/translator/test/fixtures/html-entity/snapshots/dom-rendered.expected.md
  packages/translator/test/fixtures/placeholders/config.ts
  packages/translator/test/fixtures/placeholders/snapshots/dom-compiled-expected.js
  packages/translator/test/fixtures/placeholders/snapshots/dom-rendered.expected.md
  packages/translator/test/fixtures/placeholders/snapshots/html-rendered-expected.html
  packages/translator/test/fixtures/style-tag/config.ts
  packages/translator/test/fixtures/style-tag/snapshots/dom-compiled-expected.js
  packages/translator/test/fixtures/style-tag/snapshots/dom-rendered.expected.md
Due: prettier --write, eslint -f codeframe --fix

chore: improve generated package.json output
  rollup.config.js
Due: prettier --write, eslint -f codeframe --fix

fix(marko): issue with MARKO_DEBUG and a const
  packages/marko/src/taglib/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(marko): issue with delegating events from text nodes
  packages/marko/src/runtime/components/event-delegation.js
Due: prettier --write, eslint -f codeframe --fix

chore(release): 4.23.15
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

feat(marko): support lazy loading hydrated components
  packages/marko/src/runtime/components/init-components-browser.js
  packages/marko/src/runtime/components/registry-browser.js
Due: prettier --write, eslint -f codeframe --fix

feat(babel-utils): add api for analyzing template by import path
  packages/babel-utils/index.d.ts
  packages/babel-utils/src/tags.js
  scripts/types-babel-traverse.js
Due: prettier --write, eslint -f codeframe --fix

fix(babel-utils): add missing export
  packages/babel-utils/src/index.js
Due: prettier --write, eslint -f codeframe --fix

fix(babel-utils): loadFileForImport not fully resolving file
  packages/babel-utils/src/tags.js
Due: prettier --write, eslint -f codeframe --fix

feat(translator-fluurt): implement reference analysis for some core tags (#68)
  .eslintrc.json
  package.json
  packages/runtime/src/common/types.ts
  packages/runtime/src/html/writer.ts
  packages/translator/package.json
  packages/translator/src/analyze/index.ts
  packages/translator/src/analyze/nested-attribute-tags.ts
  packages/translator/src/analyze/references.ts
  packages/translator/src/analyze/tag-name-type.ts
  packages/translator/src/core/marko.json
  packages/translator/src/core/translate-for.ts
  packages/translator/src/core/translate-get.ts
  packages/translator/src/util/dom-export.ts
  packages/translator/test/fixtures/at-tags-dynamic/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/const-tag/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/const-tag/snapshots/htmlRendered-expected.html
  packages/translator/test/fixtures/context-tag-from-relative-path/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/context-tag-from-relative-path/snapshots/htmlRendered-expected.html
  packages/translator/test/fixtures/context-tag-from-self/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/context-tag-from-self/snapshots/htmlRendered-expected.html
  packages/translator/test/fixtures/context-tag-from-tag-name/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/context-tag-from-tag-name/snapshots/htmlRendered-expected.html
  packages/translator/test/fixtures/custom-tag-child-analyze/components/hello/transformer.ts
  packages/translator/test/fixtures/custom-tag-var/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/custom-tag-var/snapshots/htmlRendered-expected.html
  packages/translator/test/fixtures/custom-tag-var/template.marko
  packages/translator/test/fixtures/for-tag-with-state/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/for-tag-with-state/snapshots/htmlRendered-expected.html
  packages/translator/test/fixtures/for-tag-with-state/template.marko
  packages/translator/test/fixtures/for-tag-with-state/test.ts
  packages/translator/test/fixtures/for-tag/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/for-tag/snapshots/htmlRendered-expected.html
  packages/translator/test/fixtures/input-tracking/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/input-tracking/snapshots/htmlRendered-expected.html
  packages/translator/test/fixtures/input-tracking/template.marko
  packages/translator/test/fixtures/input-tracking/test.ts
  packages/translator/test/fixtures/tag-tag/snapshots/htmlCompiled-expected.js
  packages/translator/test/fixtures/tag-tag/snapshots/htmlRendered-expected.html
  yarn.lock
Due: prettier --write, eslint -f codeframe --fix, fixpack

feat: initial custom tag
  packages/translator/src/program/dom.ts
  packages/translator/src/tag/custom-tag/dom.ts
  packages/translator/src/tag/custom-tag/html.ts
  packages/translator/src/tag/custom-tag/index.ts
  packages/translator/src/util/dom-export.ts
  packages/translator/src/util/dom-writer.ts
  packages/translator/src/util/walks.ts
  packages/translator/test/fixtures/custom-tag-template/snapshots/domCompiled-expected.js
  packages/translator/test/fixtures/custom-tag-template/snapshots/domRendered.expected.md
  packages/translator/test/fixtures/custom-tag-template/test.ts
  packages/translator/test/fixtures/event-handlers/snapshots/domCompiled-expected.js
  packages/translator/test/fixtures/event-handlers/test.ts
Due: prettier --write, eslint -f codeframe --fix

fix: correct Marko debug mode for ci tests
  packages/compiler/src/babel-plugin/index.js
  packages/marko/env.js
  packages/marko/src/node-require/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: switch to github ci
  .github/workflows/ci.yml
  .travis.yml
  package.json
  packages/marko/README.md
Due: prettier --write, fixpack

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint -f codeframe --fix: any of: *.{js,ts}
  fixpack: any of: ./{,packages/*/}package.json
