Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

chore: publish v5.17.7
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: setTimeout issue in webworkers
  packages/marko/src/runtime/html/BufferedWriter.js
Due: prettier --write, eslint --fix

chore: publish v5.17.8
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: improve error handling in web workers
  packages/marko/src/runtime/html/create-readable/index-browser.js
Due: prettier --write, eslint --fix

chore: publish v5.17.9
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: update packages
  .sizes.json
  package-lock.json
  package.json
Due: prettier --write, fixpack

fix: issue with dynamic tag names not tracking references
  packages/compiler/src/babel-types/types/patch.js
Due: prettier --write, eslint --fix

chore: publish v5.17.10
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: add shorthand for dynamic tag names from identifier
  packages/marko/docs/custom-tags.md
  packages/marko/docs/syntax.md
  packages/marko/test/components-browser/fixtures/dynamic-tag-shorthand/components/test/index.marko
  packages/marko/test/components-browser/fixtures/dynamic-tag-shorthand/index.marko
  packages/marko/test/components-browser/fixtures/dynamic-tag-shorthand/test.js
  packages/translator-default/src/tag/custom-tag.js
Due: prettier --write, eslint --fix

refactor: setLoop helpers don't reserve in the child scope
  .sizes.json
  packages/runtime/src/__tests__/fixtures/create-and-clear-rows-loop-from/browser.ts
  packages/runtime/src/__tests__/fixtures/create-and-clear-rows-loop-in/browser.ts
  packages/runtime/src/__tests__/fixtures/create-and-clear-rows/browser.ts
  packages/runtime/src/__tests__/fixtures/move-and-clear-children/browser.ts
  packages/runtime/src/__tests__/fixtures/move-and-clear-top-level/browser.ts
  packages/runtime/src/__tests__/fixtures/remove-and-add-rows/browser.ts
  packages/runtime/src/__tests__/fixtures/switch-adjacent-only-children/browser.ts
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/reconcile-longest-increasing-subsequence.ts
  packages/runtime/src/dom/renderer.ts
Due: prettier --write, eslint --fix

feat: add shorthand for dynamic tag names from identifier (#1766)
  packages/marko/docs/custom-tags.md
  packages/marko/docs/syntax.md
  packages/marko/test/components-browser/fixtures/dynamic-tag-shorthand/components/test/index.marko
  packages/marko/test/components-browser/fixtures/dynamic-tag-shorthand/index.marko
  packages/marko/test/components-browser/fixtures/dynamic-tag-shorthand/test.js
  packages/translator-default/src/tag/custom-tag.js
Due: prettier --write, eslint --fix

Create troubleshooting-streaming.md (#1755)
  packages/marko/docs/troubleshooting-streaming.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or ((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc}))
  eslint --fix: (any of: *.{js,ts}) or (any of: *.ts)
  fixpack: any of: ./{,packages/*/}package.json
