Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

Renovate README (#1870)
  packages/marko/README.md
Due: prettier --write

fix: replace empty text nodes with zero width joiners (#140)
  .sizes.json
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/signals.ts
  packages/runtime/src/html/content.ts
  packages/translator/src/__tests__/fixtures/let-undefined-until-dom/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/let-undefined-until-dom/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/let-undefined-until-dom/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/let-undefined-until-dom/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/let-undefined-until-dom/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/let-undefined-until-dom/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/let-undefined-until-dom/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/let-undefined-until-dom/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/let-undefined-until-dom/template.marko
  packages/translator/src/__tests__/fixtures/let-undefined-until-dom/test.ts
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/ssr.expected.md
  packages/translator/src/core/let.ts
Due: prettier --write, eslint --fix

fix: change default to value for let and const tag (#144)
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/dom.expected/components/child.js
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/html.expected/components/child.js
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/components/child.marko
  packages/translator/src/__tests__/fixtures/custom-tag-default-value/template.marko
  packages/translator/src/core/const.ts
  packages/translator/src/core/effect.ts
Due: prettier --write, eslint --fix

feat: for tag resuming (#142)
  packages/translator/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/html.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/test.ts
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/for-tag-siblings/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/for-tag-with-state/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/move-and-clear-children/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/move-and-clear-children/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/move-and-clear-children/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/move-and-clear-children/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/move-and-clear-children/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/move-and-clear-children/test.ts
  packages/translator/src/__tests__/fixtures/move-and-clear-top-level/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/move-and-clear-top-level/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/move-and-clear-top-level/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/move-and-clear-top-level/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/move-and-clear-top-level/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/move-and-clear-top-level/test.ts
  packages/translator/src/__tests__/fixtures/remove-and-add-rows/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/remove-and-add-rows/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/remove-and-add-rows/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/remove-and-add-rows/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/remove-and-add-rows/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/remove-and-add-rows/test.ts
  packages/translator/src/core/for.ts
Due: prettier --write, eslint --fix

fix(attrs): replace true with empty string (#146)
  .sizes.json
  packages/runtime/src/dom/dom.ts
  packages/translator/src/__tests__/fixtures/attr-boolean-dynamic/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean-dynamic/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean-dynamic/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/attr-boolean-dynamic/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/attr-boolean-dynamic/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean-dynamic/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean-dynamic/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean-dynamic/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean-dynamic/template.marko
  packages/translator/src/__tests__/fixtures/attr-boolean-dynamic/test.ts
  packages/translator/src/__tests__/fixtures/attr-boolean/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/attr-boolean/test.ts
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/basic-shared-node-ref/__snapshots__/csr.expected.md
Due: prettier --write, eslint --fix

feat: add taglib extensions and type definitions for typescript support
  .changeset/gentle-foxes-knock.md
  packages/babel-utils/index.d.ts
  packages/compiler/src/taglib/loader/Tag.js
  packages/compiler/src/taglib/loader/Taglib.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/marko/index.d.ts
  packages/marko/package.json
  packages/marko/src/core-tags/core/await/index.marko
  packages/translator-default/src/taglib/core/index.js
Due: prettier --write, eslint --fix, fixpack

[ci] format
  packages/babel-utils/index.d.ts
  packages/marko/index.d.ts
Due: prettier --write, eslint --fix

feat: add taglib extensions and type definitions for typescript support (#1885)
  .changeset/gentle-foxes-knock.md
  packages/babel-utils/index.d.ts
  packages/compiler/src/taglib/loader/Tag.js
  packages/compiler/src/taglib/loader/Taglib.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/marko/index.d.ts
  packages/marko/package.json
  packages/marko/src/core-tags/core/await/index.marko
  packages/translator-default/src/taglib/core/index.js
Due: prettier --write, eslint --fix, fixpack

Mention TLS record sizes & MIME sniffing
  packages/marko/docs/troubleshooting-streaming.md
Due: prettier --write

Overhaul Rollup docs
  packages/marko/docs/rollup.md
Due: prettier --write

Mention TLS record sizes & MIME sniffing (#1882)
  packages/marko/docs/troubleshooting-streaming.md
Due: prettier --write

fix: add missing compiler api types
  packages/babel-utils/index.d.ts
Due: prettier --write, eslint --fix

fix: ensure marko type definitions are exposed
  .changeset/brave-beds-juggle.md
  packages/marko/package.json
Due: prettier --write, fixpack

fix: add missing type definition for taglib
  .changeset/cool-carrots-cheat.md
  packages/babel-utils/index.d.ts
Due: prettier --write, eslint --fix

chore: improve typescript support
  .changeset/healthy-pans-remain.md
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/marko/index.d.ts
  packages/marko/src/core-tags/core/await/index.marko
  packages/marko/src/runtime/components/entry/index-browser.js
  packages/marko/src/runtime/components/entry/index.js
Due: prettier --write, eslint --fix

[ci] format
  packages/marko/index.d.ts
Due: prettier --write, eslint --fix

fix: improve state types
  .changeset/nine-years-love.md
  packages/marko/index.d.ts
Due: prettier --write, eslint --fix

chore: improve types
  .changeset/tricky-carrots-dream.md
  packages/marko/index.d.ts
  packages/marko/src/core-tags/core/await/index.marko
  packages/translator-default/src/taglib/core/index.js
Due: prettier --write, eslint --fix

docs: TypeScript usage
  packages/marko/docs/icons/js.svg
  packages/marko/docs/icons/marko.svg
  packages/marko/docs/icons/ts.svg
  packages/marko/docs/structure.json
  packages/marko/docs/typescript.md
Due: prettier --write

chore: add changeset
  .changeset/typescript-was-a-mistake.md
Due: prettier --write

fix: issue with Marko.Component registered too late
  .changeset/eleven-lobsters-pretend.md
  packages/marko/src/runtime/components/entry/index-browser.js
  packages/marko/src/runtime/components/entry/index.js
  packages/marko/src/runtime/html/index.js
  packages/marko/src/runtime/vdom/index.js
Due: prettier --write, eslint --fix

feat: expose default compiler config
  .changeset/fuzzy-bugs-run.md
  packages/compiler/config.d.ts
  packages/compiler/config.js
  packages/compiler/index.d.ts
  packages/compiler/package.json
Due: prettier --write, eslint --fix, fixpack

feat: expose ability to intercept taglib errors
  .changeset/real-laws-walk.md
  package-lock.json
  packages/compiler/index.d.ts
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/config.js
  packages/compiler/src/taglib/config.js
  packages/compiler/src/taglib/finder/index.js
  packages/compiler/src/taglib/fs.js
  packages/compiler/src/taglib/index.js
  packages/compiler/src/taglib/loader/json-file-reader.js
  packages/compiler/src/taglib/loader/loadAttributeFromProps.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/compiler/src/taglib/loader/property-handlers.js
  packages/compiler/src/taglib/loader/scanTagsDir.js
Due: prettier --write, eslint --fix, fixpack

[ci] format
  packages/compiler/index.d.ts
Due: prettier --write, eslint --fix

feat: upgrade javascript parse/generate utils
  packages/marko/package-lock.json
  packages/marko/package.json
  packages/marko/test/async-stream/index.test.js
Due: prettier --write, eslint --fix, fixpack

chore(release): 4.24.7
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

chore(release): 4.25.0
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or ((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc}))
  eslint --fix: (any of: *.{js,ts}) or (any of: *.ts)
  fixpack: any of: ./{,packages/*/}package.json
