Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

feat(runtime-tags): persisted construct wiring (experimental)
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-let-change/test.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): persisted static-list loops resume their marker (experimental)
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-closure/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-closure/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-state/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-state/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static-content/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-loop-static/test.ts
  packages/runtime-tags/src/translator/core/for.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): regenerate snapshots after rebasing on main
  packages/runtime-tags/src/__tests__/fixtures-interop/error-serialize-promise-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-await-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-class-through-tags-to-class/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-inline-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-tag-params-class-to-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-null-after-content/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-closure-deep/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-closure-deep/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-closure-deep/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-closure-derived/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-closure-derived/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-closure-derived/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-state/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-state/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-script-state/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-state/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-state/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-branch-state/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-branch-default/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-branch-default/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-branch-default/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-branch/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-branch/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-controllable-branch/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-nested-flow/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-nested-flow/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-nested-flow/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-only-child-branch/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-only-child-branch/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-only-child-branch/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-shell-holes/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-shell-holes/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-shell-holes/sizes.json
Due: prettier --write, prettier --write --with-node-modules

Drive compiler parser from the @marko/parse CST
  .changeset/cst-parser.md
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/test/error-recovery.test.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

refactor(runtime-tags): derive persisted global guards from the reference graph
  packages/runtime-tags/src/translator/core/script.ts
  packages/runtime-tags/src/translator/util/persisted.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/serialize-reasons.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
  packages/runtime-tags/src/translator/visitors/referenced-identifier.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): normalize the naming flagged by the terminology audit
  agent-feedback/cleanup.md
  packages/runtime-tags/CONTEXT.md
  packages/runtime-tags/src/dom/controllable.ts
  packages/runtime-tags/src/html/serializer.ts
  packages/runtime-tags/src/translator/core/if.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): pass the real branch count at the if translate call sites
  agent-feedback/unclear.md
  packages/runtime-tags/src/__tests__/fixtures/if-else-chain-only-child/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/if-else-chain-only-child/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/if-else-chain-only-child/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/if-else-chain-only-child/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/if-else-chain-only-child/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/if-else-chain-only-child/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/if-else-chain-only-child/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/if-else-chain-only-child/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/if-else-chain-only-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/if-else-chain-only-child/template.marko
  packages/runtime-tags/src/__tests__/fixtures/if-else-chain-only-child/test.ts
  packages/runtime-tags/src/translator/core/if.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): warn in debug when NaN/0n text and style values are dropped
  .changeset/warn-dropped-nan-bigint.md
  agent-feedback/unclear.md
  packages/runtime-tags/src/__tests__/common-helpers.test.ts
  packages/runtime-tags/src/__tests__/html-content.test.ts
  packages/runtime-tags/src/common/errors.ts
  packages/runtime-tags/src/common/helpers.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(compiler): honor a MARKO_AGENT_FIX_GUIDE override for the agent fix-guide
  .changeset/agent-fix-guide-override.md
  agent-feedback/dx.md
  packages/compiler/AGENTS.md
  packages/compiler/src/util/agent-fix-guide.js
  packages/runtime-tags/src/__tests__/agent-fix-guide.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): drop the jsdom characterData mutation-record workaround
  agent-feedback/dx.md
  packages/runtime-tags/src/__tests__/utils/track-mutations.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(scripts): let pnpm run compile tolerate the -- AGENTS.md documents
  agent-feedback/dx.md
  scripts/inspect-compiled-output.mts
Due: prettier --write, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
