Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

docs(agent-feedback): drop the resolved ambiguous-`>` entry and refresh counts
  agent-feedback/dx.md
Due: prettier --write, prettier --write --with-node-modules

build: let a mocha file argument scope the run
  .mocharc.all.json
  .mocharc.json
  AGENTS.md
  agent-feedback/dx.md
  package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

feat(runtime-tags): hold a pending persisted await until it settles
  .sizes.json
  .sizes/comments.csr/runtime.js
  .sizes/comments.ssr/runtime.js
  .sizes/counter.csr/runtime.js
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/test.ts
  packages/runtime-tags/src/dom/patch-boundary.feat.ts
  packages/runtime-tags/src/html/patch.ts
  packages/runtime-tags/src/html/template.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/util/persisted/admission.ts
  packages/runtime-tags/src/translator/util/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(compiler): carry the agent fix guide onto recovered diagnostics
  .changeset/olive-moons-repeat.md
  agent-feedback/dx.md
  packages/compiler/AGENTS.md
  packages/compiler/src/index.js
  packages/compiler/src/util/agent-fix-guide.js
  packages/compiler/test/error-recovery.test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(compiler): record that the fix-guide pointer stays whole-file
  agent-feedback/dx.md
  packages/compiler/src/util/agent-fix-guide.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): deliver persisted await rejections to @catch
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-pending/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-reject-try/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-settled/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-catch-server-read/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-try-nested-await/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-try-placeholder/sizes.json
  packages/runtime-tags/src/common/constants/patch-key.debug.ts
  packages/runtime-tags/src/common/constants/patch-key.ts
  packages/runtime-tags/src/dom/patch-boundary.feat.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/persisted/admission.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(runtime-tags): persist lazy await resolution before and after its frame
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy-client/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/__snapshots__/patches.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/__snapshots__/patches.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-async-await-lazy/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/resolve.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/await.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): park a <for-await> restart until its region resumes
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/template.marko
  packages/runtime-tags/src/__tests__/fixtures/for-await-resume-restart/test.ts
  packages/runtime-tags/src/dom/control-flow.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): state that entries are work, not documentation
  agent-feedback/README.md
Due: prettier --write, prettier --write --with-node-modules

docs(agent-feedback): record what a tag variable self-reference fix has to satisfy
  agent-feedback/unclear.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): diagnose await in sync attr methods
  .changeset/bright-buttons-wait.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/error-attr-method-await/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-attr-method-await/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/error-attr-method-await/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/error-attr-method-await/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/error-attr-method-await/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-attr-method-await/test.ts
  packages/runtime-tags/src/translator/core/script.ts
  packages/runtime-tags/src/translator/util/traverse.ts
  packages/runtime-tags/src/translator/visitors/function.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): allow deferred tag variable self-references
  .changeset/tidy-functions-recur.md
  agent-feedback/unclear.md
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/self-reference-custom-tag/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function-error/__snapshots__/error-compile-dom.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function-error/__snapshots__/error-compile-dom.txt
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function-error/__snapshots__/error-compile-html.debug.txt
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function-error/__snapshots__/error-compile-html.txt
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function-error/template.marko
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function/template.marko
  packages/runtime-tags/src/__tests__/fixtures/self-reference-function/test.ts
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(runtime-tags): cache runtime helper imports
  agent-feedback/perf.md
  packages/runtime-tags/src/translator/util/runtime.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): render dynamic styles in svg
  .changeset/calm-styles-wave.md
  .sizes.json
  .sizes/dom.js
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/template.marko
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/test.ts
  packages/runtime-tags/src/dom/dom.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): document static show handling
  agent-feedback/perf.md
  packages/runtime-tags/src/translator/util/sections.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): document hoist traversal tradeoff
  agent-feedback/perf.md
  packages/runtime-tags/src/dom/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): record head tag mutations
  agent-feedback/dx.md
  packages/runtime-tags/src/__tests__/fixtures/html-style-nonce/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/html-style-nonce/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/html-style/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/html-style/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-comments-strings/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-conditional/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-injection/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-multi/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-selectors/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-shorthand/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-static-mix/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-two-tags/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-escapes/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-unbalanced-closers/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/text-only-tag-escape/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/text-only-tag-escape/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/title-counter/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/title-counter/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/utils/get-node-info.ts
  packages/runtime-tags/src/__tests__/utils/track-mutations.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(runtime-tags): explain unused const evaluation
  agent-feedback/perf.md
  packages/runtime-tags/src/translator/core/const.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
