Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

Update Express docs
  packages/marko/docs/express.md
Due: prettier --write

[ci] format
  packages/marko/docs/express.md
Due: prettier --write

Update Express docs (#1868)
  packages/marko/docs/express.md
Due: prettier --write

Showcase interpolation in shorthand notation
  packages/marko/docs/syntax.md
Due: prettier --write

Showcase interpolation in shorthand notation (#1869)
  packages/marko/docs/syntax.md
Due: prettier --write

Renovate README
  packages/marko/README.md
Due: prettier --write

[ci] format
  packages/marko/README.md
  packages/marko/docs/syntax.md
Due: prettier --write

Update URLs
  .github/CODE_OF_CONDUCT.md
  packages/marko/docs/10-awesome-marko-features.md
  packages/marko/docs/class-components.md
  packages/marko/docs/express.md
  packages/marko/docs/marko-vs-react.md
  packages/marko/docs/styles.md
  packages/marko/docs/troubleshooting-streaming.md
  packages/marko/docs/why-is-marko-fast.md
  packages/marko/package.json
  packages/translator-default/src/taglib/core/index.js
Due: prettier --write, eslint --fix, fixpack

[ci] format
  packages/marko/docs/syntax.md
Due: prettier --write

Update URLs (#1871)
  .github/CODE_OF_CONDUCT.md
  packages/marko/docs/10-awesome-marko-features.md
  packages/marko/docs/class-components.md
  packages/marko/docs/express.md
  packages/marko/docs/marko-vs-react.md
  packages/marko/docs/styles.md
  packages/marko/docs/syntax.md
  packages/marko/docs/troubleshooting-streaming.md
  packages/marko/docs/why-is-marko-fast.md
  packages/marko/package.json
  packages/translator-default/src/taglib/core/index.js
Due: prettier --write, eslint --fix, fixpack

Change wording of “control flow”
  packages/marko/README.md
Due: prettier --write

chore: inline codegen scripts from babel
  package-lock.json
  package.json
  scripts/types-babel-traverse.js
  scripts/types-babel-types.mjs
Due: prettier --write, eslint --fix, fixpack

chore: inline codegen scripts from babel (#1877)
  package-lock.json
  package.json
  scripts/types-babel-traverse.js
  scripts/types-babel-types.mjs
Due: prettier --write, eslint --fix, fixpack

fix: html (#122)
  packages/translator/src/__tests__/fixtures/hello-dynamic/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/placeholders/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/update-html/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/update-html/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/update-html/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/update-html/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/update-html/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/update-html/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/update-html/browser.ts
  packages/translator/src/__tests__/fixtures/update-html/template.marko
  packages/translator/src/__tests__/fixtures/update-html/test.ts
  packages/translator/src/visitors/placeholder.ts
Due: prettier --write, eslint --fix

Fixes lifecycle/effect (#123)
  .sizes.json
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/scope.ts
  packages/translator/src/__tests__/fixtures/let-tag-set-in-effect/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/let-tag-set-in-effect/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/let-tag-set-in-effect/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/let-tag-set-in-effect/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/let-tag-set-in-effect/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/let-tag-set-in-effect/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/let-tag-set-in-effect/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/let-tag-set-in-effect/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/let-tag-set-in-effect/template.marko
  packages/translator/src/__tests__/fixtures/let-tag-set-in-effect/test.ts
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/template.marko
  packages/translator/src/__tests__/fixtures/lifecycle-tag-assignment/test.ts
  packages/translator/src/__tests__/fixtures/lifecycle-tag-this/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-this/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-this/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/lifecycle-tag-this/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/lifecycle-tag-this/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-this/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-this/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-this/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/lifecycle-tag-this/template.marko
  packages/translator/src/__tests__/fixtures/lifecycle-tag-this/test.ts
  packages/translator/src/core/effect.ts
  packages/translator/src/core/lifecycle.ts
Due: prettier --write, eslint --fix

fix: attrs signal subscriber (#125)
  .sizes.json
  packages/runtime/src/common/types.ts
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/scope.ts
  packages/runtime/src/dom/signals.ts
  packages/translator/src/__tests__/fixtures/basic-component-attrs/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/basic-component-renderBody/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/basic-layout/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/__snapshots__/dom.expected/components/display-intersection.js
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/__snapshots__/html.expected/components/display-intersection.js
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/components/display-intersection.marko
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/template.marko
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/test.ts
  packages/translator/src/__tests__/fixtures/context-tag-from-tag-name/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/custom-tag-render-body/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/custom-tag-template/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/event-handlers/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/native-tag-ref-effect-child/__snapshots__/dom.expected/template.js
  packages/translator/src/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix

fix: ensure delimeter added when scripts merged across async writers
  .changeset/purple-cameras-sit.md
  packages/marko/src/runtime/html/StringWriter.js
  packages/marko/test/components-server/fixtures/scriptConcat/template.marko
  packages/marko/test/components-server/fixtures/scriptConcat/test.js
Due: prettier --write, eslint --fix

fix: ensure delimeter added when scripts merged across async writers (#1880)
  .changeset/purple-cameras-sit.md
  packages/marko/src/runtime/html/StringWriter.js
  packages/marko/test/components-server/fixtures/scriptConcat/template.marko
  packages/marko/test/components-server/fixtures/scriptConcat/test.js
Due: prettier --write, eslint --fix

fix: event listeners are now active by default (#133)
  .sizes.json
  packages/runtime/src/dom/event.ts
Due: prettier --write, eslint --fix

fix: use staticNodeFragment by default, associate non-default fragments with renderers (#134)
  .sizes.json
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/fragment.ts
  packages/runtime/src/dom/reconcile-domdiff.ts
  packages/runtime/src/dom/reconcile-listdiff.ts
  packages/runtime/src/dom/reconcile-longest-increasing-subsequence.ts
  packages/runtime/src/dom/renderer.ts
  packages/translator/src/__tests__/fixtures/toggle-nested/browser.ts
Due: prettier --write, eslint --fix

chore: bundle html runtime helpers used by translator
  packages/translator/esbuild.ts
  packages/translator/src/util/runtime.ts
Due: prettier --write, eslint --fix

chore: bundle html runtime helpers used by translator (fix)
  packages/translator/esbuild.ts
Due: prettier --write, eslint --fix

fix: serialize intersections (#136)
  packages/translator/src/__tests__/fixtures/attr-class/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/basic-converge-in-if/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/basic-converge-in-if/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/basic-converge-in-if/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/html.expected/components/comments.js
  packages/translator/src/__tests__/fixtures/basic-inert-collapsible-tree/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/__snapshots__/html.expected/components/display-intersection.js
  packages/translator/src/__tests__/fixtures/component-attrs-intersection/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/counter-intersection/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/counter-intersection/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/counter-intersection/__snapshots__/dom.expected/template.js
  packages/translator/src/__tests__/fixtures/counter-intersection/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/counter-intersection/__snapshots__/hydrate-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/counter-intersection/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/counter-intersection/__snapshots__/ssr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/counter-intersection/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/counter-intersection/template.marko
  packages/translator/src/__tests__/fixtures/counter-intersection/test.ts
  packages/translator/src/__tests__/fixtures/custom-tag-var-multiple/__snapshots__/html.expected/components/child.js
  packages/translator/src/__tests__/fixtures/custom-tag-var-multiple/__snapshots__/hydrate.expected.md
  packages/translator/src/__tests__/fixtures/custom-tag-var-multiple/__snapshots__/ssr.expected.md
  packages/translator/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/if-tag/__snapshots__/html.expected/template.js
  packages/translator/src/__tests__/fixtures/user-effect-cleanup/__snapshots__/html.expected/template.js
  packages/translator/src/util/signals.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or ((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc}))
  eslint --fix: (any of: *.{js,ts}) or (any of: *.ts)
  fixpack: any of: ./{,packages/*/}package.json
