Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

test: reuse compiled code across test contexts and processes
  packages/runtime-tags/src/__tests__/utils/import-with-context.ts
  scripts/ts-hooks/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): require the resumed page and client render to settle alike
  agent-feedback/items/2026-09-30-apply-a-select-value-to-options-inserted-after-it-renders.md
  agent-feedback/items/2026-09-30-do-not-report-an-untouched-select-s-default-pick-on-resume.md
  agent-feedback/items/2026-09-30-keep-a-controlled-select-value-when-its-options-render-later.md
  agent-feedback/items/2026-09-30-run-a-branch-s-effects-in-the-same-order-on-mount-and-resume.md
  agent-feedback/items/2026-09-30-serialize-an-id-fallback-so-resume-does-not-mint-a-new-one.md
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-self-interactive-split-tags-to-class/test.ts
  packages/runtime-tags/src/__tests__/fixtures/await-closure-changed-by-script/test.ts
  packages/runtime-tags/src/__tests__/fixtures/await-closure-in-order/test.ts
  packages/runtime-tags/src/__tests__/fixtures/await-if-removed-while-pending/test.ts
  packages/runtime-tags/src/__tests__/fixtures/await-in-order-holds-reordered-effects/test.ts
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-late-options/test.ts
  packages/runtime-tags/src/__tests__/fixtures/destroy-nested-branches/test.ts
  packages/runtime-tags/src/__tests__/fixtures/dollar-global-client-not-serialized-condition/test.ts
  packages/runtime-tags/src/__tests__/fixtures/dollar-global-client-not-serialized/test.ts
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-native-variants/test.ts
  packages/runtime-tags/src/__tests__/fixtures/for-tag-misnested-body-resume/test.ts
  packages/runtime-tags/src/__tests__/fixtures/hoist-native-tag-var-from-dynamic/test.ts
  packages/runtime-tags/src/__tests__/fixtures/html-comment-empty-dynamic/test.ts
  packages/runtime-tags/src/__tests__/fixtures/html-comment-marker-prefix-text/test.ts
  packages/runtime-tags/src/__tests__/fixtures/id-tag-default/test.ts
  packages/runtime-tags/src/__tests__/fixtures/if-member-expression-intersection/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-closure-scopes-reused-in-later-flush/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-entry-error/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-load-error-nested-placeholder/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-parent-conflicting-triggers/test.ts
  packages/runtime-tags/src/__tests__/fixtures/lazy-tag-shared-with-eager/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/test.ts
  packages/runtime-tags/src/__tests__/fixtures/try-catch-async-select-value/test.ts
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-select-value/test.ts
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-stateful-live-until-swap/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/track-mutations.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): move a fixture's SSR and CSR runs into utils/render
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/render.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): sweep every fixture through host content it must not notice
  .sizes.json
  .sizes/comments.csr/entry.js
  .sizes/comments.ssr/entry.js
  .sizes/counter.csr/entry.js
  .sizes/counter.ssr/entry.js
  agent-feedback/items/2026-09-30-flush-a-class-lazy-import-s-assets-under-a-tags-page.md
  agent-feedback/items/2026-09-30-keep-a-nested-dynamic-style-s-values-on-the-client.md
  agent-feedback/items/2026-09-30-keep-init-components-hydration-under-a-tags-parent.md
  agent-feedback/items/2026-09-30-report-a-checkable-value-binding-once.md
  agent-feedback/items/2026-09-30-serialize-a-class-renderer-a-stateful-dynamic-tag-picks.md
  agent-feedback/items/2026-09-30-serialize-a-placeholder-s-promise-inside-a-parent-s-if.md
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checkbox-value-binding/test.ts
  packages/runtime-tags/src/__tests__/fixtures/id-tag/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-comments-strings/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-injection/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-multi/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-selectors/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-shorthand/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-static-mix/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-svg/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-two-tags/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-escapes/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-unbalanced-closers/test.ts
  packages/runtime-tags/src/__tests__/fixtures/try-placeholder-promise-settles-after-sibling-catch/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/render.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test(runtime-tags): fuzz generated templates against oracles that need no snapshots
  AGENTS.md
  agent-feedback/items/2026-09-30-insert-show-content-without-losing-its-anchor.md
  agent-feedback/items/2026-09-30-resume-a-tag-body-s-sibling-branch-inside-a-loop.md
  agent-feedback/items/2026-09-30-separate-a-tag-body-s-leading-text-from-the-text-before-it.md
  package.json
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/src/__tests__/fuzz/check.ts
  packages/runtime-tags/src/__tests__/fuzz/cli.ts
  packages/runtime-tags/src/__tests__/fuzz/generate.ts
  packages/runtime-tags/src/__tests__/fuzz/shrink.ts
  packages/runtime-tags/src/__tests__/utils/bundle.ts
  packages/runtime-tags/src/__tests__/utils/embed-test-transform.ts
  packages/runtime-tags/src/__tests__/utils/get-node-info.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

docs(agent-feedback): share a value between sibling lazy tags through their common parent
  agent-feedback/items/2026-09-30-share-a-value-between-sibling-lazy-tags-through-their-common-parent.md
Due: prettier --write, prettier --write --with-node-modules

refactor(runtime-tags): keep a binding's upstream expressions on the binding
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): record which tag renders a branch section in place
  packages/runtime-tags/CONTEXT.md
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/core/try.ts
  packages/runtime-tags/src/translator/util/branch-tag.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/program/dom.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): address every tag by one node binding
  agent-feedback/items/2026-07-02-extend-only-child-marker-elision-to-await-try.md
  packages/runtime-tags/CONTEXT.md
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/html-comment.ts
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/core/show.ts
  packages/runtime-tags/src/translator/core/style.ts
  packages/runtime-tags/src/translator/core/try.ts
  packages/runtime-tags/src/translator/util/branch-tag.ts
  packages/runtime-tags/src/translator/util/insertion-context.ts
  packages/runtime-tags/src/translator/util/is-only-child-in-parent.ts
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): read what analysis knows of a tag from its facts
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/src/translator/core/return.ts
  packages/runtime-tags/src/translator/util/is-core-tag.ts
  packages/runtime-tags/src/translator/util/is-non-html-text.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/util/tag-facts.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
  packages/runtime-tags/src/translator/visitors/text.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): record a section's children when it starts
  packages/runtime-tags/src/translator/util/sections.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor(runtime-tags): run finalize as named passes
  packages/runtime-tags/src/translator/util/finalize-references.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/serialize-propagation.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs(agent-feedback): file two writer invariants to simplify the flush
  agent-feedback/items/2026-09-30-render-due-placeholders-before-the-writer-walks-its-chunks.md
  agent-feedback/items/2026-09-30-render-nothing-under-an-aborted-boundary-and-keep-its-state.md
Due: prettier --write, prettier --write --with-node-modules

docs(agent-feedback): file caught-try leaks and the reorder loop's abort rechecks
  agent-feedback/items/2026-09-30-drop-a-caught-body-s-settled-reorder-content.md
  agent-feedback/items/2026-09-30-skip-class-to-tags-renders-under-a-caught-try.md
  agent-feedback/items/2026-09-30-stop-rechecking-every-waiting-reorder-for-an-abort.md
Due: prettier --write, prettier --write --with-node-modules

docs(agent-feedback): hold Class component init under a caught Tags try
  agent-feedback/items/2026-09-30-hold-class-component-init-under-a-caught-tags-try.md
Due: prettier --write, prettier --write --with-node-modules

docs(agent-feedback): file lazy channel order and a same-flush caught subscription
  agent-feedback/items/2026-09-30-let-lazy-content-read-a-value-lazy-content-nested-in-it-serialized-first.md
  agent-feedback/items/2026-09-30-undo-a-caught-body-s-effect-subscription-in-the-flush-its-catch-streams-in.md
Due: prettier --write, prettier --write --with-node-modules

refactor(runtime-tags): name the value graph for what derives from what
  agent-feedback/items/2026-07-22-make-a-params-binding-identifiable-from-binding-type.md
  agent-feedback/items/2026-08-21-narrow-dynamic-tag-content-registration-to-statically-known.md
  agent-feedback/items/2026-09-23-decide-an-attribute-function-s-registration-by-its-path.md
  packages/runtime-tags/CONTEXT.md
  packages/runtime-tags/RESUMABILITY.md
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/core/const.ts
  packages/runtime-tags/src/translator/core/define.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/id.ts
  packages/runtime-tags/src/translator/core/let.ts
  packages/runtime-tags/src/translator/util/binding-has-prop.ts
  packages/runtime-tags/src/translator/util/bindings.ts
  packages/runtime-tags/src/translator/util/branch-tag.ts
  packages/runtime-tags/src/translator/util/finalize-references.ts
  packages/runtime-tags/src/translator/util/for-selector.ts
  packages/runtime-tags/src/translator/util/get-declared-binding-expression.ts
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/util/read-replacement.ts
  packages/runtime-tags/src/translator/util/reasons.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/util/set-tag-derived-from.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/util/solve-reasons.ts
  packages/runtime-tags/src/translator/util/sources.ts
  packages/runtime-tags/src/translator/util/translate-var.ts
  packages/runtime-tags/src/translator/visitors/tag/attribute-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
