Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

fix: upgrade htmljs-parser
  .changeset/grumpy-donkeys-fry.md
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
  packages/runtime-class/test/render/fixtures/body-placeholder-literal2/vdom-expected.html
  packages/runtime-class/test/render/fixtures/dynamic-tag-layout/test.js
  packages/runtime-class/test/render/fixtures/include-dynamic/test.js
  packages/runtime-class/test/render/fixtures/include-layout-data-attrs/test.js
  packages/runtime-class/test/render/fixtures/include-layout-data/test.js
  packages/runtime-class/test/render/fixtures/include-layout-v3-compat/test.js
  packages/runtime-class/test/render/fixtures/include-layout/test.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: issue with typed attr bindings
  .changeset/floppy-houses-design.md
  packages/compiler/src/babel-plugin/index.js
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/dom.expected/tags/my-let.js
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/dom.expected/tags/my-tag.js
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/html.expected/tags/my-let.js
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/html.expected/tags/my-tag.js
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/tags/my-let.marko
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/tags/my-tag.marko
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/template.marko
  packages/runtime-tags/src/__tests__/fixtures/return-tag-bind-type-casting/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: skip request/response serialize tests in older node versions
  packages/runtime-tags/src/__tests__/serializer.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: add "did you mean" for invalid tags
  package-lock.json
  packages/runtime-tags/package.json
  packages/runtime-tags/src/__tests__/fixtures/error-custom-tag-not-found/__snapshots__/dom.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/error-custom-tag-not-found/__snapshots__/html.expected/template.error.txt
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: add changeset
  .changeset/eleven-oranges-clean.md
Due: prettier --write, prettier --write --with-node-modules

fix: npm registry
  package-lock.json
Due: prettier --write, prettier --write --with-node-modules

feat: add "did you mean" for invalid tags (#3114)
  .changeset/eleven-oranges-clean.md
  package-lock.json
  packages/runtime-tags/package.json
  packages/runtime-tags/src/__tests__/fixtures/error-custom-tag-not-found/__snapshots__/dom.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/error-custom-tag-not-found/__snapshots__/html.expected/template.error.txt
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: upgrade deps
  .changeset/eager-jobs-roll.md
  .sizes.json
  .sizes/dom.js
  package-lock.json
  package.json
  packages/compiler/src/babel-utils/tags.js
  packages/compiler/src/taglib/loader/json-file-reader.js
  packages/compiler/src/taglib/loader/loadTagFromProps.js
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/compiler/src/taglib/loader/scanTagsDir.js
  packages/runtime-class/package.json
  packages/runtime-class/src/runtime/components/Component.js
  packages/runtime-class/src/runtime/vdom/morphdom/index.js
  packages/runtime-class/test/components-browser/fixtures/component-preserve-all-state-when-rendered-in-loop/test.js
  packages/runtime-class/test/components-browser/fixtures/preserve-component-transcluded-autokey/test.js
  packages/runtime-class/test/components-browser/fixtures/preserve-component-transcluded-userkey/test.js
  packages/runtime-class/test/components-browser/fixtures/preserve-dom-body-no-id/test.js
  packages/runtime-class/test/components-browser/fixtures/preserve-dom-body-shared-key/test.js
  packages/runtime-class/test/components-browser/fixtures/preserve-dom-body/test.js
  packages/runtime-class/test/components-browser/fixtures/preserve-dom-conditional-before/test.js
  packages/runtime-class/test/components-browser/fixtures/preserve-dom-loop/test.js
  packages/runtime-class/test/components-browser/fixtures/preserve-dom-no-id/test.js
  packages/runtime-class/test/components-browser/fixtures/preserve-dom-transcluded-autokey/test.js
  packages/runtime-class/test/components-browser/fixtures/preserve-dom-transcluded-userkey/test.js
  packages/runtime-class/test/components-browser/fixtures/preserve-dom/test.js
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/dom/walker.ts
  packages/runtime-tags/src/html/dynamic-tag.ts
  packages/runtime-tags/src/html/serializer.ts
  packages/runtime-tags/src/translator/util/references.ts
  scripts/babel-plugin-marko-debug.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: avoid loading babel configs when babel is missing
  .changeset/full-turtles-pull.md
  packages/compiler/src/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: internal babel package overrides
  .changeset/solid-cats-cut.md
  scripts/pkg-override.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: add translator facade
  .changeset/dirty-meteors-send.md
  packages/runtime-tags/package.json
  packages/runtime-tags/translator.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

feat: add spell checking
  cspell.json
  package-lock.json
  package.json
  packages/compiler/src/taglib/loader/loadTaglibFromProps.js
  packages/runtime-class/docs/class-components.md
  packages/runtime-class/docs/troubleshooting-streaming.md
  packages/runtime-class/index.d.ts
  packages/runtime-class/src/node_modules/@internal/components-define-widget-legacy/index-browser.js
  packages/runtime-class/src/runtime/components/renderer.js
  packages/runtime-class/src/taglib/index.js
  packages/runtime-class/src/translator/taglib/core/index.js
  packages/runtime-class/src/translator/taglib/core/transform-style.js
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/index.d.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/dynamic-tag.ts
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

Fix typo in custom-tags.md regarding Marko
  packages/runtime-class/docs/custom-tags.md
Due: prettier --write, prettier --write --with-node-modules

fix: preserve whitespace in tag body
  packages/runtime-class/test/api-compiler/fixtures/source-output-preserves-adjacent-text/expected.marko
  packages/runtime-class/test/api-compiler/fixtures/source-output-preserves-adjacent-text/template.marko
  packages/runtime-class/test/api-compiler/fixtures/source-output-preserves-adjacent-text/test.js
  patches/@babel+generator+7.29.1.patch
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: support bound attr modifiers
  .changeset/large-files-say.md
  package-lock.json
  packages/compiler/src/babel-plugin/parser.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/dom.expected/tags/custom-input.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/html.expected/tags/custom-input.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/tags/custom-input.marko
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/template.marko
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-member-modifier-value/test.ts
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/template.marko
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-value/test.ts
  packages/runtime-tags/src/translator/interop/feature-detection.ts
  packages/runtime-tags/src/translator/visitors/program/pre-analyze.ts
  packages/runtime-tags/src/translator/visitors/tag/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: whitespace for adjacent text-like nodes
  packages/runtime-class/test/api-compiler/fixtures/source-output-preserves-adjacent-text/expected.marko
  packages/runtime-class/test/api-compiler/fixtures/source-output-preserves-adjacent-text/template.marko
  packages/runtime-class/test/api-compiler/fixtures/source-output-preserves-adjacent-text/test.js
  packages/runtime-class/test/translator/fixtures/custom-tag-parameters/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/data-marko-implicit-component/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/data-migration/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/data-reassigned/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/for-tag/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/macros/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/placeholders/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/sanity-check/snapshots/generated-expected.marko
  packages/runtime-class/test/translator/fixtures/scriptlet-line-block/snapshots/generated-expected.marko
  patches/@babel+generator+7.29.1.patch
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: clean up patch
  patches/@babel+generator+7.29.1.patch
Due: none

fix: readablestream test
  packages/runtime-tags/src/__tests__/serializer.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: also check js files
  cspell.json
  package.json
  packages/compiler/src/taglib/loader/loadAttributeFromProps.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: add changeset
  .changeset/fresh-candles-accept.md
Due: prettier --write, prettier --write --with-node-modules

fix: improve warnings for invalid attribute names
  .changeset/plain-mirrors-smell.md
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-html-attr-name/__snapshots__/dom.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-html-attr-name/__snapshots__/html.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-html-attr-name/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-html-attr-name/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-modifier-name/__snapshots__/dom.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-modifier-name/__snapshots__/html.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-modifier-name/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-modifier-name/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-user-attr-name/__snapshots__/dom.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-user-attr-name/__snapshots__/html.expected/template.error.txt
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-user-attr-name/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-invalid-user-attr-name/test.ts
  packages/runtime-tags/src/common/helpers.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/translator/visitors/program/pre-analyze.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: update types for <button>
  .changeset/thick-goats-dress.md
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
