Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

chore: backport changes to Class API
  packages/runtime-class/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: enumerate all variants for 'command'
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: prettier fix
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/lemon-dolls-fetch.md
Due: prettier --write, prettier --write --with-node-modules

fix: add media to meta tag types
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: optimized pruned assigned tag vars
  .changeset/curly-rats-show.md
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/assign-destructured-reduced/tags/child.marko
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid zwj strings
  .changeset/social-badgers-study.md
  .sizes/name-cache.json
  packages/runtime-tags/src/__tests__/resolve-cursor-position.test.ts
  packages/runtime-tags/src/dom/resolve-cursor-position.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: improve class/tag interop with renderer apis
  .changeset/honest-facts-find.md
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/dom.expected/tags/hello.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-class-in-components-in-tags-dir/__snapshots__/html.expected/tags/hello.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-events-tags-to-class/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-events-tags-to-class/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-nested-tags-to-class/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-nested-tags-to-class/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-stateless-tags-to-class/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-stateless-tags-to-class/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-tag-params-tags-to-class/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-tag-params-tags-to-class/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add runtime-tags based agents docs
  opencode.json
  packages/runtime-tags/AGENTS.md
Due: prettier --write, prettier --write --with-node-modules

chore: cleanup types, improve code reuse, drop dead code
  packages/compiler/babel-utils.d.ts
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/src/common/helpers.ts
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/html/for.ts
  packages/runtime-tags/src/html/template.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/await.ts
  packages/runtime-tags/src/translator/core/const.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/html-comment.ts
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/core/lifecycle.ts
  packages/runtime-tags/src/translator/core/script.ts
  packages/runtime-tags/src/translator/core/try.ts
  packages/runtime-tags/src/translator/interop/build-aggregate-error.ts
  packages/runtime-tags/src/translator/interop/index.ts
  packages/runtime-tags/src/translator/util/generate-uid.ts
  packages/runtime-tags/src/translator/util/get-compile-stage.ts
  packages/runtime-tags/src/translator/util/get-declared-binding-expression.ts
  packages/runtime-tags/src/translator/util/get-root.ts
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/util/nested-attribute-tags.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/resolve-relative-to-entry.ts
  packages/runtime-tags/src/translator/util/scope-read.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/util/serialize-reasons.ts
  packages/runtime-tags/src/translator/util/set-tag-sections-downstream.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/util/state.ts
  packages/runtime-tags/src/translator/util/translate-attrs.ts
  packages/runtime-tags/src/translator/util/translate-var.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
  packages/runtime-tags/src/translator/visitors/program/pre-analyze.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: cleanup types, improve code reuse, drop dead code
  packages/runtime-tags/src/__tests__/fixtures/rest-tag-var/index.marko
  packages/runtime-tags/src/__tests__/fixtures/rest-tag-var/test.js
  packages/runtime-tags/src/__tests__/main.test.ts
  patches/mocha+11.7.5.patch
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: improve test suite to run hydrate entry
  packages/runtime-tags/src/__tests__/fixtures/async-deep-recursive/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/async-reject-then-resolve-isolated-boundaries/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/async-reorder-nested-batched-resolve/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-closure-inert/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/catch-single-reject-async/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/placeholder-single/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/placeholders-nested/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: expose type definition for internal babel file
  .changeset/giant-apes-juggle.md
  packages/compiler/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

chore: improve agent files
  AGENTS.md
  CLAUDE.md
  opencode.json
  packages/runtime-class/AGENTS.md
  packages/runtime-tags/AGENTS.md
Due: prettier --write, prettier --write --with-node-modules

fix: nullish branch keys
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/dom/scope.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/dull-cobras-sort.md
Due: prettier --write, prettier --write --with-node-modules

fix(try): empty <@catch>
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/template.marko
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/test.ts
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: serialize as 0
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/catch-empty-reject-async/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/dom/scope.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Improve AGENTS.md test guidance
  packages/runtime-tags/AGENTS.md
Due: prettier --write, prettier --write --with-node-modules

fix: use public api for taglib lookup
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: use enum replacement instead of mangled properties for prop minification
  .changeset/quick-candies-type.md
  packages/runtime-tags/AGENTS.md
  packages/runtime-tags/src/common/accessor.debug.ts
  packages/runtime-tags/src/common/accessor.ts
  packages/runtime-tags/src/common/helpers.ts
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/dom/compat.ts
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/dom/queue.ts
  packages/runtime-tags/src/dom/renderer.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/dom/template.ts
  packages/runtime-tags/src/html/compat.ts
  packages/runtime-tags/src/html/dynamic-tag.ts
  packages/runtime-tags/src/html/template.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: switch bundling and test snapshots to use rolldown
  .changeset/big-tables-drop.md
  .sizes.json
  .sizes/comments.csr/entry.js
  .sizes/comments.csr/runtime.js
  .sizes/comments.ssr/entry.js
  .sizes/comments.ssr/runtime.js
  .sizes/counter.csr/entry.js
  .sizes/counter.csr/runtime.js
  .sizes/counter.ssr/entry.js
  .sizes/counter.ssr/runtime.js
  .sizes/dom.js
  .sizes/name-cache.json
  package-lock.json
  package.json
  packages/compiler/scripts/bundle-babel.mts
  packages/runtime-tags/package.json
  packages/runtime-tags/scripts/build-plugins/debug.mts
  packages/runtime-tags/scripts/build-plugins/decl-hoist.mts
  packages/runtime-tags/scripts/bundle.mts
  packages/runtime-tags/scripts/bundle.ts
  packages/runtime-tags/src/__tests__/common-helpers.test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/bundle.ts
  packages/runtime-tags/src/common/helpers.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/dom/event.ts
  packages/runtime-tags/src/dom/queue.ts
  packages/runtime-tags/src/dom/scope.ts
  packages/runtime-tags/src/dom/walker.ts
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/translator/util/normalize-string-expression.ts
  packages/runtime-tags/src/translator/util/walks.ts
  packages/runtime-tags/src/translator/util/writer.ts
  scripts/inspect-compiled-output.ts
  scripts/sizes.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

Fully escape raw template parts for normalized strings
  packages/runtime-tags/src/translator/util/normalize-string-expression.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: mutable dynamic tag tag var without branches
  .changeset/dark-foxes-turn.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-var-assignment/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: remove unused test hooks api
  packages/runtime-tags/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: avoid referencing global in test fixture
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-name/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: root implicit split component hydrate
  .changeset/five-bottles-invent.md
  packages/runtime-class/src/translator/util/add-dependencies.js
  packages/runtime-class/test/translator/fixtures/error-duplicate-event-handlers/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/error-event-handler-value/snapshots/hydrate-expected.js
  packages/runtime-class/test/translator/fixtures/event-handlers/snapshots/hydrate-expected.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-handler-render-body-tags-to-class/__snapshots__/dom.expected/template.hydrate.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: incorrect decl hoisting in prod runtime build
  .changeset/red-deserts-type.md
  packages/runtime-tags/scripts/build-plugins/decl-hoist.mts
Due: prettier --write, prettier --write --with-node-modules

chore: update template exports test to be simpler
  packages/runtime-tags/src/__tests__/fixtures/basic-export/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/basic-export/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/basic-export/__snapshots__/dom.expected/exporter.js
  packages/runtime-tags/src/__tests__/fixtures/basic-export/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/basic-export/__snapshots__/html.expected/exporter.js
  packages/runtime-tags/src/__tests__/fixtures/basic-export/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/basic-export/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/basic-export/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/basic-export/exporter.marko
  packages/runtime-tags/src/__tests__/fixtures/basic-export/template.marko
  packages/runtime-tags/src/__tests__/fixtures/basic-export/test.ts
  packages/runtime-tags/src/__tests__/fixtures/error-return-write/__snapshots__/dom.expected/template.hydrate.js
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid tsc on dist files, improve some types
  .changeset/cool-pandas-look.md
  .sizes/comments.csr/runtime.js
  package-lock.json
  package.json
  packages/compiler/babel-types.d.ts
  packages/compiler/register.d.ts
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/tags-html.d.ts
  packages/runtime-tags/tsconfig.json
  tsconfig.build.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
