Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

fix: improve taglib merging with undefined
  .changeset/cool-spoons-confess.md
  packages/compiler/src/taglib/loader/Tag.js
  packages/compiler/src/taglib/lookup/index.js
Due: prettier --write, eslint --fix

fix: deleting error properties regression
  .changeset/twenty-beers-repeat.md
  packages/compiler/src/util/build-code-frame.js
Due: prettier --write, eslint --fix

fix: named component classes deprecate instead of error
  .changeset/four-elephants-sell.md
  packages/translator-default/src/taglib/core/parse-class.js
Due: prettier --write, eslint --fix

chore: update test runner to capture diagnostic snapshots
  packages/compiler/test/index.test.js
  packages/translator-default/test/fixtures/data-migration/snapshots/generated-expected.diagnostics.txt
  packages/translator-default/test/fixtures/error-class-with-name/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/error-class-with-name/snapshots/generated-expected.diagnostics.txt
  packages/translator-default/test/fixtures/error-class-with-name/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/error-class-with-name/snapshots/html-expected.js
  packages/translator-default/test/fixtures/error-class-with-name/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/error-class-with-name/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/error-class-with-name/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/error-class-with-name/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix

feat: move <macro> tag validation to translate stage
  .changeset/afraid-boxes-repeat.md
  packages/babel-utils/index.d.ts
  packages/babel-utils/src/index.js
  packages/babel-utils/src/tags.js
  packages/compiler/src/babel-plugin/index.js
  packages/translator-default/src/taglib/core/macro/parse.js
  packages/translator-default/src/taglib/core/macro/translate.js
  packages/translator-default/test/fixtures/error-macro-invalid-attributes/snapshots/cjs-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-invalid-attributes/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/error-macro-invalid-attributes/snapshots/html-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-invalid-attributes/snapshots/htmlProduction-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-invalid-attributes/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/error-macro-invalid-attributes/snapshots/vdom-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-invalid-attributes/snapshots/vdomProduction-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-invalid-name-attribute/snapshots/cjs-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-invalid-name-attribute/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/error-macro-invalid-name-attribute/snapshots/html-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-invalid-name-attribute/snapshots/htmlProduction-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-invalid-name-attribute/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/error-macro-invalid-name-attribute/snapshots/vdom-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-invalid-name-attribute/snapshots/vdomProduction-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-missing-name/snapshots/cjs-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-missing-name/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/error-macro-missing-name/snapshots/html-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-missing-name/snapshots/htmlProduction-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-missing-name/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/error-macro-missing-name/snapshots/vdom-error-expected.txt
  packages/translator-default/test/fixtures/error-macro-missing-name/snapshots/vdomProduction-error-expected.txt
Due: prettier --write, eslint --fix

fix: @marko/register source maps
  .changeset/witty-actors-search.md
  package-lock.json
  packages/babel-utils/src/tags.js
  packages/compiler/package.json
  packages/compiler/src/index.js
  packages/compiler/src/register.js
Due: prettier --write, eslint --fix, fixpack

chore: tsx to babel, move bundle scripts into pkgs
  .c8rc.json
  .mocharc.json
  package-lock.json
  package.json
  packages/runtime/package.json
  packages/runtime/scripts/bundle.ts
  packages/translator-interop/package.json
  packages/translator/package.json
  packages/translator/scripts/bundle.ts
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/csr-sanitized.expected.md
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/main.test.ts
  packages/translator/src/__tests__/utils/track-mutations.ts
  scripts/babel-register.js
  scripts/bundle.mts
  scripts/sizes.ts
Due: prettier --write, eslint --fix, fixpack

fix: use .d.marko for await tag types
  .changeset/clean-lemons-collect.md
  packages/marko/src/core-tags/core/await/index.d.marko
  packages/marko/src/core-tags/core/await/index.marko
  packages/translator-default/src/taglib/core/index.js
Due: prettier --write, eslint --fix

fix: improve compiler api types
  .changeset/purple-steaks-admire.md
  packages/babel-utils/index.d.ts
  packages/compiler/config.d.ts
  packages/compiler/index.d.ts
Due: prettier --write, eslint --fix

refactor: package scripts
  package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/compiler/scripts/types-babel-traverse.js
  packages/compiler/scripts/types-babel-types.mjs
  packages/marko/package.json
  packages/translator-default/package.json
Due: prettier --write, eslint --fix, fixpack

chore: sort package.json keys
  package-lock.json
  package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/marko/package.json
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: switch from nyc to c8
  .c8rc.json
  .nycrc
  babel.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, fixpack

chore: update mocha command/config
  .mocharc.json
  package.json
Due: prettier --write, fixpack

chore: update husky
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write, fixpack

chore: sort imports
  .eslintrc.json
  packages/babel-utils/src/tags.js
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-types/traverse/patch.js
  packages/compiler/src/babel-types/types/definitions.js
  packages/compiler/src/babel-types/types/patch.js
  packages/translator-default/src/index.js
  packages/translator-default/src/placeholder/index[html].js
  packages/translator-default/src/tag/attribute-tag.js
  packages/translator-default/src/tag/attribute/directives/class.js
  packages/translator-default/src/tag/attribute/directives/no-update.js
  packages/translator-default/src/tag/attribute/directives/style.js
  packages/translator-default/src/tag/attribute/index.js
  packages/translator-default/src/tag/custom-tag.js
  packages/translator-default/src/tag/dynamic-tag.js
  packages/translator-default/src/tag/index.js
  packages/translator-default/src/tag/native-tag.js
  packages/translator-default/src/tag/native-tag[html]/attributes.js
  packages/translator-default/src/tag/native-tag[html]/index.js
  packages/translator-default/src/tag/native-tag[vdom]/index.js
  packages/translator-default/src/taglib/core/translate-html-comment.js
  packages/translator-default/src/taglib/core/translate-include-content.js
  packages/translator-default/src/taglib/core/translate-while.js
  packages/translator-default/src/util/key-manager.js
  packages/translator-default/src/util/optimize-vdom-create.js
Due: prettier --write, eslint --fix

chore: support typescript packages
  .c8rc.json
  .eslintignore
  .eslintrc.json
  .gitattributes
  .gitignore
  .lintstagedrc.json
  .mocharc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
  packages/compiler/index.d.ts
  packages/marko/index.d.ts
  packages/marko/tags-html.d.ts
  scripts/babel-register.js
  tsconfig.build.json
  tsconfig.json
Due: prettier --write, eslint --fix, fixpack

test: use before hooks to set/reset require hook/cache
  packages/translator-interop/src/__tests__/main.test.ts
  packages/translator/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix

chore: update @marko/babel-utils
  package-lock.json
  packages/translator/package.json
  packages/translator/src/core/export.ts
  packages/translator/src/core/import.ts
  packages/translator/src/core/static.ts
Due: prettier --write, eslint --fix, fixpack

chore: config cleanup
  .lintstagedrc.json
  .prettierrc
  lint-staged.config.js
  packages/compiler/package.json
Due: prettier --write, eslint --fix, fixpack

chore: update node versions in ci
  .github/workflows/ci.yml
Due: prettier --write

test: move translator-default tests from compiler
  packages/compiler/test/index.test.js
  packages/translator-default/test/index.test.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md}) or (any of: *.{js,ts})) or ((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc}))
  eslint --fix: (any of: *.{js,ts}) or (any of: *.ts)
  fixpack: any of: ./{,packages/*/}package.json
