Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

chore: add changeset
  .changeset/all-goats-invent.md
Due: prettier --write, prettier --write --with-node-modules

fix: toggle multi class issue
  .changeset/legal-places-retire.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/template.marko
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/test.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: improved autocomplete for href and src
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/loose-beans-grab.md
Due: prettier --write, prettier --write --with-node-modules

fix: stop recommending <a href="javascript:"
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: add MIME type autocomplete
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/huge-toys-tan.md
Due: prettier --write, prettier --write --with-node-modules

fix: types for `<id>` tag
  packages/runtime-tags/tags/id.d.marko
Due: none

fix: types for `<id>` tag (#3087)
  .changeset/huge-toys-tan.md
  packages/runtime-tags/tags/id.d.marko
Due: prettier --write, prettier --write --with-node-modules

fix: toggle multi class issue (#3094)
  .changeset/legal-places-retire.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/template.marko
  packages/runtime-tags/src/__tests__/fixtures/multi-class-toggle/test.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid change handlers causing extra serialization
  .changeset/plenty-actors-hope.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-many/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-many/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-many/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-multiple-number/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-multiple-number/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-multiple-number/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-values/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-values/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-values/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-value/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-value/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-value/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-value-number/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-value-number/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-value-number/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-mutated-option/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-mutated-option/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-mutated-option/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-value-number/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-value-number/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-value-number/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-textarea-value/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-textarea-value/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-textarea-value/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: share to_text logic in dom runtime
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/dom/dom.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: controllable form element default values and uncontrolled state preservation
  .changeset/sixty-snails-change.md
  .changeset/slick-kids-prove.md
  .sizes.json
  .sizes/dom.js
  .sizes/name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-multiple-number/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-multiple-number/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-spread/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-spread/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-values-spread/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-values-spread/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-values/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-values/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-dynamic-checkbox-checked-value/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-dynamic-checkbox-checked-value/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-dynamic-checkbox-checked-value/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-dynamic-checkbox-checked-value/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-dynamic-spread/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-dynamic-spread/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-multiple-value-number/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-mutated-option/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-spread/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-spread/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-value-number/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-value-number/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/textarea-dynamic-text/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/textarea-dynamic-text/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/textarea-dynamic-text/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/textarea-dynamic-text/__snapshots__/resume.expected.md
  packages/runtime-tags/src/dom/controllable.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: uncontrolled native elements avoid update internal state
  .changeset/cool-hairs-prove.md
  .sizes.json
  .sizes/dom.js
  .sizes/name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/textarea-dynamic-text/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/textarea-dynamic-text/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-select-value/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/uncontrolled-textarea-value/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/controllable.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: improve controllable dialog/details
  .changeset/wet-colts-draw.md
  .sizes.json
  .sizes/dom.js
  .sizes/name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-details-open/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-details-open/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-details-open/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-details-open/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-details-open/test.ts
  packages/runtime-tags/src/__tests__/fixtures/controllable-dialog-open/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-dialog-open/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-dialog-open/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-dialog-open/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-dialog-open/test.ts
  packages/runtime-tags/src/dom/controllable.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: pending await closures
  .changeset/curly-ravens-itch.md
  packages/runtime-tags/src/__tests__/fixtures/async-deep-recursive/__snapshots__/dom.expected/tags/recurse.js
  packages/runtime-tags/src/__tests__/fixtures/async-deep-recursive/__snapshots__/html.expected/tags/recurse.js
  packages/runtime-tags/src/__tests__/fixtures/async-reorder-nested-batched-resolve/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-cleanup/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/template.marko
  packages/runtime-tags/src/__tests__/fixtures/await-closure-function/test.ts
  packages/runtime-tags/src/__tests__/fixtures/await-closure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-closure/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-closure/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: local closure native tag content attr
  .changeset/orange-jokes-roll.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-spread/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-select-spread/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/template.marko
  packages/runtime-tags/src/__tests__/fixtures/native-tag-local-closures/test.ts
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-attr-tag-custom-tag/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-attr-tag-custom-tag/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-attr-tag-define-tag/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-attr-tag-define-tag/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-content-rest/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-content-rest/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf: dedupe long strings when serialized
  .changeset/wide-icons-divide.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-input-intersection/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var-from-dynamic/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var-from-dynamic/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var-many/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var-many/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/hoist-dynamic-tag-var/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/native-tag-spread-content/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: tags api concise mode style tag
  .changeset/chubby-bikes-clean.md
  package-lock.json
  package.json
  packages/compiler/package.json
  packages/runtime-class/package.json
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/template.marko
  packages/runtime-tags/src/__tests__/fixtures/style-tag-concise/test.ts
  packages/runtime-tags/src/translator/core/style.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: upgrade htmljs-parser
  .changeset/grumpy-donkeys-fry.md
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
  packages/runtime-class/test/render/fixtures/body-placeholder-literal2/vdom-expected.html
  packages/runtime-class/test/render/fixtures/dynamic-tag-layout/test.js
  packages/runtime-class/test/render/fixtures/include-dynamic/test.js
  packages/runtime-class/test/render/fixtures/include-layout-data-attrs/test.js
  packages/runtime-class/test/render/fixtures/include-layout-data/test.js
  packages/runtime-class/test/render/fixtures/include-layout-v3-compat/test.js
  packages/runtime-class/test/render/fixtures/include-layout/test.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules
