Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

refactor: avoid getters for renderer args
  .changeset/calm-peas-explain.md
  .sizes.json
  .sizes/comments.csr/entry.js
  .sizes/dom.js
  packages/runtime-tags/src/dom/compat.ts
  packages/runtime-tags/src/dom/control-flow.ts
  packages/runtime-tags/src/dom/renderer.ts
  packages/runtime-tags/src/dom/template.ts
  packages/runtime-tags/src/translator/visitors/program/dom.ts
  packages/translator-interop/src/__tests__/fixtures/interop-nested-tags-to-class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-tag-params-tags-to-class/__snapshots__/dom.expected/template.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: conditional nested attr tags
  packages/marko/src/compiler/ast/CustomTag.js
  packages/marko/test/compiler/fixtures-html/nested-nested-tag-loop/expected.js
  packages/marko/test/compiler/fixtures-html/nested-nested-tag-loop/marko.json
  packages/marko/test/compiler/fixtures-html/nested-nested-tag-loop/tags/my-list/marko-tag.json
  packages/marko/test/compiler/fixtures-html/nested-nested-tag-loop/tags/my-list/renderer.js
  packages/marko/test/compiler/fixtures-html/nested-nested-tag-loop/tags/my-list/template.marko
  packages/marko/test/compiler/fixtures-html/nested-nested-tag-loop/template.marko
  packages/marko/test/components-pages/fixtures/nested-nested-tag-loop/components/app.marko
  packages/marko/test/components-pages/fixtures/nested-nested-tag-loop/components/my-list/index.marko
  packages/marko/test/components-pages/fixtures/nested-nested-tag-loop/components/my-list/marko-tag.json
  packages/marko/test/components-pages/fixtures/nested-nested-tag-loop/marko.json
  packages/marko/test/components-pages/fixtures/nested-nested-tag-loop/template.marko
  packages/marko/test/components-pages/fixtures/nested-nested-tag-loop/tests.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore(release): 4.28.10
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix: avoid registration for dynamic closures
  .changeset/forty-fans-lie.md
  .sizes.json
  .sizes/dom.js
  .sizes/name-cache.json
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/runtime.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/program/dom.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: dynamic attrs on html and body tags
  packages/runtime-class/test/package.json
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/template.marko
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/test.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: add changeset
  .changeset/old-cameras-cheat.md
Due: prettier --write, prettier --write --with-node-modules

fix: dynamic attrs on html and body tags (#2557)
  .changeset/old-cameras-cheat.md
  packages/runtime-class/test/package.json
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/template.marko
  packages/runtime-tags/src/__tests__/fixtures/trailing-tag-dynamic-attr/test.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

refactor: only calculate reference sources once
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: issue synchronizing serialized and runtime render data
  .changeset/many-tables-relate.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/dom/resume.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: issue executing unbound walker code
  .changeset/kind-beers-refuse.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/dom/resume.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: optimize html-script and html-style
  .changeset/slow-emus-push.md
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/html-style/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/html-style/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/translator/util/sections.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: issue applying selection range to incompatible nodes
  .changeset/funny-gifts-smile.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/resolve-cursor-position.test.ts
  packages/runtime-tags/src/dom/controllable.ts
  packages/runtime-tags/src/dom/resolve-cursor-position.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: extra placeholder bindings for html- core tags
  .changeset/pink-worms-cry.md
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/html-script/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/html-script/template.marko
  packages/runtime-tags/src/__tests__/fixtures/html-style/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/html-style/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/translator/visitors/placeholder.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: share utility for serializing owner scope references
  .changeset/new-ants-compete.md
  packages/runtime-tags/src/translator/core/html-script.ts
  packages/runtime-tags/src/translator/core/html-style.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: use invoked function helper in more places
  .changeset/smooth-mirrors-decide.md
  packages/runtime-tags/src/translator/core/html-comment.ts
  packages/runtime-tags/src/translator/core/html-script.ts
  packages/runtime-tags/src/translator/core/html-style.ts
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid serializing input for implicit split components
  .changeset/weak-lions-reply.md
  packages/runtime-class/src/runtime/helpers/skip-serialize.js
  packages/runtime-class/src/translator/index.js
  packages/runtime-class/test/translator/fixtures/event-handlers/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/event-handlers/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/event-handlers/snapshots/htmlProduction-expected.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
