Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

chore: fix babel regression
  .changeset/nine-carrots-burn.md
  package-lock.json
  package.json
  packages/compiler/src/babel-types/types/definitions.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

feat: implement missing html controllable helpers
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/attrs.ts
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-spread/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-value/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-value/template.marko
  packages/translator-tags/src/__tests__/fixtures/controllable-checked-value/test.ts
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/controllable-checked/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/utils/track-mutations.ts
  packages/translator-tags/src/util/runtime.ts
  packages/translator-tags/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: add warning about overserialization (#2308)
  .changeset/thin-kangaroos-appear.md
  packages/marko/docs/rendering.md
Due: prettier --write, prettier --write --with-node-modules

fix: downgrade minimatch
  .changeset/hip-roses-prove.md
  package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix: add back marko v3 legacy helpers
  .changeset/sour-carrots-ring.md
  packages/marko/helpers/README.md
  packages/marko/helpers/empty.js
  packages/marko/helpers/notEmpty.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: remove unused reconcilers
  packages/runtime-tags/src/dom/reconcile-domdiff.ts
  packages/runtime-tags/src/dom/reconcile-listdiff.ts
  packages/runtime-tags/src/dom/reconcile-longest-increasing-subsequence.ts
  packages/runtime-tags/src/dom/reconcile.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: error when using cdata
  packages/translator-tags/src/visitors/cdata.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test: update cdata test
  packages/translator-tags/src/__tests__/fixtures/cdata/__snapshots__/dom.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/cdata/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/cdata/__snapshots__/html.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/cdata/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/cdata/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: throw error instead of printing CDATA (#2312)
  packages/translator-tags/src/__tests__/fixtures/cdata/__snapshots__/dom.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/cdata/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/cdata/__snapshots__/html.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/cdata/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/cdata/test.ts
  packages/translator-tags/src/visitors/cdata.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: trailing in order await before reorder runtime blocking resolved out of order awaits
  .changeset/poor-countries-serve.md
  packages/marko/src/core-tags/core/await/reorderer-renderer.js
  packages/marko/test/render/fixtures-async-callback/await-out-of-order-with-in-order-after/expected.html
  packages/marko/test/render/fixtures-async-callback/await-out-of-order-with-in-order-after/template.marko
  packages/marko/test/render/fixtures-async-callback/await-out-of-order-with-in-order-after/test.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: expose v3 helpers
  .changeset/little-lions-buy.md
  packages/marko/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix: test race condition
  packages/marko/test/render/fixtures-async-callback/await-out-of-order-with-in-order-after/expected.html
  packages/marko/test/render/fixtures-async-callback/await-out-of-order-with-in-order-after/template.marko
Due: none

fix: issue with empty nullable native tags
  .changeset/witty-ducks-judge.md
  packages/translator-default/src/tag/native-tag[html]/index.js
  packages/translator-default/src/tag/native-tag[vdom]/index.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/html-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: dynamic tag regression
  .changeset/nine-spies-mate.md
  packages/translator-default/src/tag/native-tag[html]/index.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/html-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-name/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/dynamic-tag-name/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: optimize style/script tag diffing in vdom
  .changeset/good-boats-march.md
  packages/marko/src/runtime/vdom/VElement.js
  packages/marko/src/runtime/vdom/VNode.js
  packages/marko/src/runtime/vdom/is-text-only.js
  packages/marko/src/runtime/vdom/morphdom/index.js
  packages/marko/test/__util__/domToString.js
  packages/marko/test/__util__/toHTML.js
  packages/marko/test/render/fixtures/style-tag-dynamic-text/expected.html
  packages/marko/test/render/fixtures/style-tag-dynamic-text/template.marko
  packages/marko/test/render/fixtures/style-tag-dynamic-text/test.js
  packages/marko/test/render/fixtures/style-tag-dynamic-text/vdom-expected.html
  packages/marko/test/vdom-create/fixtures/textarea/index.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: remove default compiler cache clearing
  .changeset/forty-eagles-end.md
  packages/compiler/src/config.js
  packages/compiler/src/index.js
  packages/translator-tags/src/__tests__/fixtures/let-tag-controllable-runtime-error/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/main.test.ts
  packages/translator-tags/src/__tests__/utils/bundle.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: direct import of tags in translator-default
  .changeset/sharp-monkeys-deny.md
  packages/translator-default/src/tag/custom-tag.js
  packages/translator-default/src/tag/index.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/dom.expected/components/tags-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/html.expected/components/tags-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/components/tags-counter.marko
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/template.marko
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: direct import of tags in translator-default (#2324)
  .changeset/sharp-monkeys-deny.md
  packages/translator-default/src/tag/custom-tag.js
  packages/translator-default/src/tag/index.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/csr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/dom.expected/components/tags-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/dom.expected/template.hydrate.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/html.expected/components/tags-counter.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/resume.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/__snapshots__/ssr.expected.md
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/components/tags-counter.marko
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/template.marko
  packages/translator-interop/src/__tests__/fixtures/interop-class-to-tags-import/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: deprecate the Marko.RepeatableAttrTags type and update docs/guidance
  .changeset/yellow-eagles-fail.md
  packages/marko/docs/body-content.md
  packages/marko/docs/typescript.md
  packages/marko/index.d.ts
  packages/marko/test/render/fixtures/nested-tags-repeatable/components/fancy-table.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat(tags-api): custom tags from local variables must be PascalCase
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-args/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-args/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-args/template.marko
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-attr-signal/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-attr-signal/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-attr-signal/template.marko
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-closure/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-closure/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render-closure/template.marko
  packages/translator-tags/src/__tests__/fixtures/define-tag-render/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/define-tag-render/template.marko
  packages/translator-tags/src/__tests__/fixtures/import-tag-shorthand/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/import-tag-shorthand/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/import-tag-shorthand/template.marko
  packages/translator-tags/src/__tests__/fixtures/import-tag/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/import-tag/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/import-tag/template.marko
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/dom.expected/components/baz.js
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/html.expected/components/baz.js
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/template.marko
  packages/translator-tags/src/util/tag-name-type.ts
  packages/translator-tags/src/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/fast-frogs-relate.md
Due: prettier --write, prettier --write --with-node-modules

fix: macos filenames are not case sensitive
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/dom.expected/components/Bar.js
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/dom.expected/components/foo.js
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/dom.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/html.expected/components/Bar.js
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/html.expected/components/foo.js
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/html.expected/template.js
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/resume-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/resume.expected.md
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/ssr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/__snapshots__/ssr.expected.md
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/components/Bar.marko
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/components/foo.marko
  packages/translator-tags/src/__tests__/fixtures/tag-resolution-priority/template.marko
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: simplify changes
  packages/translator-tags/src/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test: add custom tag case error
  packages/translator-tags/src/__tests__/fixtures/error-custom-tag-local-case/__snapshots__/dom.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/error-custom-tag-local-case/__snapshots__/html.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/error-custom-tag-local-case/template.marko
  packages/translator-tags/src/__tests__/fixtures/error-custom-tag-local-case/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

test: add custom tag not found error
  packages/translator-tags/src/__tests__/fixtures/error-custom-tag-not-found/__snapshots__/dom.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/error-custom-tag-not-found/__snapshots__/html.expected/template.error.txt
  packages/translator-tags/src/__tests__/fixtures/error-custom-tag-not-found/template.marko
  packages/translator-tags/src/__tests__/fixtures/error-custom-tag-not-found/test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: refactor template parsing
  .changeset/cool-worms-march.md
  .sizes.json
  .sizes/comments.csr/entry.js
  .sizes/comments.ssr/entry.js
  .sizes/counter.csr/entry.js
  .sizes/counter.ssr/entry.js
  .sizes/dom.js
  packages/runtime-tags/src/dom/renderer.ts
  packages/translator-tags/src/__tests__/fixtures/basic-layout/__snapshots__/csr-sanitized.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-layout/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/fixtures/basic-layout/test.ts
  packages/translator-tags/src/__tests__/fixtures/let-tag-controllable-runtime-error/__snapshots__/csr.expected.md
  packages/translator-tags/src/__tests__/main.test.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: prefer ||= over ??=
  .changeset/dry-jeans-move.md
  .sizes.json
  .sizes/comments.csr/entry.js
  .sizes/comments.ssr/entry.js
  .sizes/counter.csr/entry.js
  .sizes/counter.ssr/entry.js
  .sizes/dom.js
  packages/runtime-tags/src/dom/abort-signal.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/dom/renderer.ts
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/dom/scope.ts
  packages/runtime-tags/src/dom/signals.ts
  packages/runtime-tags/src/html/attrs.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ensure change handler errors are in debug mode
  .changeset/eleven-readers-fix.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/dom/signals.ts
  packages/translator-tags/src/__tests__/fixtures/let-tag-controllable-runtime-error/__snapshots__/csr.expected.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
