Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

fix: arc support
  .changeset/stupid-jeans-lick.md
  packages/translator-default/src/util/get-component-files.js
Due: prettier --write, eslint --fix

chore: fix syntax error in typescript docs
  .changeset/wet-melons-poke.md
  packages/marko/docs/typescript.md
Due: prettier --write

feat: add support for reporting compiler diagnostics
  .changeset/forty-eyes-trade.md
  .eslintrc.json
  packages/babel-utils/index.d.ts
  packages/babel-utils/src/diagnostics.js
  packages/babel-utils/src/index.js
  packages/compiler/config.d.ts
  packages/compiler/index.d.ts
  packages/compiler/src/babel-plugin/file.js
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/config.js
  packages/compiler/src/index.js
  packages/compiler/src/util/build-code-frame.js
  packages/translator-default/src/taglib/migrate/all-templates.js
  scripts/types-babel-traverse.js
Due: prettier --write, eslint --fix

chore: upgrade deps, avoid unnecessary dynamic import for build script
  package-lock.json
  package.json
  scripts/bundle.mts
Due: prettier --write, fixpack

chore: simplify package scripts, move test file glob to mocharc
  .mocharc.json
  package.json
Due: prettier --write, fixpack

fix: rename publish script
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write, fixpack

fix: hydrate commonjs output bug
  .changeset/lazy-apricots-joke.md
  packages/translator-default/src/util/add-dependencies.js
Due: prettier --write, eslint --fix

fix: regression with components registered only via browser.json
  packages/marko/src/node_modules/@internal/components-registry/index-browser.js
Due: prettier --write, eslint --fix

chore(release): 4.26.2
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: error messages not showing if no source location
  .changeset/loud-chefs-switch.md
  packages/compiler/src/util/build-code-frame.js
Due: prettier --write, eslint --fix

fix: run migration fixes synchronously
  .changeset/four-news-ring.md
  packages/babel-utils/index.d.ts
  packages/babel-utils/src/diagnostics.js
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint --fix

fix: improve emitted error meta data
  .changeset/heavy-tigers-repeat.md
  .changeset/unlucky-mangos-judge.md
  packages/compiler/src/index.js
  packages/compiler/src/util/build-code-frame.js
Due: prettier --write, eslint --fix

fix: avoid loading babel config when compiler output is source or migrate
  .changeset/dry-walls-breathe.md
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/index.js
Due: prettier --write, eslint --fix

chore: remove partial dynamic tag deprecation warning
  packages/marko/src/core-tags/migrate/all-tags/index.js
  packages/marko/src/core-tags/migrate/all-tags/partial-dynamic-tag.js
  packages/marko/test/components-browser/fixtures/partial-dynamic-tag/index.marko
  packages/marko/test/components-browser/fixtures/partial-dynamic-tag/test.js
  packages/marko/test/migrate/fixtures/partial-dynamic-tag/snapshot-expected.marko
  packages/marko/test/migrate/fixtures/partial-dynamic-tag/template.marko
  packages/marko/test/render/fixtures/partial-dynamic-tag-name-concise/expected.html
  packages/marko/test/render/fixtures/partial-dynamic-tag-name-concise/template.marko
  packages/marko/test/render/fixtures/partial-dynamic-tag-name-concise/test.js
  packages/marko/test/render/fixtures/partial-dynamic-tag-name-concise/vdom-expected.html
  packages/marko/test/render/fixtures/partial-dynamic-tag-name/expected.html
  packages/marko/test/render/fixtures/partial-dynamic-tag-name/template.marko
  packages/marko/test/render/fixtures/partial-dynamic-tag-name/test.js
  packages/marko/test/render/fixtures/partial-dynamic-tag-name/vdom-expected.html
Due: prettier --write, eslint --fix

fix: strict mode issues around calling render on legacy components
  packages/marko/src/runtime/helpers/dynamic-tag.js
  packages/marko/src/runtime/helpers/load-tag.js
  packages/marko/src/runtime/renderable.js
Due: prettier --write, eslint --fix

chore(release): 4.26.3
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: bind render method on legacy widgets
  packages/marko/src/runtime/components/legacy/defineRenderer-legacy.js
Due: prettier --write, eslint --fix

chore(release): 4.26.4
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

chore(release): 4.26.5
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: issue if DOMContentLoaded invoked multiple times
  .changeset/fluffy-paws-cross.md
  lint-staged.config.js
  packages/marko/src/node_modules/@internal/components-registry/index-browser.js
Due: prettier --write, eslint --fix

feat: fixable parse errors
  .changeset/soft-points-work.md
  packages/babel-utils/index.d.ts
  packages/babel-utils/src/index.js
  packages/babel-utils/src/loc.js
  packages/babel-utils/src/parse.js
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-types/generator/patch.js
  packages/compiler/src/babel-types/types/definitions.js
  packages/compiler/src/index.js
  packages/compiler/src/util/merge-errors.js
  packages/translator-default/src/index.js
  packages/translator-default/src/taglib/core/parse-class.js
  packages/translator-default/src/taglib/core/parse-export.js
  packages/translator-default/src/taglib/core/parse-import.js
  packages/translator-default/src/taglib/core/parse-static.js
  packages/translator-default/test/fixtures/module-code/snapshots/cjs-expected.js
Due: prettier --write, eslint --fix

fix: ensure finish event fired for mock streams
  .changeset/wild-roses-rescue.md
  packages/marko/src/runtime/html/AsyncStream.js
Due: prettier --write, eslint --fix

feat: allow migrator as a tag entry file
  .changeset/fast-suits-own.md
  packages/compiler/src/taglib/loader/scanTagsDir.js
Due: prettier --write, eslint --fix

feat: wip interop translator
  package-lock.json
  package.json
  packages/translator-interop/package.json
  packages/translator-interop/src/__tests__/fixtures/ambiguous/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/ambiguous/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/ambiguous/template.marko
  packages/translator-interop/src/__tests__/fixtures/class/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/class/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/class/template.marko
  packages/translator-interop/src/__tests__/fixtures/explicit/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/explicit/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/explicit/template.marko
  packages/translator-interop/src/__tests__/fixtures/let/__snapshots__/dom.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/let/__snapshots__/html.expected/template.js
  packages/translator-interop/src/__tests__/fixtures/let/template.marko
  packages/translator-interop/src/__tests__/main.test.ts
  packages/translator-interop/src/build-aggregate-error.ts
  packages/translator-interop/src/feature-detection.ts
  packages/translator-interop/src/index.ts
  packages/translator/src/visitors/tag/custom-tag.ts
Due: prettier --write, eslint --fix, fixpack

fix: module-code not outputting cjs when configured to do so
  .changeset/lovely-keys-whisper.md
  packages/marko/compiler-browser.marko
  packages/marko/components-browser.marko
  packages/marko/index-browser.marko
Due: prettier --write
