Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

fix: correct sorting of references
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/let-tag/__snapshots__/dom.expected.js
  packages/translator/src/util/sorted-arr.ts
Due: prettier --write, eslint --fix

feat: cross-scope values with for tag, fix heap pop(), queueForEach/Branch queue before reading
  .sizes.json
  packages/runtime/src/__tests__/fixtures/toggle-nested/browser.ts
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/queue-heap.ts
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/template.marko
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/test.ts
  packages/translator/src/core/for.ts
Due: prettier --write, eslint --fix

chore: rename test
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/template.marko
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/test.ts
Due: prettier --write, eslint --fix

Fix broken link on line 586
  packages/marko/docs/syntax.md
Due: prettier --write

Fix broken link on line 586 (#1771)
  packages/marko/docs/syntax.md
Due: prettier --write

fix: queueForEach should not run for empty scope
  .sizes.json
  packages/runtime/src/dom/control-flow.ts
Due: prettier --write, eslint --fix

fix: always walk over after walking out, we already visited the parentNode
  .sizes.json
  packages/runtime/src/dom/walker.ts
Due: prettier --write, eslint --fix

feat: fast path for runWithScope with 3 or less args
  .sizes.json
  packages/runtime/src/dom/control-flow.ts
  packages/runtime/src/dom/queue-heap.ts
  packages/runtime/src/dom/queue-sorted-insert.ts
  packages/runtime/src/dom/scope.ts
Due: prettier --write, eslint --fix

feat: switch to using queuePriority based on referenceGroup order
  packages/translator/src/__tests__/fixtures/basic-counter/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-toggle-show/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/if-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/let-tag/__snapshots__/dom.expected.js
  packages/translator/src/core/condition/else-if.ts
  packages/translator/src/core/condition/else.ts
  packages/translator/src/core/condition/if.ts
  packages/translator/src/core/const.ts
  packages/translator/src/core/for.ts
  packages/translator/src/core/let.ts
  packages/translator/src/util/apply-hydrate.ts
  packages/translator/src/util/runtime.ts
Due: prettier --write, eslint --fix

fix: bind handlers even if they don't read values
  packages/translator/src/__tests__/fixtures/basic-handler-refless/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-handler-refless/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-handler-refless/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-handler-refless/template.marko
  packages/translator/src/__tests__/fixtures/basic-handler-refless/test.ts
  packages/translator/src/__tests__/fixtures/event-handlers/__snapshots__/dom.expected.js
  packages/translator/src/util/apply-hydrate.ts
Due: prettier --write, eslint --fix

fix: bind/hoisting of nested functions
  packages/translator/src/__tests__/fixtures/basic-handler-multi-ref-nested/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-handler-multi-ref-nested/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-handler-multi-ref-nested/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-handler-multi-ref-nested/template.marko
  packages/translator/src/__tests__/fixtures/basic-handler-multi-ref-nested/test.ts
  packages/translator/src/util/apply-hydrate.ts
Due: prettier --write, eslint --fix

feat: add classAttr/styleAttr helpers to dom runtime
  .sizes.json
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/index.ts
Due: prettier --write, eslint --fix

update to dynamic tag jump link
  packages/marko/docs/syntax.md
Due: prettier --write

update to dynamic tag jump link (#1774)
  packages/marko/docs/syntax.md
Due: prettier --write

Small syntax update
  packages/marko/docs/marko-vs-react.md
Due: prettier --write

Small syntax update (#1775)
  packages/marko/docs/marko-vs-react.md
Due: prettier --write

fix: reads in nested blocks
  packages/translator/src/__tests__/fixtures/basic-fn-with-block/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-fn-with-block/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-fn-with-block/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-fn-with-block/template.marko
  packages/translator/src/__tests__/fixtures/basic-fn-with-block/test.ts
  packages/translator/src/util/references.ts
Due: prettier --write, eslint --fix

fix: unused references compile
  packages/translator/src/__tests__/fixtures/basic-unused-ref/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-unused-ref/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-unused-ref/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-unused-ref/template.marko
  packages/translator/src/__tests__/fixtures/basic-unused-ref/test.ts
  packages/translator/src/util/references.ts
Due: prettier --write, eslint --fix

refactor: rename localIndex/sortValue to priority in queue
  packages/runtime/src/dom/queue-heap.ts
  packages/runtime/src/dom/queue-sorted-insert.ts
Due: prettier --write, eslint --fix

fix: queue priority for closure values
  .sizes.json
  packages/runtime/src/__tests__/fixtures/batched-updates-cleanup/browser.ts
  packages/runtime/src/__tests__/fixtures/toggle-detached-state/browser.ts
  packages/runtime/src/__tests__/fixtures/toggle-first-child/browser.ts
  packages/runtime/src/__tests__/fixtures/toggle-last-child/browser.ts
  packages/runtime/src/__tests__/fixtures/toggle-middle-child/browser.ts
  packages/runtime/src/__tests__/fixtures/toggle-nested/browser.ts
  packages/runtime/src/__tests__/fixtures/toggle-only-child/browser.ts
  packages/runtime/src/dom/control-flow.ts
  packages/translator/src/__tests__/fixtures/at-tag-inside-if-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-and-static/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic-with-params/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags-dynamic/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/at-tags/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-execution-order/__snapshots__/csr.expected.md
  packages/translator/src/__tests__/fixtures/basic-execution-order/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-execution-order/__snapshots__/html.expected.js
  packages/translator/src/__tests__/fixtures/basic-execution-order/template.marko
  packages/translator/src/__tests__/fixtures/basic-execution-order/test.ts
  packages/translator/src/__tests__/fixtures/basic-nested-scope-for/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-nested-scope-if/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-push-pop-list/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/basic-toggle-show/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-relative-path/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/context-tag-from-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/custom-tag-parameters/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/custom-tag-render-body/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag-with-state/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/for-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/if-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/tag-tag/__snapshots__/dom.expected.js
  packages/translator/src/__tests__/fixtures/yield-tag/__snapshots__/dom.expected.js
  packages/translator/src/core/condition/if.ts
  packages/translator/src/core/for.ts
  packages/translator/src/util/apply-hydrate.ts
  packages/translator/src/util/writer.ts
  packages/translator/src/visitors/program/dom.ts
Due: prettier --write, eslint --fix

fix: avoid deprecation warning for markoc cli
  packages/marko/src/compiler/index.js
Due: prettier --write, eslint --fix

chore: publish v5.19.2
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: lazily create error stack for writers to improve dev mode perf
  packages/marko/src/runtime/html/AsyncStream.js
Due: prettier --write, eslint --fix

fix: performance hit in development mode because continually parsing stack trace
  packages/marko/src/runtime/html/AsyncStream.js
Due: prettier --write, eslint --fix

fix: performance hit in development mode because continually parsing stack trace (#1777)
  packages/marko/src/runtime/html/AsyncStream.js
Due: prettier --write, eslint --fix

chore: upgrade lock file version
  package-lock.json
Due: prettier --write

chore: publish v5.19.3
  CHANGELOG.md
  lerna.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: ugrade lock file version
  packages/marko/package-lock.json
Due: prettier --write

chore(release): 4.24.3
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

chore: add queue benchmarks
  benchmarks/queue.ts
  package-lock.json
  package.json
  packages/runtime/src/dom/queue-sorted-insert.ts
Due: prettier --write, eslint --fix, fixpack

fix: update needsReconciliation commented code
  packages/runtime/src/dom/control-flow.ts
Due: prettier --write, eslint --fix

feat: relative import normalization now works better with node_modules
  package-lock.json
  packages/babel-utils/package.json
  packages/babel-utils/src/imports.js
Due: prettier --write, eslint --fix, fixpack

feat: relative import normalization now works better with node_modules (#1779)
  package-lock.json
  packages/babel-utils/package.json
  packages/babel-utils/src/imports.js
Due: prettier --write, eslint --fix, fixpack

chore: publish v5.20.0
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: pass scope to classAttr/styleAttr helpers
  packages/translator/src/__tests__/fixtures/attr-escape/__snapshots__/dom.expected.js
  packages/translator/src/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix
