Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f codeframe --fix, fixpack

fix: src to dist translations in some cases
  packages/babel-utils/src/imports.js
  packages/translator-default/test/fixtures/await-tag/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/await-tag/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/doctype/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/no-update-directives/snapshots/vdomProduction-expected.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix(translator-default): browser.json auto discovery path
  packages/translator-default/src/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

fix: issue with path.hub being missing when traversing
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint -f codeframe --fix

feat: no longer publish as 'next' dist-tag
  lerna.json
  package.json
  packages/babel-types/package.json
  packages/babel-utils/package.json
  packages/compiler/package.json
  packages/marko/package.json
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: cleanup docs
  packages/marko/docs/huncwot.md
  packages/marko/docs/installing.md
  packages/marko/docs/marko-4-upgrade.md
  packages/marko/docs/marko-5-upgrade.md
  packages/marko/docs/marko-v4.md
  packages/marko/docs/structure.json
Due: prettier --write

chore: tweak install guide
  packages/marko/docs/installing.md
Due: prettier --write

chore: remove deprecations and update example links
  packages/marko/docs/class-components.md
  packages/marko/docs/core-tags.md
  packages/marko/docs/fastify.md
  packages/marko/docs/hapi.md
  packages/marko/docs/installing.md
  packages/marko/docs/koa.md
  packages/marko/docs/rollup.md
  packages/marko/docs/server-side-rendering.md
  packages/marko/docs/structure.json
  packages/marko/docs/webpack.md
Due: prettier --write

fix: importing some Marko files properly includes meta
  packages/babel-utils/src/tags.js
  packages/translator-default/src/index.js
Due: prettier --write, eslint -f codeframe --fix

fix(babel-utils): improve website compatability
  packages/babel-utils/src/imports.js
Due: prettier --write, eslint -f codeframe --fix

chore: add compiler docs, alias compiler hooks with modern naming
  packages/marko/docs/compiler-hooks.png
  packages/marko/docs/compiler.md
  packages/marko/docs/marko-json.md
  packages/marko/docs/structure.json
  packages/marko/src/taglib/taglib-loader/loadTagFromProps.js
Due: prettier --write, eslint -f codeframe --fix

Prepare Docs for Marko 5 Release (#1650)
  packages/marko/docs/class-components.md
  packages/marko/docs/core-tags.md
  packages/marko/docs/fastify.md
  packages/marko/docs/hapi.md
  packages/marko/docs/huncwot.md
  packages/marko/docs/installing.md
  packages/marko/docs/koa.md
  packages/marko/docs/marko-4-upgrade.md
  packages/marko/docs/marko-5-upgrade.md
  packages/marko/docs/marko-v4.md
  packages/marko/docs/rollup.md
  packages/marko/docs/server-side-rendering.md
  packages/marko/docs/structure.json
  packages/marko/docs/webpack.md
Due: prettier --write

chore: add compiler docs, alias compiler hooks with modern naming (#1651)
  packages/marko/docs/compiler-hooks.png
  packages/marko/docs/compiler.md
  packages/marko/docs/marko-json.md
  packages/marko/docs/structure.json
  packages/marko/src/taglib/taglib-loader/loadTagFromProps.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-types/CHANGELOG.md
  packages/babel-types/package.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

chore: update doc links to work on marko website
  packages/marko/docs/compiler.md
  packages/marko/docs/marko-json.md
Due: prettier --write

chore: fix compiler hooks image
  packages/marko/docs/compiler-hooks.png
  packages/marko/docs/compiler.md
Due: prettier --write

fix: enable inline sourcemaps by default with dev mode require hook
  packages/marko/src/node-require/index.js
Due: prettier --write, eslint -f codeframe --fix

fix: docs link
  packages/marko/README.md
Due: prettier --write

chore: add types for compiler api
  packages/compiler/index.d.ts
  packages/compiler/package.json
  packages/compiler/src/index.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

chore: add types for compiler api (#1653)
  packages/compiler/index.d.ts
  packages/compiler/package.json
  packages/compiler/src/index.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

fix: issue with bundled compiler not respecting NODE_ENV
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint -f codeframe --fix

fix(compiler): improve type definitions
  packages/compiler/index.d.ts
Due: prettier --write, eslint -f codeframe --fix

fix: allow passing 'dom' output instead of 'vdom'
  packages/marko/bin/markoc.js
  packages/marko/src/compiler/index.js
  packages/translator-default/src/index.js
Due: prettier --write, eslint -f codeframe --fix

chore(compiler): improve type definitions
  packages/compiler/index.d.ts
Due: prettier --write, eslint -f codeframe --fix

fix(marko): default export in esm mode for marko/component
  packages/marko/components-browser.marko
Due: none

fix(marko): include default export in esm marko/components
  packages/marko/components-browser.marko
Due: none

fix(marko): drop ie10 only runtime code
  packages/marko/src/runtime/components/dom-data.js
  packages/marko/src/runtime/components/ready.js
  packages/marko/src/runtime/helpers/_weak-map.js
Due: prettier --write, eslint -f codeframe --fix

Fix typo: replace special character by "--"
  packages/marko/docs/10-awesome-marko-features.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint -f codeframe --fix: any of: *.{js,ts}
  fixpack: any of: ./{,packages/*/}package.json
