Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

[ci] format
  packages/marko/docs/marko-vs-react.md
  packages/marko/docs/server-side-rendering.md
  packages/marko/docs/why-is-marko-fast.md
Due: prettier --write

CLA test again
  .nycrc
Due: prettier --write

Try commit under eBay email
  .nycrc
Due: prettier --write

Try commit under eBay email AFTER adding it to my GH account
  .nycrc
Due: prettier --write

bump for CLA bot
  .eslintignore
Due: none

docs: replace CommonJS with ESM
  packages/marko/README.md
  packages/marko/docs/class-components.md
  packages/marko/docs/compiler.md
  packages/marko/docs/marko-5-upgrade.md
  packages/marko/docs/marko-vs-react.md
  packages/marko/docs/redux.md
  packages/marko/docs/rendering.md
  packages/marko/docs/server-side-rendering.md
  packages/marko/docs/troubleshooting-streaming.md
  packages/marko/docs/webpack.md
  packages/marko/docs/why-is-marko-fast.md
Due: prettier --write

Clean up outdated page and links to it
  packages/marko/docs/10-awesome-marko-features.md
  packages/marko/docs/class-components.md
  packages/marko/docs/server-side-rendering.md
Due: prettier --write

grammar fix
  packages/marko/docs/marko-vs-react.md
Due: prettier --write

PascalCase for top-level .marko imports
  packages/marko/docs/marko-vs-react.md
Due: prettier --write

Remove questions about updating compiler output
  packages/marko/docs/marko-vs-react.md
  packages/marko/docs/why-is-marko-fast.md
Due: prettier --write

Testing GPG
  packages/marko/docs/troubleshooting-streaming.md
Due: prettier --write

More consistency with PascalCase
  packages/marko/docs/cloudflare-workers.md
  packages/marko/docs/express.md
  packages/marko/docs/http.md
  packages/marko/docs/koa.md
  packages/marko/docs/rendering.md
Due: prettier --write

I poorly understand the Git CLI
  packages/marko/docs/rendering.md
Due: prettier --write

[ci] format
  packages/marko/docs/class-components.md
  packages/marko/docs/marko-vs-react.md
  packages/marko/docs/redux.md
Due: prettier --write

docs: replace CommonJS with ESM (#1810)
  packages/marko/README.md
  packages/marko/docs/10-awesome-marko-features.md
  packages/marko/docs/class-components.md
  packages/marko/docs/cloudflare-workers.md
  packages/marko/docs/compiler.md
  packages/marko/docs/express.md
  packages/marko/docs/http.md
  packages/marko/docs/koa.md
  packages/marko/docs/marko-5-upgrade.md
  packages/marko/docs/marko-vs-react.md
  packages/marko/docs/redux.md
  packages/marko/docs/rendering.md
  packages/marko/docs/server-side-rendering.md
  packages/marko/docs/troubleshooting-streaming.md
  packages/marko/docs/webpack.md
Due: prettier --write

chore: upgrade htmljs-parser
  .changeset/fifty-pugs-end.md
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/cjs-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/generated-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/html-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/htmlProduction-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/vdom-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/vdomProduction-error-expected.txt
Due: prettier --write, eslint --fix, fixpack

chore: upgrade htmljs-parser (#1811)
  .changeset/fifty-pugs-end.md
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/cjs-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/generated-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/html-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/htmlProduction-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/hydrate-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/vdom-error-expected.txt
  packages/translator-default/test/fixtures/error-unclosed-tag/snapshots/vdomProduction-error-expected.txt
Due: prettier --write, eslint --fix, fixpack

chore: upgrade htmljs-parser
  .changeset/light-cooks-explain.md
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix, fixpack

chore: upgrade htmljs-parser (#1814)
  .changeset/light-cooks-explain.md
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
Due: prettier --write, eslint --fix, fixpack

Improve cover image citation link
  packages/marko/docs/10-awesome-marko-features.md
Due: prettier --write

Improve cover image citation link (#1816)
  packages/marko/docs/10-awesome-marko-features.md
Due: prettier --write

fix(babel-utils): child template analysis in nested node_modules
  .changeset/cyan-bags-fry.md
  packages/babel-utils/src/tags.js
Due: prettier --write, eslint --fix

fix(babel-utils): child template analysis in nested node_modules (#1820)
  .changeset/cyan-bags-fry.md
  packages/babel-utils/src/tags.js
Due: prettier --write, eslint --fix

Use-cases for `<await>` attributes
  packages/marko/docs/core-tags.md
Due: prettier --write

Use-cases for `<await>` attributes (#1823)
  packages/marko/docs/core-tags.md
Due: prettier --write

fix: ignoreUnrecognizedTags attr tags under control flow
  packages/marko/src/compiler/Normalizer.js
Due: prettier --write, eslint --fix

chore(release): 4.24.5
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix: issue with return statement inside attr method shorthand
  .changeset/happy-sheep-drum.md
  packages/compiler/src/babel-plugin/parser.js
  packages/translator-default/test/fixtures/attr-method-with-return/components/test.marko
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/html-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/template.marko
Due: prettier --write, eslint --fix

fix: issue with return statement inside attr method shorthand (#1824)
  .changeset/happy-sheep-drum.md
  packages/compiler/src/babel-plugin/parser.js
  packages/translator-default/test/fixtures/attr-method-with-return/components/test.marko
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/html-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/attr-method-with-return/template.marko
Due: prettier --write, eslint --fix

Update compiler.md
  packages/marko/docs/compiler.md
Due: prettier --write

fix: comments or whitespace between else/else-if tags
  .changeset/four-dogs-shout.md
  packages/translator-default/src/taglib/core/conditional/util.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/html-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/template.marko
Due: prettier --write, eslint --fix

fix: comments or whitespace between else/else-if tags (#1827)
  .changeset/four-dogs-shout.md
  packages/translator-default/src/taglib/core/conditional/util.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/html-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/else-tag-with-whitespace-and-comments/template.marko
Due: prettier --write, eslint --fix

feat: support removing typescript types
  .changeset/big-rockets-visit.md
  package-lock.json
  packages/compiler/index.d.ts
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/config.js
  packages/compiler/src/index.js
  packages/marko/bin/markoc.js
  packages/marko/docs/compiler.md
  packages/translator-default/test/fixtures/typescript/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/typescript/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/typescript/snapshots/html-expected.js
  packages/translator-default/test/fixtures/typescript/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/typescript/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/typescript/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/typescript/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/typescript/template.marko
Due: prettier --write, eslint --fix, fixpack

feat: support removing typescript types (#1826)
  .changeset/big-rockets-visit.md
  package-lock.json
  packages/compiler/index.d.ts
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/config.js
  packages/compiler/src/index.js
  packages/marko/bin/markoc.js
  packages/marko/docs/compiler.md
  packages/translator-default/test/fixtures/typescript/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/typescript/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/typescript/snapshots/html-expected.js
  packages/translator-default/test/fixtures/typescript/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/typescript/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/typescript/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/typescript/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/typescript/template.marko
Due: prettier --write, eslint --fix, fixpack

fix: tag variable type definitons
  .changeset/gorgeous-nails-repair.md
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-types/generator/patch.js
  packages/marko/test/render/fixtures/whitespace-pre-code/expected.html
  packages/marko/test/render/fixtures/whitespace-pre-code/template.marko
  packages/marko/test/render/fixtures/whitespace-pre-code/vdom-expected.html
  packages/translator-default/test/fixtures/typescript-basic/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/typescript-basic/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/typescript-basic/snapshots/html-expected.js
  packages/translator-default/test/fixtures/typescript-basic/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/typescript-basic/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/typescript-basic/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/typescript-basic/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/typescript-basic/template.marko
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/cjs-error-expected.txt
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/html-error-expected.txt
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/htmlProduction-error-expected.txt
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/vdom-error-expected.txt
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/vdomProduction-error-expected.txt
  packages/translator-default/test/fixtures/typescript-with-tag-variable/template.marko
Due: prettier --write, eslint --fix, fixpack

fix: tag variable type definitons (#1830)
  .changeset/gorgeous-nails-repair.md
  package-lock.json
  packages/compiler/package.json
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-types/generator/patch.js
  packages/marko/test/render/fixtures/whitespace-pre-code/expected.html
  packages/marko/test/render/fixtures/whitespace-pre-code/template.marko
  packages/marko/test/render/fixtures/whitespace-pre-code/vdom-expected.html
  packages/translator-default/test/fixtures/typescript-basic/snapshots/cjs-expected.js
  packages/translator-default/test/fixtures/typescript-basic/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/typescript-basic/snapshots/html-expected.js
  packages/translator-default/test/fixtures/typescript-basic/snapshots/htmlProduction-expected.js
  packages/translator-default/test/fixtures/typescript-basic/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/typescript-basic/snapshots/vdom-expected.js
  packages/translator-default/test/fixtures/typescript-basic/snapshots/vdomProduction-expected.js
  packages/translator-default/test/fixtures/typescript-basic/template.marko
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/cjs-error-expected.txt
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/generated-expected.marko
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/html-error-expected.txt
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/htmlProduction-error-expected.txt
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/hydrate-expected.js
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/vdom-error-expected.txt
  packages/translator-default/test/fixtures/typescript-with-tag-variable/snapshots/vdomProduction-error-expected.txt
  packages/translator-default/test/fixtures/typescript-with-tag-variable/template.marko
Due: prettier --write, eslint --fix, fixpack

chore: add release notes for markoc
  .changeset/eighty-pandas-relate.md
Due: prettier --write

chore: add release notes for markoc (#1832)
  .changeset/eighty-pandas-relate.md
Due: prettier --write

fix: ensure ci runs for md files
  .github/workflows/ci.yml
Due: prettier --write

fix: ensure ci runs for md files (#1833)
  .github/workflows/ci.yml
Due: prettier --write
