Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f codeframe --fix, fixpack

chore(compiler): update htmljs parser
  packages/compiler/package.json
Due: prettier --write, fixpack

chore: publish
  CHANGELOG.md
  lerna.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat: add dynamic tag, let & const
  package-lock.json
  package.json
  packages/runtime/src/html/dynamic-tag.ts
  packages/translator/package.json
  packages/translator/src/core/marko.json
  packages/translator/src/core/translate-const.ts
  packages/translator/src/core/translate-let.ts
  packages/translator/src/placeholder/html.ts
  packages/translator/src/tag/dynamic-tag.ts
  packages/translator/src/tag/index.ts
  packages/translator/src/tag/native-tag/html.ts
  packages/translator/src/util/analyze-tag-name.ts
  packages/translator/src/util/runtime.ts
  packages/translator/test/fixtures/at-tags-dynamic-tag-parent/snapshots/html-expected.js
  packages/translator/test/fixtures/attr-class/snapshots/html-expected.js
  packages/translator/test/fixtures/attr-style/snapshots/html-expected.js
  packages/translator/test/fixtures/dynamic-tag-name/components/tab-b/index.marko
  packages/translator/test/fixtures/dynamic-tag-name/components/tag-a/index.marko
  packages/translator/test/fixtures/dynamic-tag-name/snapshots/html-error-expected.txt
  packages/translator/test/fixtures/dynamic-tag-name/snapshots/html-expected.js
  packages/translator/test/fixtures/dynamic-tag-name/template.marko
  packages/translator/test/fixtures/let-tag/snapshots/html-expected.js
  packages/translator/test/fixtures/let-tag/template.marko
Due: prettier --write, eslint -f codeframe --fix, fixpack

Changed Installation Command (#1618)
  packages/marko/docs/rollup.md
Due: prettier --write

docs: fix broken link
  packages/marko/README.md
Due: prettier --write

fix: properly handle default renderBody with dynamic attribute tags
  packages/marko/src/compiler/ast/CustomTag.js
  packages/marko/src/runtime/helpers/merge-nested-tags.js
  packages/marko/test/render/fixtures/error-nested-tags-repeated-with-invalid-render-body/components/test-nested-tags-tabs/index.marko
  packages/marko/test/render/fixtures/error-nested-tags-repeated-with-invalid-render-body/components/test-nested-tags-tabs/marko-tag.json
  packages/marko/test/render/fixtures/error-nested-tags-repeated-with-invalid-render-body/expected.html
  packages/marko/test/render/fixtures/error-nested-tags-repeated-with-invalid-render-body/template.marko
  packages/marko/test/render/fixtures/error-nested-tags-repeated-with-invalid-render-body/test.js
  packages/marko/test/render/fixtures/error-nested-tags-repeated-with-invalid-render-body/vdom-expected.html
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/components/test-nested-tags-tabs/index.marko
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/components/test-nested-tags-tabs/marko-tag.json
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/expected.html
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/template.marko
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/test.js
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/vdom-expected.html
Due: prettier --write, eslint -f codeframe --fix

chore: update deps, remove undocumented shorthand assign
  package-lock.json
  package.json
  packages/marko/package-lock.json
  packages/marko/package.json
  packages/marko/src/compiler/Parser.js
  packages/marko/test/migrate/fixtures/widget-data-is-state/snapshot-expected.js
  packages/marko/test/render/fixtures-deprecated/assign-computed-prop/template.marko
  packages/marko/test/render/fixtures-deprecated/assignment-concise/template.marko
  packages/marko/test/render/fixtures-deprecated/assignment/template.marko
Due: prettier --write, eslint -f codeframe --fix, fixpack

chore: update deps
  babel.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint -f codeframe --fix, fixpack

fix: renderbody with dynamic attrs
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/components/test-nested-tags-tabs/index.marko
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/components/test-nested-tags-tabs/marko-tag.json
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/expected.html
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/template.marko
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/test.js
  packages/marko/test/render/fixtures/nested-tags-repeated-with-default-render-body/vdom-expected.html
  packages/translator-default/src/tag/attribute-tag.js
  packages/translator-default/src/tag/util.js
Due: prettier --write, eslint -f codeframe --fix

chore(release): 4.23.10
  packages/marko/CHANGELOG.md
  packages/marko/package-lock.json
  packages/marko/package.json
Due: prettier --write, fixpack

fix(babel-types): scope traverse patch
  packages/babel-types/src/traverse/patch.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-types/CHANGELOG.md
  packages/babel-types/package.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat(translator-fluurt): add import tag
  package-lock.json
  package.json
  packages/translator/package.json
  packages/translator/src/core/marko.json
  packages/translator/src/core/parse-import.ts
  packages/translator/src/import-declaration.ts
  packages/translator/src/index.ts
  packages/translator/src/util/analyze-tag-name.ts
  packages/translator/test/fixtures/dynamic-tag-name/components/tag-b/index.marko
  packages/translator/test/fixtures/dynamic-tag-name/snapshots/html-error-expected.txt
  packages/translator/test/fixtures/dynamic-tag-name/snapshots/html-expected.js
  packages/translator/test/fixtures/dynamic-tag-name/template.marko
  packages/translator/test/fixtures/import-tag-conflict/snapshots/html-expected.js
  packages/translator/test/fixtures/import-tag-conflict/template.marko
  packages/translator/test/fixtures/import-tag/components/baz.marko
  packages/translator/test/fixtures/import-tag/snapshots/html-expected.js
  packages/translator/test/fixtures/import-tag/template.marko
Due: prettier --write, eslint -f codeframe --fix, fixpack

Effect cleanup (#54)
  .sizes.json
  packages/runtime/src/common/context.ts
  packages/runtime/src/dom/index.ts
  packages/runtime/src/dom/signals.ts
  packages/runtime/test/dom/fixtures/user-effect-cleanup/index.ts
  packages/runtime/test/dom/fixtures/user-effect-cleanup/snapshot.expected.md
Due: prettier --write, eslint -f codeframe --fix

feat(translator-fluurt): add inline tag tag, misc cleanup (#56)
  package-lock.json
  packages/runtime/test/dom/fixtures/dynamic-tag/index.ts
  packages/translator/src/core/condition/translate-else.ts
  packages/translator/src/core/condition/util.ts
  packages/translator/src/core/marko.json
  packages/translator/src/core/translate-for.ts
  packages/translator/src/core/translate-html-comment.ts
  packages/translator/src/core/translate-tag.ts
  packages/translator/src/tag/dynamic-tag.ts
  packages/translator/src/util/analyze-tag-name.ts
  packages/translator/src/util/to-block-statement-if-multiple.ts
  packages/translator/src/util/to-first-expression-or-block.ts
  packages/translator/src/util/to-first-statement-or-block.ts
  packages/translator/test/fixtures/tag-tag/snapshots/html-expected.js
  packages/translator/test/fixtures/tag-tag/template.marko
Due: prettier --write, eslint -f codeframe --fix

feat(babel-utils): expose import and id utils
  packages/babel-utils/index.d.ts
  packages/babel-utils/src/index.js
  packages/babel-utils/src/tags.js
  packages/compiler/src/babel-plugin/index.js
  packages/translator-default/src/index.js
Due: prettier --write, eslint -f codeframe --fix

feat(babel-utils): expose import and id utils (#1636)
  packages/babel-utils/index.d.ts
  packages/babel-utils/src/index.js
  packages/babel-utils/src/tags.js
  packages/compiler/src/babel-plugin/index.js
  packages/translator-default/src/index.js
Due: prettier --write, eslint -f codeframe --fix

chore: publish
  CHANGELOG.md
  lerna.json
  packages/babel-utils/CHANGELOG.md
  packages/babel-utils/package.json
  packages/compiler/CHANGELOG.md
  packages/compiler/package.json
  packages/marko/CHANGELOG.md
  packages/marko/package.json
  packages/translator-default/CHANGELOG.md
  packages/translator-default/package.json
Due: prettier --write, fixpack

feat(translator-fluurt): implement context tags (#57)
  package-lock.json
  package.json
  packages/translator/package.json
  packages/translator/src/core/condition/util.ts
  packages/translator/src/core/marko.json
  packages/translator/src/core/translate-get.ts
  packages/translator/src/core/translate-set.ts
  packages/translator/src/import-declaration.ts
  packages/translator/test/fixtures/context-tag-from-relative-path/other.marko
  packages/translator/test/fixtures/context-tag-from-relative-path/snapshots/html-expected.js
  packages/translator/test/fixtures/context-tag-from-relative-path/template.marko
  packages/translator/test/fixtures/context-tag-from-self/snapshots/html-expected.js
  packages/translator/test/fixtures/context-tag-from-self/template.marko
  packages/translator/test/fixtures/context-tag-from-tag-name/components/other.marko
  packages/translator/test/fixtures/context-tag-from-tag-name/snapshots/html-expected.js
  packages/translator/test/fixtures/context-tag-from-tag-name/template.marko
Due: prettier --write, eslint -f codeframe --fix, fixpack

feat(translator-fluurt): style tag now extracted as static content (#58)
  packages/translator/src/core/marko.json
  packages/translator/src/core/translate-style.ts
  packages/translator/test/fixtures/placeholders/snapshots/html-expected.js
  packages/translator/test/fixtures/placeholders/template.marko
  packages/translator/test/fixtures/style-tag/snapshots/html-expected.js
  packages/translator/test/fixtures/style-tag/template.marko
Due: prettier --write, eslint -f codeframe --fix

feat(compiler): provide state object during compiler hooks
  packages/compiler/src/babel-plugin/index.js
Due: prettier --write, eslint -f codeframe --fix

feat: basic tag var support & yield, improve compile errors (#59)
  package-lock.json
  package.json
  packages/runtime/src/html/dynamic-tag.ts
  packages/translator/src/core/condition/translate-else-if.ts
  packages/translator/src/core/condition/translate-else.ts
  packages/translator/src/core/condition/translate-if.ts
  packages/translator/src/core/condition/util.ts
  packages/translator/src/core/marko.json
  packages/translator/src/core/translate-const.ts
  packages/translator/src/core/translate-for.ts
  packages/translator/src/core/translate-get.ts
  packages/translator/src/core/translate-html-comment.ts
  packages/translator/src/core/translate-let.ts
  packages/translator/src/core/translate-set.ts
  packages/translator/src/core/translate-style.ts
  packages/translator/src/core/translate-tag.ts
  packages/translator/src/core/translate-yield.ts
  packages/translator/src/index.ts
  packages/translator/src/tag/attribute-tag.ts
  packages/translator/src/tag/custom-tag.ts
  packages/translator/src/tag/dynamic-tag.ts
  packages/translator/src/tag/native-tag/html.ts
  packages/translator/src/tag/native-tag/index.ts
  packages/translator/src/util/assert.ts
  packages/translator/src/util/translate-var.ts
  packages/translator/test/fixtures/const-tag/snapshots/html-expected.js
  packages/translator/test/fixtures/const-tag/template.marko
  packages/translator/test/fixtures/custom-tag-var/components/child/index.marko
  packages/translator/test/fixtures/custom-tag-var/snapshots/html-expected.js
  packages/translator/test/fixtures/custom-tag-var/template.marko
  packages/translator/test/fixtures/dynamic-tag-var/components/child/index.marko
  packages/translator/test/fixtures/dynamic-tag-var/snapshots/html-expected.js
  packages/translator/test/fixtures/dynamic-tag-var/template.marko
  packages/translator/test/fixtures/yield-tag/snapshots/html-expected.js
  packages/translator/test/fixtures/yield-tag/template.marko
Due: prettier --write, eslint -f codeframe --fix, fixpack

feat: hydration (still much to do) (#55)
  .sizes.json
  packages/runtime/src/common/server-registry.ts
  packages/runtime/src/dom/dom.ts
  packages/runtime/src/dom/hydrate.ts
  packages/runtime/src/dom/walker.ts
  packages/runtime/src/html/index.ts
  packages/runtime/src/html/writer.ts
  packages/runtime/test/dom/utils/render-and-track-mutations.ts
  packages/runtime/test/end-to-end/fixtures/basic-counter/browser.ts
  packages/runtime/test/end-to-end/fixtures/basic-counter/server.ts
  packages/runtime/test/end-to-end/fixtures/basic-counter/snapshots/client-only.expected.md
  packages/runtime/test/end-to-end/fixtures/basic-counter/snapshots/server-hydrate.expected.md
  packages/runtime/test/end-to-end/fixtures/render-div/browser.ts
  packages/runtime/test/end-to-end/fixtures/render-div/server.ts
  packages/runtime/test/end-to-end/main.test.ts
  packages/runtime/test/html/fixtures/component-markers-async/index.ts
  packages/runtime/test/html/fixtures/component-markers-placeholder/index.ts
  packages/runtime/test/html/fixtures/component-markers-sibling-forks/index.ts
  packages/runtime/test/html/fixtures/component-markers-sync/index.ts
  packages/runtime/test/utils/create-browser.ts
Due: prettier --write, eslint -f codeframe --fix

feat: add cached analyze stage
  packages/compiler/src/babel-plugin/index.js
  packages/translator-default/src/index.js
Due: prettier --write, eslint -f codeframe --fix

Changed <await> doc
  packages/marko/docs/core-tags.md
Due: prettier --write

feat(translator-fluurt): extract some translate logic to analyze stage (#63)
  package-lock.json
  package.json
  packages/translator/src/analyze/index.ts
  packages/translator/src/analyze/nested-attribute-tags.ts
  packages/translator/src/analyze/tag-name-type.ts
  packages/translator/src/core/translate-tag.ts
  packages/translator/src/index.ts
  packages/translator/src/tag/attribute-tag.ts
  packages/translator/src/tag/custom-tag.ts
  packages/translator/src/tag/index.ts
  packages/translator/src/tag/native-tag/html.ts
  packages/translator/src/util/analyze-tag-name.ts
  packages/translator/src/util/attrs-to-object.ts
  packages/translator/test/fixtures/at-tags-dynamic/snapshots/html-compiled-expected.js
Due: prettier --write, eslint -f codeframe --fix, fixpack

feat: include input as a binding when crawling
  packages/babel-types/src/traverse/patch.js
  packages/babel-types/src/types/patch.js
Due: prettier --write, eslint -f codeframe --fix

feat: move tag param ast to MarkoTagBody
  packages/babel-types/src/generator/patch.js
  packages/babel-types/src/traverse/patch.js
  packages/babel-types/src/types/definitions.js
  packages/babel-types/src/types/patch.js
  packages/babel-utils/src/assert.js
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-plugin/util/parse-params.js
  packages/translator-default/src/tag/attribute/directives/no-update.js
  packages/translator-default/src/tag/index.js
  packages/translator-default/src/tag/util.js
  packages/translator-default/src/taglib/core/macro/translate.js
  packages/translator-default/src/taglib/core/translate-for.js
  packages/translator-default/src/util/key-manager.js
  packages/translator-default/src/util/optimize-vdom-create.js
  packages/translator-default/test/fixtures/custom-tag-migration/old.migrator.js
  packages/translator-default/test/fixtures/custom-tag-transform/div.transformer.js
Due: prettier --write, eslint -f codeframe --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint -f codeframe --fix: any of: *.{js,ts}
  fixpack: any of: ./{,packages/*/}package.json
