Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

fix: checking import attributes when created through babels builders
  .changeset/forward-interop-version.md
  .changeset/guard-import-attributes.md
  packages/runtime-class/src/translator.js
  packages/runtime-class/src/translator/util/load-import.js
  packages/runtime-tags/src/translator/visitors/import-declaration.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: infinite recursion in hmr page entry/lazy load facade
  .changeset/page-assets-hot-reload.md
  packages/runtime-class/src/runtime/helpers/load-tag.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Add local js-framework-benchmark app to runtime-tags
  .prettierignore
  cspell.json
  packages/runtime-tags/benchmark/.gitignore
  packages/runtime-tags/benchmark/README.md
  packages/runtime-tags/benchmark/index.html
  packages/runtime-tags/benchmark/public/css/bootstrap.min.css
  packages/runtime-tags/benchmark/public/css/currentStyle.css
  packages/runtime-tags/benchmark/public/css/main.css
  packages/runtime-tags/benchmark/scripts/serve.ts
  packages/runtime-tags/benchmark/src/entry.ts
  packages/runtime-tags/benchmark/src/tags/content/content.marko
  packages/runtime-tags/benchmark/src/tags/content/data.js
  packages/runtime-tags/package.json
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

perf(runtime-tags): speed up the DOM render queue
  .changeset/quick-queues-flush.md
  packages/runtime-tags/benchmark/scripts/queue-bench.ts
  packages/runtime-tags/benchmark/scripts/queue-workloads.ts
  packages/runtime-tags/package.json
  packages/runtime-tags/src/dom/queue.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: issue with bound refinement with const change handler
  .changeset/yummy-adults-burn.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/tags/my-input.marko
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/template.marko
  packages/runtime-tags/src/__tests__/fixtures/controllable-input-number-modifier-destructured/test.ts
  packages/runtime-tags/src/translator/visitors/program/pre-analyze.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: issue with known tag rest/spread not getting all serialize reasons
  .changeset/spicy-rest-serialize-reason.md
  packages/runtime-tags/src/__tests__/fixtures/known-tag-attr-tags-rest/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/known-tag-attr-tags-rest/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/known-tag-attr-tags-rest/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/known-tag-attr-tags-rest/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/known-tag-attr-tags-rest/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/known-tag-attr-tags-rest/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/known-tag-attr-tags-rest/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/known-tag-attr-tags-rest/test.ts
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/tags/leaf.marko
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/tags/mid.marko
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/template.marko
  packages/runtime-tags/src/__tests__/fixtures/known-tag-nested-rest/test.ts
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-rest-input-with-attr-tags-deopt/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/spread-to-known-rest-input-with-attr-tags-deopt/__snapshots__/html.bundle.js
  packages/runtime-tags/src/translator/util/known-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: ensure lazy chunks wait for main chunk
  .changeset/fifty-wasps-float.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/embed-control-flow-boundary/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/embed-counter/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/embed-removal/sizes.json
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: update release to make runtime-tags latest dist-tag
  .changeset/sparkly-heads-smile.md
  .github/workflows/ci.yml
  package.json
  packages/runtime-class/package.json
  scripts/publish-alias.ts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: serializing formdata key value order
  .changeset/sweet-books-ring.md
  .mocharc.json
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: issue serializing duplicated array buffers
  .changeset/blue-jeans-stare.md
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: issue serializing whatwg requests with a locked body
  .changeset/full-chefs-exist.md
  packages/runtime-tags/src/__tests__/serializer.test.ts
  packages/runtime-tags/src/html/serializer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: propose Three.js integration for the tags-api runtime
  packages/runtime-tags/docs/proposals/threejs-integration.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): design for single-page server-first updates
  packages/runtime-tags/docs/single-page-server-first-updates.md
Due: prettier --write, prettier --write --with-node-modules

docs(runtime-tags): generalize SPA update model to per-section transport
  packages/runtime-tags/docs/single-page-server-first-updates.md
Due: prettier --write, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
