Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "./{,packages/*/}package.json": ["fixpack"]
}

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,js}": ["eslint --fix", "prettier --write --with-node-modules"],
  "*.{json,md,css}": ["prettier --write --with-node-modules"]
}

fix: duplicate event handlers in skipped props
  .changeset/all-mice-march.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/template.marko
  packages/runtime-tags/src/__tests__/fixtures/spread-native-event-handler-multi-alias/test.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: known define tag with closure and no setup
  .changeset/eight-ducks-work.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/dom.expected/tags/test.js
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/html.expected/tags/test.js
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/tags/test.marko
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/template.marko
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-closure/test.ts
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/template.marko
  packages/runtime-tags/src/__tests__/fixtures/known-define-tag-empty-section-fn-closure-element-reference/test.ts
  packages/runtime-tags/src/__tests__/utils/walks.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: capture console in tests
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-after-resume/template.marko
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/await-update-before-resume/template.marko
  packages/runtime-tags/src/__tests__/fixtures/log-tag/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/log-tag/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/log-tag/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/log-tag/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/log-tag/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/log-tag/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/log-tag/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/log-tag/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/log-tag/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/log-tag/hooks.ts
  packages/runtime-tags/src/__tests__/fixtures/log-tag/template.marko
  packages/runtime-tags/src/__tests__/fixtures/log-tag/test-log.ts
  packages/runtime-tags/src/__tests__/fixtures/log-tag/test.ts
  packages/runtime-tags/src/__tests__/interop.test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/capture-console.ts
  packages/runtime-tags/src/__tests__/utils/create-browser.ts
  packages/runtime-tags/src/__tests__/utils/track-mutations.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: check serialize reason for value signal purity
  .changeset/many-cows-rest.md
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/dom.expected/tags/my-button.js
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/html.expected/tags/my-button.js
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/tags/my-button.marko
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/template.marko
  packages/runtime-tags/src/__tests__/fixtures/pure-signal-resume-function/test.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: avoid references to unwritten setup functions
  .changeset/grumpy-lions-end.md
  .sizes.json
  .sizes/comments.csr/entry.js
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-known/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-known/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-known/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-known/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-known/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-known/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-known/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-known/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-known/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-known/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-known/template.marko
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-unknown/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-unknown/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-unknown/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-unknown/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-unknown/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-unknown/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-unknown/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-unknown/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-unknown/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-unknown/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/define-tag-recursive-unknown/template.marko
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/program/dom.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

refactor: use internal copy of babel
  .changeset/neat-candies-fetch.md
  babel.config.js
  package-lock.json
  package.json
  packages/compiler/internal/babel/index.ts
  packages/compiler/internal/babel/modules.d.ts
  packages/compiler/internal/babel/package.json
  packages/compiler/package.json
  packages/compiler/scripts/build-babel.ts
  packages/compiler/scripts/types.js
  packages/compiler/scripts/types/babel-traverse.js
  packages/compiler/src/babel-plugin/file.js
  packages/compiler/src/babel-plugin/index.js
  packages/compiler/src/babel-plugin/parser.js
  packages/compiler/src/babel-plugin/plugins/migrate.js
  packages/compiler/src/babel-plugin/plugins/transform.js
  packages/compiler/src/babel-types/generator/patch.js
  packages/compiler/src/babel-types/index.js
  packages/compiler/src/babel-types/traverse/patch.js
  packages/compiler/src/babel-types/types/definitions.js
  packages/compiler/src/babel-types/types/patch.js
  packages/compiler/src/babel-utils/parse.js
  packages/compiler/src/index.js
  packages/compiler/src/util/build-code-frame.js
  packages/runtime-class/package.json
  packages/runtime-tags/src/translator/interop/build-aggregate-error.ts
  packages/runtime-tags/src/translator/interop/index.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/visitors/program/dom.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
  patches/@babel+generator+7.29.1.patch
  patches/@babel+traverse+7.29.0.patch
  patches/@babel+types+7.29.0.patch
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

chore: stub internal babel apis
  .changeset/twenty-doors-care.md
  packages/compiler/internal/babel/modules.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: optional browserslist
  .changeset/early-frogs-punch.md
  patches/@babel+helper-compilation-targets+7.28.6.patch
Due: prettier --write, prettier --write --with-node-modules

perf: switch from esbuild to rolldown for babel build
  .changeset/itchy-radios-teach.md
  package-lock.json
  package.json
  packages/compiler/package.json
  packages/compiler/scripts/build-babel.ts
  packages/compiler/scripts/bundle-babel.mts
  packages/runtime-tags/scripts/bundle.mts
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

fix: compiler browser support
  .changeset/large-bugs-obey.md
  packages/compiler/package.json
  packages/compiler/scripts/bundle-babel.mts
  packages/runtime-tags/scripts/bundle.mts
Due: prettier --write, fixpack, prettier --write --with-node-modules

fix: toJSON on implicit split components
  packages/runtime-class/src/runtime/helpers/skip-serialize.js
  packages/runtime-class/src/translator/index.js
  packages/runtime-class/test/translator/fixtures/event-handlers/snapshots/cjs-expected.js
  packages/runtime-class/test/translator/fixtures/event-handlers/snapshots/html-expected.js
  packages/runtime-class/test/translator/fixtures/event-handlers/snapshots/htmlProduction-expected.js
  packages/runtime-tags/src/__tests__/fixtures-interop/interop-event-handler-render-body-tags-to-class/__snapshots__/html.expected/components/my-button.js
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/afraid-worms-matter.md
Due: prettier --write, prettier --write --with-node-modules

fix: missing types for dialog element
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/wacky-results-tease.md
Due: prettier --write, prettier --write --with-node-modules

fix: missing types for dialog element (#3085)
  .changeset/wacky-results-tease.md
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/tags-html.d.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: types for `<id>` tag
  packages/runtime-tags/tags/id.d.marko
Due: none

chore: add changeset
  .changeset/huge-toys-tan.md
Due: prettier --write, prettier --write --with-node-modules

docs: marko best practices
  skills/marko-best-practices/SKILL.md
Due: prettier --write, prettier --write --with-node-modules

docs: marko best practices (#3091)
  skills/marko-best-practices/SKILL.md
Due: prettier --write, prettier --write --with-node-modules

fix: allow parenthesized bind values
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/dom.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/html.expected/tags/child.js
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/tags/child.marko
  packages/runtime-tags/src/translator/visitors/program/pre-analyze.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: add changeset
  .changeset/clean-eels-burn.md
Due: prettier --write, prettier --write --with-node-modules

fix: nested parenthesized expressions
  packages/runtime-tags/src/__tests__/fixtures/let-tag-controllable-child/tags/child.marko
  packages/runtime-tags/src/translator/visitors/program/pre-analyze.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: loose equality for `checkedValue`
  .sizes.json
  .sizes/dom.js
  packages/runtime-class/tags-html.d.ts
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/.name-cache.json
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/csr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/csr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/dom.expected/template.hydrate.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/dom.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/html.expected/template.js
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/resume-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/resume.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/ssr-sanitized.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/__snapshots__/ssr.expected.md
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/template.marko
  packages/runtime-tags/src/__tests__/fixtures/controllable-checked-value-number/test.ts
  packages/runtime-tags/src/__tests__/fixtures/let-binding-parenthesized/test.ts
  packages/runtime-tags/src/dom/controllable.ts
  packages/runtime-tags/src/html/attrs.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules
