Repository marko-js/marko: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, fixpack, https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --with-node-modules

docs: spike wire-delivered branch markup and the effects-on-update rule
  designs/experiments/single-page-server-updates/README.md
  designs/experiments/single-page-server-updates/e2e.js
  designs/experiments/single-page-server-updates/entries/product.update.js
  designs/experiments/single-page-server-updates/update-runtime.js
  designs/single-page-server-updates-wire-and-entries.md
  designs/single-page-server-updates.md
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

chore: update dependencies
  package-lock.json
  packages/runtime-class/package.json
Due: prettier --write, fixpack, prettier --write --with-node-modules

docs: decide HTML-output emission for wire template pairs
  designs/single-page-server-updates-wire-and-entries.md
  designs/single-page-server-updates.md
Due: prettier --write, prettier --write --with-node-modules

feat: add persisted compile option with split serialize-reason guards
  .changeset/persisted-serialize-guards.md
  designs/experiments/single-page-server-updates/README.md
  designs/experiments/single-page-server-updates/compile-cjs.js
  designs/experiments/single-page-server-updates/e2e.js
  designs/experiments/single-page-server-updates/render.js
  designs/single-page-server-updates-wire-and-entries.md
  designs/single-page-server-updates.md
  packages/compiler/config.d.ts
  packages/compiler/src/config.js
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/marko-config.ts
  packages/runtime-tags/src/translator/util/serialize-guard.ts
  packages/runtime-tags/src/translator/util/signals.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: add handoff document for the single-page server-updates work
  agent-feedback/dx.md
  cspell.json
  designs/single-page-server-updates-handoff.md
  designs/single-page-server-updates-wire-and-entries.md
  designs/single-page-server-updates.md
Due: prettier --write, prettier --write --with-node-modules

Throw clear debug-build error when template content reads a `server` binding
  .changeset/server-binding-template-error.md
  agent-feedback/bugs.md
  packages/runtime-tags/src/__tests__/fixtures/error-server-read-in-browser/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/error-server-read-in-browser/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/error-server-read-in-browser/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/error-server-read-in-browser/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/error-server-read-in-browser/template.marko
  packages/runtime-tags/src/__tests__/fixtures/error-server-read-in-browser/test.ts
  packages/runtime-tags/src/translator/visitors/referenced-identifier.ts
  packages/runtime-tags/src/translator/visitors/scriptlet.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): separate placeholder text at the edge of a `<show>` body
  .changeset/show-placeholder-sibling-text.md
  agent-feedback/perf.md
  packages/runtime-tags/src/__tests__/fixtures/show-tag-empty-body/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/show-text-prefix-placeholder/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/show-text-prefix-placeholder/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/show-text-prefix-placeholder/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/show-text-prefix-placeholder/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/show-text-prefix-placeholder/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/show-text-prefix-placeholder/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/show-text-prefix-placeholder/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/show-text-prefix-placeholder/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/show-text-prefix-placeholder/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/show-text-prefix-placeholder/template.marko
  packages/runtime-tags/src/__tests__/fixtures/show-text-prefix-placeholder/test.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: record example-app prototyping workspace and $global-promotion finding
  designs/single-page-server-updates-handoff.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): hold hydration effects while stream is blocked on in-order await
  .changeset/hold-effects-blocked-stream.md
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/tags/cart-state.marko
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/template.marko
  packages/runtime-tags/src/__tests__/fixtures/if-swap-before-await-resume/test.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix(runtime-tags): avoid merging an expression's references into itself
  .changeset/merge-references-self.md
  packages/runtime-tags/src/translator/util/references.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: promote $global reads to param-like sources under the persisted option
  .changeset/persisted-global-promotion.md
  cspell.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/test.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/serialize-guard.ts
  packages/runtime-tags/src/translator/util/serialize-reasons.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/referenced-identifier.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: record $global promotion implementation and app-scale measurements
  designs/single-page-server-updates-handoff.md
Due: prettier --write, prettier --write --with-node-modules

docs: point handoff at the current branch set
  designs/single-page-server-updates-handoff.md
Due: prettier --write, prettier --write --with-node-modules

perf(runtime-tags): size/perf pass over dynamic style placeholders
  .changeset/simplify-style-rule-item.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-conditional/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-conditional/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-injection/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-injection/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-injection/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-injection/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-injection/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-injection/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-injection/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-injection/test.ts
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-multi/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-multi/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-selectors/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-selectors/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-static-mix/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-static-mix/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-two-tags/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic-two-tags/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/style-tag-dynamic/sizes.json
  packages/runtime-tags/src/common/helpers.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/translator/core/style.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(tests): add parallel test runner to fan the suite across CPU cores
  .github/CONTRIBUTING.md
  .mocharc.parallel.json
  AGENTS.md
  agent-feedback/dx.md
  agent-feedback/perf.md
  cspell.json
  package.json
  packages/runtime-tags/src/__tests__/main.test.ts
  scripts/test-parallel.js
Due: prettier --write, eslint --fix, fixpack, prettier --write --with-node-modules

docs(agent-feedback): record dynamic-tag renderer specialization as net-negative
  agent-feedback/perf.md
Due: prettier --write, prettier --write --with-node-modules

docs(agent-feedback): record validated dynamic-native-tag optimization
  agent-feedback/perf.md
Due: prettier --write, prettier --write --with-node-modules

fix(runtime-tags): only mark templates as embeds when linkAssets is configured
  .changeset/embed-requires-link-assets.md
  packages/runtime-tags/src/__tests__/translator-api.test.ts
  packages/runtime-tags/src/translator/visitors/program/html.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

perf(runtime-tags): compile enumerable native dynamic tags as elements
  .changeset/dynamic-native-tag.md
  .sizes.json
  .sizes/dom.js
  agent-feedback/perf.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-tag/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-tag/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-tag/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-tag/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-tag/__snapshots__/render.debug.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-tag/__snapshots__/render.md
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-tag/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-tag/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-tag/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-tag/template.marko
  packages/runtime-tags/src/__tests__/fixtures/dynamic-native-tag/test.ts
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/dynamic-tag-name/__snapshots__/html.bundle.js
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/translator/util/dynamic-native-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/dynamic-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: add update-render writer mode for persisted pages (G1-G5)
  .changeset/persisted-update-render.md
  cspell.json
  designs/experiments/single-page-server-updates/README.md
  designs/experiments/single-page-server-updates/e2e.js
  designs/experiments/single-page-server-updates/entries/product.update.js
  designs/single-page-server-updates-handoff.md
  designs/single-page-server-updates-wire-and-entries.md
  designs/single-page-server-updates.md
  packages/runtime-tags/src/__tests__/fixtures/branch-closure-if-only-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/placeholder-static-multiple/sizes.json
  packages/runtime-tags/src/common/accessor.debug.ts
  packages/runtime-tags/src/common/accessor.ts
  packages/runtime-tags/src/common/types.ts
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/get-accessor-char.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: record red lint baseline in agent feedback
  agent-feedback/dx.md
Due: prettier --write, prettier --write --with-node-modules

feat: add persisted update-entry codegen (`?update` modules)
  .changeset/persisted-update-entries.md
  .sizes.json
  .sizes/dom.js
  designs/experiments/single-page-server-updates/README.md
  designs/experiments/single-page-server-updates/compile-cjs.js
  designs/experiments/single-page-server-updates/e2e.js
  designs/single-page-server-updates-handoff.md
  designs/single-page-server-updates-wire-and-entries.md
  packages/compiler/config.d.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/update.ts
  packages/runtime-tags/src/translator/core/for.ts
  packages/runtime-tags/src/translator/core/if.ts
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/util/marko-config.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/util/update-merges.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/src/translator/visitors/program/dom.ts
  packages/runtime-tags/src/translator/visitors/program/index.ts
  packages/runtime-tags/src/translator/visitors/program/update.ts
  packages/runtime-tags/src/translator/visitors/tag/custom-tag.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: note _var_resume register-id collision footgun in agent feedback
  agent-feedback/dx.md
Due: prettier --write, prettier --write --with-node-modules

docs: fix cspell word in agent feedback note
  agent-feedback/dx.md
Due: prettier --write, prettier --write --with-node-modules

feat: add persisted update applier and fixture-harness navigate step
  .changeset/persisted-update-applier.md
  .sizes.json
  .sizes/dom.js
  designs/experiments/single-page-server-updates/README.md
  designs/experiments/single-page-server-updates/e2e.js
  designs/experiments/single-page-server-updates/update-runtime.js
  designs/single-page-server-updates-handoff.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/tags/price.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/test.ts
  packages/runtime-tags/src/__tests__/main.test.ts
  packages/runtime-tags/src/__tests__/utils/bundle.ts
  packages/runtime-tags/src/__tests__/utils/resolve.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/update.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: persisted integration fixes + shape review from ecommerce validation
  .changeset/persisted-integration-fixes.md
  .sizes.json
  .sizes/dom.js
  designs/single-page-server-updates-handoff.md
  designs/single-page-server-updates-review.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/tags/price.marko
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/dom/update.ts
  packages/runtime-tags/src/translator/util/known-tag.ts
  packages/runtime-tags/src/translator/visitors/program/update.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: frame ready-channel resumes and degrade unserializable update values
  packages/runtime-tags/src/html/serializer.ts
  packages/runtime-tags/src/html/writer.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

fix: expose registry to the update applier's serialize context
  .sizes.json
  .sizes/dom.js
  designs/single-page-server-updates-review.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-layout/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-mixed-branch/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/sizes.json
  packages/runtime-tags/src/dom/resume.ts
  packages/runtime-tags/src/dom/update.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: MPA-parity for volatile expressions in persisted navigations
  .changeset/persisted-volatile-parity.md
  designs/single-page-server-updates-handoff.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/stamp.ts
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/test.ts
  packages/runtime-tags/src/translator/util/references.ts
  packages/runtime-tags/src/translator/util/serialize-reasons.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: render-global persisted guards + source-classified value gates
  .changeset/persisted-value-classes.md
  designs/single-page-server-updates-handoff.md
  designs/single-page-server-updates-review.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads-opt-out/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-global-reads/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-layout/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-layout/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-mixed-branch/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-mixed-branch/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-volatile/__snapshots__/html.bundle.js
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/util/sections.ts
  packages/runtime-tags/src/translator/util/serialize-guard.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: record value-class refactor + post-filter byte measurements
  designs/single-page-server-updates-handoff.md
  designs/single-page-server-updates-review.md
Due: prettier --write, prettier --write --with-node-modules

feat: browser-code reuse for persisted update holes
  .changeset/persisted-signal-reuse.md
  designs/single-page-server-updates-handoff.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-navigate/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/__snapshots__/dom.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/__snapshots__/render-csr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/__snapshots__/render-ssr.debug.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/__snapshots__/render-ssr.md
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/__snapshots__/writes.debug.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/__snapshots__/writes.html
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/template.marko
  packages/runtime-tags/src/__tests__/fixtures/persisted-update-signal-reuse/test.ts
  packages/runtime-tags/src/translator/util/serialize-guard.ts
  packages/runtime-tags/src/translator/util/signals.ts
  packages/runtime-tags/src/translator/util/update-merges.ts
  packages/runtime-tags/src/translator/visitors/placeholder.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

feat: drop client-resume-only wiring from update payloads
  .changeset/persisted-update-wiring-filter.md
  designs/single-page-server-updates-handoff.md
  packages/runtime-tags/src/__tests__/fixtures/branch-closure-if-only-child/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/placeholder-static-multiple/sizes.json
  packages/runtime-tags/src/html/attrs.ts
  packages/runtime-tags/src/html/writer.ts
  packages/runtime-tags/src/translator/core/let.ts
  packages/runtime-tags/src/translator/core/return.ts
  packages/runtime-tags/src/translator/util/serialize-guard.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

Optimize class attributes built from CSS module classes
  .changeset/css-module-class-optimization.md
  .sizes.json
  .sizes/dom.js
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module-style/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module-style/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module-style/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module-style/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module-style/template.marko
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module-style/test.ts
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module/__snapshots__/dom.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module/__snapshots__/html.bundle.debug.js
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module/__snapshots__/html.bundle.js
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module/sizes.json
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module/styles.module.css
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module/template.marko
  packages/runtime-tags/src/__tests__/fixtures/attr-class-css-module/test.ts
  packages/runtime-tags/src/__tests__/fixtures/define-tag-for-attribute-tag/sizes.json
  packages/runtime-tags/src/common/helpers.ts
  packages/runtime-tags/src/dom.ts
  packages/runtime-tags/src/dom/dom.ts
  packages/runtime-tags/src/html.ts
  packages/runtime-tags/src/translator/core/style.ts
  packages/runtime-tags/src/translator/util/css-module-class.ts
  packages/runtime-tags/src/translator/visitors/tag/native-tag.ts
Due: prettier --write, eslint --fix, prettier --write --with-node-modules

docs: add single-page server-first updates design proposal
  cspell.json
  designs/single-page-server-updates.md
Due: prettier --write, prettier --write --with-node-modules

docs: preserve cross-route code splitting in the run shell design
  designs/single-page-server-updates.md
Due: prettier --write, prettier --write --with-node-modules

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts})
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{ts,js})
  fixpack: any of: ./{,packages/*/}package.json
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --with-node-modules: (any of: *.{ts,js}) or (any of: *.{json,md,css})
